[2022-09-29 09:16] yazone commented on #2487
onnx里没有记录，能够导出的mnn模型，但推理的时候报错，如果PaddleLite能支持好，那就省事多了：）

[2022-09-29 09:19] yt605155624 commented on #2487
关于 pwgan 量化报错，我咨询了下 Lite 的同学，以下是回复：
[code]
所以你可能需要先用 PaddleSlim 量化一下，再直接用 PaddleLite 转模型，至于 PaddleSlim 量化语音模型是否有坑我目前还不知道

咨询了一下 Paddle2ONNX 的同学，他建议 ONNX 转 MNN 这个问题应该去 MNN 提 issue

顺便问下把 ONNX 模型转成 MNN 的目的是？

[2022-09-29 09:32] AlphaMind123 commented on #2486
请问在哪里设置使用fbank特征还是specAugment

[2022-09-29 09:35] yazone commented on #2487
有CPU离线TTS的需求，后续可能还有NPU的需求，先试下水

[2022-09-29 09:37] yt605155624 commented on #2486
这些问题请你自己看代码吧，后续这种问题不会再回复 ：）

[2022-09-29 09:39] yt605155624 commented on #2487
抱歉我问下此处的 “离线” 是什么意思，部署在手机/端上是吗？
ONNX 模型现在用在手机/端上不符合预期吗？

[2022-09-29 09:55] yazone commented on #2487
是这个意思，我们一般都会用MNN、NCNN这种推理引擎，如果你们开源的项目已实现PaddleLite推理，就会直接用PaddleLite，比如PaddleOCR，这样能够快速落地，后面慢慢优化

[2022-09-29 10:00] yt605155624 commented on #2487
感谢，TTS 目前没有 PaddleSlim 和 PaddleLite 相关经验，咱们可以一起在 Q4 推进这件事，目前看你只尝试了 fastspeech2 和 pwgan，可以再试试其他模型（之前试过 speedyspeech 和 pwgan 是可以跑通 Lite 的），有什么问题，可以直接提 issue 反馈，我来找 PaddleSlim 和 PaddleLite 的同事一起尝试解决

[2022-09-29 10:06] yazone commented on #2487
感谢：）

[2022-09-29 10:36] #2474 closed, assigned to yt605155624

[2022-09-29 10:36] #2470 closed, assigned to SmileGoat, THUzyt21

[2022-09-29 10:45] yt605155624 commented on #2467
1. 请先 check 一下 gpu 版本的 paddle 是否安装成功吧
[code]
2. `device` 也可以强制设为 `gpu` 试试
3. 声码器换成最快的 mb_melgan
4. 都没有问题的话，如果速度还觉得慢，可以尝试使用 ONNXRuntime 推理，目前 ONNXRuntime 用的是 cpu，可以自己配下 GPU 推理(需要安装 onnxruntime-gpu) 试试，https://github.com/PaddlePaddle/PaddleSpeech/blob/a657cc3e1b5452cc564c9d3ae4bff25717910a49/paddlespeech/cli/tts/infer.py#L339
<img width="950" alt="image" src="https://user-images.githubusercontent.co

[2022-09-29 10:45] #2486 closed, assigned to yt605155624

[2022-09-29 10:46] #2473 closed, assigned to yt605155624

[2022-09-29 10:54] dsyrock commented on #2481
感谢两位！

[2022-09-29 11:10] MingyuLau commented on #2480
这个问题不是一运行就报错，而是转换到一定数量的时候就会报错@ yt605155624

[2022-09-29 11:55] yt605155624 commented on #2487
@yazone 我们推理部署套件的 PM 看到了你这个 issue，希望可以与你取得联系，一起看下飞桨推理部署套件相关产品（PaddleLite 、FastDeploy 等），如果您感兴趣可以扫描我们主页的二维码加入 PaddleSpeech 的用户群，在群里艾特我（子龙）一下说明您是这个 issue 的作者，这样也能更方便我们一起推进 TTS 的端上部署能力

[2022-09-29 16:41] QuantumLiu commented on #2435
这个里头也是online的模型支持timestamp

[2022-09-30 01:32] yaleimeng commented on #2481
我们可以自己写个后处理先用着。。以前在github似乎也见过相关的开源代码。

[2022-09-30 01:53] Tian14267 commented on #2459
@zh794390558 你好，我还没明白“`Chang memory allocator strategy `”如何change。另外，我调小batch也是一样的情况。
<img width="393" alt="4146cc11c316d9eae0bb29aa33a445cdb3ea2f56d3760bd838102d919221715fQzpcVXNlcnNcQWRtaW5pc3RyYXRvclxBcHBEYXRhXFJvYW1pbmdcRGluZ1RhbGtcNTgyNjQ1NjYzX3YyXEltYWdlRmlsZXNcMTY2NDUwMjUyNDc3MV9CQ0RBMzQ3QS1CNjI4LTQyYzgtQTM0NC0xOTdGMzcxNUYxMjMucG5n" src="https://user-images.githubusercontent.com/27938135/19

[2022-09-30 02:09] yt605155624 commented on #2480
你多打印些 log 吧，看看是不是有资源没释放，我们没有用大量数据跑过
如果有大量的数据需要合成，也可以直接用 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/csmsc/tts3

[2022-09-30 02:13] Zth9730 commented on #2459
<img width="1071" alt="image" src="https://user-images.githubusercontent.com/32243340/193175096-142e5b95-02ff-484f-9a31-9476fcbcfd0a.png">
这样改动试一试，另外你是cuda 11.4？可以尝试一下cuda 10.2。

[2022-09-30 02:52] Tian14267 commented on #2459
@Zth9730 好的，非常感谢，我修改试试。另外，我是cuda 11.2 。图上只是nvidia的驱动版本。

[2022-09-30 07:50] MingyuLau opened #2490 "使用ONNXRuntime推理的cpu_thread和python多线程的线程数是什么关系，会起冲突吗？"
在用文本数据合成语音的时候使用了ONNXRuntime推理的模型：
`tts_executor = TTSExecutor()
    wav_file = tts_executor(
        text=text,
        output=outputpath,
        am='fastspeech2_vctk',
        voc='hifigan_ljspeech',
        lang='en',
        use_onnx=True,
        cpu_threads=14)`
同时我将python多线程的pool的WORKERS数量也设置为14，请问这两个之间会发生冲突吗？

[2022-09-30 07:54] yt605155624 commented on #2490
这块不是很清楚呢，可以到 onnxruntime 问问？

但是有一个建议，onnxruntime-cpu 不代表 cpu_threads 越大速度就越快，因为多线程之间可能有交互，反而速度会变慢，我们默认的 2 或者 4 就是比较好的值，再大会慢，具体看硬件

[2022-09-30 07:55] MingyuLau commented on #2490
好的谢谢

[2022-09-30 08:02] yazone opened #2491 "🎉 PaddleSpeech 实现多种卡通音色和方言的中英文混合 TTS"
实现单模型TTS中英文发音初步尝试了3种方案：单发音人方式、多发音人语料混合方式、finetune方式。

示例句子：
[code]

## （一）单发音人方式（有数据才行！）
使用同一发音人中文、英文语料，这种方式效果最佳，听听效果：

中英文女：

https://user-images.githubusercontent.com/10195479/193219058-5a98685b-c93d-4c74-8356-914c781b4d27.mp4

中英文男：

https://user-images.githubusercontent.com/10195479/193215189-501ab75b-7eca-4675-a304-2ad7488922a5.mp4

## （二）多发音人语料混合方式（音色串了！）
有开源数据中文baker、英文ljspeech数据，将数据混合成单发音人

[2022-09-30 08:21] yt605155624 commented on #2491
`（二）多发音人语料混合方式（音色串了！）`

我们目前的中英文混合是用 4 个开源数据进行混合可以实现音色和语言解耦，如果只用 CSMSC 和 LJSpeech 确实音色无法解耦，我们也实验过在 CSMSC + LJSpeech + 1000 条的同一个说话人中英文混合语料训练，也能达到解耦，得到的结论是：
1. CSMSC + LJSpeech 训练（但是我们不是合成单发音人，还是用 2 个 spk_id），中文音素只见过 CSMSC 的，英文音素只见过 LJSpeech 的所以无法解耦
2. 再加一个说话人（这个说话人是中英文混合的，单语的没试过），就能解耦
3. CSMSC + LJSpeech + AISHELL3 + VCTK 可以解耦（我们目前开源的方案）

[2022-09-30 08:58] #2491 closed, assigned to yazone

[2022-09-30 22:48] #1567 closed, assigned to zh794390558, SmileGoat

[2022-10-02 09:08] NICECPU opened #2494 "关于语音识别预训练模型的加载问题"
## General Question
请问我在PaddleSpeech\examples\aishell\asr1 路径下的训练时，我想要加载预训练权重，通过
wget https://paddlespeech.bj.bcebos.com/s2t/aishell/asr1/asr1_transformer_aishell_ckpt_0.1.1.model.tar.gz
tar xzvf asr1_transformer_aishell_ckpt_0.1.1.model.tar.gz
source path.sh
当我执行上面的语句时，执行到source path.sh ,提示我The standard file /home/aistudio/PaddleSpeech/tools/kaldi/tools/config/common_path.sh is not present, can n

[2022-10-05 03:29] AlphaMind123 opened #2495 "包问题"
![image](https://user-images.githubusercontent.com/108966996/193975287-df3f3e0e-92ba-4eda-b872-9954d5919913.png)
为什么我这样安装包之后它还是会显示没有这个module
![image](https://user-images.githubusercontent.com/108966996/193975360-8a5d95a3-b0e5-40c3-be01-ef3b371d79bb.png)

[2022-10-05 10:52] AlphaMind123 opened #2496 "stage2报错"
![image](https://user-images.githubusercontent.com/108966996/194043849-3559e977-b035-42a8-90d7-e62f86f8d2ec.png)
Why are errors reported in stage2 ？Thank you.

[2022-10-06 05:26] lvsh2012 opened #2497 "windows 下安装报错"
Using legacy 'setup.py install' for pyworld, since package 'wheel' is not installed.
Using legacy 'setup.py install' for resampy, since package 'wheel' is not installed.
Using legacy 'setup.py install' for kaldiio, since package 'wheel' is not installed.
Using legacy 'setup.py install' for pattern-singleton, since package 'wheel' is not installed.
Using legacy 'setup.py install' for webrtcvad, sin

[2022-10-07 04:28] Ardang666 commented on #2494
就是说你没用 kaldi而已，你可以安装kaldi也可以不用。
继续执行也没有问题

[2022-10-07 04:30] NICECPU commented on #2494
是的，我已经明白了，谢谢你的回复

[2022-10-07 14:45] lvsh2012 opened #2498 "合成语言有没有字数限制?"
## General Question

[2022-10-08 00:57] Tian14267 commented on #2459
@zh794390558 @Zth9730 哈喽，你好。我尝试了`Chang memory allocator strategy`，但是还是会出现卡死的情况。请问你们那边能复现和解决这个问题吗？cuda 11.2

[2022-10-08 02:12] yaleimeng commented on #2498
不知道，不过建议还是以句子或小的段落为单位吧。建议每次合成不超过500字。

[2022-10-08 02:25] yt605155624 commented on #2497
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/discussions/1195

[2022-10-08 02:27] yt605155624 commented on #2498
目前会自动按照标点符号切句后分段合成

[2022-10-08 02:30] yt605155624 commented on #2495
请按照我们在 aistudio 教程中提供的安装方式，你这种 -t 不知道是否能正常找到

[2022-10-08 02:32] yt605155624 commented on #2496
there are 2 models in `path_list`, maybe `num` is bigger than 2

[2022-10-08 02:38] AlphaMind123 commented on #2495
![image](https://user-images.githubusercontent.com/108966996/194683888-860a2ace-d9ae-44dd-a565-88eef7415272.png)
ke可是持久化安装的示例是这样的

[2022-10-08 02:38] AlphaMind123 commented on #2495
![image](https://user-images.githubusercontent.com/108966996/194683912-8901d292-c800-4525-8850-2e08d68ecbe0.png)

[2022-10-08 02:38] #2495 closed, assigned to nobody

[2022-10-08 07:47] MoYinYu opened #2503 "[S2T] FatalError: `Erroneous arithmetic operation` is detected by the operating system."
您好，我按安装教程拉取官网dockers安装。[develop-gpu-cuda11.2-cudnn8-latest]
之后按example/aishell/sr1 的教程，bash run.sh --stage 1 --stop_stage 1时，出现以下错误：
TypeError: __init__() got an unexpected keyword argument 'negative_slope'
参考其他issues，将paddle2.3.0-gpu升级为2.3.1-gpu，主机环境为A100、CUDA Version: 11.2，结果出现以下错误：
。。。
2022-10-08 07:16:43.986 | INFO     | paddlespeech.s2t.training.optimizer:from_args:120 - <Optimizer paddle.opt

[2022-10-08 07:52] kq-cheng opened #2504 "TTS微调完后，如何使用style_fs2改变语速，我试着按照style_fs2的文档把fastspeech2模型换成自己的，但是一直报OOM"
python3 style_syn.py
--fastspeech2-config
=/opt/ml/server/PaddleSpeechserver/demos/speech_web/speech_server/tmp_dir/finetune/trans/exp/default.yaml
--fastspeech2-checkpoint
=/opt/ml/server/PaddleSpeechserver/demos/speech_web/speech_server/tmp_dir/finetune/trans/exp/checkpoints/snapshot_iter_120292.pdz
--fastspeech2-stat=download/fastspeech2_nosil_baker_ckpt_0.4/speech_stats.npy
--fastspeech2-pitch

[2022-10-08 08:02] yt605155624 commented on #2504
“那几个npy文件” 以及 phone_id_map.txt 应该使用预训练模型里面的文件，此处应该是 [fastspeech2_aishell3_ckpt_1.1.0.zip](https://paddlespeech.bj.bcebos.com/Parakeet/released_models/fastspeech2/fastspeech2_aishell3_ckpt_1.1.0.zip) 里面的文件
微调出来的模型是多说话人的模型，style_fs2 本身是单说话人的模型，说话人的模型多了一个 `spk_id` 的输入，而且需要输入 speaker_id_map.txt，具体参考 csmsc/tts3 和 aishell3/tts3 里面 synthesize_e2e.sh 的区别，需要相应修改代码
另外想要改变语速可以直接参考这个 https://github.com/Paddle

[2022-10-08 08:05] yt605155624 commented on #2503
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2401

[2022-10-08 08:17] tianyu8969 opened #2505 "[TTS]空白文本、文本中连续多个符号合成语音报错，无法正常合成"
tts_python、tts_inference合成的文本存在以下情况时会直接报错，无法正常合成
1. 文本为空白字符串时，如：""、"   "
2. 文本中首部有符号时，如："，"、"，测试"
3. 文本中有连续的符号时，如："测试，，"、"测试，。"、"测试。“。"

![image](https://user-images.githubusercontent.com/3991083/194697566-710c5c29-1aa1-4b01-9d3e-15f7ce7cab36.png)

[2022-10-08 09:32] lym0302 commented on #2505
请问是在用服务的时候报的错吗？用的指令测试吗？类似于这种：paddlespeech_client tts  --server_ip 127.0.0.1 --port 8090 --input "您好，欢迎使用百度飞桨语音合成服务。" --output output.wav

[2022-10-08 09:55] yt605155624 commented on #2505
命令行中输入 `"` 需要用转义字符 `\`, 你这样的输入 `"测试，，"、"测试，。"、"测试。“。"` 本身就不符合命令行输入字符串的逻辑，应该输入 `"测试，，\"、\"测试，。\"、\"测试。“。"`

[2022-10-08 10:23] yt605155624 commented on #2505
1. 文本为空白字符串时，如：""、" ", 输入为空，报错
[code]
2. 文本中首部有符号时，如："，"、"，测试", 报错
[code]
因为 paddlespeech 按照分句合成，可能是第一个分句的 mel 特征为空或者不够长导致的
3. 文本中有连续的符号时，如："测试，，"、"测试，。"、"测试。“。"，报错与 `2` 一样

`1` 需要有判空操作， `2`, `3` 直接使用 `paddlespeech tts --input  "，"` 不报错, 使用 `paddlespeech tts --voc mb_melgan_csmsc --input  "，"` 报错，tts server 中默认使用的是 mb_melgan_csmsc， cli 默认使用 hifigan, 报错是因为 mb_melgan 网络结构要求, 输入 mel 不满足条件时会报错（**mb_me

[2022-10-08 12:34] liuyang77886 opened #2506 "[TTS] TextExecutor().text_punc(text="xx")异常退出"
没有任何错误输出，直接退出，gpu有2G，只用到了几百兆
win11，NVIDIA Quadro M620， device: 0, GPU Compute Capability: 5.0, Driver API Version: 11.7, Runtime API Version: 11.7，cuDNN Version: 8.5，cuda-toolkit-cuda_11.7.1_516.94_windows，cuda-driver-517.40-quadro-rtx-desktop-notebook-win10-win11-64bit-international-dch-whql，nvidia cuda 11.7.102 driver
paddle-bfloat 0.1.7
paddle2onnx 1.0.1
paddleclas 2.4.3
paddlefsl 1.1.0
paddleh

[2022-10-08 12:37] AlphaMind123 opened #2507 "test输出问题"
![image](https://user-images.githubusercontent.com/108966996/194707961-cd017d97-5c36-4ee8-a7c2-e6db41ae7f07.png)

运行stage3test的时候，输出打印为什么hyp是空的

[2022-10-08 13:53] yt605155624 commented on #2507
参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/2387 修改 log 等级获取更多信息，此外，可在代码 https://github.com/paddlepaddle/PaddleSpeech/blob/develop/paddlespeech/cli/text/infer.py 中 print 更多信息进行调试

[2022-10-08 13:55] yt605155624 commented on #2506
2G 应该是不够的
参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/2387 修改 log 等级获取更多信息，此外，可在代码 https://github.com/PaddlePaddle/PaddleSpeech/blob/0359c3f6b5f3f4567810ea1f1d01deaa7b8f9149/paddlespeech/cli/text/infer.py#L308 中 print 更多信息进行调试

[2022-10-08 14:49] AlphaMind123 opened #2508 "asr1中stage2"
asr1中stage2取前k个模型参数进行平均的依据是不是利用dev文件夹下的数据进行测试的结果，如果不是那么dev是用在什么地方的

[2022-10-08 14:52] AlphaMind123 commented on #2508
还有就是avg_num的取值有什么依据吗

[2022-10-08 14:54] AlphaMind123 commented on #2508
还有就是为什么要取平均，为什么不直接选排序当中最高的那个

[2022-10-08 15:04] liuyang77886 commented on #2506
我更换版本了  paddlepaddle-gpu      2.3.2.post116
现在报其他错额

  File "test.py", line 13, in <module>
    device=paddle.get_device())
  File "E:\pfile\anaconda3\envs\paddle\lib\site-packages\paddlespeech\cli\utils.py", line 328, in _warpper
    return executor_func(self, *args, **kwargs)
  File "E:\pfile\anaconda3\envs\paddle\lib\site-packages\paddlespeech\cli\text\infer.py", line 259, in __call__
    self.

[2022-10-08 15:04] liuyang77886 commented on #2506
我更换版本了  paddlepaddle-gpu      2.3.2.post116
现在报其他错额

  File "test.py", line 13, in <module>
    device=paddle.get_device())
  File "E:\pfile\anaconda3\envs\paddle\lib\site-packages\paddlespeech\cli\utils.py", line 328, in _warpper
    return executor_func(self, *args, **kwargs)
  File "E:\pfile\anaconda3\envs\paddle\lib\site-packages\paddlespeech\cli\text\infer.py", line 259, in __call__
    self.

[2022-10-08 15:05] liuyang77886 commented on #2506
2G够了，我以前都能运行哦

[2022-10-08 15:52] laity-slf opened #2509 "有关标点符号的训练问题"
## General Question

就是在我使用自己数据训练的时候发现，后面的文字他不会进行标点恢复。
比如：
Punctuation Restoration Result: 新华社北京10月8日电记者从有关方面获悉，中国共产党第二十次全国代表大会新闻中心将于10月12日启用，并开始对外接待服务新闻中心记者接待服务区设在北京新世纪日航饭店新闻中心将热情为前来采访党的二十大的香港特别行政区澳门特别行政区台湾地区的媒体记者和外国媒体记者办理采访证件受理采访申请组织大会新闻发布会和记者招待会安排记者参加大会采访活动。

造成这个现象的原因是模型没有收敛么？？？

但是我看loss其实已经在震荡了。

数据采用的是清华新闻数据集：
部分数据如下，我对字符数少于20个的行会直接过滤；
<img width="976" alt="image" src="https://user-images.g

[2022-10-09 02:05] yt605155624 commented on #2506
`cudaErrorNoKernelImageForDevice` 应该是 paddle 的 cuda 版本和你机器的 cuda 版本不一致导致的（你自己机器的 cuda 有达到 11.6 么），在 paddle 的 issue 区可以搜到

[2022-10-09 02:06] #2494 closed, assigned to zh794390558

[2022-10-09 02:10] #2497 closed, assigned to nobody

[2022-10-09 02:14] Zth9730 commented on #2508
1、依据的是每个epoch dev上的score
2、avg_num根据经验设置
3、这是asr中常用的手段，会比最高的那个准确率好一些

[2022-10-09 02:16] Zth9730 commented on #2507
测试用的模型是否是训练好的模型？很可能用了个训练不好或者没训练的模型进行了测试。

[2022-10-09 02:21] zh794390558 commented on #2509
标点恢复只有，。？！四个输出。训练数据需要做预处理。

[2022-10-09 02:23] AlphaMind123 commented on #2508
好的谢谢

[2022-10-09 02:24] laity-slf commented on #2509
您好，我这边是做了预处理的    把、转为，把！；换成了。  不知道您说的预处理还有哪些  ”“ 这些也要换成 ，吗

[2022-10-09 02:55] AlphaMind123 commented on #2507
我只先跑了2个epoch后进行了下测试，意思是像这种完全可能一个字也没有预测出来？

[2022-10-09 03:33] Plutoisme opened #2512 "❗❗[Server]declarative() got an unexpected keyword argument 'property'"
按照官网教程：https://aistudio.baidu.com/aistudio/projectdetail/4668770?forkThirdPart=1
在服务器端部署paddle时：

# 进入根目录
cd /home/aistudio/PaddleSpeech
# 开启服务
paddlespeech_server start --config_file ./paddlespeech/server/conf/application.yaml

报错显示：
[2022-10-09 11:30:23,153] [    INFO] - start to init the engine
[2022-10-09 11:30:23,154] [    INFO] - asr : python engine.
[2022-10-09 11:30:31,894] [   ERROR] - Fa

[2022-10-09 04:25] yt605155624 commented on #2512
参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/2387 修改 log 等级获取更多信息

[2022-10-09 06:00] Zth9730 commented on #2507
是的

[2022-10-09 06:12] AlphaMind123 commented on #2507
好的谢谢

[2022-10-09 06:17] Plutoisme commented on #2512
按照链接所提到的修改方式，在log.py和executor.py两个文件下进行了logging.INFO->logging.DEBUG的修改，执行paddlespeech_server start --config_file ./paddlespeech/server/conf/application.yaml命令报错仍旧没有多余的补充信息。

PS：我是在paddle的fork了项目，直接使用AI STUDIO运行的。

[2022-10-09 06:47] kq-cheng commented on #2504
好的，我试试，谢谢

[2022-10-09 06:47] #2504 closed, assigned to yt605155624

[2022-10-09 07:18] MoYinYu commented on #2503
估计是paddle安装的版本没对上的原因，到官网下载一个paddlepaddle_gpu-2.3.2.post112-cp37-cp37m-linux_x86_64.whl，用这个覆盖掉之前的paddlepaddle_gpu-2.3.1-cp37-cp37m-manylinux1_x86_64.whl，目前可以正常使用单核gpu训练。

[2022-10-09 07:19] #2503 closed, assigned to zh794390558

[2022-10-09 08:30] zh794390558 commented on #2512
`property` 是paddle 2.4rc 中新增的功能，如果用到paddlespeech develop的代码的话，需要使用paddle 的 dev版本或 >=2.4rc

[2022-10-09 08:31] zh794390558 commented on #2509
" 《 》这些都可以删除的。

[2022-10-09 08:37] laity-slf commented on #2509
您好，是删除的。我现在修改了解码的方法，能够生成了。原因应该是长度的关系，训练时候设置的长度是100，预测那边没有resize，所以有gap

[2022-10-09 11:52] yt605155624 commented on #2509
@laity-slf 你好，相应的修改方便提个 pr 或者具体列一些代码位置看一下嘛

[2022-10-09 12:12] laity-slf commented on #2509
### 就放一下代码吧，其实也是参考的训练过程。因为我训练的模型，超过长度100多就不会加上标点符号了，但是下载的预训练模型可以做到，这点我也没找到原因。但是改写之后这个问题基本上能够解决；
[code]
这边我看没有用到原来的_inputs['seq_len']  所以就干脆保存了pad_len，对应下面取tokens的时候可以用到；
[code]
这里也有个小问题，我写在了TODO里面。就是ernie-1.0那边是一个词一个词切分的，那么为什么不直接让token=clean_text,因为也是一一对应的，而且不会有一些unk符号的问题

[2022-10-09 12:43] yt605155624 commented on #2509
由于本身也不是做 nlp 的，只能说下我的拙劣的建议：
1. 我们提供的预训练模型是在一个巨大无比的数据集上训练的(训练集纯文本 68G 左右)
2. 是否按照你的数据集的分布，重新设置训练时的 seq_len 试试
3. `为什么不直接让token=clean_text` 这种问题或许可以直接去 PaddleNLP 试着问问

[2022-10-09 12:43] #2507 closed, assigned to zh794390558

[2022-10-09 12:44] #2508 closed, assigned to zh794390558

[2022-10-09 12:47] laity-slf commented on #2509
好的，非常感谢！

[2022-10-09 12:48] #2498 closed, assigned to yt605155624

[2022-10-09 12:48] #2490 closed, assigned to yt605155624

[2022-10-09 12:49] #2483 closed, assigned to yt605155624

[2022-10-09 12:49] #2479 closed, assigned to zh794390558

[2022-10-09 12:50] #2476 closed, assigned to nobody

[2022-10-09 12:51] #2448 closed, assigned to zh794390558

[2022-10-09 12:51] #2447 closed, assigned to SmileGoat

[2022-10-09 12:57] liuyang77886 commented on #2506
driver最新版，CUDA 10.2.89 >= 440.33 >= 441.22，cudnn-》for CUDA

[2022-10-09 12:57] #2506 closed, assigned to zh794390558

[2022-10-09 13:24] imohuan commented on #2447
Why ? You didn't answer my question about srt subtitles.

[2022-10-09 13:31] yt605155624 commented on #2509
问了下 PaddleNLP 的同事，ERNIE finetune 的时候 seq_len 的设置，一般需要跟模型实际使用的长度匹配上，128、256、512 都行，但最大一般也不能超过 512。

[2022-10-09 14:03] trappedinspacetime opened #2513 "[STT] downloading of deepspeech2offline_librispeech is too slow"
I am on Ubuntu 20.04 platform. I live in Türkiye. I installed `PaddleSpeech` via `pip`.

When I want to test offline model with:

        paddlespeech asr --model deepspeech2offline_librispeech --lang en --input ./en.wav -v

it starts to download but it's extremely slow around 300KB.
Is it possible for me to download the speech model manually and extract it to `PaddleSpeech`'s directory (I don't k

[2022-10-09 14:15] yt605155624 commented on #2513
You can find the pretrained models' url in https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/resource/pretrained_models.py

The model will be downloaded to `${HOME}/.paddlespeech/models`, as for `deepspeech2offline_librispeech`, here is the file tree:

<img width="1172" alt="image" src="https://user-images.githubusercontent.com/24568452/194761660-c2fd0ce5-f135-425c-b78d-4951f9

[2022-10-09 14:21] laity-slf commented on #2509
好的，麻烦了

[2022-10-09 16:16] trappedinspacetime commented on #2513
@yt605155624 Thank you for responding and the info you gave in detail. I downloaded [/asr0_deepspeech2_offline_librispeech_ckpt_1.0.1.model.tar.gz](https://paddlespeech.bj.bcebos.com/s2t/librispeech/asr0/asr0_deepspeech2_offline_librispeech_ckpt_1.0.1.model.tar.gz)
file and extracted it to the directory as you instructed. But as my surprize, it needs another file, around 9GB, [common_crawl_00.prun

[2022-10-10 02:18] #2513 closed, assigned to zh794390558

[2022-10-10 02:18] #2509 closed, assigned to zh794390558

[2022-10-10 02:39] #2496 closed, assigned to zh794390558

[2022-10-10 03:42] #2452 closed, assigned to lym0302

[2022-10-10 08:36] linxiaohui commented on #2150
+1

[2022-10-10 09:32] dahu1 commented on #2199
【建议】

1. 建议增加更多可选择的音色
2. 建议聊天内容的风格可以选择， 这些可以作为机器人的配置选项。

[2022-10-10 11:40] Tian14267 opened #2517 "[S2T]基于aishell数据训练的U2模型（transformer）的CER达到23.9%"
你好，我用这里相应的配置和流程，训练aishell数据的ASR模型（U2模型（transformer）），测试出来的CER达到23%。请问自己训练的效果为啥这么差啊。配置没有变动。epoch==30.
我是按照这个训练的：https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell/asr1

[2022-10-10 14:27] yt605155624 commented on #2517
EPOCH 不够模型未收敛

[2022-10-10 19:54] ydroxy opened #2519 "看不明白发生啥了"
D:\PaddleSpeech-develop\demos\speech_web\speech_server>python main.py --port 8010
2022-10-11 03:52:59.439 | INFO     | paddlespeech.s2t.modules.ctc:<module>:45 - paddlespeech_ctcdecoders not installed!
[nltk_data] Error loading averaged_perceptron_tagger: <urlopen error
[nltk_data]     [Errno 11004] getaddrinfo failed>
[nltk_data] Error loading cmudict: <urlopen error [Errno 11004]
[nltk_data]

[2022-10-10 19:58] ydroxy commented on #2519
python3 D:\PaddleSpeech-develop\paddlespeech/t2s/exps/voice_cloning.py                     --am=fastspeech2_aishell3                     --am_config=source/model/fastspeech2_aishell3_ckpt_vc2_1.2.0/default.yaml                     --am_ckpt=source/model/fastspeech2_aishell3_ckpt_vc2_1.2.0/snapshot_iter_96400.pdz                     --am_stat=source/model/fastspeech2_aishell3_ckpt_vc2_1.2.0/speech_

[2022-10-11 00:51] tianyu8969 commented on #2505
1是否可以返回一个空白的音频，或者如何输出一个空白音频，有个需要播放一段空白音频，paddlespeech无法合成此类音频
2, 3, 把 voc 换成 hifigan_csmsc可以正常合成，但是合成速度很慢，长文本99个字要20多秒，而mb_melgan_csmsc只要3秒，
修改  `merge_sentences = True` 无效还是无法正常合成
![image](https://user-images.githubusercontent.com/3991083/194975119-06beef39-cb2a-4b32-8f57-8e0303772b33.png)

使用模型：`speedyspeech_csmsc + mb_melgan_csmsc`  2, 3问题可正常合成，问题1还是不行
![image](https://user-images.githubusercon

[2022-10-11 02:21] 312shan opened #2520 "英伟达官方无此安装包 CuDNN7.5 (for CUDA 10.2)"
##  install_cn.md 写gpu2.4rc依赖是 CUDA 10.2， CuDNN7.5

通过看英伟达官方提供的 [cudnn列表](https://developer.nvidia.com/rdp/cudnn-archive)，没发现 CuDNN7.5  for cuda10.2；

所以你们的 [install_cn.md ](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install_cn.md)文件是否编写有误？

如果是paddle自己编译或者开发的 cudnn，可否提供一下下载链接？

[2022-10-11 02:33] yt605155624 commented on #2520
确实，CUDA 和 CUDNN 版本配套参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2022-10-11 03:17] linxiaohui commented on #2150
For Anyone concerns:

If you want to install paddlespeech on python 3.10, you may try:

1. build pyworld and install it. ref to https://github.com/JeremyCCHsu/Python-Wrapper-for-World-Vocoder
2. build paddle2onnx and install. ref to https://github.com/PaddlePaddle/Paddle2ONNX/blob/develop/docs/zh/compile.md
3. install paddlespeech

see also http://5190m.top/note/2022/10/11/2022-10-11-paddlepaddle-

[2022-10-11 03:42] yt605155624 commented on #2519
先在仓库里搜下  nltk_data 解决下 ：）

[2022-10-11 06:19] #2520 closed, assigned to zh794390558

[2022-10-11 08:24] EricLingRui commented on #1625
@NYF-BRICK 请问你动转静后模型验证成功没？

[2022-10-11 08:30] NYF-BRICK commented on #1625
没有，最终选择了其他方法。

[2022-10-11 08:34] will-wiki opened #2521 "安装paddlespeech报错"
**安装方法**
安装指导中的【[简单](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install_cn.md#%E7%AE%80%E5%8D%95-%E8%8E%B7%E5%8F%96%E5%9F%BA%E6%9C%AC%E5%8A%9F%E8%83%BD%E6%94%AF%E6%8C%81-linuxmac-%E5%92%8C-windows)】方法，
paddlepaddle-gpu==2.3.0版本
安装命令如下：
pip install pytest-runner -i https://pypi.tuna.tsinghua.edu.cn/simple
pip install paddlespeech -i https://pypi.tuna.tsinghua.edu.cn/simpl

[2022-10-11 08:57] yt605155624 commented on #2521
升级 pip, 你的 pip 没有找到最新的 paddlespeech

[2022-10-11 09:57] will-wiki commented on #2521
@yt605155624 用pip install --upgrade pip尝试更新了pip，好像版本是最新的21.3.1，但是还是报同样的错误，有可能是paddlepaddle=2.3.0的问题么

[2022-10-11 11:00] yt605155624 commented on #2521
应该不是，你安装 paddlespeech 的时候指定下版本试试 1.2.0

[2022-10-11 11:03] will-wiki commented on #2521
@yt605155624 好像没有你说的版本
pip install paddlespeech==1.2.0 -i https://pypi.tuna.tsinghua.edu.cn/simple
报错
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
ERROR: Could not find a version that satisfies the requirement paddlespeech==1.2.0 (from versions: 0.0.1a0, 0.0.2a0, 0.1.0a0, 0.1.0a1, 0.1.0a2, 0.1.0a3, 0.1.0a4, 0.1.0a5, 0.1.0a6)
ERROR: No matching distribution found for paddlespeech==1

[2022-10-12 01:36] oyb1125 opened #2523 "[TTS]合成语音怎么改变语速"
在仓库搜索了change_speed函数，但是还是不太会用，请问有没有详细一点的说明

[2022-10-12 01:36] yt605155624 commented on #2521
你的 pip 有问题，没有找到最新版，paddlespeech 已经更新到 1.2.0 版本了 https://pypi.org/project/paddlespeech/

[2022-10-12 01:41] yt605155624 commented on #2523
Dupilcate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2383
函数和调用方式仓库都列出来了，没有更详细的说明

[2022-10-12 01:41] #2523 closed, assigned to yt605155624

[2022-10-12 05:55] Tian14267 commented on #2517
@yt605155624 你好，请问下这个模型训练的epoch大概多少？公开的模型训练了大概多少个epoch，能否告知一下，谢谢。

[2022-10-12 06:20] Tian14267 commented on #2517
@zh794390558 @yt605155624 @ryanrussell @harisankarh
请问下大神，训练这个asr时，config中给出的这个配置，是默认一张GPU训练时的配置吗？我多卡训练的话，这个配置是否需要修改？batch、学习率和epoch等信息。
![image](https://user-images.githubusercontent.com/27938135/195264925-40c4e96f-e1e2-41ca-8e2a-a0f8ab878835.png)

[2022-10-12 07:04] #2480 closed, assigned to yt605155624

[2022-10-12 07:04] #2477 closed, assigned to zh794390558

[2022-10-12 07:07] yt605155624 commented on #2505
问题 1 你自己 try catch 判断一下然后生成空音频就行
问题 2, 3 已经说了是 mb_melgan 模型本身的要求，感兴趣可以看下论文和代码，speedyspeech_csmsc + mb_melgan_csmsc 可以正常合成可能是 speedyspeech 恰巧对于 "sp" 输出的 mel 的长度 >=6 帧，可以自己打印下 mel 的长度看下

[2022-10-12 07:48] zh794390558 commented on #2517
我们的实验默认用的单机4卡，不需要修改参数。

[2022-10-13 06:50] armada2013 opened #2526 "使用paddlespeech asr 报错"
运行 paddlespeech asr --lang zh --input zh.wav时，报错paddlespeech/models/conformer_u2pp_wenetspeech-zh-16k/1.1/asr1_chunk_conformer_u2pp_wenetspeech_ckpt_1.1.3.model.tar/model.yaml 找不到，请问这是什么原因呢？

[2022-10-13 07:27] zh794390558 commented on #2526
搜索下 asr1_chunk_conformer_u2pp_wenetspeech_ckpt_1.1.3.model.tar 目录中个是否有这个文件。

[2022-10-13 07:34] Zth9730 commented on #2526
建议更新到最新的仓库代码，删除已下载的本地包，重新执行试一试。
本地包默认在 ~/.paddlespeech/models

[2022-10-14 03:41] yiluzhuimeng opened #2529 "tts-streaming相关问题请教"
1.介绍中说am-encoder中FFT-block模块没有转化成卷积，但是推理时候是一个音素一个音素进行，这样会对结果造成影响吧？
2.tts-streaming的训练代码有开源吗？
3.VITS如果想做流式模型训练和推理，需要改哪几个模块？
谢谢

[2022-10-14 09:04] zh794390558 commented on #2529
没有影响，你可以校验下输出。

代码已经开源。

[2022-10-16 05:24] liucongg commented on #2521
window 安装是会报错的

[2022-10-17 03:07] yyqwert4 opened #2534 "[OpenCL] pwg_baker_static_0.4 fail"
标题：[OpenCL] pwg_baker_static_0.4 fail
    版本、预测库信息：
       1）Paddle Lite 版本：branch develop
       2）Host 环境：Ubuntu 22.04
       3）运行设备环境：X86
       4）预测后端信息：OpenCL AMD Radeon RX 6900 XT
    预测信息
       1）预测 API：API：C++
       2）预测选项信息：benchmark_bin，

cmd="gdb -args ./build.lite.linux.x86.gcc.opencl/lite/api/tools/benchmark/benchmark_bin --model_file=./models/pwg_baker_static_0.4/pwgan_csmsc.pdmode

[2022-10-17 03:18] yyqwert4 opened #2535 "[OpenCL] panns_cnn14_static fail"
标题：[OpenCL] panns_cnn14_static fail
    版本、预测库信息：
       1）Paddle Lite 版本：branch develop
       2）Host 环境：Ubuntu 22.04
       3）运行设备环境：X86
       4）预测后端信息：OpenCL AMD Radeon RX 6900 XT
    预测信息
       1）预测 API：API：C++
       2）预测选项信息：benchmark_bin，

cmd="gdb -args ./build.lite.linux.x86.gcc.opencl/lite/api/tools/benchmark/benchmark_bin --model_file=./models/panns_cnn14_static/inference.pdmodel --pa

[2022-10-17 03:50] QShiX commented on #2487
@yt605155624 你好麻烦问你下 之前跑通的 speedyspeech 和 pwgan的 static model 可给个链接么？谢谢。

[2022-10-17 06:33] yiluzhuimeng commented on #2529
你好，不理解fastSpeech2为了做流式处理，am-decoder中FFT-block模块转化成卷积，而am-encoder中FFT-block模块没有转化成卷积，我的理解FFT-block其中包含attention，需要上下文的信息，这样逐个一个音素推理不会对结果造成影响，其中的原理是什么呢、

[2022-10-17 06:33] yiluzhuimeng commented on #2529
你好，不理解fastSpeech2为了做流式处理，am-decoder中FFT-block模块转化成卷积，而am-encoder中FFT-block模块没有转化成卷积，我的理解FFT-block其中包含attention，需要上下文的信息，这样逐个一个音素推理不会对结果造成影响，其中的原理是什么呢、

[2022-10-17 07:18] will-wiki commented on #2521
@yt605155624 直接用pip install whl包也会报错
<img width="1878" alt="image" src="https://user-images.githubusercontent.com/22003927/196112846-dde03fa6-e60b-4e84-8e18-40661a239ed5.png">
看样子应该是ppython版本的问题，我这边能用的是python3.6版本，Pillow 9.0需要3.7以上，paddlespeech是一定要python3.7以上的版本才能安装么
@liucongg 实在ubuntu上安装的

[2022-10-17 07:24] will-wiki commented on #2521
@yt605155624 另外想问下ECAPA-TDNN模型有静态图导出脚本嘛，github里面只找到了相关的python API调用示例，看代码是每抽一个音频特征会读一遍模型？那部署起来耗时应该会比较严重吧...

[2022-10-17 08:57] yt605155624 commented on #2529
FastSpeech2 流式推理时不是 “逐个一个音素推理”，而是 encoder 的输出 pad 一些上下文信息后进行推理再移除 pad 部分对应的输出，原理是 “CNN 的局部感受野”，参考 [AIStudio Courses](https://aistudio.baidu.com/aistudio/course/introduce/25130) / 第七章：语音合成 / [流式语音合成技术揭秘与实践](https://aistudio.baidu.com/aistudio/education/lessonvideo/3344509) （需要加入课程才能看）

[2022-10-17 09:03] yt605155624 commented on #2521
@will-wiki 目前没有尝试 ECAPA-TDNN 模型的动转静导出，可以参考 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/csmsc/tts3/local/synthesize_e2e.sh 写下动转静代码看看能不能导出，参考文档 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/jit/index_cn.html

python API 可以写 for 循环调用，加载一次模型调用多次，参考 [vc2_infer.py](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/t2s/exps/fastspeech2/vc2_infer.

[2022-10-17 09:05] yt605155624 commented on #2521
@will-wiki 我们安装文档中要求了 `Python >= 3.7`

[2022-10-17 09:15] #2519 closed, assigned to iftaken

[2022-10-17 11:46] #2467 closed, assigned to yt605155624

[2022-10-17 11:49] hhxdestiny commented on #1187
请问asr c++部署还在开发么？asr能否支持onnx

[2022-10-18 02:38] yt605155624 opened #2540 "[TTS]静态模型转 Paddle-Lite 失败问题汇总"
![WechatIMG45](https://user-images.githubusercontent.com/24568452/196322601-fbfe0f51-24c2-4c84-ad89-e68759f9ad99.jpeg)
- https://github.com/PaddlePaddle/PaddleSpeech/issues/2487
- https://github.com/PaddlePaddle/PaddleSpeech/issues/2534
- https://github.com/PaddlePaddle/Paddle-Lite/issues/9556
- https://github.com/PaddlePaddle/Paddle-Lite/issues/9563

[2022-10-18 03:08] #2442 closed, assigned to yt605155624

[2022-10-18 03:21] yt605155624 commented on #2534
Duplicate of https://github.com/PaddlePaddle/Paddle-Lite/issues/9556

[2022-10-18 04:37] Tian14267 opened #2541 "[S2T] ASR : 多卡训练aishell数据报错：'RelPositionMultiHeadedAttention' object has no attribute 'weight'"
**具体报错信息如下：**
![image](https://user-images.githubusercontent.com/27938135/196336381-7bf0fb1e-5d0d-4997-bbd9-0d0a30888a7b.png)
![image](https://user-images.githubusercontent.com/27938135/196336418-203250ed-299d-4650-9ec4-b458e67edfb8.png)
**我的paddle版本是这个：**
![image](https://user-images.githubusercontent.com/27938135/196336457-4ee1ebb1-6ed0-4117-80f7-410d0b67ec4b.png)
**请问这个报错是什么情况？**

[2022-10-18 05:49] zh794390558 commented on #2535
这个是paddlelite相关的问题吗？可以以去paddleLite下面提issue。

[2022-10-18 05:50] zh794390558 commented on #2541
我们在check这个问题。

[2022-10-18 10:39] #2541 closed, assigned to zh794390558

[2022-10-18 14:18] kingmpw2015 opened #2546 "[S2T]离线ASR识别支持输出时间戳吗？"
如题，请问离线ASR识别支持输出时间戳吗？

[2022-10-18 14:28] yt605155624 commented on #2546
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2435

[2022-10-19 01:00] Tian14267 opened #2547 "[S2T] U2模型训练暂停问题"
**大神们好。我再实验U2模型多卡训练aishell数据的时候，会出现在某个epoch之后模型不在更新，日志不再更新，训练暂停的问题。之前提过一次该问题，代码和版本更新之后，现在还有该问题，现在情况如下：**
**1：7卡训练U2模型，在epoch=10之后训练停下了，但是GPU还在运行中，且GPU使用率还在实时更新，如下：**
![image](https://user-images.githubusercontent.com/27938135/196572230-e217bb30-6e95-4f9f-9d18-fda8d6b3c7ee.png)

**2：截止到现在这个时间点，模型已经有8个多小时没有更新。最新模型只截止到夜里12点左右：**
![image](https://user-images.githubusercontent.com/27938135/196572350-74

[2022-10-19 02:15] jackeymango commented on #2526
遇到相同问题，安装pip包就没有问题，使用源码就有问题

[2022-10-19 02:31] jackeymango commented on #2526
确实是没有的，需要下载新的模型嘛

[2022-10-19 02:36] Zth9730 commented on #2526
是的，要下载新模型

[2022-10-19 02:54] jackeymango commented on #2526
删了，再使用源代码下载里面还是没有model.yaml

[2022-10-19 03:01] yt605155624 commented on #2526
[💫 安装 develop 版本的 paddlespeech ](https://github.com/PaddlePaddle/PaddleSpeech/issues/2472)

[2022-10-19 03:36] SkySailing commented on #1253
选择其他虚拟环境，然后再选择回来, it's works for me。

[2022-10-19 04:56] QShiX commented on #2535
注释掉paddle lite 中opencl的reduce_ 可以解决问题。

[2022-10-19 05:48] laity-slf opened #2550 "paddlespeech paddlenlp报错"
## General Question

当我使用python=3.7.12 ，paddlepaddle版本为2.0.2，会报错。
<img width="1056" alt="image" src="https://user-images.githubusercontent.com/59203496/196607174-98b7cddf-a603-4e32-b1e6-21f28a481b27.png">
是asr不支持这个版本的paddle吗

[2022-10-19 05:50] yt605155624 commented on #2550
请安装安装文档安装指定版本的 paddle 版本，目前要求 paddle 2.4.0rc https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install_cn.md

[2022-10-19 06:03] laity-slf commented on #2550
但是我现在的gpu因为 cuda driver的原因只能用这个版本的paddle。因为没有权限装driver=-=

[2022-10-19 06:10] zh794390558 commented on #2526
chmod +x ~/.paddlespeech/models/*

[2022-10-19 06:30] yt605155624 commented on #2550
哦，那可能就用不了了，可以在 aistudio 上试用

[2022-10-19 06:38] #2550 closed, assigned to nobody

[2022-10-19 08:04] Tian14267 opened #2553 "[S2T] 关于U2模型的8k采样率训练参数问题"
各位大神好，我想问下**U2模型**的训练参数当前是`16k`采样率的（基于aishell数据训练）。我现在想训练`8k`采样率的模型。请问下能否公布一份基于`8K`采样率的训练参数配置？因为我自己修改的参数不确定是否有问题。拜托各位大神了。

[2022-10-19 08:32] yt605155624 commented on #2535
@QShiX https://github.com/PaddlePaddle/PaddleSpeech/issues/2534 请问这个 issue 也可以这么解决嘛？

[2022-10-19 09:44] #2526 closed, assigned to zh794390558

[2022-10-19 10:53] thehzzz commented on #1620
请问TTS 男性音色怎样去调整合成语音的语速和音量呢？

[2022-10-19 12:27] QShiX commented on #2535
@yt605155624 好像不行，有问题的可能不光是那个算子。

[2022-10-19 14:50] ykx123-hub opened #2557 "[S2T]AIstudio中DeepSpeech2教程的demo无法正常运行"
https://aistudio.baidu.com/aistudio/course/introduce/25130
该教程中语音识别的DeepSpeech2的demo无法正常运行，出现的错误的具体代码段如下：
![微信图片_20221019224727](https://user-images.githubusercontent.com/74460795/196724940-f9d500c6-cf97-40b2-ae84-e504abc72277.jpg)
![微信图片_20221019224735](https://user-images.githubusercontent.com/74460795/196725032-b3733ed7-cce1-4490-947b-bd356db4ad67.jpg)
经检查，发现下载下来的deepspeech2.yaml配置文件中没有rnn_dire

[2022-10-20 02:11] yt605155624 commented on #1620
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/discussions/2556

[2022-10-20 03:31] #2535 closed, assigned to zh794390558

[2022-10-20 08:19] AlphaMind123 opened #2560 "字音转换问题"
![image](https://user-images.githubusercontent.com/108966996/196894299-3878b33c-4970-4751-b1e6-25f74b5184e9.png)
![image](https://user-images.githubusercontent.com/108966996/196895228-f21269b2-0bbe-4df9-a8cf-e47fe986345d.png)

为什么w变成了u
![image](https://user-images.githubusercontent.com/108966996/196894808-5a4e7b9b-85b6-4dc7-9a69-5018ea8f8b1b.png)
![image](https://user-images.githubusercontent.com/

[2022-10-20 08:32] Zth9730 commented on #2553
我们没有相关参数配置，能正确提取fbank特征即可。

[2022-10-20 08:35] yt605155624 commented on #2560
1. 我们只用了原始数据集的拼音，没有用韵律
2. 关于 g2p 字典设计请参考：https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/topic/frontend/g2p.md

[2022-10-20 09:13] zh794390558 commented on #2547
这个问题应该是分布式通信hang了， 可能是gpu mem分配失败导致多端通信不匹配。这个在paddle 里提个issue吧。

[2022-10-20 09:14] zh794390558 commented on #2557
修复了一个问题，教程可以跑了。你那儿应该更新下版本就可以跑了。

[2022-10-20 09:47] Lux-maker-harsh commented on #2560
请问整理之后声母为什么和原数据集不一样呢

[2022-10-20 09:59] AlphaMind123 commented on #2560
好的谢谢

[2022-10-20 10:18] AlphaMind123 opened #2561 "多说话人数据集用于TTS"
请问一下：在用多说话人的数据集做TTS时与单一说话人的数据集有什么区别，是将各个speaker的语音分开像单一的speaker一样进行训练吗，在测试的时候合成哪个speaker的音色是不是可以设置的

[2022-10-20 10:19] AlphaMind123 commented on #2546
这个是不是相当于声音事件检测了，输出相应的时间戳

[2022-10-20 10:20] AlphaMind123 commented on #2517
请问U2模型和transformer有什么关系呀

[2022-10-20 10:22] yt605155624 commented on #2561
多说话人训练和测试时用 `spk_id` 标志不同的说话人，参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3/tts3

[2022-10-20 10:23] AlphaMind123 commented on #2561
ok,thank you

| |
hfqemail
|
|
***@***.***
|
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年10月20日 18:22 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleSpeech] 多说话人数据集用于TTS (Issue #2561) |

多说话人训练和测试时用 spk_id 标志不同的说话人，参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3/tts3

—
Reply to this email directly, view it on

[2022-10-20 12:12] #2561 closed, assigned to yt605155624

[2022-10-20 13:21] UserName-wang commented on #2456
./run.sh --stage 0 --stop-stage 5
check oov
get mfa result
sh: 1: mfa_align: Exec format error
generate durations.txt
extract feature
[nltk_data] Error loading averaged_perceptron_tagger: <urlopen error
[nltk_data]     [Errno 111] Connection refused>
[nltk_data] Error loading cmudict: <urlopen error [Errno 111]
[nltk_data]     Connection refused>
196 1
100%|████████████████████████████████████████

[2022-10-20 14:42] yt605155624 commented on #2456
@UserName-wang follow https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install.md to download nltk_data to your ${HOME}

[2022-10-20 14:45] Hezzle opened #2562 "MacOS调用paddleSpeech_server报错"
<img width="1440" alt="截屏2022-10-19 下午9 56 38" src="https://user-images.githubusercontent.com/116180233/196980808-fbb1ae0f-7701-4f0a-9123-504593e354f2.png">

MacOS按照gitee上简单模式安装，在启动服务时路径明明正确，但是出现了上图的报错
paddlespeech_server start --config_file ./PaddleSpeech-develop/demos/speech_server/conf/application.yaml
paddlespeech_server start ./PaddleSpeech-develop/demos/speech_server/conf/application.yaml
最终

[2022-10-21 00:18] cater555 opened #2563 "arm架构下部署paddlespeech"
我尝试在jetson nano上部署paddlespeech , 但是paddlepaddle的最高版本是2.3.2。部署的过程中发现paddlespeech_ctcdecoders没有arm架构的包。部署之后运行speech_web/speech_server报错

File "/usr/local/lib/python3.7/site-packages/paddlespeech/s2t/models/u2/u2.py", line 611, in U2BaseModel
    @jit.to_static(property=True)
TypeError: declarative() got an unexpected keyword argument 'property'

环境：python 3.7，paddlepaddle2.3.2

请问我该如何解决出现的问题？

[2022-10-21 00:34] yt605155624 commented on #2563
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2512

如果没有 arm 的 paddle2.4.0rc 可以使用 1.2.0 版本的 paddlespeech

ctcdecoders 尝试自己编译 https://github.com/PaddlePaddle/PaddleSpeech/discussions/2148

[2022-10-21 00:48] cater555 commented on #2563
ERROR: Could not find a version that satisfies the requirement paddlespeech_ctcdecoders (from paddlespeech[develop]) (from versions: none)

请问这个有什么影响？

[2022-10-21 01:16] Xsx93 opened #2564 "fastspeech 等声学模型、Multi_band MelGAN等声码器流式与非流式模型的参数量，计算量区别？端侧相关"
## General Question
如题，流式模型在端侧部署时，是否会有更低的计算量，或者有更好的效果，有没有数据佐证。

[2022-10-21 02:41] yt605155624 commented on #2564
关于参数量计算量您可以自己算，流式推理方式会 padding 一些前后 block 的数据，参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/streaming_tts_server

目前还没有打通端侧部署，会在 Q4 尝试相关的工作 🤝

[2022-10-21 02:42] yt605155624 commented on #2563
see https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install.md

[2022-10-21 02:45] lym0302 commented on #2562
简单安装方式使用的 pip install paddlespeech 的形式吗？如果是这样的话，首先根据我们的示例自己新建一个application.yaml，然后使用指令 paddlespeech_server start --config_file <application.yaml的路径> 就可以启动了。

[2022-10-21 02:49] yt605155624 opened #2565 "❗❗[Server]run() got an unexpected keyword argument 'debug'"
When you run:
[code]
You may encounter the following error:
[code]
This is due to the incompatibility upgrade of 0.19.0  release of `uvicorn` on 2022.10.20.

We have fix this bug in develop branch, see https://github.com/PaddlePaddle/PaddleSpeech/pull/2558.
please install develop version of paddlespeech, see https://github.com/PaddlePaddle/PaddleSpeech/issues/2472.

or install `uvicorn<=0.18.3`:
[

[2022-10-21 03:24] yt605155624 commented on #2562
@Kurast703 相关报错请自己百度、谷歌搜索解决

[2022-10-21 03:25] #2553 closed, assigned to zh794390558

[2022-10-21 03:25] #2557 closed, assigned to zh794390558

[2022-10-21 03:27] #2529 closed, assigned to yt605155624

[2022-10-21 06:22] #2560 closed, assigned to yt605155624

[2022-10-21 08:07] arashrun opened #2566 "[TTS]当文本中包含全角数字的时候会报错"
**Describe the bug**
文本包含全角数字报错

**期望**
正常转换

**错误信息**
[code]

[2022-10-21 08:25] ChayYue opened #2567 "语音识别报错"
paddlespeech安装完成后快速测试语音识别报错：（执行语音合成命令正常响应）
执行：paddlespeech asr --lang zh --input zh.wav
报错：/anaconda3/envs/paddlepaddle39/lib/python3.9/site-packages/librosa/core/constantq.py:1059: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the nu

[2022-10-21 08:34] yt605155624 commented on #2567
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2512

[2022-10-21 08:35] yt605155624 commented on #2512
安装 paddlepaddle-gpu 2.4rc：
[code]

[2022-10-21 08:40] yt605155624 commented on #2566
感谢反馈，可以在 TN 里面找个地方加个全角转半角的逻辑，应该不难，欢迎提交修复 pr 🌹🌹🌹

[2022-10-21 08:44] yt605155624 commented on #2196
- https://github.com/PaddlePaddle/PaddleSpeech/issues/2566

[2022-10-21 10:27] thehzzz opened #2569 "style_fs2 怎么由单人改多人？希望能有个小demo参考一下，谢谢"
style_fs2 怎么由单人改多人？希望能有个小demo参考一下，谢谢

[2022-10-21 10:32] thehzzz commented on #2569
希望能使用中英mix模型

[2022-10-21 10:41] yt605155624 commented on #2569
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3/tts3
不会出 demo，请自己参考多说话人 TTS 改吧，只是多了一个 spk_id 的输入而已。

[2022-10-21 12:39] Hezzle opened #2570 "使用AiStudio进入服务器的时候出现ERROR提示"
<img width="991" alt="截屏2022-10-21 下午8 37 22" src="https://user-images.githubusercontent.com/116180233/197197398-e7d139bf-e145-41a4-b5bd-4b0e10e3b0be.png">

使用AiStudio进入服务器的时候，前面的步骤均已完成，但是出现了上图的ERROR
求指教qwq

[2022-10-21 14:26] Hezzle commented on #2570
最终发现有一些必要的步骤没有执行，故本issue终止
（实在抱歉，如果有需要我也可以删了这个qwqqq

[2022-10-21 14:26] #2570 closed, assigned to nobody

[2022-10-22 10:02] arashrun opened #2571 "[TTS]特殊的句子及标点导致报错"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).

If you've found a bug then please create an issue with the following information:

**Describe the bug**
特殊句式导致报错

**To Reproduce**
报错句子：`并且——说来会使他惭愧——是以庄重口气谈到的,`

**Expected behavior**
正常生成

**Screenshots**
[code]

[2022-10-22 11:13] ShawnyinsGit opened #2572 "流式asr服务启动报错AttributeError: num_decoding_left_chunks"
流式asr服务启动报错AttributeError: num_decoding_left_chunks
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/30432137/197335817-9898b704-c852-44d1-ba8f-bc362e9c6b8e.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/30432137/197336040-91037d71-3e21-4604-9d69-496461bcf0cf.png">

课程的配置文件示例也没有num_decoding_left_chunks字段
<img width="1438" alt="image"

[2022-10-23 03:33] ZX183 opened #2573 "aishell model convert to onnx model error"
paddle2onnx convert deepspeech2_aishell pretrianed model error, is that supported ?
./tonnx.sh ../data/exp/deepspeech2_online/checkpoints/ avg_10.jit.pdmodel  avg_10.pdparams  ./avg_10.jit.onnxRequirement already satisfied: paddle2onnx in /usr/local/lib/python3.8/dist-packages (0.9.8)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system

[2022-10-23 10:34] JYCcx commented on #2512
使用aistudio运行deep speed和在本地环境运行时都出现了没有data/mean_std的情况和以下问题
![1666521220085](https://user-images.githubusercontent.com/116490558/197387247-89604e92-4fc0-463f-a32c-dfc2eb7f94ba.png)

[2022-10-23 10:58] JYCcx commented on #2567
aistudio 运行transfomer识别时，出现没有包的情况，paddlespeech更新到最新版也这样
![1666522652423](https://user-images.githubusercontent.com/116490558/197388281-222fc8c1-333d-47f5-921f-e34f4247eb4f.png)

[2022-10-24 00:36] HandsLing opened #2574 "[TTS]example/aishell3/tts3 自己的数据集训练synthesize_e2e出来没有声音"
请问在example/aishell3/tts3 中，我用aishell3数据集训练没有问题，但是我用我自己的数据训练，不报错，但是推理出来的音频没有声音，只有 “”enenen“”的声音，请问这是怎么回事呢

[2022-10-24 02:21] yt605155624 commented on #2574
请检查
1. synthesize 时是否可以正常合成吗，如果可以证明训练的模型没有问题
2. synthesize_e2e 时候输入的 phone_id_map.txt 和训练时是否一致

[2022-10-24 02:25] yt605155624 commented on #2571
正则化时需要对 `——` 这个特殊符号进行过滤，欢迎提交 pr 修复

[2022-10-24 02:27] #2569 closed, assigned to nobody

[2022-10-24 02:30] yt605155624 commented on #2196
- https://github.com/PaddlePaddle/PaddleSpeech/issues/2571

[2022-10-24 02:36] #2564 closed, assigned to yt605155624

[2022-10-24 02:36] #2563 closed, assigned to yt605155624

[2022-10-24 02:49] #2562 closed, assigned to lym0302

[2022-10-24 03:56] lym0302 opened #2576 "❣️❣️【🔝长期置顶】常见使用问题合集（总入口）❣️❣️"
从 **2022.10.24日**起，把遇到的问题汇总在这里，以便让开发者能够较快的找到解决方案。后期如果问题增多的再进行分类。

1、【paddle2onnx】**paddle模型转onnx模型**过程中，遇到**算子不支持**的问题。报错如下：
**[ERROR] Due to the unsupported operators, the conversion is aborted.**

![C210F3DDE659AB10AE44EC7E54C1825A](https://user-images.githubusercontent.com/34430015/197445446-7a7f1dea-2fae-4b85-a8cf-f63303f21c20.png)

**解决方案**：使用 paddlepaddle 2.3.1 + paddle2onnx 0.9.8 或者 paddlep

[2022-10-24 06:45] yt605155624 commented on #2572
是 paddlespeech 不兼容升级导致的，https://github.com/PaddlePaddle/PaddleSpeech/pull/2337 已修复，aistudio 教程近两天会修复

[2022-10-24 06:47] HandsLing commented on #2574
不好意思，是我这边没有把phone_id_map.txt这个路径给对导致的问题，换了正确的路劲就没问题了，谢谢

[2022-10-24 06:47] #2574 closed, assigned to yt605155624

[2022-10-24 06:47] yt605155624 commented on #2567
@JYCcx 是 paddlespeech 不兼容升级导致的，AISTUDIO 教程这两天会修复，可以先尝试安装旧版本的 paddlespeech, 如 paddlespeech 0.1.0

[2022-10-24 06:53] yt605155624 commented on #2512
@JYCcx 参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/2557 看看最新版的教程是否已经可以了，另外类似问题建议新开一个 issue，你的这个问题和此 issue 没有任何关系，容易被我们漏掉

[2022-10-24 07:12] yt605155624 opened #2577 "AIStudio 教程报错合集"
由于 PaddleSpeech 不兼容升级 [飞桨PaddleSpeech语音技术课程](https://aistudio.baidu.com/aistudio/course/introduce/25130) 中的教程可能存在跑不通的情况，相关问题可以在本 issue 反馈

1. [[S2T]AIstudio中DeepSpeech2教程的demo无法正常运行](https://github.com/PaddlePaddle/PaddleSpeech/issues/2557)、https://github.com/PaddlePaddle/PaddleSpeech/issues/2512#issuecomment-1288081988
2. [流式asr服务启动报错AttributeError: num_decoding_left_chunks](https://github.com/Pa

[2022-10-24 09:42] zh794390558 commented on #2573
在2onnx repo提个issue反馈下吧

[2022-10-24 09:43] zh794390558 commented on #2517
类transformer，具体看下论文

[2022-10-24 09:49] oyb1125 opened #2578 "语音识别可以同时识别多个文件吗"
想问一下怎么批量识别多个音频文件

[2022-10-24 10:19] Plutoisme opened #2579 "TTS, 小样本合成项目用BML Colab运行出现bug"
按照https://aistudio.baidu.com/aistudio/projectdetail/4573549?channelType=0&channel=0 上Paddle开源的项目，打开BML Colab进行复现。在GE2E语音生成模块前端出现bug:

{'code': -1, 'result': None, 'message': '克隆失败，检查克隆脚本是否有效'}

此时后端显示：

python3 /home/aistudio/PaddleSpeech/paddlespeech/t2s/exps/voice_cloning.py                     --am=fastspeech2_aishell3                     --am_config=source/model/fastspeech2_nosil_aishell3_vc1_

[2022-10-24 12:46] pkuCactus opened #2580 "OSError: (External) CUFFT error(50)."
The enviroment is cuda 10.2 cudnn 7.6, report the error while i run the command `paddlespeech cls --input dog.wav --device gpu:0`
The output as below:
[code]

Any suggest for this problem?

[2022-10-24 13:24] yt605155624 commented on #2580
What's your paddlepaddle's version?

[2022-10-24 13:27] iftaken commented on #2579
项目没有问题啊，使用最新的代码项目从头到尾跑了一遍，可以正常运行呀，确定是在Aistudio环境下运行且前面的代码都运行正常了吗？
![image](https://user-images.githubusercontent.com/30135920/197536766-1d32f8ad-6309-4547-9e3a-2a6e1bb75f03.png)

[2022-10-25 01:35] pkuCactus commented on #2580
the version is 2.3.1

[2022-10-25 02:16] yt605155624 commented on #2580
I haven't met this error, it may caused by this `Driver API Version: 11.7, Runtime API Version: 10.2`, it means your CUDA driver version is `11.7` but you installed paddlepaddle for CUDA `10.2`, try to install paddlepaddle for cuda `11.6`, https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html
<img width="1258" alt="image" src="https://user-i

[2022-10-25 03:20] #2579 closed, assigned to iftaken

[2022-10-25 03:51] jeffzhengye opened #2581 "paddlespeech_server asr 有没有办法可以降低GPU内存的使用啊？"
paddlespeech_server asr 有没有办法可以降低GPU内存的使用啊？

我已经修改了application.yml 中只用 engine_list: ['asr_python']
conformer_wenetspeech 模型占用内存较高2.6G，我在笔记本上做应用gpu内存有限。
预测的时候是否有可能精度减少不多前提下，精度gpu 内存使用？

如果用cpu 预测太慢了，2S以上无法接受

[2022-10-25 06:28] zh794390558 commented on #2578
参看 https://github.com/PaddlePaddle/PaddleSpeech/wiki/PaddleSpeech-CLI---Batch-Process

[2022-10-25 06:29] zh794390558 commented on #2581
目前没有什么好的方法。

[2022-10-25 06:33] pkuCactus commented on #2580
Thanks for your promptly reply.  I'll try it.

[2022-10-25 06:36] jeffzhengye commented on #716
@tcexeexe  这个功能现在支持了没有啊？

[2022-10-25 07:03] oyb1125 commented on #2578
好的，谢谢

[2022-10-25 07:18] jeffzhengye commented on #2581
@zh794390558  quant.py 你有试过吗？
如果试过，大概性能有多大影响？

[2022-10-25 09:28] HandsLing opened #2582 "[TTS]onnx无法batch输入"
请问example/aishell3/tts里面基于aishell3训练的模型导成onnx，只支持一个输入，无法支持batch输入，这个后期能支持吗？

[2022-10-25 10:59] yt605155624 commented on #2582
onnx 不能 batch 输入是因为动态图模型没有支持 batch 输入，我们没有计划支持，你可以自己研究下

[2022-10-26 02:20] #2582 closed, assigned to yt605155624

[2022-10-26 02:20] #2578 closed, assigned to zh794390558

[2022-10-26 06:42] #1282 closed, assigned to yt605155624

[2022-10-26 08:18] zh794390558 commented on #2581
这部分还没有完全验证好，预计CPU上全流程的RTF在~0.5左右。

[2022-10-26 08:34] liangwq opened #2583 "声音克隆单句话克隆效果很差"
任务：https://aistudio.baidu.com/bj-gpu-02/user/997789/4888326/lab/tree/PaddleSpeech/demos/speech_web/speech_server/src/finetune.py
具体问题描述：
用3秒西游记中猴哥声音做克隆，效果很差
用小样本fintune教程不够详细，没有跑成功
感觉问题应该是声纹抽取、声音编码器迁移效果不够好

[2022-10-26 08:38] yt605155624 commented on #2583
一句话克隆效果不如 finetune

finetune 可以直接用源码试试：https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/other/tts_finetune/tts3
文档可以在看之前的直播课 [AIStudio Courses](https://aistudio.baidu.com/aistudio/course/introduce/25130)
效果可以看之前开发者的讨论：https://github.com/PaddlePaddle/PaddleSpeech/discussions/1842

[2022-10-26 09:28] HandsLing commented on #2196
“嗯”这个字 lazy_pinyin返回为空

[2022-10-26 09:46] liangwq commented on #2583
用自己的语音数据，如何对齐生成可以进模型finetune的格式
是需要一个脚本处理还是怎么弄，是否可以给个教程

[2022-10-26 09:50] beingjoey opened #2584 "asr性能、动转静问题"
请问项目中的ASRExecutor，是静态的还是动态的？现在是想提升一下性能有什么方法？
## General Question

[2022-10-26 09:59] yt605155624 commented on #2583
@liangwq 参考上述第一个链接，教程就是上面的链接 ：）， MFA 的对齐过程脚本自动进行，你只需要准备 wav 文件和对应 label 文件，文件格式链接里面都有

[2022-10-27 02:54] panxin801 commented on #2529
您好 ，请问 VITS如果想做流式模型训练和推理，需要改哪几个模块？ 谢谢您的回复

[2022-10-27 03:12] #2567 closed, assigned to zh794390558

[2022-10-27 03:12] #2572 closed, assigned to zh794390558

[2022-10-27 03:13] #2577 closed, assigned to zh794390558

[2022-10-27 03:58] liangwq commented on #2583
![image](https://user-images.githubusercontent.com/9170648/198187908-b7ae153b-1bb2-4284-a2e0-277c6d3149d2.png)
单条数据finetune，抽特征部分好像出问题了
这个要怎么解决

[2022-10-27 07:10] jannicaTan commented on #2010
您好，我最近将自己的数据集扩充到了14000条，并进行了过滤整理，去除了空白文本。
目前已经解决一直重复同一句的问题了
我参考了asr finetune的问题回答，替换词表，然后将ted_en_zh的模型通过替换的方式替换为0.pdparams进行训练
但是遇到了以下问题：
1.我的loss前期收敛还挺快的，但是收敛到loss=33的时候就会开始小幅震荡不再有大的变化，大概30个epoch左右就会震荡然后不变。小白感觉是过拟合，请问除了增加数据集还有什么好的防止过拟合让它收敛的办法吗？主要查看哪个文件呢？尝试修改一些超参数没有什么明显变化
2.我将ASR的结果也进行了输出，对比发现有的时候ASR完全符合目标转录文本，但是翻译语句对不上目标翻译文本。并且翻译出错的句子是能够在训练集中找到原句的，感觉它并不是按单词去翻译的，而是整句直接找关系最相关的去翻译。
3.想问一下：这里out的`in_

[2022-10-27 07:17] jannicaTan commented on #2010
您好，我最近将自己的数据集问题编排到了 14000 条，并进行了过滤整理，删除了空白文本。
目前解决了hyp重复的问题
我根据asr-finetune的回答，替换了词表，然后将ted_en_zh的模型通过替换方式替换为0.pdparams进行了训练
但是遇到了以下问题：
 1.我的loss下降在初期还挺快的，但是收敛到loss=33的时候开始小幅度震荡，大概有 30 个epoch后震荡不变的小感觉呢。
2.我将 ASR 的结果也进行了输出，对比发现有的时候ASR与目标的识别语句完全一样，但是ST的翻译语句却和目标的翻译语句不同，而且错误的翻译语句大多能够在训练集中找到原句，感觉它并不是按照word去逐个翻译,而是找到可能性最高的一句话去输出。这是啥原因呢？
 3.想问一下：想问一下这里embedding层中的`in_features=4864`怎么计算的呢，这里预训练的时候没有对上😭
[c

[2022-10-27 08:57] guo453585719 opened #2586 "为什么使用ERNIE-SAT声音克隆，从中文生成的英文语音完全听不懂？"
您好，我正在尝试https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3_vctk/ernie_sat的声音克隆，发现使用我自己的中文语音生成的英文语音完全听不懂，和乱码一样。

我的输入是：
--old_str="除此之外，在看电影生肉时，中文字幕搭配中文原声，让你更加声临其境。"
--new_str="In addition, when watching the movie raw meat, Chinese subtitles with the Chinese original sound, let you more immersive."

我打印了synthesize_e2e.py中的with_dur_outs，并没有发现什么问题：
with_dur_outs:{'new_wav': a

[2022-10-27 08:58] guo453585719 commented on #2586
抱歉，超链接有点问题，我尝试的是https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3_vctk/ernie_sat#ernie-sat-with-aishell-3-and-vctk-dataset

[2022-10-27 09:31] zh794390558 commented on #2584
ds2有静态的，u2是动态的。
可以试试https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/speechx/examples/u2pp_ol/wenetspeech/README.md，具体看speechx里的文档。

[2022-10-27 11:07] 2022vvvtest commented on #2586
我也尝试了这个模型，输入中文语音克隆英文语音，发现生成的英文基本不对，借楼请教一下哪里出问题了。另外ERNIE-SAT可以在给出的模型上进行微调训练吗，如果可以的话大概每个音色需要多少音频

[2022-10-27 11:09] yt605155624 commented on #2586
https://github.com/PaddlePaddle/PaddleSpeech/blob/294d83da82be1a16b85d5710bcf5289f80fc791b/examples/aishell3_vctk/ernie_sat/local/synthesize_e2e.sh#L32 这个你们能跑通么，有没有可能是你们自己输入的参数有问题之类的 @guo453585719 @2022vvvtest

另外 ENIE-SAT 输入太长的新文本效果不好这是存在的，可以先用短文本试试

ERNIE-SAT 微调没有做过，肯定是可以微调的，但是多少音频无法给出经验

[2022-10-27 11:18] guo453585719 commented on #2586
感谢回复！./run.sh --stage 1 --stop-stage 1 可以正常跑通，训练没问题

[2022-10-27 19:14:10] [INFO] [trainer.py:167]  iter: 1/3918000, Rank: 0, text_mlm_loss: 5.941202, mlm_loss: 125.065460, loss: 131.006668, lr: 2.0171788261496964e-07, avg_reader_cost: 0.46887 sec, avg_batch_cost: 58.62713 sec, avg_samples: 40, avg_ips: 0.68228 sequences/sec
[2022-10-27 19:16:12] [INFO] [trainer.py:167]  iter: 2/3918000, Rank: 0,

[2022-10-27 11:21] yt605155624 commented on #2586
@guo453585719 请你仔细看我的回复，我说的不是训练

[2022-10-27 11:31] guo453585719 commented on #2586
实在不好意思，看错文件了。synthesize_e2e.sh里面的if [ ${stage} -le 1 ] && [ ${stop_stage} -ge 1 ]; 是可以跑通的，生成的wav文件也是ok的，我还尝试更换了其他new_str，也可以生成正确的英语语音。

仅仅在克隆我自己和我朋友的英文语音时遇到了上述问题。

[2022-10-27 11:33] guo453585719 commented on #2586
我尝试更换了不同的声码器，hifigan_vctk、pwgan_aishell3等，还是同样的问题

[2022-10-27 11:34] yt605155624 commented on #2586
因为 synthesize_e2e.sh 里面的音频是训练集里面的，而你自己的声音不在训练集里，所以可能效果不好

[2022-10-27 11:45] guo453585719 commented on #2586
emmmm，我自己的声音不在训练集里会导致克隆的音色不相似，这个我理解，我不太明白的是为什么无法合成正常的语音，现在合成出的英文语音完成听不出来任何单词，只是一些无意义音节的组合。而且很诡异的是，英到中的克隆是ok的，虽然音色不太像，但合成的中文语音质量很不错

[2022-10-27 11:49] yt605155624 commented on #2586
我没有做过相关尝试，可以通过以下方式进行 debug
1. 尝试输入较短的句子，因为长句效果不好符合预期
2. 打印输入的句子的音素对不对
3. 检查 phone_id_map.txt 是否正确，即输入给模型的 phone_id 和所需的音素是否真的匹配

[2022-10-27 11:51] guo453585719 commented on #2586
好的，非常感谢你的建议，我尝试下(^o^)／

[2022-10-27 12:47] 2022vvvtest commented on #2586
感谢回复！ERNIE-SAT的微调方法可以参考其它模型的教程进行（比如TTS3对multi-speaker数据进行微调），还是说需要自行修改ERNIE-SAT下train.sh里的代码进行微调

[2022-10-27 14:59] yt605155624 commented on #2586
@2022vvvtest 可以参考tts3的，train.sh 不用改吧，一般是对自己的数据预处理一下

[2022-10-27 23:59] HandsLing commented on #2196
@yt605155624

[2022-10-28 01:43] treya-lin opened #2589 "speech_web的web_client前端启动失败"
Hi I have followed the instructions in https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/speech_web and installed npm, nodejs and yarn.  I started the voice cloning service at the speech server end, and it worked fine with API, but I failed to start it at the web client end

[code]

Is there any step missing?

[2022-10-28 02:41] iftaken commented on #2589
Make sure you have run `yarn install` to install dependencies
[code]
if that doesn't work, you can try installing vite separately

[code]

[2022-10-28 08:16] lucasjinreal commented on #1283
@yt605155624 请教一下，为什么有了g2pw 就不需要多因子预测了，比如下面的句子能预测对马：

[code]

[2022-10-28 13:00] binbinxue opened #2592 "TTS英语g2p转换的问题"
## General Question

在你们群里面问过, 英语语料训练数据用到MFA的话用english_us_arpa的g2p产生的phoneme set和front end用g2p_en的phoneme set有区别, g2p_en有额外的'UW'. 还有一个问题就是，MFA对text的处理和g2p_en处理不一样，同样的词，没有多音的词，MFA产生的phonemes和g2p_en产生的phonemes不一样。它们对于punctuation的处理也不一样。比如 I'm 的话g2p_en会把它分成 I am两个词来产生phonemes, 而MFA不会。还有括号，以及其他punctuations
另外，你们的代码用MFA 1.x记得是假设phoneme sequence前后都会有silence, MFA 2.x不一定会产生leading/trailing silences. 我试了一下

[2022-10-28 13:03] binbinxue opened #2593 "语音log mel和MFA提取的phone durations总和的frames相差问题"
## General Question

我对语音做了切分和停顿的各种处理，然后用MFA 2.X提取了durations, 我对比了所有处理过后语音的duration和MFA durations总和，误差在1e-3 秒以下(1ms以下). 考虑到hop window用的是12.5ms这应该没有问题，因为MFA的TG文件只到小数点第二三位, log mel提取后frames数和phone durations用librosa.time_to_frames转换后的frames数有时候会差1个frame. log mel提取是根据你们那个script提取的，用到librosa.stft加上center padding. 然后librosa.time_to_frames用到flooring方程，我看了你们VTuberTalk那个repo, 对此的处理是把两者相差加进去，想问下你们paddlespee

[2022-10-28 13:09] binbinxue commented on #2443
可能是MFA 2.x，没用过MFA 1.x， MFA 2.x对于包含在各种括号里面的英语text会直接replace成spn. 比如this is a (special and happy and blah blah) day. MFA 2.x对此产生的word duration 会对应 this is a spn day.

[2022-10-28 14:48] binbinxue commented on #2593
https://librosa.org/doc/main/generated/librosa.stft.html
librosa.stft里面, center和padding_mode的描述，所以fft的window从开头就因为reflection padding位移了半个frame, 然后librosa.time_to_frame因为用到floor的function, 会累积超过1frame的rounding difference, 这两个总体会造成2个frame的差别，而且是因为累积的，映射到每个phoneme上面会造成一个sequence里面一些phoneme的duration有1个或者2个frame的位移。当然把差别加到最后那个phoneme duration是可以跑通，但是这样不会造成质量问题吗?

[2022-10-29 14:20] yt605155624 commented on #2592
PaddleSpeech 重点不在英文合成，所以没有过多关注英文 g2p，如果有什么可以改进的地方欢迎提交 pr

[2022-10-29 14:27] yt605155624 commented on #2593
感觉你的前提是认为 MFA 的结果一定足够准确而且 1 ~ 2 frame 的位移对语音合成一定重要，但是需要思考：
1. MFA 的结果就一定那么准确嘛？-> 我没做过 ASR 我不好说
2. 1 ~ 2 frame 的位移对语音合成一定重要嘛？-> 我用过只有音频没有文本的数据来做语音合成，文本是通过 ASR 获取的，ASR 获取后的文本有很多错，但是人力有限不可能全部精标，这种情况下连文本都不一定对，遑论 1 ~ 2 frame 的误差了

当然这如果一定想知道这种处理是否会造成质量问题，可以做些对比实验，欢迎反馈结果 + 提交 pr

[2022-10-30 02:39] yunqi777 opened #2599 "gpu内存不够报错【已解决】"
【已解决】
终端输入nvidia-smi查看cuda版本
参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html
选择对应cuda版本的paddle
【原题】
数据集有四千多条数据，但是之前五千多条的时候没有报错，为什么会这样呢？该怎么办？
![Snipaste_2022-10-30_10-36-00](https://user-images.githubusercontent.com/110005064/198860038-980cf8ef-e9fe-4e43-b5f1-b37b892e18fd.png)

[2022-10-31 05:44] yt605155624 commented on #2599
请检查 GPU 显存是否正确释放，和数据集总数无关，和 batch_size 有挂

[2022-10-31 09:53] binbinxue commented on #2592
好的，我明白，谢谢！

[2022-10-31 10:00] binbinxue commented on #2593
我记得fast speech 2s的文章里面说他们用teacher model训练出来的duration不如mfa的好, MFA的ASR用到了kaldi, 我看像speedyspeech那样用attention提取duration应该没有MFA的准确。

1,2个frame的位移是累积的，有可能从第一二个phoneme就开始偏移，有些phoneme它本身只有几个frame的duration. 感觉会影响到。 只有音频的情况下当然用ASR的误差就基本不用考虑。

就好奇问问，谢谢！

[2022-10-31 10:00] #2593 closed, assigned to yt605155624

[2022-10-31 10:00] #2592 closed, assigned to nobody

[2022-10-31 13:00] yt605155624 opened #2601 "[TTS]25cm 无法正常合成"
目前 TN 没有处理英文单位的情况
目前仅处理了摄氏度，参考：https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/t2s/frontend/zh_normalization/quantifier.py
英文单位与汉字映射情况参考：https://github.com/NVIDIA/NeMo/blob/main/nemo_text_processing/text_normalization/zh/data/measure/units_en.tsv

[2022-10-31 13:01] yt605155624 commented on #2196
- https://github.com/PaddlePaddle/PaddleSpeech/issues/2601 -> fixed by https://github.com/PaddlePaddle/PaddleSpeech/pull/2629

[2022-10-31 13:03] yt605155624 commented on #2196
@HandsLing 这个问题你在 pypinyin 的 issue 搜一下，和版本有关，他们做了不兼容升级，我们 pypinyin 的依赖参考 https://github.com/PaddlePaddle/PaddleSpeech/blob/8ea289a2517aa842ff4c7797f382832cfe13b187/setup.py#L55

[2022-11-01 01:28] Tian14267 opened #2602 "[S2T] U2模型：大数据训练会出错"
大神你好。我在使用大数据量训练U2模型的时候，会有相应的报错（报错信息没保存下来）。大概意思就是内存问题。我的训练数据集月1700万数据量，总时长2万小时。数据大小超过1T。这个时候数据全部转出mel加载到`DataLoader`是加不进去的。请问这个地方能进行一个优化吗？谢谢大神。

[2022-11-01 02:04] HandsLing opened #2603 "暖和 搅和 这个“和”字发音huo，没有后面的数字"

[2022-11-01 02:08] dzcmingdi opened #2604 "请问fastspeech2声学模型中的while算子是在fastspeech2代码中哪个模块呢？"
## General Question

我想了解下while算子里面的具体内容，但是我在代码中找不到while算子。

![截图 2022-11-01 10-08-13](https://user-images.githubusercontent.com/37565801/199143162-6ffb51a0-e7ed-4487-96c9-d6ec717418e6.png)

[2022-11-01 02:14] yt605155624 commented on #2604
导出的静态模型是 while 不代表动态图代码也是用 while 写的，位置是 https://github.com/PaddlePaddle/PaddleSpeech/blob/8ea289a2517aa842ff4c7797f382832cfe13b187/paddlespeech/t2s/modules/predictor/length_regulator.py#L85 你可以对比上下的算子看看

[2022-11-01 02:21] yt605155624 commented on #2603
感谢反馈，这确实影响到了正确的发音，会尽快修复

[2022-11-01 02:22] yt605155624 commented on #2196
- https://github.com/PaddlePaddle/PaddleSpeech/issues/2603 -> fixed by https://github.com/PaddlePaddle/PaddleSpeech/pull/2606

[2022-11-01 02:28] yt605155624 commented on #2566
@arashrun 我们有全角半角的映射表，可以尝试下 https://github.com/PaddlePaddle/PaddleSpeech/blob/8ea289a2517aa842ff4c7797f382832cfe13b187/paddlespeech/t2s/frontend/zh_normalization/constants.py#L19

[2022-11-01 03:08] wayneck opened #2605 "in paddlespeech/cls/exps/panns/deploy/predict.py from paddleaudio.features import melspectrogram error"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).
In paddlespeech/cls/exps/panns/deploy/predict.py  file
`import numpy as np
from paddle import inference
from paddleaudio.backends import load as load_audio
from paddleaudio.datasets import ESC50
**from paddleaudio.features import melspectrogram**
from scipy.special import softmax

[2022-11-01 05:16] yt605155624 commented on #2605
please use `paddleaudio==1.0.1` then the script before change can work

by the way, https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/cls/exps/panns/deploy/predict.py we are using `paddlespeech.audio` now, which version of PaddleSpeech script are you using now?

[2022-11-01 05:19] yunqi777 commented on #2599
请问如何检查显存释放呢？调小了batch_size还是会显存突然增高

[2022-11-01 05:51] #2603 closed, assigned to yt605155624

[2022-11-01 05:52] yt605155624 commented on #2603
@HandsLing 已修复，感谢反馈

[2022-11-01 06:04] LiuChiachi commented on #2540
Paddle-Lite

[2022-11-01 07:16] oyb1125 opened #2607 "[TTS]一键微调功能问题"
使用默认示例点击一键微调，终端微调完成，但是界面还是一直在微调中，前端控制台也有报错
![2022-11-01 15-15-23屏幕截图](https://user-images.githubusercontent.com/62881198/199179417-929a9b62-12b0-496f-89cc-0bcda9e19e8c.png)

[2022-11-01 07:30] iftaken commented on #2607
从后端的结果来看，并没有运行成功，如果正常开始 finetune 的话会有不同阶段的展示，比如进入训练流程，会显示step，loss等信息，请先检查环境配置是否配置正确，比如预训练模型是否下载，相应的文件是否放在正确，环境中是否有GPU环境。 后台中 finetune 使用的 cmd 执行命令行，无法显示详细的报错信息，你可以后端打印的命令单独在命令行中执行查看详细的报错信息。

你也可以在 Aistudio 中体验，建议使用V100GPU 体验
【PaddleSpeech进阶】PaddleSpeech小样本合成方案体验：https://aistudio.baidu.com/aistudio/projectdetail/4573549?sUid=2470186&shared=1&ts=1667287672428

对比这个项目中 `env.sh` 检查自己的环境是否配置正确

[2022-11-01 07:37] new786786 opened #2608 "关于数据集"
asr 训练用的数据集同一个人数据集有200个小时的
这样训练效果怎么样？

[2022-11-01 08:42] wayneck commented on #2605
I also use paddlespeech.audio
git log is
`
commit 4b3f6c615ebb77a3577e552d34339a85e3de73b5 (HEAD -> develop, origin/develop, origin/HEAD)
Merge: 38eb3361 b1ef4349
Author: Hui Zhang <zhtclz@foxmail.com>
Date:   Wed May 18 15:49:09 2022 +0800

    Merge pull request #1913 from Honei/timelimit

    [asr][server]add asr time limt configuration

commit 38eb3361f41c0b6323644dd72734e1723aa85f4b
Merge: fb

[2022-11-01 08:47] wayneck commented on #2605
I also use paddlespeech.audio

[2022-11-01 08:54] yt605155624 commented on #2605
oh, the commit is too old for now, so `paddleaudio==1.0.1` is well

[2022-11-01 08:55] #2605 closed, assigned to zh794390558

[2022-11-01 09:17] yt605155624 commented on #2599
1. 请问如何检查显存释放呢？ -> 训练结束后 nvidia-smi 查看显存是否还被占用
2. 调小了batch_size还是会显存突然增高 -> 看看是不是个别数据长度明显比其他的长
3. 可以尝试加一些 FLAGS https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/flags/memory_cn.html#flags-allocator-strategy

[2022-11-01 09:43] #2607 closed, assigned to iftaken

[2022-11-01 09:54] idreamerhx commented on #2599
我这边也有一个类似问题，借楼麻烦看下。  cpu运行正常，没有在其他gpu上测试过。显卡是rtx3090
I have a same problem。 cpu runs ok but not tested on other gpus. the graphic card is rtx3090/.

谢谢
thanks

(pyvenv-paddlespeech) (ubu20x86-cuda118-paddle) root@1:/opt/sound# paddlespeech asr --model conformer_wenetspeech --lang zh --input zh.wav
/opt/pyvenv-paddlespeech/lib/python3.8/site-packages/librosa/core/constantq.py:1059: DeprecationWarni

[2022-11-01 09:59] idreamerhx commented on #2599
测试了同样环境的nlp  cv 等模型，gpu是可以正常运行的。看起来是语音相关的某些算子的问题

[2022-11-01 10:05] yunqi777 opened #2609 "文件下载到电脑失败"
我从aistudio上下载我训练好的模型，但是下载一会儿就会断开
我不是打包下载，而是把文件转为压缩包之后再下载
请问各位大佬有没有什么更好的办法能稳定下载呢？

[2022-11-01 10:06] idreamerhx commented on #2599
/opt/pyvenv-paddlespeech/lib/python3.8/site-packages/paddle/fluid/layers/tensor.py:1505

############### Tensor(shape=[1], dtype=float32, place=Place(cpu), stop_gradient=True,
       [0.]) Tensor(shape=[1], dtype=float32, place=Place(cpu), stop_gradient=True,
       [5000.]) Tensor(shape=[1], dtype=float32, place=Place(cpu), stop_gradient=True,
       [1.])
############### Tensor(shape=[1], dtype=

[2022-11-01 10:19] dzcmingdi commented on #2604
感谢感谢

[2022-11-01 10:28] yt605155624 commented on #2599
@idreamerhx 你这里报错需要这么多的显存肯定是不正常的
[code]
我注意到你的 paddle-gpu 版本和 CUDA 版本不匹配，你的 CUDA 很新但是你安装的是 10.2 版本 CUDA 的 paddle，请安装对应 CUDA 版本(11.6)的 paddle，参考 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html
[code]

[2022-11-01 10:34] #2604 closed, assigned to yt605155624

[2022-11-01 10:36] idreamerhx commented on #2599
File "/opt/pyvenv-paddlespeech/lib/python3.8/site-packages/paddlespeech/s2t/modules/mask.py", line 61, in make_pad_mask

max_len = int(lengths.max())

cpu:
############### 498
gpu:
############### 4703889136186910055

我换成了
max_len = lengths.item()
看起来后面的代码还有问题。

[2022-11-01 10:40] idreamerhx commented on #2599
感谢。 是版本问题 我更新了paddlepaddle-gpu   post11.6 已经可以用了.
感谢楼主

[2022-11-01 10:59] yunqi777 commented on #2599
我是cuda11.2，原先是paddle2.2.2版本，现在换成了2.3.2，但是产生新的报错
![image](https://user-images.githubusercontent.com/110005064/199218542-7a2ec359-4da0-4620-b8a8-2425ebd6d54b.png)

[2022-11-01 11:08] idreamerhx commented on #2599
是的，我换成 post11.6就可以了。
如果能排除cuda环境问题，建议先定位到paddle代码吧

[2022-11-01 11:25] yunqi777 commented on #2599
@yt605155624 多谢大佬，我修改了paddle的版本，现在已经能正常运行了

[2022-11-01 11:59] zh794390558 commented on #2602
尝试减小dataloader的线程。gpu不够的话调小batchsize。
或者参考 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/wenetspeech/asr1 脚本

[2022-11-01 12:00] zh794390558 commented on #2608
效果一般，参考下aishell吧

[2022-11-01 15:13] #2599 closed, assigned to yt605155624

[2022-11-01 15:17] #2233 closed, assigned to yt605155624, lym0302

[2022-11-01 15:17] #1944 closed, assigned to Jackwaterveg

[2022-11-02 01:15] #2580 closed, assigned to zh794390558

[2022-11-02 02:35] haoao1 opened #2611 "运行打包后的程序报ModuleNotFoundError: No module named 'framework_pb2'"

[2022-11-02 02:39] #2611 closed, assigned to nobody

[2022-11-02 03:36] linuxnms opened #2612 "请问ASR支持多个音频文件的并行处理吗？没看到例子，模型应该是支持的吧？需求是大量音频文件，想把GPU跑满。"
## General Question

[2022-11-02 03:39] yunqi777 opened #2613 "GPU又爆炸了(悲)"
cuda11.2
![image](https://user-images.githubusercontent.com/110005064/199388757-62ca4ce7-25ee-409b-a799-c066f6ce77a7.png)
时好时坏，怎么会这样呢？

[2022-11-02 04:22] yunqi777 commented on #2613
![N0K~QBSVEI2MUK)B`SA5$OO](https://user-images.githubusercontent.com/110005064/199395261-7143e244-a80d-47bf-aafc-4585ad01d603.png)

[2022-11-02 06:21] oyb1125 commented on #2612
支持 参考这个#2578

[2022-11-02 07:32] ljliu opened #2614 "[TTS] Failed to convert onnx to TensorRT"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).

If you've found a bug then please create an issue with the following information:

**Describe the bug**
failed to convert the onnx file generated by paddle2onnx to tensorRT model

**To Reproduce**
1. generator the files that paddle2onnx needed.
[code]
2. ./local/paddle2onnx.sh .

[2022-11-02 08:07] ljliu commented on #2614
the related function is expand in paddlespeech/t2s/modules/predictor/length_regulator.py

[2022-11-02 08:26] yt605155624 commented on #2614
sorry, We haven't tried to covert onnx to trt, but both onnxruntime and PaddleInference have tensorrt backend, you can try to use

[2022-11-02 08:35] yt605155624 commented on #2613
please check https://github.com/PaddlePaddle/PaddleSpeech/issues/2599#issuecomment-1298250248

[2022-11-02 14:28] longwangtang opened #2616 "win 10系统 anaconda 安装paddlespeech webrtcvad报错，vs 2022社区版已安装"
Building wheels for collected packages: webrtcvad
  Building wheel for webrtcvad (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> [19 lines of output]
      running bdist_wheel
      running build
      running build_py
      creating build
      creating build\lib.win-amd64-cpython-37
      copying webrtcv

[2022-11-02 14:49] superzhaoyy opened #2617 "ASR api接口，punc参数不生效"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).

If you've found a bug then please create an issue with the following information:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2022-11-02 15:21] superzhaoyy opened #2618 "server里application配置了text_python，程序一直hang住，无法启动"
## General Question

[2022-11-02 15:28] #2618 closed, assigned to nobody

[2022-11-02 15:36] superzhaoyy commented on #2617
<img width="944" alt="截屏2022-11-02 下午11 36 02" src="https://user-images.githubusercontent.com/8530746/199533040-0fb9cc4b-150c-4e4b-a812-28de096dd188.png">
punc参数不生效。

[2022-11-03 02:38] snailyang opened #2619 "TypeError: declarative() got an unexpected keyword argument 'property'"
## General Question

执行
 paddlespeech asr --lang zh --input zh.wav
报错
/home/PaddleSpeech/tools/venv/lib/python3.7/site-packages/librosa/core/constantq.py:1059: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `

[2022-11-03 03:07] yt605155624 commented on #2619
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2512

[2022-11-03 09:15] zh794390558 commented on #2616
建议用docker，或者搜下webrtcvad 怎么安装。

[2022-11-03 09:20] zh794390558 commented on #2602
可以提供详细的出错信息。

[2022-11-03 12:15] #2619 closed, assigned to nobody

[2022-11-03 12:32] zh794390558 commented on #2612
可以参考训练里的流程执行batch test，参考https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/aishell/asr1/local/test.sh

[2022-11-03 12:53] yt605155624 commented on #2196
"种点薄荷" 发音有问题

[2022-11-03 13:34] iftaken opened #2622 "离线语音识别的解决方案"
目前没有完整的 example，推荐 ds2 转 lite

[2022-11-03 13:35] iftaken opened #2623 "ECAPA-TDNN 动转静问题"
PaddleSpeech 提供的预训练模型 ECAPA-TDNN 动转静存在问题

[2022-11-03 13:37] iftaken opened #2624 "KWS 动转静问题"
PaddleSpeech 目前 CLI 中提供的 KWS 预训练模型动转静存在问题

[2022-11-04 03:39] fengmao31 commented on #2622
ds2 转 lite是什么？

[2022-11-04 04:24] yt605155624 commented on #2622
@fengmao31 目前语音识别模型 deepspeech2 size 比较小且走通了动转静，可以转成 PaddleLite 的模型之后部署在端上

[2022-11-04 06:10] gfhjjk commented on #2623
请问下你是如何实现ECAPA-TDNN 动转静的

[2022-11-04 09:04] cyd1123 opened #2626 "安装成功了以后，运行asr报错，其他功能正常"
## General Question

(paddle) baker@bakertop:~/PaddleSpeech$ paddlespeech asr --lang zh --input zh.wav
/home/baker/anaconda3/envs/paddle/lib/python3.7/site-packages/librosa/core/constantq.py:1059: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specificall

[2022-11-04 09:24] cyd1123 commented on #2626
在启用服务时也报下面错误，其他使用命令行进行TTS，声纹提取等操作正常

(paddle) baker@bakertop:~/PaddleSpeech$ paddlespeech_server start --config_file ./demos/speech_server/conf/application.yaml
[2022-11-04 17:20:34,308] [    INFO] - start to init the engine
[2022-11-04 17:20:34,308] [    INFO] - asr : python engine.
W1104 17:20:37.169281 504710 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API V

[2022-11-04 09:59] cyd1123 commented on #2626
对numpy降级后，还是报错

(paddle) baker@bakertop:~/PaddleSpeech$ paddlespeech asr --lang zh --input zh.wav
W1104 17:58:14.451303 514048 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.4, Runtime API Version: 10.2
W1104 17:58:14.451769 514048 gpu_resources.cc:91] device: 0, cuDNN Version: 8.6.
TypeError: declarative() got an unexpected keyword argument 'prope

[2022-11-04 11:22] yt605155624 commented on #2626
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2512

建议以后提交 issue 之前先在 issue 区搜一下报错看有没有类似的问题

[2022-11-07 02:23] #2626 closed, assigned to nobody

[2022-11-07 02:36] cyd1123 commented on #2626
非常感谢，已经解决问题

[2022-11-07 03:16] lilith-zy commented on #2609
您好，抱歉给您的使用带来不便，目前由于下载机制限制，当下载速度过低时会自动终止任务，为了保证您的文件顺利下载，建议您将文件切分为200M 大小分开下载。之后我们将尽快完善相关功能，给大家带来更好的下载体验。

[2022-11-07 08:32] 1nlplearner opened #2627 "paddlespeech安装报错"
docker镜像    paddlecloud/paddlespeech:develop-gpu-cuda10.2-cudnn7-fb4d25

操作系统
NAME="Ubuntu"
VERSION="16.04.7 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.7 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"
VERSION_CODENAME=xenial
UBUNTU_CODENAME=xenial

paddle版本
paddlepaddle-g

[2022-11-07 10:05] EzrealoveQXY commented on #440
![633a5c732d603ab820cb35260340d54](https://user-images.githubusercontent.com/49974992/200282975-9d065451-e730-46df-ad48-64f1b9159a21.jpg)
docker-compose 启动，也报这个错

[2022-11-07 12:05] zh794390558 commented on #2612
已经实现了c++ cpu的推理，可以参考 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/speechx/examples/u2pp_ol/wenetspeech/README.md

[2022-11-07 12:06] zh794390558 commented on #2627
先确保 apt 可以正常工作

[code]

[2022-11-07 12:20] zh794390558 commented on #2584
u2/u2++ asr c++部署已经完成了，可以测试下： https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/speechx/examples/u2pp_ol/wenetspeech/RESULTS.md

[2022-11-08 02:23] treya-lin opened #2632 "小样本微调方案的采样率问题"
## 小样本微调方案的采样率问题

你好，我在学习这个文档来进行小样本微调：https://github.com/PaddlePaddle/PaddleSpeech/tree/7cc1d66863a48b50c2430059c8b84060d84b11a3/examples/other/tts_finetune/tts3
但是我对于微调样本的音频要求有点困惑。我看到提供的csmsc_mini的音频是48000Hz，ljspeech_mini的音频是22050Hz，SSB0005_mini是44100Hz。然后我看到get_duration.py和extract_feature.py里面的采样率写死是24000Hz。请问是底层的代码中已经预先将音频都上采样/降采样到24000Hz来统一处理吗？

我另外准备自己数据时对采样率需要有什么讲究吗？16kHz是不是会自动上采变成24k不会报错，只是

[2022-11-08 03:17] yt605155624 commented on #2632
在 default.yaml 里面写死了采样率是 24kHz, 16kHz是会自动上采变成24k不会报错，效果也不会差很多，建议自己的数据最好是采样率大于 24kHz

[2022-11-09 01:19] 2017040264 opened #2635 "手撸ASR"
## General Question

有没有从0手撸ASR的例子呀，感觉官方给的例子都是用的套件，原理还不太明白，想找个手撸的例子看看

[2022-11-09 04:15] #2614 closed, assigned to yt605155624

[2022-11-09 06:45] #2601 closed, assigned to yt605155624

[2022-11-09 10:54] fengmao31 opened #2638 "PaddleSpeech是否支持选择立体声声道"
我查看文档和代码，仅仅发现PaddleSpeech支持sample_rate，并没有发现PaddleSpeech有设置单声道和立体声的地方。

[2022-11-10 02:33] zh794390558 commented on #2635
后面PM会整理些文档。

[2022-11-10 02:35] zh794390558 commented on #2638
支持单通道，双通道也只会有0通道。

[2022-11-10 10:58] iftaken commented on #2635
可以参考[《飞桨PaddleSpeech语音技术课程》](https://aistudio.baidu.com/aistudio/course/introduce/25130?directly=1&shared=1)语音识别部分

[2022-11-11 02:45] liddk opened #2641 "[S2T]ASR，使用官方脚本训练，存在内存泄漏"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).

If you've found a bug then please create an issue with the following information:

**Describe the bug**
参考PPASR aishell1，https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell/asr1在V100上训练，使用示例脚本4卡训练，监控到内存一直在增长。
使用API打印内存占用也能监控到内存不断增长。

**To Reproduce**
Steps

[2022-11-11 03:49] fengmao31 opened #2642 "PaddleSpeech是否支持16-bit pcm编码输出？"
观察到PaddleSpeech是32-bit pcm的wav编码。
PaddleSpeech是否支持16-bit pcm编码输出？
或者有什么方法能够转换32-bit pcm输出到16-bit pcm输出？

[2022-11-11 05:45] yt605155624 commented on #2642
请问你所谓的 32 bit 是怎么观察出来的，我们 TTS 生成的音频信息如下：
[code]
[code]
是 16 bit 的

[2022-11-11 10:39] zh794390558 commented on #2641
应该不是泄露问题，看下paddle的内存策略吧

[2022-11-12 07:57] dayDreamer5920 opened #2644 "AssertionError: choose a window size 400 that is [2, 1]"
代码：
import paddle
from paddlespeech.kws.models import MDTC
from paddlespeech.kws.models.mdtc import KWSModel

backbone = MDTC(
    stack_num=3,
    stack_size=4,
    in_channels=80,
    res_channels=32,
    kernel_size=5,
)
model = KWSModel(backbone=backbone, num_keywords=1)
kws_checkpoint = './kws.pdparams'
model.set_state_dict(paddle.load(kws_checkpoint))
model.eval()

import paddleaudio
from pa

[2022-11-12 13:26] 364378743 opened #2645 "paddlespeech-ctcdecoders 这个包的编译步骤有提供吗"
在arm64环境没有找到相关的依赖包
1.paddlespeech-ctcdecoders支持在arm64下编译后的正常使用吗？
2.如果支持那么编译的步骤有提供相关的文档吗？环境依赖，编译步骤等...

[2022-11-14 02:26] yt605155624 commented on #2645
参考 https://github.com/PaddlePaddle/PaddleSpeech/discussions/2148

[2022-11-14 02:35] yt605155624 commented on #2644
应该是你的音频长度太小了，小于了 window size, 可以自己在源码看下报错，应该是这个
https://github.com/PaddlePaddle/PaddleSpeech/blob/bb7ff288a95a3733828021e0a53e04cf7e2eda28/paddlespeech/audio/compliance/kaldi.py#L125

[2022-11-14 03:24] lanyuer opened #2646 "已知文本的话，语音比对和时间戳对齐有示例吗？"
## General Question

[2022-11-14 06:20] panxin801 opened #2648 "VITS 流式推理改进"
您好 ，请问 VITS如果想做流式模型训练和推理，需要改哪几个模块？ 谢谢您的回复

[2022-11-14 06:40] yt605155624 commented on #2648
你好，暂时没有相关经验，可能需要您自己调研下，欢迎共享

[2022-11-14 09:44] fjcondy opened #2649 "[TTS]流式的TTS是否可以支持8000Hz 16bit的音频输出"
流式的TTS是否可以支持8000Hz 16bit的音频输出

[2022-11-14 10:25] yt605155624 commented on #2649
不支持，现在的 TTS 模型都是 24kHz 或者 22.05kHz 的，可以自己训练个 8kHz 的模型部署到流式 TTS 服务里

[2022-11-15 02:33] zh794390558 commented on #2646
参看 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/other/mfa/README.md

[2022-11-15 05:52] chenheshan commented on #2071
这个问题有解决了吗？

[2022-11-15 09:13] #2583 closed, assigned to nobody

[2022-11-15 09:14] #2586 closed, assigned to yt605155624

[2022-11-15 09:14] #2608 closed, assigned to zh794390558

[2022-11-15 09:29] JJun-Guo opened #2652 "声纹识别模型的多卡训练"
切请问声纹识别模型ECAPA在进行多卡训练时（比如2卡），学习速率和batch_size 如何调整呢？保持原始吗？

[2022-11-15 09:40] kslz opened #2653 "[TTS]wavernn合成报错"
使用fastspeech2和wavernn进行合成，命令如下
[code]

经测试 fs2+pwg 运行正常，使用下面的方式调用 fs2+wavernn 合成成功，唯独使用synthesize_e2e.py合成失败
[code]

[2022-11-15 09:52] kslz commented on #2653
报错截图
![image](https://user-images.githubusercontent.com/54951765/201888121-40a6c522-9b27-49a9-810a-8c25873dd0ca.png)

[code]

[2022-11-15 10:05] yt605155624 commented on #2653
synthesize_e2e.py 走了动转静流程，可能是最新版的框架有不匹配的地方，可以尝试注释动转静部分
https://github.com/PaddlePaddle/PaddleSpeech/blob/f110928195edf5a078f5f621460ac0dcd9e0cc18/examples/csmsc/tts3/local/synthesize_e2e.sh#L113

[2022-11-15 10:05] yt605155624 commented on #2652
如用户群回复，保持一致即可

[2022-11-15 10:05] #2652 closed, assigned to nobody

[2022-11-15 10:14] kslz commented on #2653
请问是

请问是这里的函数要换成别的吗
![image](https://user-images.githubusercontent.com/54951765/201893092-fb9183a0-70a1-4ff7-bc4a-5f25bc9f5fa2.png)
https://github.com/PaddlePaddle/PaddleSpeech/blob/f110928195edf5a078f5f621460ac0dcd9e0cc18/paddlespeech/t2s/exps/synthesize_e2e.py#L136

[2022-11-15 10:16] yt605155624 commented on #2653
注释掉这行就行  --inference_dir=${train_output_path}/inference 别的不用改，这行上面那行后面的 "\" 可能也要注释掉

[2022-11-15 10:19] kslz commented on #2653
这是我的命令 没加这个参数
[code]

[2022-11-15 10:34] yt605155624 commented on #2653
那很奇怪，除了这一行，synthesize_e2e 和 [TTS cli](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/cli/tts/infer.py) 应该没什么区别
https://github.com/PaddlePaddle/PaddleSpeech/blob/f110928195edf5a078f5f621460ac0dcd9e0cc18/paddlespeech/t2s/exps/synthesize_e2e.py#L77

你自己 debug 下这行吧，我暂时没时间看

[code]

[2022-11-15 11:10] kslz commented on #2653
我好像发现问题了，是因为我的合成句子不一样，报错的合成句子是【第一章。。。 】我为了增加停顿加了许多标点，wavernn在这种情况下会报错

[2022-11-15 11:11] kslz commented on #2653
别的声码器都能应付这种情况，有什么建议么...

[2022-11-15 11:48] binbinxue opened #2654 "speedyspeech batchnorm的问题"
speedyspeech用到batchnorm, 模型的输入是padded phoneme sequence, 如果dataloader没有用到bucketization的话，sample的phoneme sequence length相差会很大。以下的batch norm没有考虑到padding，虽然不影响跑通代码，但是这应该会影响到模型收敛和模型质量吧？
https://github.com/PaddlePaddle/PaddleSpeech/blob/f110928195edf5a078f5f621460ac0dcd9e0cc18/paddlespeech/t2s/models/speedyspeech/speedyspeech.py#L168

[2022-11-15 12:05] yt605155624 commented on #2654
可以把 sampler 换成 ERNIE-SAT 的 sampler，目的是保持一个 batch 里面的长度尽可能一致（ERNIE-SAT 涉及到 mask 操作，batch 内长度不一致会影响效果）

做法在生成 metadata.jsonl 的时候先按照特征长度排序（我们现在别的模型都是按照 utt_id 排的） , 这样整个 epoch 在不 shuffle 的前提下就是按照特征长度排序的：https://github.com/PaddlePaddle/PaddleSpeech/blob/f110928195edf5a078f5f621460ac0dcd9e0cc18/paddlespeech/t2s/exps/ernie_sat/normalize.py#L121  然后把 sampler 换成 ERNIE-SAT 的 sampler
https://github.com/Padd

[2022-11-15 12:09] binbinxue commented on #2654
是的，我知道可以这样，我的意思是，按目前的sampling, batch里面的sample sequence length会不一致，然后用一般的batchnorm的话，如果没有考虑到padding, 那就会造成batchnorm计算的statistics不反应真实的statistics. 因为batchnorm会用到所有的time step, 而如果有些sample的time step很小的话，batchnorm事实上是用到了padding的statistics, 就会不准确，对吧？

[2022-11-15 12:10] binbinxue commented on #2654
好的，如果我做了对比后会把结果放这里

[2022-11-15 12:10] #2654 closed, assigned to yt605155624

[2022-11-16 02:41] oyb1125 opened #2657 "在windows下模型下载的默认路径可以更改吗？"
## General Question

[2022-11-16 02:52] yt605155624 commented on #2657
https://github.com/PaddlePaddle/PaddleSpeech/blob/945c3ba606d6b315bc67282f170d9a76f728938c/paddlespeech/utils/env.py#L44

[2022-11-16 02:59] oyb1125 commented on #2657
好的，知道了

[2022-11-16 03:31] #2657 closed, assigned to nobody

[2022-11-16 09:45] kslz commented on #2653
如果以后有好解决方案记得踢我，最好像wavernn一样好，又像pwgan一样快

[2022-11-16 10:32] #2649 closed, assigned to yt605155624

[2022-11-16 10:32] #2648 closed, assigned to yt605155624

[2022-11-16 13:27] oyb1125 opened #2659 "[TTS]aishell3/tts3训练时报错"
执行./run.sh --stage 1 --stop-stage 1时报错
TypeError: __init__() got an unexpected keyword argument 'enable_spk_cls'
这是什么原因

[2022-11-17 00:34] chenjingchun commented on #1397
请问win系统pip install paddlespeech -i https://pypi.tuna.tsinghua.edu.cn/simple安装成功之后，怎样开启webapi服务？
（就是使用POST请求/paddlespeech/tts这种的服务）

[2022-11-17 01:28] #2659 closed, assigned to yt605155624

[2022-11-17 01:46] EzrealoveQXY commented on #1620
![image](https://user-images.githubusercontent.com/49974992/202333825-35d0df74-1c6b-40c1-b97e-24fd88d2e47b.png)
这个有使用demo吗

[2022-11-17 03:01] yt605155624 commented on #2659
@oyb1125 已经解决了嘛？

[2022-11-17 03:03] yt605155624 commented on #2654
@binbinxue 有什么可以考虑到 padding 的 batchnorm 的算法可以参考吗？

[2022-11-17 08:07] oyb1125 commented on #2659
解决了

[2022-11-17 09:08] guo453585719 opened #2662 "如何实现指定说话人音色的方言TTS？"
请问下各位大佬，该怎么实现指定说话人音色的方言TTS？

我尝试了微调tts3的方案，已经实现了说话人A的音色，接下来我该怎么实现让A说出方言呢？是不是直接继续用方言数据集进行微调？方言数据集是由其他说话人录制的，会干扰A的音色吗？

[2022-11-17 11:08] yt605155624 commented on #2662
会，需要 A 说方言的数据才行，否则 finetune 出来的是方言 spk 的音色

[2022-11-17 11:26] guo453585719 commented on #2662
感谢解答！我是否可以通过指定不同的repalce spk来实现我想要的效果呢？比如说第一次finetune将A的音色替换到spk 0，然后换方言数据集继续finetune，此时指定替换spk 1。finetune完成后，fs2应该学会了说方言，然后我在合成声音的时候指定spk 0进行合成，这样可以得到A音色的方言声音。我这个理解正确吗？

[2022-11-17 11:33] yt605155624 commented on #2662
根据之前开发者的反馈，指定 spk_id finetune 确实会影响到别的音色，你可以试下~ 效果我不敢保证 https://github.com/PaddlePaddle/PaddleSpeech/discussions/1842

[2022-11-17 11:36] guo453585719 commented on #2662
好的，非常感谢~

[2022-11-17 16:26] mogosmart commented on #2196
model_alias = {
    # acoustic model
    "fastspeech2": "paddlespeech.t2s.models.fastspeech2:**FastSpeech2**",
    "fastspeech2_inference": "paddlespeech.t2s.models.fastspeech2:**StyleFastSpeech2Inference**",
    # voc
    "pwgan":
    "paddlespeech.t2s.models.parallel_wavegan:**PWGGenerator**",
    "pwgan_inference":
    "paddlespeech.t2s.models.parallel_wavegan:**PWGInference**",
}
用的自定义训练声音里的fa

[2022-11-17 18:52] binbinxue commented on #2654
我只知道tensorflow的layernorm是可以接受mask的参数，可以reshape后用layernorm加mask做了norm后再换回来

[2022-11-18 03:13] janelu9 opened #2665 "[S2T]用confomer跑分类时半截报错，用的是asr1_chunk_conformer_u2pp_wenetspeech_ckpt_1.1.3的encoder"
paddle 2.4rc
paddlespeech是develop版本
cuda11.6
cudnn是8.4
ubuntu20.04
py38
![68600962845acd10a483d8879148fe8](https://user-images.githubusercontent.com/24219258/202608492-30f4603b-4bf8-43a3-9405-75c9855f4f64.jpg)

[2022-11-18 03:34] lanyuer commented on #2646
谢谢

[2022-11-18 03:35] #2646 closed, assigned to zh794390558

[2022-11-18 03:59] zh794390558 commented on #2665
<img width="815" alt="image" src="https://user-images.githubusercontent.com/3038472/202613778-f6c47127-46cf-403e-9ff1-70a3798c7829.png">

环境问题

[2022-11-18 04:16] ChiNoel-osu commented on #2150
Windows 10 21H2, Python 3.10
安装[此Demo](https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/speech_web)时，按照教程，进行到启动后端服务一节时报错，教程中提到的和没提到的requirements都(应该)装好了。重头开始走教程也是一样的结果。
`PS D:\Coding\PaddleSpeech\demos\speech_web\speech_server> python main.py --port 8010`

  File "D:\Coding\PaddleSpeech\demos\speech_web\speech_server\main.py", line 21, in <module>
    from src.robot import Robot
  F

[2022-11-18 07:02] fengmao31 commented on #2642
![image](https://user-images.githubusercontent.com/19343842/202640971-82c16598-120a-4a58-bd3c-af9233183b1c.png)

我用的[tacotron2_quan.tflite](https://github.com/Jackiexiao/zhtts/blob/main/zhtts/asset/tacotron2_quan.tflite)。

[2022-11-18 07:03] janelu9 commented on #2665
拉了paddle官方cuda11.2镜像一样报这个问题 到第15个epoch就报错

[2022-11-18 07:05] janelu9 commented on #2665
训练别的模型没遇到过这种问题

[2022-11-18 07:14] fengmao31 commented on #2638
谢谢你。

[2022-11-18 07:14] #2638 closed, assigned to zh794390558

[2022-11-18 07:20] #2632 closed, assigned to yt605155624

[2022-11-18 07:24] fengmao31 commented on #2642
我用的模型应该太老了。

我查看过了，模型输出就是32bit。我已经在输出处手动添加代码转了16bit。现在可以使用了。

谢谢。

[2022-11-18 07:25] yt605155624 commented on #2487
@QShiX @yazone TTS 模型转 Paddle-Lite 算子缺失和报错已经解决
- https://github.com/PaddlePaddle/Paddle-Lite/pull/9587
- https://github.com/PaddlePaddle/Paddle-Lite/pull/9706

可尝试自行编译 develop 版本的 paddlelite 转换模型

[2022-11-18 07:31] yt605155624 opened #2668 "Add Andorid demo for TTS"
refer to: https://github.com/PaddlePaddle/Paddle-Lite-Demo

[2022-11-18 08:19] yt605155624 commented on #2196
@mogosmart 没有关系，使用自己训练好的模型可以参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/2225

[2022-11-18 08:24] yt605155624 commented on #1283
@jinfagang 因为 g2pw 就是一种基于 bert 的多音字预测模型

[2022-11-18 08:24] #1283 closed, assigned to yt605155624

[2022-11-18 08:26] yt605155624 commented on #2642
你用的不是 PaddleSpeech 的模型 ：）

[2022-11-18 08:26] #2642 closed, assigned to nobody

[2022-11-18 08:54] liddk commented on #2641
初步判断可能和PaddleSpeech/paddlespeech/s2t/__init__.py:175，broadcast_to入参为tensor有关。
![image](https://user-images.githubusercontent.com/8046546/202661210-217ba261-3965-4cb9-b2bf-589008e48fba.png)
修改之后内存泄漏减少，但还是有增长，可能还有其他地方有类似问题
@zh794390558

[2022-11-18 08:56] zh794390558 commented on #2665
这种环境问题可以去paddle中提问。

[2022-11-18 11:34] yt605155624 opened #2669 "[TTS] 粤语语音合成调研"
粤语，又称广东话、广府话、白话。历史比较悠久，粤语是南方方言里面保留中古汉语成分较多的一种。其中最突出的特色就是它较为完整地保留了中古汉语普遍存在的入声，其声母、韵母、声调与古汉语标准韵书《广韵》高度吻合。国学大师南怀谨先生认为粤语是唐代国语。

据说，1911年中华民国成立后，首届国会中有人提议奉广州话为国语；当时来自广东的国会议员刚好过半数，通过这一法案似乎不成问题。不过，身为广东人的临时大总统孙中山为了顾全革命大局，劝说粤籍议员放弃以粤语为国语。结果，北京话以一票之差压倒广州话成为国语。

粤语目前主要分布于广东、 广西、 香港和澳门。
两省区的粤语分为广府、 四邑、 高阳、 勾漏、 吴化、 琶得、 钦廉 7 片。

片区|特点
-- | --
广府 | 是粤语中最具影响、使用人数最多的一片方言, 主要分布于广东珠江三角洲一带, 及广西西江流域上游的部分地区。还有香港、 澳门两个地区

[2022-11-18 11:39] yt605155624 opened #2671 "[TTS] Voice Conversion"
- https://github.com/PaddlePaddle/PaddleSpeech/pull/2842
- https://github.com/PaddlePaddle/PaddleSpeech/pull/3143

[2022-11-19 09:00] KHLau96 opened #2672 "[S2T]ImportError: cannot import name dataclass_transform"
Any one install successful but run with error?

When I finished installation successfully with no error, I try to run [Punctuation Restoration]:
Command:   paddlespeech text --task punc --input 今天的天气真不错啊你下午有空吗我想约你一起去吃饭

Then, an error appear:

Traceback (most recent call last):
  File "/home/lgx/anaconda3/bin/paddlespeech", line 8, in <module>
    sys.exit(_execute())
  File "/home/lgx/anaconda3/l

[2022-11-20 02:40] wqn1 commented on #2584
您好，u2模型动转静，现在的paddlespeech支持吗？

[2022-11-20 02:41] wqn1 commented on #2584
您好，现在u2模型动转静，paddlespeech支持吗？

[2022-11-20 07:06] kslz opened #2673 "[TTS]命令行tts调用了错误的英文模型"
运行
tts = TTSExecutor()
tts(text="hello world", output="output.wav", lang="en")

报错提示：
![image](https://user-images.githubusercontent.com/54951765/202890199-0569c1ba-ccda-4f39-87a3-c99f1ba55358.png)

[2022-11-20 07:09] kslz commented on #2673
看起来这块是在拼接字符串
![image](https://user-images.githubusercontent.com/54951765/202890289-959bcd5c-4513-4cbd-9233-41ff152accd6.png)

[2022-11-21 02:17] yt605155624 commented on #2673
你使用错了，lang='mix'

[2022-11-21 02:19] #2662 closed, assigned to nobody

[2022-11-21 02:26] #2673 closed, assigned to yt605155624

[2022-11-21 05:53] AlphaMind123 opened #2675 "使用hifigan时报错"
![image](https://user-images.githubusercontent.com/108966996/202975417-d1c8f711-97a8-49a6-8a36-3f98ed3ac61d.png)
请问这个错误是怎么回事呢

[2022-11-21 07:05] oyb1125 opened #2676 "在windows上使用speech_web报错"
按照教程前后端都启动成功了
但是点击使用功能时就没反应，这是怎么回事
![image](https://user-images.githubusercontent.com/62881198/202985960-e5f4930a-06e2-436f-a12b-3418664a5a53.png)
![image](https://user-images.githubusercontent.com/62881198/202985311-b37e8e2f-7399-4499-9b19-1f74804c791b.png)
![image](https://user-images.githubusercontent.com/62881198/202986045-5030a926-3817-4958-ab1d-d8102a918823.png)

[2022-11-21 07:25] #2566 closed, assigned to nobody

[2022-11-21 07:28] #2487 closed, assigned to yt605155624

[2022-11-21 07:31] yt605155624 commented on #2675
不太清楚，可能是在 aistudio 上申请的资源不太够

[2022-11-21 09:41] zh794390558 commented on #2672
pydantic.dataclasses 没有安装吧

[2022-11-21 14:05] iftaken commented on #2676
你这个报错有点奇怪的，从报错上来看是8010端口没有启动拒绝服务了，前端和后端分别在本地两个不同的终端运行的吗？在游览器中输入 http://localhost:8010/docs 看看fastapi后台的服务是否启动了

[2022-11-22 01:14] oyb1125 commented on #2676
是在两个不同的终端运行的，输入 http://localhost:8010/docs 的界面如下
![image](https://user-images.githubusercontent.com/62881198/203190330-64308d5b-1173-493b-8ed2-88a9615ea6b2.png)

[2022-11-22 04:48] changyuzhe opened #2678 "[TTS] 流式tts输出音素在音频文件的时间戳信息"
online-onnx 输出音素对应的时间戳信息，比如 **今天天气怎么样**，输出phone的时间戳信息。

[2022-11-22 05:50] yt605155624 commented on #2678
参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/style_fs2 自己改

[2022-11-22 05:50] #2678 closed, assigned to yt605155624

[2022-11-22 06:24] changyuzhe commented on #2678
好的，谢谢。

[2022-11-22 08:19] changyuzhe commented on #2678
@yt605155624  您好，还有个问题请教下，PaddleSpeech/paddlespeech/t2s/models/fastspeech2/fastspeech2.py中self.acoustic_model.inference的durations输出示例如下：
Tensor(shape=[1], dtype=float32, place=Place(cpu), stop_gradient=True,[10.])
Tensor(shape=[1], dtype=float32, place=Place(cpu), stop_gradient=True,[8.])
...

这个数据怎么转换为有效的float32数据呢？

[2022-11-22 08:53] yt605155624 commented on #2678
输出的是 paddle.Tensor, 可以 .numpy() 转成 numpy 的 ndarray

[2022-11-22 09:01] changyuzhe commented on #2678
.numpy()后是“[8.]”，这个是表示0.08么？

[2022-11-22 09:34] yt605155624 commented on #2678
就是 8，表示这音素有 8 帧 ：）

[2022-11-22 09:52] changyuzhe commented on #2678
好的谢谢，音素的时间戳信息可以通过durations(单位是音频帧数)。但实际输出的音频在音素与音素之间会有停顿，而且不同音素之间的停顿时长是不同的，请问这个信息如何取到呢？

[2022-11-23 00:37] #2237 closed, assigned to zh794390558

[2022-11-23 02:48] janelu9 commented on #2665
因为有些batch的长度小于卷积块的最低要求 就会报这个错 这一方面是speech代码不严谨 一方面是paddle报错信息不精准，然而torch就会报`Kernel size can't be greater than actual input size`的错误信息

[2022-11-23 02:48] #2665 closed, assigned to zh794390558

[2022-11-23 02:51] janelu9 commented on #2665
因为有些batch的长度小于卷积块的最低要求 就会报这个错 这一方面是speech代码不严谨 一方面是paddle报错信息不精准，不管是cpu还是gpu环境，报错信息都不精准，torch就会报`Kernel size can't be greater than actual input size`

[2022-11-23 03:00] janelu9 commented on #2665
建议对卷积采样做如下修正：
[code]
也可以这样
[code]
让用户在组batch时自行解决。

[2022-11-23 04:01] changyuzhe commented on #2678
hi，@yt605155624 tts流式引擎时间戳（词、拼音、音素）的问题还想请教下，

以下是我整理的关于时间戳细腻获取的资料，请指正
1>基于[style_fs2](https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/style_fs2)，模型推理输入的durations参数即为所有音素的时长，实际测试发现，音频总时长=3.6s情况下，durations总时长只有2.97s，这里有0.6s的时间是语音停顿、韵律词占用的时间，而且这部分时间没有途径可以获取，而且style_fs2如果在streaming场景下使用的话肯定会有效率上的损失【参考链接：https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/style_fs2 】
2>基于onn

[2022-11-23 06:13] JJun-Guo commented on #2440
请问验证过s-norm中两个参数cohort_size和n_train_snts对结果的影响吗？

[2022-11-23 07:43] iftaken commented on #2676
这个界面启动了，说明后端是启动成功了的，接下来就需要验证两个部分，一部分是后端功能完整性，通过http://localhost:8010/docs 上面的接口，可以做接口测试，确保后端功能没有问题，另一部分是确保前端和后端之前的通信OK，你可以先使用 前端中 语音合成的界面，生产一句话，如果能够生成成功就说明前后端的通信是没有问题

[2022-11-23 09:04] yt605155624 commented on #2678
有可能，参考一下 style_fs2 改一下模型的输出，default 的模型只输出 mel，你再多输出一下 duration, 然后重新导出静态模型和 onnx 模型就可以了

[2022-11-23 09:12] oyb1125 commented on #2676
测试了语音识别的接口，正确识别出来了，后端的功能应该没有问题
![image](https://user-images.githubusercontent.com/62881198/203507504-7571b8e2-2ea9-4afa-a260-069927bc8a1a.png)
但是点击前端界面的功能就没有反应，比如语音合成
![image](https://user-images.githubusercontent.com/62881198/203508593-bbf478f1-2a8c-43b7-8ab4-e2f4db337fa6.png)
因该是前后端连接的问题，为什么会这样，百度搜了也没有解决，我对这块不是很懂

[2022-11-23 09:18] iftaken commented on #2676
你方便给paddlespeech@baidu.com发一个邮件吗？我通过邮件发您联系方式，可以远程帮您看看

[2022-11-23 09:18] oyb1125 commented on #2676
好的

[2022-11-23 09:18] gabitza-tech opened #2681 "Speaker Diarization task: why do we use the reference rttms for obtaining time intervals(subsegments)?"
I tried to implement the diarization project present in the folder _examples/ami/sd0/_. I first ran the example on the Amicorpus dataset and the DER results were accurate with the performances presented in the description of the project. Then I tried to adapt the example to create a script for end-to-end inference on an unknown audio file, and here is where I faced a couple of questions.

From wha

[2022-11-24 02:51] iftaken commented on #2676
经过排查是前端访问 localhost 对应的后端地址时增加了映射，导致前端无法找到后端地址，将前端配置中的 localhost 改成 127.0.0.1 可以解决此问题

[2022-11-24 10:57] liroda opened #2682 "请问，fastspeech2 模型能否进行paddleslim 量化呢？声学模型部署，onnx 能否支持tensorrt 优化？"
## General Question

[2022-11-24 12:32] yt605155624 commented on #2682
fastspeech2 模型能否进行paddleslim 量化呢 -> 还没来得及尝试，可以试一下
onnx 能否支持tensorrt 优化 -> 试过 onnxruntime-trt 有些模型由于结构问题会报错，你可以再试下，onnx 我们我们都提供了，你配好 onnxruntime-trt 环境就行

[2022-11-25 02:07] liroda commented on #2682
好的，请问声学模型，paddlelite 优化前后性能差别大吗？

[2022-11-25 02:58] yt605155624 commented on #2682
@liroda paddlelite 在 x86 上的推理速度没有 paddle 静态图快，paddlelite 主要是端上部署的优化， x86 推理跑通即可

[2022-11-25 07:51] Christophy commented on #2504
大概这个样子，给后来人参考，speaker_id_map.txt和spk_id加上就可以了，不然跑出来的声音很奇怪。

`with open("/home/test/speaker_id_map.txt", 'rt') as f:
    spk_id = [line.strip().split() for line in f.readlines()]
spk_num = len(spk_id)
odim = am_config.n_mels
model = FastSpeech2(
    idim=vocab_size, odim=odim, spk_num= spk_num, **am_config["model"],)`

`am_inference = StyleFastSpeech2Inference(
    fastspeech2_normalizer, model, pw

[2022-11-25 08:31] MelanthaWang246 opened #2687 "ImportError: cannot import name 'load' from 'paddleaudio.backends'"
## Others

<img width="723" alt="image" src="https://user-images.githubusercontent.com/61535808/203936174-a2633803-4950-47b6-8608-063e7efd786c.png">

[2022-11-25 10:32] yt605155624 commented on #2687
please install paddleaudio<=1.0.1

[2022-11-25 13:17] mogosmart commented on #2196
好的 这边看一下

[2022-11-26 09:46] stuyun opened #2689 "UnicodeDecodeError: 'gbk' codec can't decode byte 0x8c in position 2088: illegal multibyte sequence"
![image](https://user-images.githubusercontent.com/8639389/204082536-59031b28-0737-4286-abd7-40031fe45c45.png)

[2022-11-26 10:06] stuyun commented on #2689
处理了 修改编码
![image](https://user-images.githubusercontent.com/8639389/204083241-84c9a9ae-ed65-43ab-bbd0-946cede30993.png)

![image](https://user-images.githubusercontent.com/8639389/204083285-a826545f-c338-4740-86db-457299978d51.png)

[2022-11-27 02:50] stuyun opened #2690 "添加其他语言模型"
![image](https://user-images.githubusercontent.com/8639389/204117042-0a7b0f84-e8ba-4a23-afb5-c6278a4c7e7a.png)
![image](https://user-images.githubusercontent.com/8639389/204117053-7a3d1cc1-794c-4442-b43e-a060ac6b751c.png)

[2022-11-27 12:30] LaHeriody opened #2691 "ST相关：FileNotFoundError: [WinError 2] 系统找不到指定的文件。"
as I run `paddlespeech st --input en.wav`
I get
`(venv) E:\Github_repository\PaddleSpeech>paddlespeech st --input en.wav
E:\Github_repository\PaddleSpeech\venv\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
2022-11-27 20:24:35.447 | INFO     | paddlespeech.s2t.modules.ctc:<module>:45 - paddlesp

[2022-11-28 02:13] yt605155624 commented on #2689
感兴趣可以提个 pr

[2022-11-28 02:22] zh794390558 commented on #2691
ST can not running on win os, please use ubuntu.

[2022-11-28 02:55] LaHeriody commented on #2691
thank you so much

[2022-11-28 02:55] #2691 closed, assigned to zh794390558

[2022-11-28 06:54] #2571 closed, assigned to yt605155624

[2022-11-28 07:08] MelanthaWang246 commented on #2687
Solved. Thank you so much!

Melantha’s ipad

在 2022年11月25日，下午6:32，TianYuan ***@***.***> 写道：

﻿

please install paddleaudio<=1.0.1

—
Reply to this email directly, view it on GitHub<https://github.com/PaddlePaddle/PaddleSpeech/issues/2687#issuecomment-1327303760>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AOVPMQBS3IU4MRRYTKGNNO3WKCITHANCNFSM6AAAAAASLCOYF4>.
You are receiving

[2022-11-28 08:39] lym0302 commented on #2690
请问你的疑问是什么呢？lang 应该设置为 mix 哦

[2022-11-28 09:33] zyb8543d commented on #1671
@Jackwaterveg 依然遇到了同样的问题：
[code]

[2022-11-28 10:05] zyb8543d opened #2694 "模型下载失败-初学"
按照首页提示安装所有依赖包，测试时遇到模型下载问题。
[code]

[2022-11-28 10:31] Approximetal opened #2695 "[TTS]流式接口调用失败，docker内正常调用，docker外报错"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).

If you've found a bug then please create an issue with the following information:

**Describe the bug**
流式接口paddlespeech_client tts_online在docker外调用失败，docker外安装了简单版的pip库。

docker内部正常调用：
/home/PaddleSpeech/demos/streaming_tts_server bash test_client.sh
grep: warning: GREP_OPTIONS

[2022-11-28 12:58] lym0302 commented on #2694
我这边验证是可以正常下载的，应该是网络问题，可以检查网络后再试下~

[2022-11-28 13:03] lym0302 commented on #2695
先检查下docker 内外都使用同一个版本/代码的 paddlespeech
因为这个接口是后续加的，大概率是因为容器内外版本/代码 不一致导致的这个问题

[2022-11-28 17:44] #2687 closed, assigned to nobody

[2022-11-29 01:16] zyb8543d commented on #2694
@lym0302 尝试过很多次了，下载不了，请问可以加载离线模型吗，有没有模型样例，需要准备成什么结构（去重头看一遍代码有点时间长）。

[2022-11-29 02:52] Approximetal commented on #2695
嗯嗯，docker里面的代码是2.3版本，接口调用端用的是2.4版本

[2022-11-29 06:05] lym0302 commented on #2694
你复制这个模型链接：https://paddlespeech.bj.bcebos.com/s2t/wenetspeech/asr1_conformer_wenetspeech_ckpt_0.1.1.model.tar.gz 先把模型下载到本地再想办法弄到你的机器上吧

[2022-11-29 06:48] newuserforstudy opened #2699 "[TTS语音合成] UnboundLocalError: local variable 'wav_all' referenced before assignment"
使用语音合成时遇到了3个问题：
1）我对一个文本中的多条数据逐条进行语音合成时，进行到3772条时程序报错：UnboundLocalError: local variable 'wav_all' referenced before assignment 。是程序漏洞吗？
2）我使用混合模型mix合成包含中文、英文、数字的内容时，英文内容不能合成。如 "welcome to 北京2008"，这种情况如何处理？
3）我想使用男声进行语音合成，但是根据推荐，我根据示例：
from paddlespeech.cli.tts.infer import TTSExecutor
tts = TTSExecutor()
tts(am="fastspeech2_male", voc="pwgan_male", text="今天天气十分不错。", output="output.wav")
报错：Asserti

[2022-11-29 10:09] wizardforcel commented on #2672
@zh794390558 这个包根本就没加到依赖项里面

[2022-11-29 10:22] wizardforcel opened #2700 "[ ERROR] - Please input audio file less then 200.0 seconds."
这是我本地部署的功能，也要限制时间嘛？长音频要用哪个参数？

[2022-11-29 11:03] yt605155624 commented on #2699
- 请看下第 3772 条文本是不是遇到了什么特殊的报错，建议 debug 下
- 应该是使用错误，请选择正确的 am voc 和 lang 参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/text_to_speech
- https://github.com/PaddlePaddle/PaddleSpeech/issues/2472

[2022-11-29 11:06] yt605155624 commented on #2695
@Approximetal 我们说的是 paddlespeech 的版本不是 paddle 的版本

[2022-11-29 11:32] zh794390558 commented on #2700
模型有限制，长语音用vad切分下。

[2022-11-30 02:12] alphasnow commented on #1925
可执行以下命令,重置`nltk_data`
[code]

[2022-11-30 02:40] newuserforstudy commented on #2699
[TTS 语音合成] 感谢！根据提示，我解决了问题1和3。
但是问题2仍然存在问题，问题是：使用混合模型mix时，会将数字当作英文EN处理，如何做能够将数字作为中文ZH处理，而我使用中文ZH模型时英文内容又处理不了，请问如何解决我的困境？
举例如下：
今天天气十分不错 hello world 1  2  3；
合成结果：今天天气十分不错 hello world one two three；
我想要的结果：今天天气十分不错 hello world 一/幺 二 三。

3ks !!

[2022-11-30 02:58] yt605155624 commented on #2699
看下混合文本前端的规则，目前数字是跟着前面的类型的，所以数字前面是英文则会念成英文，不想改代码的话只能自己先把数字转成中文https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/t2s/frontend/mix_frontend.py

[2022-11-30 03:11] newuserforstudy commented on #2699
ok! 3ks  a lot!

[2022-11-30 12:15] graciechen commented on #2442
使用paddle 2.4rc finetune的时候报错
C++ Traceback (most recent call last):
--------------------------------------
No stack trace in paddle, may be caused by external reasons.

----------------------
Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by the operating system.
  [TimeInfo: *** Aborted at 1669810187 (unix time) try "date -d @1669810187" if you are usin

[2022-11-30 12:34] graciechen commented on #2442
paddlespeech建议用哪个版本的？

[2022-11-30 13:01] murat-gunay opened #2709 "installation error"
## General Question

Hi,

I couldn't execute text-to-speech module because of an importing error below.
I install all dependencies on my mac m1 ventura. Why may this happen?

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/69839085/204802593-8a3678e9-53a9-4b3b-a86f-f920b72b5432.png">

[2022-11-30 13:39] zxcd commented on #2709
which branch paddlespeech are you using now?

[2022-11-30 13:49] navy7913 opened #2711 "[S2T] FatalError: Erroneous arithmetic operation is detected by the operating system"
您好,我跟着官网的s2t的安装教程,安装了中等的训练环境之后在examples/aishell/asr1的路径下执行bash run.sh --stage 1 --stop_stage 1时出现了以下错误,想请教您该如何解决这问题：
训练环境为ubuntu18.04.6 、CUDA Version: 10.2、cudnn:7.6.5 、paddlepaddle 2.3.1  、paddlepaddle-gpu  2.4.0rc0

LAUNCH INFO 2022-11-30 21:07:29,721 ------------------------- ERROR LOG DETAIL -------------------------
INFO     | paddlespeech.s2t.utils.dynamic_import:instance_class:68 - Instance

[2022-11-30 14:07] zxcd commented on #2711
是否能够提供完整的log，目前只看到了警告，不太好定位到具体问题出现的位置