[2018-09-11 01:42] WIll-Xu35 commented on #242
Hi, I encountered the same problem as you did.
Did you solve the problem and how?
Thanks

[2018-09-16 13:44] viig99 commented on #133
Can you let us know whats the maximum that can be done ?

[2018-09-17 07:36] Slyne opened #278 "gradient exploding issue when using rnn"
Hi, I'm not sure if  this is normal. Here's the configuration and log:
==================
[code]
=======================
...................................................................................................
Pass: 0, Batch: 100, TrainCost: 125.596261
...................................................................................................
Pass: 0, Batch: 200, TrainCost: 204.

[2018-09-17 07:39] Slyne commented on #278
I also tried to reduce the layers of RNN to 3 but the cost converged at first and then explode after about 12 epochs.

[2018-09-21 07:03] wuisiong opened #279 "failed to download LibriSpeech model"
I was running the tiny example, using run_infer_golden.sh. While downloading the pre-trained LibriSpeech model, the download ends prematurely and I end up with a corrupted gz file.

I have tried adding "180.76.189.142  cloud.dlnel.org" to etc/hosts but this problem persists.

Additionally, can I know what is the expected size of the pre-trained model? So far I've failed at last 10 times, the furth

[2018-09-21 08:54] 18811737901 opened #280 "sh train.sh 报错"
我的参数
-----------  Configuration Arguments -----------
augment_conf_path: conf/augmentation.config
batch_size: 2
dev_manifest: data/aishell/manifest.dev
init_model_path: None
is_local: 1
learning_rate: 0.05
max_duration: 27.0
mean_std_path: data/aishell/mean_std.npz
min_duration: 0.0
num_conv_layers: 2
num_iter_print: 100
num_passes: 50
num_proc_data: 3
num_rnn_layers: 3
output_model_dir: ./checkpo

[2018-09-25 01:26] moyan2016 opened #281 "IOError: [Errno 104] Connection reset by peer"
训练 librispeech  Pass: 15
报错
    kind, result = conn.recv()
IOError: [Errno 104] Connection reset by peer
    kind, result = conn.recv()
EOFError
EOFError

这是什么原因？

[2018-09-25 01:48] kckao opened #282 "Manifest text in Mandarin English mixed sentence"
How to arrange manifest text in Mandarin English mixed sentence?
In the DS2 paper, Mandarin chars in sentence do needn't space, but English words need space.
Some mandarin corpus, there is some English words in sentence.
How to arrange such Mandarin English mix sentence for manifest text?

[2018-09-25 07:10] wuisiong commented on #279
solved the problem by running script outside of docker

[2018-09-25 07:10] #279 closed

[2018-09-26 06:35] viig99 commented on #256
@saibharani any luck with transfer learning, have you tried to adapt the model to indian accents ?

[2018-09-27 07:10] derekpankaew commented on #268
Unable to download as well. Is anyone aware of any other mirror or links?

[2018-09-27 08:34] 18811737901 opened #283 "demo_server.py默认换成Aishell后执行报错"
/data/DeepSpeech2/deploy$ CUDA_VISIBLE_DEVICES=0 python2 demo_server.py --host_ip localhost --host_port 8086 --use_gpu False
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
host_ip: localhost
host_port: 8086
lang_model_path: /data/DeepSpeech2/models/lm/zh_giga.no_cna_cmn.prune01244.klm
mean_std_

[2018-09-27 11:45] #280 closed

[2018-09-27 11:52] 18811737901 commented on #130
How do I solve this problem?

[2018-09-27 11:56] 18811737901 commented on #130
Can tell me how to solve this problem?Thanks.

[2018-09-28 03:47] 18811737901 commented on #40
Can you tell me how to change params to match the training ones and solve this problem？Thanks.

[2018-10-09 19:36] Vincent-Zh opened #284 "Fail in example/tiny run_infer_golden.sh"
After reading LM model (successfully), then error occurs.

root@7a87c4436d18:~/DeepSpeech/examples/tiny# sh run_infer_golden.sh
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: wer
infer_manifest: data/tiny/manifest.test-clean
lang_model_path: models/lm/common_crawl_00.prune01111

[2018-10-10 12:46] ashwan1 commented on #268
I am unable to download as well. run_infer.sh gives following error:
![image](https://user-images.githubusercontent.com/25479695/46737189-84458f00-ccb8-11e8-922e-2981d78f0d43.png)
and http://paddlepaddle.bj.bcebos.com/model_zoo/speech/common_crawl_00.prune01111.trie.klm gives following error:
{"code":"NoSuchBucket","message":"The specified bucket does not exist.","requestId":"1b9b1591-16c6-414c-89

[2018-10-10 14:42] #284 closed

[2018-10-15 03:50] Michael1S commented on #204
我遇到了同样的问题，
Aborted (core dumped)

[code]

[2018-10-15 06:07] llp123 opened #285 "安装报错：运行根目录下的setup.sh报错"
运行根目录下的setup.sh报的错误，如下：
Collecting scipy==0.13.1 (from -r requirements.txt (line 1))
  Using cached https://files.pythonhosted.org/packages/83/7c/5ba1ca301c3b1ddd8d097778fea2ecc3c34f5c5fb9e95f562d55082aa5f1/scipy-0.13.1-cp27-cp27m-manylinux1_x86_64.whl
Requirement already satisfied: resampy==0.1.5 in /usr/local/lib/python2.7/site-packages (from -r requirements.txt (line 2)) (0.1.5)
Requirement alr

[2018-10-15 07:02] llp123 commented on #215
@frozenfires 你好能否分享一下你的cpu版本的docker，谢谢。2385114637@qq.com

[2018-10-15 11:15] akashravichandran opened #286 "Tamil Vocabulary produces circles."
When trying to build the vocabulary for Tamil. I am getting circles as some of the alphabets. Please tell the reason for this.
[tamil_vocab.txt](https://github.com/PaddlePaddle/DeepSpeech/files/2478484/tamil_vocab.txt)

[2018-10-15 16:05] hsen-dev commented on #280
一样的问题，你怎么解决的

[2018-10-16 03:58] smallsnailrunning opened #287 "about sh run_train.sh"
my gpu is GT730, the gpu is not very good .so when I sh run_train.sh  .Only a toy example with a tiny sampled subset of LibriSpeech.

Aborted (core dumped)
Fail in training!

how to solve it  thanks
![2018-10-16 11-57-34](https://user-images.githubusercontent.com/43053983/46991986-b03e9580-d13a-11e8-93af-9163e2fb3810.png)

[2018-10-16 09:34] tarashakhurana commented on #268
Does anyone have a fix for this?

[2018-10-17 02:29] #285 closed

[2018-10-17 02:55] sivagururaman opened #288 "run_infer fails to get language model"
I tried running the run_infer.sh from the tiny/
And I get the following error:
HTTP request sent, awaiting response... 404 Not Found
2018-10-17 08:20:23 ERROR 404: Not Found.

Fail to download the language model!

Can you help me with this?

Thanks!

[2018-10-17 04:43] dileep1996 commented on #268
I emailed Xinghai regarding the same. Yibing is looking into this now. Will update here if I get any further response

[2018-10-18 07:04] frozenfires commented on #215
@llp123 这个项目都废弃了，你要的话直接拉取 docker pull frozenfires/deepspeech-cpu，hub上有使用方法

[2018-10-18 08:09] llp123 commented on #215
@frozenfires 谢谢，已经构建完自己的docker了，不需要了

[2018-10-18 13:49] sivagururaman opened #289 "Could not run inference with tiny set"
When running the inferernce, the following error shows up:
Download language model ...
download_lm_en.sh: 8: [: 099a601759d467cd0a8523ff939819c5: unexpected operator
--2018-10-18 19:16:48--  http://paddlepaddle.bj.bcebos.com/model_zoo/speech/common_crawl_00.prune01111.trie.klm
Resolving paddlepaddle.bj.bcebos.com (paddlepaddle.bj.bcebos.com)... 103.235.46.61
Connecting to paddlepaddle.bj.bcebos.co

[2018-10-19 05:06] sivagururaman commented on #289
Looks like the english language model has been moved to another location and hence the one pointed to by the code is invalid. Can you please fix this issue?

[2018-10-22 17:26] praveenjune17 opened #290 "Training aborted due to the presence of an empty audio ."
Audio which has **no word spoken in it can disrupt the training process**. So before training ensure that the empty audios are removed. I used the below piece of code to identify the empty audios..

import soundfile as sf
data, samplerate = sf.read('any_file.wav')

if sum(data) == 0:
    remove the audio from the training sample

[2018-10-23 06:28] sivagururaman commented on #290
Hi,
Can you please point me to the site from where you downloaded the language model?
common_crawl_00.prune01111.trie.klm is not available at the path mentioned in the script.

[2018-10-23 06:32] sivagururaman commented on #173
Hello - Where do I get the lmplz from?
And can I get the common_crawl_00.prune01111.trie.klm from the above mentioned speech model corpus using the commands mentioned on this thread?

[2018-10-23 08:52] sivagururaman commented on #84
Is this path for the language model correct? I am not able to download the model from this link.... Can you please help?

[2018-10-23 15:02] praveenjune17 commented on #290
This is the link I used to download the language model.

http://web-language-models.s3-website-us-east-1.amazonaws.com/ngrams/en/deduped/en.00.deduped.xz

I was able to download it from this site.

[2018-10-24 02:39] sivagururaman commented on #290
Thanks! Do I need to then perform any post process on this file to get the language model?

[2018-10-24 10:15] praveenjune17 commented on #290
you just need the .klm file . It should be inside the download

On Wed 24 Oct, 2018 8:10 am sivagururaman, <notifications@github.com> wrote:

[2018-10-25 07:50] viig99 commented on #168
I can reproduce the error too, is there anyway to fix this ?

[2018-10-26 08:04] mp-lu commented on #251
@songxia928  請問您解決了嗎？ 我也遇到同樣的問題 ...

[2018-10-30 01:09] jayxioresearch opened #291 "运行infer.py时报错: ValueError: No such parameter ___conv_0__.w0"
运行infer.py时报错，不知道是否与自制的语言模型有关。从输出中看，好像语言模型已经被成功读入了，谢谢。
python infer.py --use_gpu False --trainer_count 1
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: wer
infer_manifest: /home/xio/Baidu/BDeepSpeech2/amol.manifest
lang_model_path: /home/xio/Baidu/BDeepSpeech2/speech_model/lm3.

[2018-10-30 14:58] ericput commented on #291
baidu_en8k的参数与librispeech的参数不同，因该参照examples/baidu_en8k/下的设置

[2018-10-31 10:41] sruteesh-pivot commented on #291
`use_gru =True` if you're running baidu_en8k model

[2018-10-31 20:18] jayxioresearch opened #292 "在docker image中运行examples/tiny/run_train.sh报错:terminate called after throwing an instance of 'Xbyak::Error'"
按照“Installation->Running in Docker Container"中步骤安装了Docker image. 按照“Getting Started“ 中的步骤一步步运行，“sh run_data.sh” 成功，在运行“sh run_train.sh”报错。

**全部的报错信息：**
terminate called after throwing an instance of 'Xbyak::Error'
 what():  internal error
Aborted (core dumped)
Fail in training!

**全部输出如下：**
root@1ade2c36fbac:/DeepSpeech# cd examples/tiny/
root@1ade2c36fbac:/DeepSpeech/examples/tiny# sh run_data.s

[2018-10-31 20:24] jayxioresearch commented on #291
谢谢ericput和sruteesh-pivot 的回复。我参照“examples/baidu_en8k/run_infer_golden.sh"从新更改了参数，还是报一样的错。我猜测可能是我系统安装有问题，就按照建议下载了docker image，可是在docker image中运行"example/tiny"报了其他的错。请参照issues #129. 谢谢。

[2018-11-09 06:11] Lebron-Kun commented on #191
您好，想问一下，下载好的语言模型或者声学模型怎么用？能否指教一下，调用那个代码可以直接加载训练好的模型，想试一下效果

[2018-11-09 06:13] Lebron-Kun commented on #182
能否简单说一下，训练好的语言模型或者声学模型，调用哪个代码可以进行测试，希望能指点一二

[2018-11-09 09:12] qianghuang84 commented on #268
依然还是无法下载

[2018-11-09 13:50] Lebron-Kun commented on #25
兄弟，能否留个邮箱，我现在也在做CTC-lm的实现，可以交流一下

[2018-11-10 07:15] Lebron-Kun commented on #25
您好，我最近也在做这个工作，但是我想对拼音建模，通过【声学模型】得到一串拼音，然后再经过【语言模型】--【解码（把拼音解码为汉字）】这个过程，也就是CTC+语言模型的解码过程。。。。。。。。所以能否留个邮箱，请教您一下

[2018-11-12 12:59] 1973Blunt commented on #268
still unable to download

[2018-11-12 13:18] 1973Blunt commented on #268
https://github.com/PaddlePaddle/DeepSpeech/issues/288#issue-370877503

[2018-11-15 00:46] PCerles opened #293 "Confused about adjustment to return score"
https://github.com/PaddlePaddle/DeepSpeech/blob/develop/decoders/swig/ctc_beam_search_decoder.cpp#L170

// compute aproximate ctc score as the return score, without affecting the
// return order of decoding result. To delete when decoder gets stable.

What is the use of this adjustment to the return score? And what is "unstable" about the decoder? Haven't been able to figure it out.
Thanks!

[2018-11-15 05:19] Cxywzx commented on #191
反复下载几次就好了，我当初也是下了几次才下完整的。

[2018-11-15 05:20] Cxywzx commented on #191
直接运行/examples下面的例子就可以了

[2018-11-28 15:35] sahilanguralla commented on #84
+1

[2018-11-28 15:40] sahilanguralla commented on #268
+1. Please fix this ASAP.

[2018-11-29 11:04] dalonlobo opened #294 "What is the range of Q(y) in inference?"
Hi Team,

I'm trying to make use of the inference probabilities to show the confidence of the output transcription. I understand that equation[ (12)](https://arxiv.org/pdf/1512.02595.pdf#equation.3.12) is used to pick the transcription (y) that maximizes Q(y).

I'm unable to generalize the scale in which this Q(y) is measured. Which is the range of Q(y) in which the confidence in prediction consid

[2018-12-02 02:35] Ywz2018 commented on #268
I encountered this problem too.

[2018-12-13 03:46] cogmeta commented on #229
What is the solution?

[2018-12-15 00:35] seethagithub commented on #268
I have the same issue

[2018-12-18 05:49] mehercharan commented on #268
Any update on this? please provide us with a location to download the LM

[2018-12-18 16:12] sunjunlishi commented on #273
why ？is ok

[2018-12-25 06:10] NeerajGulia commented on #268
{"code":"NoSuchBucket","message":"The specified bucket does not exist.","requestId":"babf239d-362c-4f62-90b8-fb290d271f83"}

Is there a way to download the model?

[2018-12-25 07:56] MrCuiHao opened #295 "中文语言模型下载1.01G就停止下载了，在/etc/hosts添加180.76.189.142 cloud.dlnel.org也尝试了，还是不行，可以解决一下吗？非常感谢"
sh download_lm_ch.sh
Download language model ...
download_lm_ch.sh: 8: [: 29e02312deb2e59b3c8686c7966d4fe3: unexpected operator
--2018-12-24 23:30:49--  http://cloud.dlnel.org/filepub/?uuid=245d02bb-cd01-4ebe-b079-b97be864ec37
Connecting to 127.0.0.1:8118... connected.
Proxy request sent, awaiting response... 200 OK
Cookie coming from cloud.dlnel.org attempted to set domain to baidu.com
Length: un

[2018-12-25 08:35] MrCuiHao commented on #295
可以了，我把shadowsocks关了就可以了，不知道什么原因，猛速下载中

[2018-12-28 01:34] blood0708 opened #296 "Check failed: cudaSuccess == cudaStat (0 vs. 2) Cuda Error: out of memory 郁闷死了，费了半天劲"
I1228 01:28:25.300649   173 Util.cpp:166] commandline:  --use_gpu=1 --rnn_use_batch=True --log_clipping=True --trainer_count=1
F1228 01:28:25.392861   173 hl_cuda_device.cc:399] Check failed: cudaSuccess == cudaStat (0 vs. 2) Cuda Error: out of memory
*** Check failure stack trace: ***
    @     0x7febaa61804d  google::LogMessage::Fail()
    @     0x7febaa61a398  google::LogMessage::SendToLog()

[2018-12-28 08:00] blood0708 commented on #295
请问楼上的，具体是怎么解决的啊？怎么关闭shadowsocks

[2018-12-28 08:02] blood0708 commented on #295
我也遇到同样的问题，很郁闷

[2018-12-28 08:14] MrCuiHao commented on #295
你在/etc/hosts添加180.76.189.142 cloud.dlnel.org了吗？添加完不要忘记networking restart

[2018-12-28 08:56] blood0708 commented on #295
感谢兄弟，添加了之后，可以了

[2018-12-28 08:57] blood0708 opened #297 "有谁实验过，识别的效果怎么样阿？"

[2018-12-28 09:42] blood0708 commented on #296
弄了半天是我的显存实在是感人啊，batchsize只能是1

[2018-12-28 09:42] #296 closed

[2018-12-29 02:17] MrCuiHao opened #298 "infer"

[2018-12-29 02:18] #298 closed

[2018-12-29 04:54] blood0708 opened #299 "demo_client运行报错？"
root@b766672fd554:/DeepSpeech/examples/deploy_demo# ./run_demo_client.sh
Traceback (most recent call last):
  File "deploy/demo_client.py", line 2, in <module>
    from pynput import keyboard
  File "/usr/local/lib/python2.7/dist-packages/pynput/__init__.py", line 23, in <module>
    from . import keyboard
  File "/usr/local/lib/python2.7/dist-packages/pynput/keyboard/__init__.py", line 49, in <mo

[2018-12-29 09:08] blood0708 commented on #212
@gangyahaidao 我也遇到了相同的问题，请问最后是怎么解决的阿？

[2018-12-29 09:10] blood0708 commented on #212
@gangyahaidao I also met the same problem. How did you solve it in the end?

[2018-12-29 09:59] blood0708 commented on #297
用 badi_cn1.2的模型识别效果不是一般的差阿

[2018-12-31 06:15] wudeshi commented on #268
what?,

[2019-01-06 08:02] Ckj409399 commented on #224
@jiaozhusos 你好，请问你的问题：

“想基于baidu_1.2k_model进行识别，但是模型里没有vocab.text，此外，相应的warmup_manifest也没有，需要怎么进行设置呢?”

有办法解决了吗？可以交流一下吗

[2019-01-07 13:30] chenjunweii opened #300 "tune"

[2019-01-07 13:30] #300 closed

[2019-01-08 15:47] bkmgit commented on #268
This is the Chinese data set.

[2019-01-08 18:07] ces-bertino commented on #268
What I tried to say is that you need to use the URL line from the Chinese download script in the english model download script. Hence, the new english model script would be like below:

#! /usr/bin/env bash

. ../../utils/utility.sh

URL=http://cloud.dlnel.org/filepub/?uuid=5cd1688e-78d9-4b9e-9c2f-6f104bd5b518
MD5="099a601759d467cd0a8523ff939819c5"
TARGET=./common_crawl_00.prune01111.trie.klm

ech

[2019-01-09 10:39] NeerajGulia commented on #268
...

It will download the Chinese model and not the English model as you think.

[2019-01-09 14:47] gnever opened #301 "DeepSpeech 和 fluid 中的 DeepASR 有什么区别？"
在 fluid 中同样存在一个 [DeepASR](  https://github.com/PaddlePaddle/models/tree/develop/fluid/DeepASR)

请问他们两者有什么区别？推荐使用哪个？

多谢

[2019-01-09 19:35] ces-bertino commented on #268
You're right. I incorrectly assumed the URL was pointing to the bucket and the target was the file.
Thanks.

[2019-01-15 01:41] Ckj409399 commented on #116
@gdfspy 你好，方便交流一下该程序的运行问题吗，小白刚入门现在用cn 1.2k运行报错，希望能指导一下。QQ：409399732

[2019-01-19 10:11] wudeshi commented on #85
hi,do you know what '___gru_0__.w0 (1024, 3072)' means?

[2019-01-19 10:13] wudeshi commented on #85
___gru_0__.w0 (1024, 3072) . Where is the update weight, reset weight, candidate weight respectively

[2019-01-22 06:46] zongweiLi commented on #239
请问你是怎么修改的源码，我也是讲aishell 的数据集降为8k，但是在训练过程中就会报错
F0122 14:40:08.074589 142019 BlockExpandOp.cpp:73] Check failed: seqLength == outputHeight * outputWidth (43 vs. 18446744073709550799)
*** Check failure stack trace: ***

[2019-01-22 10:38] songxia928 commented on #239
aishell上能有9.x%

[2019-01-22 10:40] songxia928 commented on #251
这个好像是paddle的问题，内存溢出了，原来我用的是0.11和0.10，后面换成0.14就没有这个问题了。

[2019-01-22 11:37] zongweiLi commented on #239
我在训练8k的模型，也出现了不收敛的问题，请问这个问题是怎么解决的
...................................................................................................
Pass: 0, Batch: 100, TrainCost: 58.155260
...................................................................................................
Pass: 0, Batch: 200, TrainCost: 60.066805
..................................................................................

[2019-01-23 11:57] zongweiLi opened #302 "使用docker训练时报错Check failed: cudaSuccess == err (0 vs. 8)"
F0123 11:55:36.803860    19 hl_gpu_matrix_kernel.cuh:181] Check failed: cudaSuccess == err (0 vs. 8) [hl_gpu_apply_unary_op failed] CUDA error: invalid device function
*** Check failure stack trace: ***
    @     0x7fbf82b2a04d  google::LogMessage::Fail()
    @     0x7fbf82b2c398  google::LogMessage::SendToLog()
    @     0x7fbf82b29b5b  google::LogMessage::Flush()
    @     0x7fbf82b2d26e  google

[2019-01-30 16:23] sunjunlishi commented on #113
我是ubuntu下载3.0.12 ./configure make make install.
还是那样的错误，biadu没有解决这个问题吗，还是我们比较笨啊。

[2019-01-31 02:43] sunjunlishi commented on #224
data/aishell/manifest.test 文件从哪搞到，能发个？

[2019-01-31 11:35] sunjunlishi commented on #212
@gangyahaidao how do you use it

[2019-02-01 02:58] sunjunlishi commented on #212
8k or 16k   32float  ,or 32int  or  16int????

[2019-02-01 09:56] sunjunlishi commented on #166
@luweishuang  你解释的非常棒，但是为啥不能识别出好的结果呀，不知道结果到底怎么样，唉

[2019-02-01 09:56] sruteesh-pivot commented on #245
Hi @dreamibor Were u able to run deepspeech on python3.5?

[2019-02-01 09:57] sunjunlishi commented on #166
8k很多地方这样说，代码暂时研究的不够深入。不能更好的解释

[2019-02-01 10:02] sunjunlishi commented on #116
正确率提高了，到底怎样啊。我的按照说明改了，效果不对啊。@gdfspy

[2019-02-01 10:07] sunjunlishi commented on #94
@fedoral你输出了，识别结果，识别的正确吗？效果怎么样

[2019-02-01 10:17] sunjunlishi commented on #273
16k 32bit的吗，我看他们都这样说的

[2019-02-01 10:23] sunjunlishi commented on #228
这个总算把效果差，解释清楚了。

[2019-02-01 18:12] piyush101 opened #303 "use_gpu"

[2019-02-01 18:13] #303 closed

[2019-02-03 07:52] windowxiaoming opened #304 "运行infer.py报错IOError: [Errno 32] Broken pipe"
-----------  Configuration Arguments -----------
alpha: 2.6
beam_size: 300
beta: 5.0
cutoff_prob: 0.99
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: cer
infer_manifest: data/aishell/manifest.test
lang_model_path: models/lm/zh_giga.no_cna_cmn.prune01244.klm
mean_std_path: data/aishell/mean_std.npz
model_path: checkpoints/aishell/params.latest.tar.gz
num_conv_layers: 2
num_proc_

[2019-02-13 02:32] sunjunlishi commented on #273
纠结中。。。

[2019-02-13 02:32] sunjunlishi commented on #273
@zhouyikang 你好我们可以联系下吗，我也是如此的问题。

[2019-02-20 12:24] whaozl commented on #193
add /etc/hosts:
180.76.189.142  cloud.dlnel.org

wget -c 'http://cloud.dlnel.org/filepub/?uuid=5cd1688e-78d9-4b9e-9c2f-6f104bd5b518' -O ./zh_giga.no_cna_cmn.prune01244.klm
wget -c 'http://cloud.dlnel.org/filepub/?uuid=245d02bb-cd01-4ebe-b079-b97be864ec37' -O ./zhidao_giga.klm

[2019-02-21 05:22] whaozl commented on #224
录音文件 那都是读取问题 要指定格式 int 就是整数 float就是浮点数

[2019-02-21 05:54] sunjunlishi commented on #224
@whaozl 讲的不错，读取问题都可以正确。但是 百度 这个 貌似 不是 很准确识别其他的。？？

[2019-02-21 06:02] whaozl opened #305 "new_char == ' '适应英文情况，中文没有空格作为label,请教中文加LM解码时是每次都计算LM概率吗？"
https://github.com/PaddlePaddle/DeepSpeech/blob/a76fc692123e97e5f183c3a00e30b7f2e2d3f07c/decoders/decoders_deprecated.py

[code]

[2019-02-21 06:03] whaozl commented on #224
很准确识别其他的 指的是？

[2019-02-21 09:05] Slyne commented on #305
好像是的，因为中文的语言模型是基于字的不是词。

[2019-02-21 09:08] Slyne commented on #283
share_rnn_weights: False

[2019-02-21 13:00] zhengken opened #306 "英文语言模型高频词汇标音问题"
您好，我看英文语料处理的方法是选择文本中出现次数最多的 400, 000 个词，请问，那么这些词的发音该如何标注呢？ 使用 G2P 吗？

[2019-02-21 20:52] kuhanw commented on #268
Hello,

Has there been any progress on this? I can confirm as of today the download link for download_lm_en.sh is still broken.

Cheers,

Kuhan

[2019-02-22 00:12] sunjunlishi commented on #224
除了训练样本以外的。识别你的准确吗

[2019-02-22 08:55] whaozl commented on #224
我的能识别出来的，大概20~30%错误率，样本不够，正在想办法加样本

[2019-02-22 08:56] whaozl commented on #305
已经知道了 看了他的C++代码 明白了

[2019-02-22 08:56] #305 closed

[2019-02-22 10:34] #306 closed

[2019-02-26 11:22] lagon commented on #268
The URL is still broken. Any update appreciated.
Sincerely,
Miroslav

[2019-03-01 13:13] smallDrea opened #307 "Can i use both .wav and .flac file to training?"

[2019-03-06 06:41] mtbadakhshan commented on #268
Is there any alternative English LM to use?
Thanks,
Taghi

[2019-03-06 13:52] saibharani commented on #256
Transfer learning seems to yield better results than directly trained models

[2019-03-06 13:52] #256 closed

[2019-03-07 07:58] Cloud299 opened #308 "Test pre-trained EN model on a .wav file"
Hi there,

I just finished installing the DeepSpeech and I'm very curious about BaiduEN8k Model's performance versus Google STT on some of my test .wav files. How do I use this model to decode/transcribe a wavfile named "test.wav" ?

Thank you

[2019-03-08 08:41] myrainbowandsky opened #309 "Alwasy oom problem, even if bath_size==1"
python3 -u ./DeepSpeech.py --train_files /home/sky-ai/xwt/DeepSpeech/data/train/train.csv --dev_files /home/sky-ai/xwt/DeepSpeech/data/cv/cv.csv --test_files /home/sky/sky-ai/xwt/DeepSpeech/data/test/test.csv --train_batch_size 24 --dev_batch_size 15 --test_batch_size 20 --epoch 20 --display_step 1 \ --validation_step 1 \ --dropout_rate 0.30 \ --default_stddev 0.046875 \ --learning_rate 0.0001 \ -

[2019-03-10 18:21] diegocardozo97 commented on #268
An alternative for the LM in english is in the Mozilla DeepSpeech implementation in github ([https://github.com/mozilla/DeepSpeech](https://github.com/mozilla/DeepSpeech))
In the releases the .tar with the models (example: "deepspeech-0.4.1-models.tar.gz") includes a file called lm.binary.
For me it worked when using it for the language model.

[2019-03-12 04:08] mp-lu opened #310 "中文預測無空格及結合詞語言模型問題"
請問一下，中文系統中辨識空格機率是0沒錯嗎？
因為查看中文的vocab都沒有空格，辨識出句子同樣不含空格
若是要使用word-basd LM需要有空格機率
我看了英文的vocab是以字母為單位且包含空格
辨識結果中就有包含空格這個字

有修改過中文訓練集使得辨識可以輸出為含有空格句子
但是在使用word-basd LM上的結果極差
是否是解碼過程中導致多數word在LM中的機率和辨識label不符合？

[2019-03-12 13:27] whaozl opened #311 "'datasets/manifest.noise'这个文件 在哪里哈？"

[2019-03-13 13:02] whaozl commented on #232
I want to know this. how to get this impulse audio data?

[2019-03-14 01:35] whaozl opened #312 "Where is Impulse Response (need impulse audio files)? can you provide a download link?"

[2019-03-14 01:42] whaozl commented on #295
不能用代理上网，另外，添加/etc/hosts就行

[2019-03-19 05:48] wshhja opened #313 "请问，在执行数据准备run_data.sh计算mean_std.npz这一步时，直接killed是什么原因？"
root@dbcf49f7de8d:~/DeepSpeech# python tools/compute_mean_std.py --manifest_path='data/librispeech/manifest.train' --num_samples=2000 --specgram_type='linear' --output_path='data/librispeech/mean_std.npz'
-----------  Configuration Arguments -----------
manifest_path: data/librispeech/manifest.train
num_samples: 2000
output_path: data/librispeech/mean_std.npz
specgram_type: linear
----------------

[2019-03-19 09:06] wshhja commented on #313
内存不够

[2019-03-19 09:06] #313 closed

[2019-03-25 14:56] rhamnett commented on #268
Still broken

[2019-03-26 05:46] aaronlyt commented on #268
still broken

[2019-03-27 22:34] rhamnett commented on #308
did you try this?

[2019-03-27 23:05] Cloud299 commented on #308
I have not been able to test the BaiduEN8k Model. Keep getting error when trying to run "sh run_test_golden.sh"

[2019-03-27 23:07] rhamnett commented on #308
What error? you need to convert to flac and then add it to your own manifest and specify that manifest in the .sh

[2019-03-27 23:29] Cloud299 commented on #308
When running "sh run_data.sh", I get

`
 Traceback (most recent call last):
  File "data/librispeech/librispeech.py", line 19, in <module>
    from data_utils.utility import download, unpack
  File "DeepSpeech/data_utils/utility.py", line 14, in <module>
    from paddle.v2.dataset.common import md5file
ImportError: No module named v2.dataset.common `

[2019-03-27 23:33] Cloud299 commented on #308
Also, when I do "sh run_infer_golden.sh" from /DeepSpeech/examples/baidu_en8k/, I get:

`Download language model ...
../../utils/utility.sh: line 7: md5sum: command not found
../../utils/utility.sh: line 8: [: 099a601759d467cd0a8523ff939819c5: unary operator expected
--2019-03-27 18:32:14--  http://paddlepaddle.bj.bcebos.com/model_zoo/speech/common_crawl_00.prune01111.trie.klm
Resolving paddlepadd

[2019-03-27 23:36] rhamnett commented on #308
I saw that at some point i think. Try running all the tiny examples first in examples/tiny

[2019-03-27 23:37] rhamnett commented on #308
for md5sum are you running on mac? might want to comment out that section or try alias md5sum=md5

[2019-03-27 23:41] Cloud299 commented on #308
I tried the tiny example (running on Mac) and got `Traceback (most recent call last):
  File "data/librispeech/librispeech.py", line 19, in <module>
    from data_utils.utility import download, unpack
  File "/Users/shiba/Desktop/callbox/work/DeepSpeech/data_utils/utility.py", line 14, in <module>
    from paddle.v2.dataset.common import md5file
ImportError: No module named v2.dataset.common
Prepa

[2019-03-27 23:43] rhamnett commented on #308
I suggest you use the docker image for the most chance of getting it working.

[2019-03-27 23:59] Cloud299 commented on #308
Is there a way to run docker without nvidia gpu ?

[2019-03-28 03:23] yflin1 opened #314 "How should I compile swig myself?"
I want to change the file decoders/swig/ctc_beam_search_decoder.cpp

How do I re-compile it and apply the new library ?

[2019-03-28 03:25] yflin1 opened #315 "How to build Mandarin LM ?"
我自己训练了语言模型，且在 python 下使用 kenlm 模块测试正常，
I trained my own language model and tested it with kenlm under python. No problem so far.

但当我把它应用到 DeepSpeech-1 项目下，语音识别时，识别结果都是空字串，而如果用项目里提供的
预训练语言模型又是正常的，我不知道我哪一步做错了。
but when I applied it to DeepSpeech-1 project for sound recognition, the output showed only blank string. However, if I use the pre-trained model came with the project, it worked just fine. I

[2019-03-31 05:27] lukhy opened #316 "model download url not accesible"
[code]

[2019-04-02 05:52] aaronlyt opened #317 "语言模型下载链接出问题"
网站未备案，暂时无法访问
该网站可能未进行备案或未完成转入百度云备案。根据工信部相关法规要求进行阻断显示。

请网站管理员尽快登录 百度云备案系统 根据法规要求完成备案。

[2019-04-02 05:55] aaronlyt commented on #316
+1

[2019-04-08 07:13] aaronlyt commented on #295
请问可以共享个语言模型么，现在好像被禁止了404

[2019-04-08 08:47] huntzhan commented on #316
@pkuyym
Hi team, could you help recover the download links? Thanks!

[2019-04-08 09:23] huntzhan commented on #295
@MrCuiHao @blood0708 @whaozl @aaronlyt 🙏🙏🙏 官方下载链接失效了，可以帮忙云盘共享一下中文预训练模型吗？

[2019-04-08 09:33] rhamnett commented on #268
This definitely works but would be good to fix the original issue

[2019-04-08 14:00] mtbadakhshan opened #318 "Transfer learning for different language"
Hello,
I want to create a ASR system to recognise Persian speech. I can train a model from scratch, but I want to resumes my training from a pre-trained model (such as LibriSpeech Model or BaiduEN8k Model). so I set the value of **"--init_model_path"** argument to the directory of  LibriSpeech Model parameters (models/librispeech/params.tar.gz).
but I got the following output:

[code]
the error In

[2019-04-09 07:19] code-R commented on #268
@ces-bertino do you have the mandarin trained model? the link seems to be broken to test.. if you have can you please let me know? I would like to host the models in s3 for others.

[2019-04-09 07:26] code-R commented on #316
@kuke @luotao1 any help is really appreciated here..  we will push the released models to s3..since all the links are broken.

[2019-04-09 16:49] huntzhan commented on #295
@whaozl 刚试过了，报错“任务地址不存在“

[2019-04-10 02:28] kuke commented on #316
https://deepspeech.bj.bcebos.com/zh_lm/zh_giga.no_cna_cmn.prune01244.klm  (small)
https://deepspeech.bj.bcebos.com/zh_lm/zhidao_giga.klm (large)

Can you try this two urls?

[2019-04-10 06:28] huntzhan commented on #316
@kuke Thanks a lot! By the way, could you help push the speech models as well?

[2019-04-10 10:43] rhamnett commented on #316
This just the chinese ones? What about en?

[2019-04-10 10:44] rhamnett commented on #316
Also would it be at all possible to get the checkpoint download for baidu8ken this is super important for people looking to do telephone training with transfer learning? Many thanks

[2019-04-10 10:50] code-R commented on #316
@kuke thank you so much for providing the language model for mandarin..Can you please provide the acoustic models as well?
@huntzhan the english model link works for me.. you can download from mozilla deepspeech repo as well.

[2019-04-10 10:58] huntzhan commented on #316
@code-R but the link of the Chinese model (BaiduCN1.2k Model) is still failing.

[2019-04-10 11:01] code-R commented on #316
@huntzhan yeah that is the speech model.. I would like to try the BaiduCN1.2k model myself as well, let's hope @kuke provides that :)

[2019-04-11 03:55] ces-bertino commented on #268
Sorry, but I didn't keep the mandarin trained model.

[2019-04-11 08:40] rhamnett commented on #318
Looks like the combination of layers / layer sizes don't match

[2019-04-11 09:44] huntzhan commented on #316
hi @kuke, could you help push the speech model when you have time?

[2019-04-12 06:49] huntzhan commented on #263
@JinmingZhao hi, 请问 speech model BaiduCN1.2k Model 可以 share 一下吗

[2019-04-13 12:11] sivang opened #319 "would you like to build a model for hebrew."
Hello there!

I'm looking to create a model for recognizing Hebrew in phone recordings. What would be the way to go about this?

[2019-04-14 07:47] mtbadakhshan commented on #318
Yes, and I think the reason is that the size of Persian characters in UTF-8 standard is 2 Bytes and the size of English characters are 1 Byte. I think the best practice is to replace corresponding English characters instead of Persian characters. I will try to do this.

[2019-04-15 05:54] whaozl commented on #295
我的可以

[2019-04-15 12:48] mtbadakhshan commented on #318
I replaced English characters instead of Persian characters., but I got the same error. :(
P.S. The vocabularies has different sizes, maybe the problem is this.
How can I change the existing model's CTC layer?

[2019-04-16 10:45] lucgeo opened #320 "Librispeech AM and LM download link"
Hi,
 Can you fix please the AM and LM download link for Librispeech models?

Thank you!

[2019-04-20 07:07] code-R commented on #316
everyone.. for anyone looking for baidu_8k english model.. please use this link for download

[2019-04-20 07:12] code-R commented on #212
@gangyahaidao Can you please share the mandarin pretrained model.. the link available doesn't work any more. (BaiduCN1.2k Model)

[2019-04-21 08:55] wshhja opened #321 "Downloading URL Don't working,get a 502 Error"
Speech Model's url don't work.

[2019-04-22 01:55] wshhja commented on #316
Is there anybody train the speech model by self successfully?

[2019-04-22 09:37] huntzhan commented on #316
@code-R Someone sent me the mandarin pertained model. But, unfortunately, It's not acting properly as mentioned in #94 .

[2019-04-22 10:59] wshhja commented on #316
Excuse me,couldn't you send the speech model to me?My email address is awm24@qq.com

[2019-04-22 19:23] nijil commented on #321
+1

[2019-04-22 19:45] nijil commented on #316
@huntzhan Did you get hold of the mandarin acoustic model? Could you please share a link here?

[2019-04-23 08:45] kuke commented on #321
Please try again. It should work now

[2019-04-23 08:46] kuke commented on #320
Fixed by https://github.com/PaddlePaddle/DeepSpeech/pull/322

[2019-04-23 08:46] kuke commented on #317
https://github.com/PaddlePaddle/DeepSpeech/pull/322 现已修复这个问题了

[2019-04-23 08:49] kuke commented on #295
Hi All，语言模型和预训练模型的url已更新，请重新尝试下载

[2019-04-23 08:55] kuke commented on #316
@lukhy @aaronlyt @huntzhan @code-R @wshhja @nijil All urls have been updated. They should be able to work now.

[2019-04-23 10:39] wshhja commented on #321
Thanks

[2019-04-23 10:39] #321 closed

[2019-04-23 15:29] wshhja opened #323 "How to run infer.py?"
I ran the infer.py as follow:
python -u infer.py \
--use_gru=True \
--use_gpu=False \
--share_rnn_weights=False \
--infer_manifest='data/aishell/manifest.test' \
--mean_std_path='mean_std.npz' \
--vocab_path='vocab.txt' \
--model_path='params.tar.gz' \
--lang_model_path='zh_giga.no_cna_cmn.prune01244.klm' \

The params above are:
--infer_manifest='data/aishell/manifest.test' \   --------created by

[2019-04-23 15:30] wshhja commented on #323
My paddle version is:
`PaddlePaddle 0.11.0, compiled with
    with_avx: ON
    with_gpu: OFF
    with_mkl: OFF
    with_mkldnn: OFF
    with_double: OFF
    with_python: ON
    with_rdma: OFF
    with_timer: OFF`

[2019-04-24 10:46] wshhja commented on #323
Today,i run the infer.py via paddlepaddle-gpu(0.11.0).The script is:python -u infer.py \
--use_gru=True \
--use_gpu=True \
--share_rnn_weights=False \
--infer_manifest='data/aishell/manifest.test' \
--mean_std_path='mean_std.npz' \
--vocab_path='vocab.txt' \
--model_path='baidu_cn1.2k_model.tar.gz' \
--lang_model_path='zh_giga.no_cna_cmn.prune01244.klm' \

But the console output is the same as yes

[2019-04-28 09:16] lixx0105 opened #324 "ctc beam search: python version is not correct"
hi ,

The following python version ctc beam search result is not correct for mandarin with and without LM scorer.(https://github.com/PaddlePaddle/DeepSpeech/blob/develop/decoders/decoders_deprecated.py)

I found this code is for English word based LM which can explain the result with LM is not correct for mandarin.  But result without LM is not correct either.
C++ version is correct.

Can you give

[2019-04-28 09:19] lixx0105 commented on #324
add the author.
@kuke any idea? thanks a lot.

[2019-05-01 15:23] nemo9903 opened #325 "调用GPU训练的时候，有大量的context-switch"
top会发现cpu idle 85%，基本是空闲。与此同时，nvidia-smi发现gpu大部分时间空闲。vmstat观察，CS值大约为三万。CPU核数要远大于python进程数。因为我把num_proc_data设置为1. 是什么原因导致如此大量的上下文切换呢？

[2019-05-06 06:53] haowang5128 commented on #268
https://deepspeech.bj.bcebos.com/en_lm/common_crawl_00.prune01111.trie.klm WORKING
http://paddlepaddle.bj.bcebos.com/model_zoo/speech/common_crawl_00.prune01111.trie.klm NOT WORKING

[2019-05-08 10:38] aslily1234 opened #326 "terminate called after throwing an instance of 'util::CompressedException'"
通过docker配置的环境，执行到sh run_infer.sh 报错，模型下载路径已经修改了
[English LM](https://deepspeech.bj.bcebos.com/en_lm/common_crawl_00.prune01111.trie.klm)
[LibriSpeech Model](https://deepspeech.bj.bcebos.com/eng_models/librispeech_model.tar.gz)

root@6c5480fbb525:/DeepSpeech/examples/tiny# sh run_infer.sh
Download language model ...
download_lm_en.sh: 8: [: 099a601759d467cd0a8523ff939819c5: unexpected operator
--20

[2019-05-08 10:50] aslily1234 commented on #326
把models/lm/common_crawl_00.prune01111.trie.klm 删除了，再运行一遍就好了。。。好神奇的bug。

[2019-05-08 10:50] #326 closed

[2019-05-09 05:24] liuborama opened #327 "paddle related errors paddle.v2 and paddle.init"
I fount the paddle has updated a lot.  we can't import paddle.v2 now .
If I change from paddle.v2 to paddle, then we will find the paddle.init
can't find too.
We can't use train.py and infer.py because of this.
Does anyone find the solution for this paddle upgrade issue? Can anyone help?

[2019-05-12 15:00] #318 closed

[2019-05-13 06:36] YasinZhao commented on #262
The problem still exists......

Download LibriSpeech model ...
download_model.sh: 8: [: 1f72d0c5591f453362f0caa09dd57618: unexpected operator
--2019-05-13 06:32:54--  http://cloud.dlnel.org/filepub/?uuid=117cde63-cd59-4948-8b80-df782555f7d6
Resolving cloud.dlnel.org (cloud.dlnel.org)... 115.239.210.226
Connecting to cloud.dlnel.org (cloud.dlnel.org)|115.239.210.226|:80... connected.
HTTP request s

[2019-05-13 08:34] YasinZhao opened #328 "下载预训练模型失败，502问题"
你好，查看issue时有见到说下载链接问题已经解决了，但是我这里还是存在502问题，可以烦请官方人员帮忙看看吗，谢谢~

Download LibriSpeech model ...
download_model.sh: 8: [: 1f72d0c5591f453362f0caa09dd57618: unexpected operator
--2019-05-13 08:31:58--  http://cloud.dlnel.org/filepub/?uuid=117cde63-cd59-4948-8b80-df782555f7d6
Resolving cloud.dlnel.org (cloud.dlnel.org)... 115.239.210.226
Connecting to cloud.dlnel.org (cloud.dlnel.org)|115.239.210.226|:80

[2019-05-17 09:45] liuborama opened #329 "Fail to download resource from http://cloud.dlnel.org/filepub/"
Models/aishell
download_model.sh
http://cloud.dlnel.org/filepub/?uuid=61de63b9-6904-4809-ad95-0cc5104ab973
I get 502 Bad Gateway. Anyone can help?

[2019-05-17 09:48] #329 closed

[2019-05-17 09:49] liuborama commented on #329
Duplicate with  https://github.com/PaddlePaddle/DeepSpeech/issues/328

[2019-05-21 12:28] liuborama commented on #224
@jiaozhusos  使用baidu_1.2k_model，解决了warmup_manifest 的设置问题了吗？

@whaozl  麻烦问一下基于那个model进行训练的呢？方便贴一下设置参数吗？

这个热度不够啊。。。

[2019-05-21 12:51] liuborama commented on #252
@jiaozhusos 你好，麻烦问一下， 使用BaiduCN1.2k Model，是如何设置manifest的呢？你解决了吗？
我想跑demo_server.py，但是这个warmup_manifest参数不知道如何来设置，能帮忙一下吗？

[2019-05-22 03:39] whaozl commented on #224
我没有用paddlepaddle 自己写的

[2019-05-22 11:49] GallonHu commented on #252
把那一部分注释掉

[2019-05-27 11:28] wegamekinglc opened #330 "how to solve cudaSuccess == err (0 vs. 8) [hl_gpu_apply_unary_op failed]"
I run the examples/tiny from the docker image. My machine is equipped with 4 GTX 2080Ti gpu

[2019-05-28 01:24] liuborama commented on #297
@blood0708 麻烦问一下用 badi_cn1.2时候，参数方便贴一下吗？我这还没跑通，谢谢了

[2019-05-30 14:59] tai960519073 opened #331 "cannot import name md5file"
from paddle.v2.dataset.common import md5file
导入报错，查看官网，老版本文档api没法看，新版本没找到 md5file。请问，最新的版本中怎么导入？

[2019-06-01 09:52] saibharani commented on #327
remove existing paddle version using command
sudo pip uninstall paddlepaddle-gpu
and install old deepspeech supported version for cuda 9.x and cudnn 7
sudo pip install paddlepaddle-gpu==1.2.0-post97
for cuda 8.x and cudnn 7
sudo pip install paddlepaddle-gpu==1.2.0-post87

[2019-06-02 03:36] liuborama commented on #283
The same error, @Slyne ,  your advice doesn't work for me.

[2019-06-10 07:13] QAQ1551QAQ opened #332 "BaiduCN1.2k Model的音频采样率、位深度、声道是什么啊"
百度提供的BaiduCN1.2k Model所使用的音频采样率、位深度、声道是什么啊

![image](https://user-images.githubusercontent.com/50564800/59178674-3f992d00-8b92-11e9-9bcc-97ee3576eff3.png)

[2019-06-11 10:09] kuke commented on #328
Fixed by https://github.com/PaddlePaddle/DeepSpeech/pull/333

请更新下载模型的脚本

[2019-06-18 06:24] dxhgq-github commented on #116
现在用70G的LM，识别一句话要好几分钟，请问运行70G的LM ，需要多少G的内存？

[2019-06-18 08:24] windowxiaoming commented on #181
EOFError可能是迭代轮换时，gpu不够导致

[2019-06-18 09:06] dxhgq-github commented on #116
请问一下，使用70G具体做少需要多大的内存，感觉太慢了。

[2019-06-20 01:19] tai960519073 commented on #332
同问，我也想知道。直接使用这个模型正确率基本为0

[2019-06-21 01:01] WiliiamBryant commented on #299
你好，我也遇到了和你一样的问题，请问你最后是怎么解决的？

[2019-06-21 01:58] blood0708 commented on #299
有点记不清怎么弄的了，时间太久了

[2019-06-21 06:58] mtxing69 opened #335 "why size=dict_size+1, is it for the blank?"
in network.py:
    fc = paddle.layer.fc(
        input=rnn_group_output,
        size=dict_size + 1,
        act=paddle.activation.Linear(),
        bias_attr=True)
is it for the blank? thanks a lot.

[2019-06-21 08:09] #335 closed

[2019-06-24 02:14] wegamekinglc commented on #332
采样率是8k，这个好像要注意一下。改好了，正确率就还好

[2019-06-24 02:16] wegamekinglc opened #336 "Any plan to upgrade Baddle depency?"
Is there any plan to upgrade the paddle dependecy? Currently the project depends on a very old paddle version and python 2.7.

[2019-06-24 02:24] tai960519073 commented on #332
嗯，更改8k后正确率确实提高了。不过使用BaiduCN1.2k README.md文件中的参数设置后，发现识别的结果会“过度矫正”，比如“中国工商银行”，识别为“新中国工商银行”，其它结果类似。使用AISHELL模型反而会好一些。
请问，apla，beta等参数需要怎么改？多谢了

[2019-06-24 12:06] artinegi1607 opened #337 "Error in training with predefined model"
Hi,
I am newbie to this. I just went through the ReadMe and started to follow it.
When I start training the predefined model with tiny data via **"sh run_train.py"**,  I found the below error.

F0624 17:24:26.961547 14845 ClassRegistrar.h:65] Check failed: mapGet(type, creatorMap_, &creator) Unknown class type: cudnn_conv
*** Check failure stack trace: ***
    @     0x7f4b04212eed  google::LogMess

[2019-06-24 21:22] nemo9903 commented on #336
NO PLAN

------------------ Original ------------------
From: Cheng Li <notifications@github.com>
Date: Mon,Jun 24,2019 10:16 AM
To: PaddlePaddle/DeepSpeech <DeepSpeech@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [PaddlePaddle/DeepSpeech] Any plan to upgrade Baddle depency? (#336)

Is there any plan to upgrade the paddle dependecy? Currently the project depends

[2019-06-26 07:29] QAQ1551QAQ commented on #337
问同
我也是加载预训练模型训练的时候出错，--init_model_path = 'models/baiduCN/params.tar.gz'

I0626 07:27:05.990948  1586 Util.cpp:166] commandline:  --use_gpu=1 --rnn_use_batch=True --log_clipping=True --trainer_count=2
[INFO 2019-06-26 07:27:07,147 layers.py:2606] output for __conv_0__: c = 32, h = 81, w = 54, size = 139968
[INFO 2019-06-26 07:27:07,148 layers.py:3133] output for __batch_norm_0__: c = 32, h = 81, w

[2019-06-26 07:35] QAQ1551QAQ commented on #332
采样率8k  位深度16和32位都可以，单声道。
--rnn_layer_size=2048 \
--alpha=1.15 \
--beta=0.15

[2019-06-27 01:27] tai960519073 commented on #297
我目前的测试结果，安静的环境下识别效果还可以，但是真实语音通话环境下，效果很差

[2019-06-27 01:42] tai960519073 opened #338 "BaiduCN1.2k Model数据集"
请问咱们BaiduCN1.2k Model模型采用的数据集是什么样的，比如什么环境，能公开一点数据看看吗

[2019-06-27 06:08] QAQ1551QAQ opened #339 "在百度的BaiduCN1.2k Model基础上继续训练，出现错误 Check failed: src.getSize() == this->getSize() (8060928 vs. 4030464)"
我也是加载预训练模型训练的时候出错，--init_model_path = 'models/baiduCN/params.tar.gz'

I0626 07:27:05.990948 1586 Util.cpp:166] commandline: --use_gpu=1 --rnn_use_batch=True --log_clipping=True --trainer_count=2
[INFO 2019-06-26 07:27:07,147 layers.py:2606] output for conv_0: c = 32, h = 81, w = 54, size = 139968
[INFO 2019-06-26 07:27:07,148 layers.py:3133] output for batch_norm_0: c = 32, h = 81, w = 54, size =

[2019-06-29 07:08] stereomatchingkiss opened #340 "请问输入的audio，该采用那一种格式呢？"
pocketsphinx的要求是

"single-channel (monaural), little-endian, unheadered 16-bit signed PCM audio file sampled at 16000 Hz".

那么DeepSpeech的要求呢?谢谢

[2019-07-02 07:45] dxhgq-github commented on #332
请问，数字之类的比如2018年等为何识别不了，要用什么样的参数？

[2019-07-02 07:51] tai960519073 commented on #332
我目前测试的结果是，数字能识别。但是，对音频质量要求太高了。。。

[2019-07-03 06:09] dxhgq-github commented on #332
@tai960519073 谢谢

[2019-07-04 08:38] tai960519073 commented on #148
你好，我的需求和你的一样，需要识别几十条不同文本即可。但是，现在的问题是，模型训练完成测试的时候，所有测试文件都识别为相同的文字（文字相同，文字数量不同）。请问，这是什么问题？谢谢

[2019-07-04 08:39] tai960519073 commented on #148
![image](https://user-images.githubusercontent.com/7954146/60652173-460d8280-9e7a-11e9-904e-ee207d9b8127.png)

[2019-07-10 08:12] Laxmikant04 commented on #284
Hi @Vincent-Zh ,

I am getting  this issue , How you fixed it ?

[2019-07-17 06:41] artinegi1607 commented on #337
The error is resolved now.
I have reduced the batch_size to 8. Earlier it was 16.
Now it is working fine.

[2019-07-17 06:41] #337 closed

[2019-07-17 19:51] DemonPrince opened #341 "error when executing small, Aborted (core dumped)"
hello tried to run deepspeech with docker, it downloaded from docker hub, but I could not configure it correctly to only use CPUs.
I would appreciate knowing the complete configuration to only use CPU.

`
***********  Configuration Arguments **********
augment_conf_path: conf/augmentation.config
batch_size: 8
dev_manifest: data/tiny/manifest.tiny
init_model_path: None
is_local: 1
learning_rate: 1e

[2019-07-22 10:07] wiboson commented on #283
@liuborama Have you solved this problem? I have encountered the same problem。Thank you

[2019-07-24 14:29] iekhwang opened #342 "run_train.sh error, Fatal Python error: PyThreadState_Get: no current thread"
[code]
I am not using gpu, so I set all use_gpu=False, trainer_count=0 and CUDA_VISIBLE_DEVICES=0, others setting are default. But when I run sh run_train.sh, it shows this problem. Did anyone encounter this problem?

[2019-07-25 20:42] Shashank112 commented on #268
I am still not able to download English model. It stops after 2 GB. Please help me with working link. Thank you.

[2019-07-27 15:37] liuziyi219 opened #343 "Time consumption and data size for tuning"
How many dataset are needed for tuning? I have tried about only 200 data and it took me so much time about 10 hours to tune, and I didn't see the result for the gpu is limited. Is that normal? Does this consume so much time?

[2019-07-29 19:35] ulimmeh commented on #327
Any update on this? I keep getting the error `ModuleNotFoundError: No module named 'paddle.v2'`, when I run the deploy/demo_server.py script. Also, '`pip install paddle.v2`' doesn't work in anaconda command prompt.

[2019-07-30 03:46] nicole-zhao commented on #291
这个错可能是你模型的问题，别用下载的模型，你自己重新训练个模型试一下

[2019-07-31 18:48] SamChen opened #344 "如何将DeepSpeech的weights转换成onnx格式，或者任何能被tensorflow读取的格式。"
如题。 我对paddlepaddle了解很肤浅。。 我想用pytorch加载预训练的百度模型。 但在我到处理模型权重时，我发现每个conv layer 权重都是都被squeeze成了一个list。例如， 第一层的conv layer 参数应该是 32个kernel，每个kernel是一个shape应该是（1，11，41）的tensor。但预训练模型的第一层权重是一个shape为（1，14432）的list。因为32\*11\*41=14432， 所以我猜测这个list中的每个element对应该layer中的一个weight。根据paddle.v2.parameter.Parameters的帮助信息，一个list中的每一个element是protobuf struct。 它记录了每个weight的信息。

我对protobuf完全不熟悉。 不知道应该如何正确映射每一个element的权重信

[2019-08-01 08:27] mohamedITworx opened #345 "infer.py raise StopIteration Exception"
I got this error when i tried to run sh run_infer_golden.sh in tiny examples folder
i even tried to make try and catch but it didn't work
is there any other suggestion ?

-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: wer
infer_manifest: data/tiny/manifest.test-clean
lang_model

[2019-08-01 08:29] nicole-zhao commented on #332
楼主，你用这两个大模型的错误率是多少呀？我用这两个测了几个aishell的测试集大概是0.5左右，测自己的数据就更差了，还没有用小模型测得好。。。

[2019-08-01 08:42] wegamekinglc commented on #332
我也很关心这个问题，我们正在考虑自己测试一下

[2019-08-01 09:42] tai960519073 commented on #332
请问大家语音文件是怎么降噪的，干净的语音识别效果还可以，稍有噪音就比较差，谢谢了

[2019-08-07 02:41] SunlerZRY commented on #302
Have you fixed the problwm? I met the same problem.

[2019-08-07 08:19] SunlerZRY opened #346 "Which version of cuda is sutible for this project?"

[2019-08-07 08:22] SunlerZRY commented on #346
I met the following problem, I'm not sure if there is somthing with cuda version.
![image](https://user-images.githubusercontent.com/45224648/62606731-67f19d80-b92f-11e9-9c92-6e8bb08dc52c.png)

[2019-08-08 09:52] ssokhey commented on #346
If you have `CUDA 8` & `cuDNN 7.*` use the following command to install paddle;

`pip install paddlepaddle-gpu==0.11.0.post87`

For `CUDA 9` & `cuDNN 7.*`, use;

`pip install paddlepaddle-gpu==0.12.0.post97`

I have tested & worked on both!

PS: If you have multiple GPUs, make sure you explicitly mention the GPUs to use, like, `CUDA_VISIBLE_DEVICES=0,2`

[2019-08-08 09:55] ssokhey commented on #342
`CUDA_VISIBLE_DEVICES=0`  means using the GPU with ID=0. No need to mention about `CUDA_VISIBLE_DEVICES` if you are using CPU.

[2019-08-08 09:59] ssokhey commented on #341
I think you need to mention some trainer count instead of  `trainer_count: 0`.

If you have 8 core CPU, you can mention `trainer_count` as 8 or whatever suits you (6, 5, 1) but not zero.

[2019-08-09 07:19] SunlerZRY commented on #346
Thanks！Did you use the docker provided by the author?

[2019-08-09 12:10] SunlerZRY commented on #346
@ssokhey When I try to install paddlepaddle-gpu==0.12.0, there is recommondation that I must use python >=3.5, but this project need python 2.7. Do you meet this conflit? If so,how do you fix it? Thank you!

[2019-08-09 12:42] SunlerZRY commented on #331
将这句话替换为import paddle.dataset.common.md5file，即可

[2019-08-12 01:56] suntingfeng opened #347 "ModuleNotFoundError: No module named 'swig_decoders'"
你好，安装swig已经成功安装，在pip list中也能看见，但是当使用python import swig_decoders的时候会报ModuleNotFoundError: No module named 'swig_decoders'错误，这个是什么原因导致的啊？ 谢谢！！！

[2019-08-12 03:17] Jun-Fan opened #348 "Why lookahead convolution is not implemented?"
In the original paper of [DeepSpeech2](https://arxiv.org/abs/1512.02595), **lookahead convolution** is introduced for unidirectional model to keep accuracy, lower the latency compared to bidirectional model. And the best English models in the paper is 3 layers of unidirectional GRU with lookahead convolution. So, it seems that lookahead convolution is great for real-time deploy, but why lookahead

[2019-08-12 05:11] suntingfeng commented on #347
已经解决

[2019-08-12 05:11] #347 closed

[2019-08-12 11:15] suntingfeng opened #349 "vocab.txt文件位置"
你好，
test.py文件中
add_arg('vocab_path',       str,
        'data/librispeech/vocab.txt',
        "Filepath of vocabulary.")
我想问一下此文件在哪啊，哪里下载可以得到啊？

[2019-08-14 09:42] #349 closed

[2019-08-15 11:20] xiaolvtaomi commented on #139
怎么搞定的 ？

[2019-08-17 08:14] suntingfeng opened #352 "预测为空"

[2019-08-17 08:14] suntingfeng opened #353 "预测为空"

[2019-08-17 08:14] #353 closed

[2019-08-20 09:14] ssokhey commented on #346
@SunlerZRY It works with Python 2.7 for me. Can you present some logs?

[2019-08-21 06:24] hui001 commented on #273
请问这个原因搞清楚了么？

[2019-08-22 01:00] suntingfeng opened #356 "预测语句时长"
你好，我想咨询一下，预测语句最大的时长大概是多长时间呢？

[2019-08-23 12:45] hui001 commented on #60
my cpu doesn't support AVX2 either, could you please tell me how you solved it finally?

[2019-08-24 14:40] hui001 commented on #175
@bolt163  您好，请问您是怎么解决这个问题的？这个项目支持在没有GPU的机器上运行么？谢谢

[2019-08-24 15:15] hui001 commented on #215
@llp123 你好，请问可以分享一下构建cpu版本docker的过程么？  @frozenfires  现在这个镜像是不是不存在了？我拉取不下来。谢谢。

[2019-08-29 06:14] onmywei commented on #292
请问楼主解决这个问题了吗？

[2019-08-29 08:02] hui001 opened #357 "请问什么时候会发布fluid的版本？谢谢"
@kuke 您好，请问什么时候会发布fluid版本的deepspeech？谢谢

[2019-08-29 09:14] onmywei commented on #357
同问~~
docker运行tune.py时候出现"Xbyak::Error"不知道什么情况

`root@e6ea63734dda:/DeepSpeech# python tools/tune.py
-----------  Configuration Arguments -----------
alpha_from: 1.0
alpha_to: 3.2
batch_size: 256
beam_size: 500
beta_from: 0.1
beta_to: 0.45
cutoff_prob: 1.0
cutoff_top_n: 40
error_rate_type: wer
lang_model_path: models/lm/common_crawl_00.prune01111.trie.klm
mean_std_path: data/librispeech/mean_std.np

[2019-08-29 09:58] lfchener commented on #357
fluid版本会在paddle 1.6中发布，尽请期待。

[2019-08-29 10:00] hui001 commented on #357
好的，谢谢，希望fluid版本能支持CPU，现在这个我试了很久都没能把CPU版本跑起来

[2019-08-31 12:57] Re-bin opened #358 "请问 BaiduCN1.2k Model 模型要怎么调用"
请问 BaiduCN1.2k Model 模型要怎么调用，谢谢了。

[2019-09-02 16:15] Re-bin commented on #339
你好，可以问一下怎么用BaiduCN1.2k Model模型嘛，下载了之后要怎么使用，感谢

[2019-09-03 06:27] onmywei opened #359 "terminate called after throwing an instance of 'Xbyak::Error'"
`Download language model ...
download_lm_en.sh: 8: [: 099a601759d467cd0a8523ff939819c5: unexpected operator
--2019-09-03 14:23:04--  https://deepspeech.bj.bcebos.com/en_lm/common_crawl_00.prune01111.trie.klm
正在解析主机 deepspeech.bj.bcebos.com (deepspeech.bj.bcebos.com)... 111.206.47.194, 202.106.5.21
正在连接 deepspeech.bj.bcebos.com (deepspeech.bj.bcebos.com)|111.206.47.194|:443... 已连接。
已发出 HTTP 请求，正在等待

[2019-09-03 06:29] onmywei commented on #359
@ifchener请问一下，这个错误是哪方面的原因呢？一直找不到解决方法

[2019-09-04 08:53] djangogo commented on #302
The same problem....

[2019-09-04 13:15] a2741432 commented on #358
看以往Issues就可以调用成功 拒绝做伸手党哦

[2019-09-05 06:09] tai960519073 commented on #357
我是在CPU跑的，mac电脑，你遇到哪些问题了？

[2019-09-05 06:12] tai960519073 commented on #357
什么时候能放出来一些高质量的数据集？期待

[2019-09-05 06:14] tai960519073 commented on #358
下载BaiduCN1.2k Model按照说明，改几个参数就可以了。另外，语音要求是8位的，16位的不行

[2019-09-05 11:55] Re-bin commented on #358
您好，可以具体的说说嘛，十分感谢。

[2019-09-05 13:45] springminhcm commented on #357
您好，請問有人使用2080ti的gpu可正常執行嗎？

[2019-09-09 03:31] springminhcm commented on #357
您好，请问一下 fluid 1.6版，大概会何时发布呢？(只要一个大致的时间，如半年或一年之类)

[2019-09-09 23:18] tylercollins590 opened #360 "Timestamp"
Is it possible to get the timestamp of each word?

[2019-09-10 03:29] Re-bin opened #361 "Client启动失败求助，缺乏包pynput"
[code]

[2019-09-11 16:50] AASHISHAG opened #362 "Export the trained model"
Hello Team,

I have trained a model and now I want to export the trained model. Is there is any way to achieve it (apart from the checkpoint directory)?

[2019-09-11 16:52] AASHISHAG commented on #362
Closing the issue, I found the flag --model_path that works out well.

[2019-09-11 16:52] #362 closed

[2019-09-15 18:40] sumeet559 commented on #330
I faced the same thing using CUDA 10.1 . Also nividia-docker seems to be deprecated. Can you please help regarding this.
Or update documentation.

[2019-09-18 03:49] QAQ1551QAQ commented on #339
修改train.py的参数，将--init_model_path 改为模型路径

[2019-09-19 06:46] chen1399 opened #363 "基于Mandarin LM Large的剪枝"
Mandarin LM Large下载的文件zhidao_giga.klm，能不能通过
` bin/lmplz -o5 --prune 0 1 1 2 2 -S 80% -T ./ zhidao_giga.klm `进行剪枝,

[2019-09-19 06:48] chen1399 commented on #363
lmplz支持.arpa模型文件，.klm不知道支不支持

[2019-09-19 07:19] chen1399 commented on #363
或者有没有介于Large和Small的中间版本

[2019-09-19 07:28] heavengate commented on #363
Paddle有单独的PaddleSlim工具，支持剪枝，蒸馏，量化，硬件搜索等功能，建议使用这个~
https://github.com/PaddlePaddle/models/tree/develop/PaddleSlim

[2019-09-19 09:42] chen1399 commented on #363
你好，谢谢你的回答。这两种剪枝概念不太一样吧，这是语言模型的剪枝，是用来限制每个order删除单例的个数吧?应该在kenlm生成模型用lmplz进行--prune进行设定。

[2019-09-19 09:44] heavengate commented on #363
麻烦提供下模型和剪枝工具github链接，我找相关开发人员确认一下

[2019-09-19 09:46] chen1399 commented on #363
modelURL: https://deepspeech.bj.bcebos.com/zh_lm/zhidao_giga.klm
kenlm: https://github.com/kpu/kenlm

[2019-09-19 09:50] heavengate commented on #363
这个是inference_model，有Paddle的模型代码链接么，我确认一下模型结构和相关开发

[2019-09-19 09:53] chen1399 commented on #363
没有模型，这是百度已经发布的模型，原话是：A language model is required to improve the decoder's performance. We have prepared two language models (with lossy compression) for users to download and try. One is for English and the other is for Mandarin.

[2019-09-19 09:55] chen1399 commented on #363
是基于KenLM生成的，如果没办法基于.klm文件进行剪枝，我想如果方便的话baidu大大在发布一个Mandarin LM Medium的版本，感谢baidu.

[2019-09-19 10:55] heavengate commented on #363
和开发人员确认了一下，这个模型的Large和Small精度相差没有特别大，发布medium模型价值不大，你可以考虑一下使用Small的模型，要尝试剪枝的话可以参考https://github.com/kpu/kenlm

[2019-09-20 02:34] chen1399 commented on #363
谢谢

[2019-09-20 03:32] #363 closed

[2019-09-22 03:12] #361 closed

[2019-09-23 01:35] windowxiaoming opened #364 "punctuation"
why we get rid of punctuation？When we add the comma and full stop ，what‘s the problem？

[2019-09-23 01:52] tylercollins590 commented on #327
@ulimmeh did you ever get this figured out?

[2019-09-23 14:03] MrCuiHao opened #365 "当我在docker中运行run_infer_golden.sh时，报了如下错误，请问什么原因导致的？"
运行时只使用了一个显卡，１张GTX 1080TI ，显存11GB

root@1e103b8c3b19:/DeepSpeech/examples/tiny# sh run_infer_golden.sh
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: wer
infer_manifest: data/tiny/manifest.test-clean
lang_model_path: models/lm/common_crawl_00.prune01111.trie.klm
mean_std_path: m

[2019-09-25 09:56] hui001 commented on #186
@alanbekker  Have you figured it out ? I incurred the same problem, looking forward your reply, thanks.

[2019-09-26 07:36] roywangtj commented on #330
I also faced same error when using  GTX2080, but same code and same driver/cuda version, nothing error was gone.
Why? please official dev give use detailed answer.
Maybe related paddle and cuda version.

[2019-10-04 08:14] blackstrawlstm commented on #347
How did you resolve it? I am facing the same error

[2019-10-14 08:49] hui001 commented on #186
I have figured it out , just set the DataGenerator's keep_transcription_text to False and make the same preprocess as in  infer_batch_probs()：
data_generator = DataGenerator(
        vocab_filepath=args.vocab_path,
        mean_std_filepath=args.mean_std_path,
        augmentation_config='{}',
        specgram_type=args.specgram_type,
        num_threads=8,
        keep_transcription_text=False)

[2019-10-14 08:51] suntingfeng commented on #357
@hui001 我GPU和CPU均可跑通，是自己安装的环境，没有使用docker，你是遇到啥问题呢？

[2019-10-14 09:02] springminhcm commented on #357
@suntingfeng 请问你的gpu是什么型号的呢？

[2019-10-14 09:07] springminhcm commented on #357
@suntingfeng 在请问一下，依官方的文件，必须用docker才能执行，可否请教一下你如何自己安装呢？非常感谢你能回答，因为目前能购买的gpu显卡(全新)，都已不在是pascal架构~~~~

[2019-10-14 12:17] suntingfeng opened #368 "运行train.py的时候报ValueError: No such parameter错误"
你好，我在进行模型训练的时候出现了以下的错误，请问这是什么原因引起的呢？该如何解决呢？谢谢！！！
-----------  Configuration Arguments -----------
augment_conf_path: conf/augmentation.configbatch_size: 256dev_manifest: ../test_manifest/manifest.dev
init_model_path: ../resource/params.tar.gz
is_local: True
learning_rate: 0.0005
max_duration: 27.0
mean_std_path: ../resource/mean_std.npz
min_duration: 0.0
num_conv_layers: 2
num_iter_print: 100
num_

[2019-10-15 03:20] hui001 commented on #357
我遇到的问题是大多是swig_decoder 的问题，然后就是core dump 的问题，然后我就用docker跑起来了，多谢回复~

[2019-10-17 06:42] suntingfeng commented on #339
请问你这报错的问题解决了么？我也是在预训练模型基础上继续训练，也遇到了此问题。
@QAQ1551QAQ

[2019-10-17 12:28] dhirajsuvarna opened #370 "Docker Image for non-gpu version"
The Docker Image mentioned in the ReadMe.md file talks about the image with GPU support (NVIDIA). Is there a docker image for non gpu support (CPU-only)?

I do not have NVIDIA GPU nevertheless, would like to try out deepspeech, what are my options?

[2019-10-17 12:46] suntingfeng commented on #368
已解决

[2019-10-17 12:46] #368 closed

[2019-10-21 07:18] ritesh-nitjsr commented on #315
@yflin1 were you able to figure out the problem? I am trying to do something similar.

[2019-10-21 11:16] ritesh-nitjsr commented on #190
Hey @jrao1 , were you able to resolve this? I am facing the same issue.

[2019-10-28 08:00] springminhcm opened #372 "如果已训练好一个模型，若有新的资料，如何做训练后续部份呢？"
拜托各位大神帮忙，如果在checkpoints下已做好了一个模型AAA.gz，这是经训练如100小时的语音，如果后续有新增新的20小时的训练资料时，请问要如何只针对那新的20小时训练呢？总不可能每次都要从头开始做学习吧？

[2019-10-28 08:21] zhengyuelai-ctrl opened #373 "请问一下，如何使用已训练模型识别数据"
使用脚本下载了
`DeepSpeech/models/lm/zh_giga.no_cna_cmn.prune01244.klm`
请教一下该如何使用，或者在example中哪个例子是使用的方法（通过脚本指定语音文件输出识别内容）？
谢谢

[2019-10-29 04:28] bulls-i opened #376 "run_train.sh ERROR: unknown command line flag"
I am getting the following output on running `sh run_train.sh` in the Docker image. I at least calls `train.py`  when I run it from outside the image.

[code]

[2019-10-29 06:29] sevenold opened #377 "BaiduCN1.2k Model download error"
{"code":"NoSuchKey","message":"The specified key does not exist.","requestId":"0b14fa2c-02db-4a35-8bf1-fd25147e2c45"}

[2019-10-29 08:41] onmywei commented on #377
我也遇到同样的问题，同求解决方法

[2019-10-29 09:11] bulls-i commented on #376
I removed all existing versions of paddle, and simply reinstalled it again `pip install paddlepaddle`. It works now!
I'd still like to know the reason for the error.

[2019-10-29 09:11] #376 closed

[2019-10-30 03:28] yeyupiaoling commented on #377
我也是，请求帮助。

[2019-10-31 03:56] lawlietAi opened #378 "Segmentation fault"
各位好，我在WSL(Ubuntu 18.04)上配置了该项目，配置如下：
CUDA_VISIBLE_DEVICES=0 \
python -u infer.py \
--num_samples=10 \
--beam_size=300 \
--num_proc_bsearch=8 \
--num_conv_layers=2 \
--num_rnn_layers=3 \
--rnn_layer_size=1024 \
--alpha=2.6 \
--beta=5.0 \
--cutoff_prob=0.99 \
--cutoff_top_n=40 \
--use_gru=True \
--use_gpu=False \
--share_rnn_weights=False \
--infer_manifest='data/aishell/manifest.test' \
--mean_std_

[2019-10-31 03:56] lawlietAi commented on #378
报错如下：
[INFO 2019-10-31 11:51:04,233 model.py:475] begin to initialize the external scorer for decoding
[INFO 2019-10-31 11:51:04,264 model.py:485] language model: is_character_based = 1, max_order = 5, dict_size = 0
[INFO 2019-10-31 11:51:04,265 model.py:486] end initializing scorer
[INFO 2019-10-31 11:51:04,266 infer.py:121] start inference ...
W1031 11:51:04.807015   673 init.cc:212] *** Aborted

[2019-10-31 10:15] artinegi1607 opened #379 "swig_decoders==1.1' distribution was not found"
Hi,

While running the setup.sh to install decoders, I got the below error.
Please help!

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/jay/GIT_HCL/NLP_Project_GIT/arti_branch_voice_recognition/dev_voice_recognition/voice_recognition/asr/venv2/local/lib/python2.7/site-packages/pkg_resources/__init__.py", line 900, in require
    needed = self.resolve(parse

[2019-11-01 06:18] kuke commented on #377
@sevenold @onmywei @yeyupiaoling 刚把这个模型传上去了，请重新下载

[2019-11-01 06:19] yeyupiaoling commented on #377
可以了，谢谢@kuke

[2019-11-01 06:21] kuke commented on #357
谢谢大家的关注，develop 分支已更新到 Paddle Fluid API

[2019-11-01 06:51] kuke commented on #336
Done already. Please take a look at develop branch. Thanks

[2019-11-01 06:51] #336 closed

[2019-11-01 08:11] yeyupiaoling opened #380 "训练中文模型，什么时候进行超参数调整？"
训练中文模型，是训练结束之后就要进行超参数调整吗？还看要看情况而定的？

[code]

[2019-11-01 08:47] yeyupiaoling opened #381 "manifest.noise 这些数据是要自己生成的吗？还是训练过程中自动生成的？"
我的训练数据太干净了，我想加点噪声，在配置文件中，manifest.noise 这些文件是要根据噪声音频生成的吗？还是说 train.py 代码在训练过程中自动帮我们生成？
[code]

[2019-11-01 10:16] lfchener commented on #379
You can try to build and install swig by source 3.0.12:

1. build and install swig by source 3.0.12
wget http://prdownloads.sourceforge.net/swig/swig-3.0.12.tar.gz
tar xvzf swig-3.0.12.tar.gz
cd swig-3.0.12
./autogen.sh
./configure
make
make install

2. entry decoders/swig， rerun setup.sh

as in issue  #113

[2019-11-01 11:31] lfchener commented on #381
数据增强已嵌入到训练的过程中，详细的过程请参考 README 的 Data Augmentation Pipeline 一节：
https://github.com/PaddlePaddle/DeepSpeech#data-augmentation-pipeline

[2019-11-01 11:36] lfchener commented on #373
详见 README  **开始**  章节：
![image](https://user-images.githubusercontent.com/6771821/68022272-d3ed6300-fcde-11e9-919a-bb89a368095c.png)

[2019-11-01 11:38] lfchener commented on #372
可以加载保存好的 checkpoint 继续训练。

[2019-11-01 13:28] springminhcm commented on #372
非常感谢回覆，请问相关的manifest.train、mean_std.npz、vocab.txt的档案，是只要针对那新增的20小时产生的manifest.train、mean_std.npz、vocab.txt，还是要用100小时(原来的)+20小时(新增)所产生的manifest.train、mean_std.npz、vocab.txt来做呢？

非常感谢你的回覆，真的麻烦你了，真的找不到人能回答~

[2019-11-02 02:01] yeyupiaoling opened #382 "使用官方提供的模型作为预训练模型训练自己数据集报错"
我使用如下的官方中文训练模型作为预训练模型训练自己的数据集，报错，
![image](https://user-images.githubusercontent.com/26297768/68064516-924cce80-fd57-11e9-8922-9647577b30cb.png)

错误信息如下：
[code]

[2019-11-02 02:20] yeyupiaoling commented on #381
@lfchener 单纯配置这个文件不行呐，报错` datasets/manifest.impulse` 不存在，这个文件是不是指定噪声文件的？还是说要报噪声文件和普通的音频文件合成。还请告知，
因为文档中说到 `manifest`  这种文件要包含 `text` 的语音中文，但是如果是噪声就没有语音中文内容之说。

[2019-11-02 03:09] yeyupiaoling opened #383 "在计算均值 num_samples 多大合适？"
我的训练数据大概有 50 万条，在计算均值 num_samples 多大合适？
[code]

[2019-11-04 03:32] dhirajsuvarna commented on #370
+1 would like to hear a comment for this

[2019-11-05 12:58] lfchener commented on #382
baiduCN 1.2k 的网络结构参数如下，请确认您的结构与其一致：
![image](https://user-images.githubusercontent.com/6771821/68209752-0d8bda00-000f-11ea-895b-264dd29c84f9.png)

[2019-11-06 06:13] yeyupiaoling opened #384 "在每一次训练估计是一轮之后就显存不足，batch size设置小也没有用"
我的训练参数是：
[code]

我从batch size从原来的32设置到8还是报原来的错误，前面3万多的batch训练时正常的。
[code]

[2019-11-06 06:20] yeyupiaoling commented on #382
@lfchener 参数结构是正确的，但是字典zh_vocab.txt 是我自己生成的，这个有影响吗？
[code]

[2019-11-06 06:22] yeyupiaoling commented on #382
如果不使用自己的字典就是出现无法识别的字符，具体报错如下：
[code]

[2019-11-06 08:25] philiptzou commented on #141
@cogmeta Check my fix.

[2019-11-06 11:55] yeyupiaoling opened #385 "使用官方的中文语音识别模型，不能正确识别语音"
使用官方的中文语音识别模型，不能正确识别语音。输出都是空值

[code]

[2019-11-07 09:25] jchua127 commented on #339
应该是你的vocab没有重新生成导致的

[2019-11-08 04:43] ssokhey commented on #370
You have to install everything locally. It is not much of work if you have ubuntu. You should try that.

If you still can't get around, I can give you a CPU docker image but it will be better if you try yourself.

[2019-11-08 06:50] dhirajsuvarna commented on #370
can you point me to any help guide for the steps to do it?

[2019-11-08 10:16] ssokhey commented on #370
NOTE: paddlepaddle ported the code repository to paddlepaddle==1.6 (develop branch), previously it was supported till 0.13 (master branch)

I don't think you need a guide for that, it is very simple.

Assuming you have Ubuntu 16.04 & Anaconda/miniconda:

- First, install system packages as mentioned in instructions.

1. Create a virtual environment: `conda create -n paddle_cpu python=2.7`
2. Insta

[2019-11-11 04:47] lamudazh opened #386 "AttributeError: 'module' object has no attribute 'RNNCell'"
I user docker to run based on the guide, but when it failed when running examples, could you help ?

/DeepSpeech/examples/tiny {develop} sh run_train.sh
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
Traceback (most recent call last):
  File "train.py", line 9, in <module>
    from model_utils.model import DeepSpeech2Model
  File "/DeepSpeech/model_utils/model.py", line 2

[2019-11-11 05:41] lamudazh commented on #386
this issue solved by install latest paddlepaddle

[2019-11-12 13:58] lamudazh opened #387 "PaddleCheckError:not allowed to load partial data via load_combine_op"
I am using docker to test my one audio, i change a little code from demo_server.py and found below error , is it due to paddle version ?
i install paddle version: paddlepaddle-gpu= 1.6.1.post97
PaddleCheckError: You are not allowed to load partial data via load_combine_op, use load_op instead. at [/paddle/paddle/fluid/operators/load_combine_op.h:105]

[2019-11-13 06:33] jchua127 commented on #372
我觉得应该是要重新用100+20小时的数据来训练，不然的话会有没有识别的字符导致报错的。

[2019-11-13 07:40] #378 closed

[2019-11-14 03:42] yeyupiaoling commented on #385
是不是因为官方这个模型没有训练好呢？

[2019-11-14 03:56] zhaoyuchen2018 commented on #384
有打开显存回收开关么：export FLAGS_eager_delete_tensor_gb=0，另外尝试下把FLAGS_fraction_of_gpu_memory_to_use调小一点

[2019-11-14 04:02] yeyupiaoling commented on #384
@zhaoyuchen2018 FLAGS_fraction_of_gpu_memory_to_use 这个我设置了1这个不是设置越大越好吗？显存全部都PaddlePaddle使用。
FLAGS_eager_delete_tensor_gb这个还没有设置，我设置试试。

[2019-11-14 06:23] yeyupiaoling commented on #384
@zhaoyuchen2018 FLAGS_eager_delete_tensor_gb默认就是等于0的，

[2019-11-15 02:55] springminhcm commented on #372
唉，说真的不知为何，lfchener  并不愿意回覆，我也不是伸手牌，自己都有做过相关测试，就是不行。我有试过用100+20小时的manifest，新做出的mean_std.npz、vocab.txt，搭配20小时的manifest.train与manifest.dev，做train.py时，会出现lhs_.getWidth() == rhs_.getWidth() (16089088 vs. 16142336) 的错误

若用原本的100小时的mean_std.npz、vocab.txt，搭配20小时的manifest.train与manifest.dev，做train.py时，会出现return [self._vocab_dict[token] for token in tokens]
KeyError: u'\u7444' 的错误，然后卡住。

但你用100+20全部重新训练则很正常

[2019-11-15 03:10] chadlwm commented on #386
@lamudazh  it works for me

[2019-11-15 04:04] lfchener commented on #386
You most use PaddlePaddle 1.6.0 or later.
![image](https://user-images.githubusercontent.com/6771821/68916138-a0f7a480-079f-11ea-8a6f-4bcd04bf1cd5.png)

[2019-11-15 04:07] lfchener commented on #387
Can you show me your code?

[2019-11-18 03:38] wegamekinglc commented on #336
Thx

[2019-11-18 07:56] jchua127 commented on #372
.......

是的，我用aishell+自己的数据集，重新生成vocab，meanstd后是可以正常完成训练的，但是我还没有试过在已经训练好的.gz文件上累加训练。我不太理解你说的100+20小时的数据，搭配20小时的manifest.train是什么意思？你说的这两个问题我都没有遇到过，看上去还是因为vocab和manifest.train不匹配导致的。

[2019-11-18 09:07] gnaytx commented on #387
我遇到了同样的问题：
python deploy/demo_server.py \
--host_ip 0.0.0.0 \
--host_port 8086 \
--cutoff_prob 0.99 \
--use_gpu False \
--vocab_path models/aishell/vocab.txt \
--model_path models/aishell/ \
--lang_model_path models/lm/zh_giga.no_cna_cmn.prune01244.klm \
--mean_std_path models/aishell/mean_std.npz
这是我启动的代码，请问我该怎么排查

这是错误栈Python Call Stacks (More useful to users):
----------------------------------

[2019-11-20 07:56] jchua127 opened #388 "baidu_cn1.2K的模型的params.pdparams如何直接用来识别？"
从官网下载下来的BaiduCN1.2K模型中的params.pdparams该如何使用？
infer.py中的model_path要求是params.tar.gz这种格式的，请问这个params.pdparams该如何使用呀，谢谢。

![image](https://user-images.githubusercontent.com/26765635/69219622-2b7c4180-0bae-11ea-84bb-c792ef21d1f0.png)

[2019-11-20 08:27] lfchener commented on #387
The default configuration of deploy/demo_server.py is for the librispeech dataset, which is an English dataset.
So if you want to use Mandarin dataset like aishell, you should make sure the following configurations are correct.

About Network structure：
--rnn_layer_size=1024
--use_gru=True

About warmup dataset, must be Mandarin dataset like:
--warmup_manifest='data/aishell/manifest.test'

Please

[2019-11-20 08:31] lfchener commented on #388
@jchua127  可以参考 examples/aishell/run_infer_golden.sh 来设置文件路径。

[2019-11-20 08:36] jchua127 commented on #388
哦 明白了 是参考aishell中的download_model的例子来下载BaiduCN1.2K的模型是吧，谢谢了。

[2019-11-20 09:12] jchua127 commented on #388
你好 参考aishell下载BaiduCN1.2K的模型，解压后也没有params.tar.gz，run_infer_golden中的也是用的params.tar.gz这个文件，应该如何设置呢？

![image](https://user-images.githubusercontent.com/26765635/69225216-e9a4c880-0bb8-11ea-8f1b-8ddaad94225e.png)

[2019-11-21 02:30] gnaytx commented on #388
model_path 为解压后所在的目录即可， 他会自己拼接  目录 + params.pdparams

[2019-11-21 02:39] jchua127 commented on #388
好像model_path要求必须是压缩包吧，我改成了目录，会报错的，‘

![image](https://user-images.githubusercontent.com/26765635/69299289-2de0a900-0c4b-11ea-9626-77543d39682a.png)

[2019-11-21 08:53] jchua127 commented on #388
问题已解决，是由于我下载的地址不对，导致没有params.tar.gz，应该用https://deepspeech.bj.bcebos.com/demo_models/baidu_cn1.2k_model.tar.gz这个地址，感谢大家的回复。

[2019-11-21 08:53] #388 closed

[2019-11-23 02:21] chrisspen opened #390 "Getting certainty along with transcription?"
Is there any way to get the certainty of a transcription? The examples in ./deploy and ./examples show how to transcribe audio, but not how to get the certainty of that transcription.

[2019-11-27 04:13] kuke commented on #383
采用默认值2000即可，计算均值和方差的样本是抽样出来的，再增大样本数不会对统计结果有显著影响

[2019-11-27 06:09] springminhcm commented on #372
你好，简单来说，我是想做到如jchua127你所提到的「**在已经训练好的.gz文件上累加训练**」。这一部份我目前是完全做不到，只能**全部重新train**。官方人员或文件上目前是都没有说明过如何做，只有lfchener 在本讨论中回覆到「**可以加载保存好的 checkpoint 继续训练。**」但是 ....也就提到一下而已，并没有提到具体的做法。

但我觉得这实在是一件很蛋疼的事情，那天你有1000小时语音了，也train完了，结果，后续又来了250小时的语音，然后本专案只能全部重头将这1250小时语音重新train.....这是什么跟什么呀@@

[2019-11-28 02:05] llp123 commented on #357
2080Ti可以正常运行，安装readme步骤安装环境

[2019-11-28 02:10] llp123 commented on #339
不使用预训练模型初始化最后一层参数，将最后一层参数数目定为你的vocab的数目

[2019-11-28 02:18] llp123 commented on #382
将预训练模型最后一层舍弃掉，换成你的vocab的尺寸，

[2019-11-28 02:21] llp123 commented on #380
声学模型训练完成再训练alpha,beta

[2019-11-28 02:48] yeyupiaoling commented on #380
好的，谢谢 @llp123

[2019-11-28 02:48] #380 closed

[2019-11-28 02:48] yeyupiaoling commented on #383
@kuke 好的，谢谢

[2019-11-28 02:48] #383 closed

[2019-11-28 02:51] yeyupiaoling commented on #382
@llp123 官方提供的预训练模型是一个的，与其他的PaddlePaddle模型不一样呀，普通的模型是每一层都是一个问题的。
这种情况如何去掉最后一层呢？

[2019-11-28 02:53] yeyupiaoling commented on #384
@zhaoyuchen2018 已经设置export FLAGS_eager_delete_tensor_gb=0 和 FLAGS_fraction_of_gpu_memory_to_use 设置小了，还是么有用，我的显存是6G ，请问最低显存要多少？

[2019-11-28 06:04] jchua127 commented on #340
具体没有要求，只要识别和训练的录音文件格式一致就好，Baidu1.2K模型用8K的效果比较好。

[2019-11-28 06:06] jchua127 commented on #372
我试过在BaiduCn1.2k模型基础上进行累加训练自己的数据集，vocab和meanstd用的就是BaiduCN1.2K的，虽然累加后的效果一般（可能是我的数据集不够），但没有出现你说的报错问题。

[2019-11-28 06:10] jchua127 commented on #382
我在BaiduCN1.2K的基础上累加了自己的数据集，vocab和mean_std都是用的BaiduCN1.2K的。但累加后识别效果没有改进。

[2019-11-28 06:12] yeyupiaoling commented on #382
@jchua127 我没加自己的数据，直接使用BaiduCN1.2K模型预测我们的语音，结果无法正确输出结果，一个字都没有输出

[2019-11-28 06:13] jchua127 commented on #382
你的录音文件格式是什么，BaiduCN1.2K对8K采样率的录音文件效果比较好

[2019-11-28 06:16] yeyupiaoling commented on #382
@jchua127
我使用的是官方的代码：https://github.com/PaddlePaddle/DeepSpeech/blob/develop/deploy/demo_client.py
他是16k采样率的

[2019-11-28 06:17] jchua127 commented on #382
我用8K和16K的都可以正常识别，8K的识别率会高很多。你的可能是其他问题。

[2019-11-28 06:19] yeyupiaoling commented on #382
@jchua127 好的，多谢提醒。我再看看。
顺便问题一下，你的显存多大呢，我的6G训练几个小时后就突然出现显存不足。

[2019-11-28 06:22] llp123 commented on #382
我的粗暴解决方式：将预训练模型下载解压，直接删掉最后一层的参数模型，然后再压缩成跟原来模型一样的tar文件，然后修改model.py中的_create_parameters()方法：
    def _create_parameters(self, model_path=None, is_update=False):
        """Load or create model parameters."""
        if model_path is None:
            self._parameters = paddle.parameters.create(self._total_loss)
        elif is_update: # 更新vocab
            self._parameters = paddle.parameters.creat

[2019-11-28 06:24] llp123 commented on #382
我的粗暴解决方式：将预训练模型下载解压，直接删掉最后一层的参数模型，然后再压缩成跟原来模型一样的tar文件，然后修改model.py中的_create_parameters()方法：
[code]
仅供参考。

[2019-11-28 06:25] yeyupiaoling commented on #382
@llp123 能解决问题的办法都是好办法

[2019-11-28 06:26] jchua127 commented on #382
2块16G。内存不足的话把batchsize调小一点就好。

[2019-11-28 06:27] yeyupiaoling commented on #382
@jchua127 调小也没有用，我从原来的32，调到8也不行。

[2019-11-28 06:29] jchua127 commented on #382
@yeyupiaoling 那看来只能加卡了

[2019-11-28 06:30] yeyupiaoling commented on #382
@llp123 这个文件无法解压呢？你是如何解压的？
![image](https://user-images.githubusercontent.com/26297768/69782284-7ff57180-11eb-11ea-99b6-02b2bab701e7.png)

[2019-11-28 06:30] yeyupiaoling commented on #382
@jchua127 好的，我换一个8G的卡试试

[2019-11-28 06:39] zhaoyuchen2018 commented on #384
这个模型我们是在16G显存的GPU上跑的，你那边有没有更大显存的机器呢

[2019-11-28 06:40] yeyupiaoling commented on #384
@zhaoyuchen2018 最大是8G，我今晚使用8G的试试

[2019-11-28 06:46] zhaoyuchen2018 commented on #384
另外你能试下用单进程训练吗，多进程的话可能有些没有退出导致显存没有释放。

[2019-11-28 06:47] llp123 commented on #382
@yeyupiaoling 我这个是在改版fluid之前(master分支)的解决方案，新api参考https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/model_save_reader.html#api-guide-model-save-reader中的fluid.io.load_vars， 应该是可以选择加载参数列表，没有测试可行性，你可以试一下

[2019-11-28 06:50] yeyupiaoling commented on #384
@zhaoyuchen2018 您说的单进程在哪里设置呢？没有找到这个参数。

[2019-11-28 07:09] zhaoyuchen2018 commented on #384
不是一个参数，这个是训练代码控制的，如过用了multiprocess_reader或者启动多进程训练都会走多进程，试试换个reader。

[2019-11-28 08:03] springminhcm commented on #339
@llp123 您好，可否请教你说明一下具体的作法？我有去找你之前的文章，但看的不是很明白，例如，如何去删除最后一层参数？在*.tar.gz中，解开后有很多的档案，如___gru_5__.wbias.protobuf等，请问是要删那一个呢？

另外上述你所提到的将数目定为你的vocab的数目，是指你之前回覆文章时提到的“修改model.py中的_create_parameters()”这一段吗？

诚心请教 @llp123 大大，可否帮我解惑一下，真的麻烦你了~~~非常的感谢~

[2019-11-28 08:23] llp123 commented on #339
删除 ___fc_layer_6__.*，这几个是最后的全连接层的参数

[2019-11-28 12:55] springminhcm commented on #339
@llp123 真的非常感谢你的回覆，可否在帮忙一下，请问你上述提到的“将最后一层参数数目定为你的vocab的数目”这一部份如何做呢？是指修改model.py中的_create_parameters()”这一段吗？

[2019-11-28 13:15] shoegazerstella commented on #346
What about CUDA 10.1?
I have this error when running the `run_train.sh` from the examples
`PaddleCheckError: CUDNN_STATUS_INTERNAL_ERRORFailed to create Cudnn handle in DeviceContext at [/paddle/paddle/fluid/platform/device_context.cc:281]`

[2019-11-29 04:02] yeyupiaoling commented on #382
@jchua127 请问您有修改什么参数吗？我的参数如下，一个字都没有识别到。

客户端：
[code]

启动服务参数：
[code]

[2019-11-29 04:04] yeyupiaoling opened #392 "官方 baidu_cn1.2k_model_fluid 的音频参数是什么？"
请问官方的baidu_cn1.2k_model_fluid 的下面的音频参数是什么呢，我使用`deploy`的程序也不能正确识别我的语音。
[code]

[2019-11-29 05:40] jchua127 commented on #382
你用的是fluid版本？model_path不对吧？应该是一个.gz压缩包

[2019-11-29 07:55] yeyupiaoling commented on #382
@jchua127 是的，我用的是fluid版本，模型路径是没有问题的。你的音频文件处理是这样的吗？？
[code]

[2019-11-30 15:27] #358 closed

[2019-12-02 05:55] jchua127 commented on #382
@yeyupiaoling 我是用infer.py进行识别的，我用的不是fluid版。

[2019-12-02 06:19] llp123 commented on #339
@springminhcm 是的

[2019-12-02 08:51] springminhcm commented on #339
@llp123 你好，回报一下，我改好后，以新增的语音档是可以训练了..... 但是结果有点惨，原本正确率有近70%，使用这个方式train后，正确率剩不到5% ....我想我可能有那里弄错吧？

[2019-12-02 09:11] jasonlbx13 commented on #385
把音频转成8000试试，16000大部分都是空值

[2019-12-02 09:31] jasonlbx13 commented on #332
spleeter人声分离

[2019-12-02 10:20] llp123 commented on #339
@springminhcm 需要先训练，才可以做推理。并且原来的可以用为什么还要换？

[2019-12-02 14:38] springminhcm commented on #339
@llp123您好，特别解释一下，我原本利用大约650小时，train一个模型，形成650HR.tar.gz档(这个档有近70%正确率)。但由于我之后会陆陆续续新增新的语音档来train，例如后面可能会陆续新增100小时、50小时、100小时之类。所以我希望能直接利用这650HR.tar.gz档，来做后续的训练，如只要针对新增的100小时来train。

只是目前我怎么试都试不出来，就会产生如Check failed: src.getSize() == this->getSize()的错误，我只能重头来train，只能用750小时(650+100)来重头train。

由于这样重头train，真的很耗时，所以我才会想询问有没有什么方式可以只针对新增的100小时train。
以上特别说明，非常感谢你的回覆，因我在别的讨论串中询问，官方人员都没回覆.....

[2019-12-03 02:32] llp123 commented on #339
@springminhcm 我说一下我的解决方式，首先建立一个包含基本常用汉字，数字，字幕等的字典，我的字典借鉴了百度预训练模型中的所有字符，以及自有数据涉及的字符，6000+，然后增加一个unk标记来标记未发现的字符。每次新增数据就可以只训练新增数据，而无需再次变动vocab。

[2019-12-03 09:09] shoegazerstella commented on #200
hey @xikunlun001, how did you solve this? I am also having this problem during training after 91 epochs.

[code]

[2019-12-03 15:04] uzunovic commented on #160
I'm seeing the same problem, so I wonder if there is an update on this issue. Thanks!

[2019-12-05 07:47] AshishKarel commented on #382
Hello everyone, I also got the same issue as the original one. I had a small dataset of 3000 audio files(wav) and created its vocabulary to infer trained model(librespeech) and it gave shape mismatch error. So i changed it to the default vocab provided in examples/tiny and it worked. Or we could also have tried the method where we need to reconfigure the last layer. But i will leave that for some

[2019-12-05 09:20] AshishKarel commented on #323
Maybe try reducing the batch size

[2019-12-05 09:25] changweioy commented on #379
试了，完全没用。

[2019-12-07 11:48] GC-Tom opened #396 "正常运行train.py 但是运行test.py和infer.py时使用gpu情况下报错"
不使用gpu情况下 可正常使用，使用gpu时的报错信息如下：
-----------  Configuration Arguments -----------
alpha: 2.5
batch_size: 128
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: wer
lang_model_path: models/lm/common_crawl_00.prune01111.trie.klm
mean_std_path: models/librispeech/mean_std.npz
model_path: checkpoints/libri/epoch_3
num_conv_layers: 2
num_proc_bsea

[2019-12-07 12:39] GC-Tom commented on #396
补充：test和infer在不使用gpu情况下可以正常运行

[2019-12-09 03:14] GC-Tom commented on #365
out of memory

[2019-12-10 07:41] yeyupiaoling commented on #382
@AshishKarel hi， What should I do?

[2019-12-10 07:43] yeyupiaoling commented on #385
@jasonlbx13 好的，我试试，谢谢。
你是修改这个吗：
https://github.com/PaddlePaddle/DeepSpeech/blob/517c027c5efd8f235fcf18316372a8923edcb00a/deploy/demo_client.py#L69-L75

还是这个？
https://github.com/PaddlePaddle/DeepSpeech/blob/517c027c5efd8f235fcf18316372a8923edcb00a/deploy/demo_server.py#L116-L121

[2019-12-10 07:46] yeyupiaoling commented on #384
我已经有打开显存回收开关了：export FLAGS_eager_delete_tensor_gb=0
还有设置batch size为16，我显卡的显存是8G，还是报错。
可能是需要16G的显卡，奈何我没有。

[2019-12-10 07:46] #384 closed

[2019-12-10 07:46] #381 closed

[2019-12-10 07:47] AshishKarel commented on #382
@yeyupiaoling  i'm no expert in this but first check compare your vocab with the one provided in the repo. And if that doesnt match means you have to redefine the last layer(see @llp123 answer above) of model and retrain it.

[2019-12-10 07:49] yeyupiaoling commented on #382
@AshishKarel He's using V2. But I using Fliuid.

[2019-12-10 07:50] yeyupiaoling commented on #382
@AshishKarel Could you please answer this question? #392

[2019-12-10 07:58] AshishKarel commented on #382
Nope not yet worked on mandarin models

[2019-12-10 07:59] yeyupiaoling commented on #382
I see. Thank you.

[2019-12-10 08:22] jasonlbx13 commented on #385
我没有修改源码，只是把测试语音的采样频率用ffmpeg从16k转为了8k,你可以试下

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "夜雨飘零"<notifications@github.com&gt;;
发送时间: 2019年12月10日(星期二) 下午3:43
收件人: "PaddlePaddle/DeepSpeech"<DeepSpeech@noreply.github.com&gt;;
抄送: "骚浪大蹄子"<602465307@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/DeepSpeech] 使用官方的中文语音识别模型，不能正确识别语音 (#385)

@jasonlbx13 好的，我试试，谢谢。

[2019-12-10 08:23] yeyupiaoling commented on #385
好的，谢谢。

[2019-12-10 08:23] #385 closed

[2019-12-10 11:13] suntingfeng opened #397 "kenlm支持加载预训练语言模型进行语言模型的训练吗？"

[2019-12-10 11:25] jchua127 opened #398 "在docker-GPU环境下训练的模型，在CPU自己安装的环境下如何进行识别？"
我在docker GPU环境下训练好了模型（params.pass-49.tar.gz等49个文件），可以正常进行infer和test；在CPU环境下自己安装完成了DeepSpeech和Paddle，当我把训练好的模型拷贝到CPU环境下，进行infer识别时，报错如下：
PaddleCheckError: OP(LoadCombine) fail to open file checkpoints/1120/params.pass-49.tar.gz/params.pdparams, please check whether the model file is complete or damaged. at [/paddle/paddle/fluid/operators/load_combine_op.h:46]
  [operator < load_combine > error]

麻烦

[2019-12-11 09:37] kuke commented on #397
不支持，kenlm训练的语言模型是基于n-gram的，而非神经网络。

[2019-12-12 07:01] tutan123 commented on #373
如何预测自己的wav文件呢

[2019-12-13 07:00] gaozheyuan commented on #382
你用的是什么版本呀？

[2019-12-16 09:02] francislinker commented on #382
@llp123 fluid版本中采用的save_params 保存参数,无法通过load_vars 选择加载参数列表，这种方法似乎不可行,有没有其他方法能够去掉最后一个全连接层,望指教.

[2019-12-17 01:55] suntingfeng commented on #397
好的，谢谢！那kenlm可以像srilm的compute-best-mix脚本进行语言模型的合并吗？

[2019-12-17 04:21] nemo9903 commented on #382
请问fluid版本的链接在哪里？谢谢

---原始邮件---
发件人: "FrancisChan"<notifications@github.com&gt;
发送时间: 2019年12月16日(周一) 下午5:02
收件人: "PaddlePaddle/DeepSpeech"<DeepSpeech@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/DeepSpeech] 使用官方提供的模型作为预训练模型训练自己数据集报错 (#382)

@llp123 fluid版本中采用的save_params 保存参数,无法通过load_vars 选择加载参数列表，这种方法似乎不可行,有没有其他方法能够去掉最后一个全连接层,望指教.

—
You are r

[2019-12-17 09:57] #398 closed, assigned to kuke

[2019-12-17 09:58] jchua127 commented on #398
fluid版本和之前的版本不一样

[2019-12-18 00:12] jerrylususu commented on #386
If you're using the Docker container, run the following command to update PaddlePaddle, which should fix the problem. (Python 2.7 + CUDA 10)
`python -m pip install paddlepaddle-gpu==1.6.2.post107 -i https://pypi.tuna.tsinghua.edu.cn/simple`

[2019-12-18 16:43] shoegazerstella opened #399 "Unable to normalize segment"
This error appears quite often during my training.
Any idea on how to solve it? maybe doing some preprocessing on the audio?

[code]

Thanks!

[2019-12-19 06:15] lfchener commented on #399
Did you finish the data preparation before training? And which dataset did you using？

[2019-12-19 06:18] lfchener commented on #399
Did you finish the data preparation before training? And which dataset did you use？

[2019-12-19 08:36] shoegazerstella commented on #399
Yes I computed the data preparation like this:

[code]

The error above does not stop the training but I noticed it skips some batches quite often.
I am using my own dataset.

[2019-12-19 11:14] suntingfeng opened #400 "加载预训练好的中文声学模型训练自己的模型，mean_std.npz该如何更新？"
你好，加载预训练好的中文声学模型训练自己的模型，mean_std.npz该如何更新？因为提供的mean_std.npz包含的是你们预训练数据集样本特征的均值和标准差，现在我想包含我自己样本数据和你们数据的特征的均值和标准差。这个我该如何做呢？

[2019-12-19 11:32] suntingfeng commented on #400
我是不是可以使用自己的数据生成mean和std，然后读取提供的mean_std.npz，两者进行拼接啊？

[2019-12-19 17:32] shoegazerstella commented on #399
I have some logs to show, basically when the error occurs the train of that epoch is stopped

[code]

Is there a way I can solve this?
Thanks!

[2019-12-20 02:13] jchua127 opened #401 "fluid版本可以兼容V2版本的训练结果吗？"
之前在V2版本上已经训练好的模型，模型后缀params.pass-49.tar.gz，但是新版本的fluid版本要求的模型是params.pdparams格式，fluid版本能有办法支持V2版本的模型吗？

[2019-12-20 03:24] lfchener commented on #400
@suntingfeng
可以参考 readme 里 **数据准备** 部分的描述：
https://github.com/PaddlePaddle/DeepSpeech#compute-mean--stddev-for-normalizer

[2019-12-20 05:09] lfchener commented on #399
It seems like the variance of your audio data is too large.
You can try to increase the default value of **max_gain_db** in  **normalize**：
![image](https://user-images.githubusercontent.com/6771821/71231545-639baf00-2329-11ea-9289-2471349f86b7.png)

which is defined in **data_utils/audio.py**
https://github.com/PaddlePaddle/DeepSpeech/blob/develop/data_utils/audio.py#L323

[2019-12-20 10:16] shoegazerstella commented on #399
I just doubled to 600 and had still that error but less often, I guess I need to find the best value? Is more than 600 too much?

[2019-12-23 11:15] lfchener commented on #399
Maybe you should analyze your audio data to get the best value.

[2019-12-23 11:26] #399 closed, assigned to lfchener

[2019-12-25 02:30] #401 closed, assigned to nobody

[2019-12-25 02:30] jchua127 commented on #401
应该是不行

[2019-12-25 09:12] xinzheshen opened #404 "按照readme 一步一步执行的， infer 时报错。"
@lfchener 我看报错这行代码是您最近添加的，我是pip安装的环境， 并按照readme 一步步执行的，但执行到infer时报错，是readme过时了吗？谢谢。
Traceback (most recent call last):
  File "/home/shenxz/.IdeaIC2019.2/config/plugins/python-ce/helpers/pydev/pydevd.py", line 1415, in _exec
    pydev_imports.execfile(file, globals, locals)  # execute the script
  File "/home/shenxz/code/DeepSpeech/infer.py", line 152, in <module>
    main()
  File "/home/shenxz/c

[2019-12-27 09:06] jchua127 commented on #404
用上个版本的data.py

[2019-12-27 11:34] WilliamEt opened #405 "按照docker一步一步装好，下载完data，sh run_train.sh就出错"
在example/tiny目录下
sh run_data.sh正常下载好librispeech的test-clean和dev-clean
然后 sh run_train.sh就报错
报错信息如下：
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
Traceback (most recent call last):
  File "train.py", line 9, in <module>
    from model_utils.model import DeepSpeech2Model
  File "/DeepSpeech/model_utils/model.py", line 23, in <module>
    from model_utils.network import dee

[2019-12-28 04:27] yeyupiaoling opened #406 "使用多个CPU训练报错"
为了可以使用多个CPU进行训练，因为我电脑有CPU有6核，我执行了
[code]

在docker训练，在执行训练时就报错了，
[code]

[2019-12-28 06:52] #405 closed, assigned to nobody

[2019-12-28 10:13] WilliamEt commented on #404
确实这样，用上个版本的替换掉DeepSpeech/data_utils/data.py就好了
![image](https://user-images.githubusercontent.com/17410301/71542145-c3373180-299d-11ea-8065-9ec2ae4eeb62.png)

[2019-12-29 02:36] xinzheshen commented on #404
我试了，确实是这样，多谢 @jchua127  @WilliamEt

[2019-12-31 03:27] bigcash opened #407 "Error: OP(LoadCombine) fail to open file models/BaiduCN1.2k/baidu_cn1.2k_model_fluid.tar.gz/params.pdparams"
我的目标是：使用baidu_cn1.2k的模型实现对语音文件转文字的调用测试，centos7，cpu环境，没有使用docker而是直接安装的。启动server时遇到以下错误：

(baidu27) [lb@centos702 DeepSpeech]$ python deploy/demo_server.py --host_ip 172.16.1.190 --host_port 10010 --warmup_manifest data/aishell/manifest.test --mean_std_path models/BaiduCN1.2k/mean_std.npz --vocab_path models/BaiduCN1.2k/vocab.txt --model_path models/BaiduCN1.2k/baidu_cn1.2k_model_fluid.tar.gz --lan

[2019-12-31 05:22] chadlwm commented on #382
@jchua127 把音频格式转为8k就来识别内容了，只是准确度有点低

[2020-01-02 03:31] lfchener commented on #407
你的文件路径写错了
--model_path
应该是你下载了模型解压后的文件夹路径，比如：
--model_path='models/baidu_en8k'

[2020-01-02 08:45] bigcash commented on #407
@lfchener 多谢解答，我理解您的意思。不过我是下载了BaiduCN1.2k Model后，想使用这个模型部署一个语音转文字的服务端，启动时报错了。
另外，我也使用这个baidu_en8k的模型测试了一下，也出现了同样的错误，还请帮忙看一下问题出在哪里了，多谢！
baidu_en8k的错误：
----------------------
Error Message Summary:
----------------------
Error: OP(LoadCombine) fail to open file models/baidu_en8k/baidu_en8k_model_fluid.tar.gz/params.pdparams, please check whether the model file is complete or damaged. at (/paddle/pad

[2020-01-03 01:41] lfchener commented on #407
这个文件路径不对，你需要先把 baidu_en8k_model_fluid.tar.gz 解压，然后将 --model_path 路径目录填写到 models/baidu_en8k/baidu_en8k_model_fluid

[2020-01-03 01:44] wueching opened #408 "Error: You are not allowed to load partial data via load_combine_op, use load_op instead"
λ 8aa2aa3cf875 /DeepSpeech/examples/tiny ./run_infer_golden.sh
Download language model ...
./zh_giga.no_cna_cmn.prune01244.klm already exists, download skipped.
Download Aishell model ...
./aishell_model_fluid.tar.gz already exists, download skipped.
mean_std.npz
README.md
vocab.txt
params.pdparams
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
-----------  Configuration

[2020-01-03 02:18] lfchener commented on #408
Show me the paddle version please. @wueching

[2020-01-03 02:33] wueching commented on #408
λ 8aa2aa3cf875 /DeepSpeech/examples/tiny paddle --version
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
PaddlePaddle 1.6.2, compiled with
    with_avx: ON
    with_gpu: OFF
    with_mkl: ON
    with_mkldnn: ON
    with_python: ON
@lfchener

[2020-01-03 02:38] wueching commented on #408
λ 8aa2aa3cf875 /DeepSpeech/examples/tiny ./run_infer_golden.sh
Download language model ...
./zh_giga.no_cna_cmn.prune01244.klm already exists, download skipped.
Download Aishell model ...
./aishell_model_fluid.tar.gz already exists, download skipped.
mean_std.npz
README.md
vocab.txt
params.pdparams
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
-----------  Configuration

[2020-01-03 02:44] wueching commented on #408
env:  windows7->VMware->Ubuntu14->Docker->hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu

[2020-01-03 03:42] bigcash commented on #407
多谢，我之前以为会自动读取压缩包中的参数文件呢，理解有误。再此感谢！

[2020-01-03 03:42] #407 closed, assigned to lfchener

[2020-01-03 03:59] bigcash commented on #387
@lfchener 您好，我也遇到了这个问题。我又在虚拟机的centos7的cpu环境中测试了启动命令，也报了这个错误（在服务器centos8的gpu环境也是这个错）。
在cpu中执行以下启动命令：
(baidu27) [lingbao@centos702 DeepSpeech]$ python deploy/demo_server.py --host_ip 0.0.0.0 --host_port 10010 --warmup_manifest data/aishell/manifest.test --mean_std_path models/aishell/mean_std.npz --vocab_path models/aishell/vocab.txt --model_path models/aishell/ --lang_model_path models/lm/zh_giga.n

[2020-01-03 04:02] bigcash commented on #408
@wueching how did you fix your first problem， about "Error: You are not allowed to load partial data via load_combine_op, use load_op instead. at (/paddle/paddle/fluid/operators/load_combine_op.h:105)"

[2020-01-03 11:40] wueching commented on #408
set share_rnn_weights to False and use_gru to True @bigcash

[2020-01-03 14:27] wueching commented on #408
why is the output all none?Any one can help?

[2020-01-03 15:09] wueching commented on #408
lm_dict_size = self._ext_scorer.get_dict_size()，return 0,it shoud be the reason.

[2020-01-03 19:03] wueching opened #409 "Failed to find dynamic library: /usr/local/lib/python2.7/dist-packages/paddle/libs/libwarpctc.so"
wueching@ubuntu:~/research/ai/DeepSpeech/examples/tiny$ ./run_train.sh-----------  Configuration Arguments -----------
augment_conf_path: conf/augmentation.config
batch_size: 4
dev_manifest: data/tiny/manifest.tiny
init_from_pretrained_model: None
is_local: 1
learning_rate: 1e-05
max_duration: 27.0
mean_std_path: data/tiny/mean_std.npz
min_duration: 0.0
num_conv_layers: 2
num_epoch: 20
num_iter_pr

[2020-01-06 05:55] wics1224 opened #410 "docker中paddlepaddle版本过低，无法运行"
docker中paddlepaddle版本过低，无法运行，也无法下载软件包，无法联网，应该如何解决呢？

[2020-01-06 06:53] bigcash commented on #408
@wueching thanks, it works.
my command which works:
python deploy/demo_server.py --host_ip 0.0.0.0 --host_port 10010 --warmup_manifest data/aishell/manifest.test --beam_size=300 --rnn_layer_size=1024 --alpha=2.6 --beta=5.0 --cutoff_prob=0.99 --use_gru=True --use_gpu=True --share_rnn_weights=False --mean_std_path=models/aishell/mean_std.npz --vocab_path=models/aishell/vocab.txt --model_path=models/

[2020-01-06 10:29] zhhsplendid commented on #406
嗨，报错 log 是在分配内存时出错，请确认机器内存充足，以及没有和别的程序共用导致内存不足

[2020-01-07 06:18] Cabchinoe commented on #410
from 他, 然后自己pip 重新安装吧....

[2020-01-08 06:20] yeyupiaoling commented on #406
@zhhsplendid 好的，谢谢

[2020-01-08 06:20] #406 closed, assigned to nobody

[2020-01-08 06:20] #392 closed

[2020-01-08 12:26] WilliamEt commented on #410
去paddlepaddle网站下载最新的docker版

[2020-01-09 02:28] wanwanzaizai opened #411 "use CN1.2K model do not have manifest_path"
download 2.8g lm and baidu_cn1.2k_model_fluid.tar.gz but i can't find manifest_path when i extract file

[2020-01-09 03:08] xinzheshen commented on #404
我pull了最新的代码，仍然报上面的错。

[2020-01-09 03:28] bigcash opened #412 "模型部署后，对长语音是否支持？"
您好，感谢开源！
我部署启动了deploy/demo_server.py，测试大概40分钟的语音，wav文件8000rate的有38M的时候，报内存溢出错误：Out of memory error on GPU 0.  我使用的是2080Ti的单卡进行测试的，显存11019MiB，是不是这种长语音需要对音频进行切割，一般怎样切割可以使最终结果更加准确，是固定时长切割（如按每隔10s切割）还是按录音中没有语音信号时切割的？
我也使用过百度云中提供的api进行语音转文字，是将40分钟录音文件直接提交的，是不是在服务端先进行了语音分割，然后再对所有结果合并，最后给出结果的？
多谢解惑！！

server端报错如下（使用BaiduCN1.2k模型）：
Received utterance[length=40108716] from 172.16.1.18, saved to demo_cache/

[2020-01-13 08:56] sukibean163 commented on #94
@pkuyym 问题解决了吗？

[2020-01-14 02:51] gaozheyuan commented on #278
I feel the learning rate too large, I set the learning rate to be 1e-5 and it decreases steadily

[2020-01-16 06:25] bigcash commented on #411
baidu_cn1.2k_model_fluid.tar.gz is model, it does not have a  manifest
manifest need you to make it yourself from dataset, see "Generate Manifest" of readme

[2020-01-16 11:29] ArtemiyFirsov opened #413 "ValueError: invalid literal for int() with base 10: ''"
Getting the error on Ubuntu 18.04 Docker installation.
Running docker with
`sudo docker run --gpus=all -it -v $(pwd)/DeepSpeech:/DeepSpeech hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu /bin/bash`

Updated the code to the latest develop branch.

Error happens on infer
`CUDA_VISIBLE_DEVICES=0 python infer.py --infer_manifest test_deep_speech.txt`

Manifest I am trying to infer
`{"audio

[2020-01-16 11:30] ArtemiyFirsov commented on #413
Another question is - why it needs transcription on infer stage?
I think it is not used further, but still without it it fails with error

[2020-01-16 11:31] ArtemiyFirsov commented on #413
@lfchener, I see that is your latest commit, that did that, can you please help?

[2020-01-18 02:24] sukibean163 commented on #372
@springminhcm 后来解决了吗？新的训练数据vocab一般会增加，加载预训练的模型，最后一层也要相应更改吧。

[2020-01-19 17:49] tianchaolangzi opened #414 "aishell run_test.sh时UnicodeEncodeError: 'decimal' codec can't encode characters in position 0-11: invalid decimal Unicode string"
-----------  Configuration Arguments -----------
alpha: 2.6
batch_size: 128
beam_size: 300
beta: 5.0
cutoff_prob: 0.99
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: cer
lang_model_path: models/lm/zh_giga.no_cna_cmn.prune01244.klm
mean_std_path: models/aishell/mean_std.npz
model_path: models/aishell
num_conv_layers: 2
num_proc_bsearch: 8
num_rnn_layers: 3
rnn_layer_size: 1024
s

[2020-01-20 06:37] lfchener commented on #409
Please make sure your libwarpctc.so file is in the same path with python env, or you should ``export  LD_LIBRARY_PATH=# libwarpctc.so file path`` like the error message tell you:
![image](https://user-images.githubusercontent.com/6771821/72703962-2e85b500-3b92-11ea-978f-9830c4fae6b2.png)

[2020-01-20 06:55] lfchener commented on #413
Thanks for attention!
About the error happens on infer, it is a bug, we have fixed it now.
About why it needs transcription on infer stage, because we compute the WER/CER after infer each sentence, transcription is the ground truth.
Thanks again.

[2020-01-20 06:58] lfchener commented on #414
已修复，感谢关注!

[2020-01-20 07:20] lfchener commented on #412
感谢关注！
40min 这么长的语音的话，建议你可以先以句子为单位进行切割，既按录音中没有语音信号的时长来作为条件切割，再进行识别。

[2020-01-20 08:40] tianchaolangzi commented on #414
多谢

[2020-01-20 08:40] #414 closed, assigned to nobody

[2020-01-21 07:53] wanwanzaizai opened #416 "docker image for cpu"
Is there a CPU version of docker image

[2020-01-21 07:53] wanwanzaizai commented on #416
i try it install by myself but the soundfile can not install to centos8

[2020-01-21 09:48] wanwanzaizai commented on #215
@frozenfires 你好，我遇到跟你一样的问题了，请问你重装paddlepaddle是pip直接装的还是源码安装的

[2020-01-21 10:03] shoegazerstella opened #417 "Docker image for CUDA 10.0"
I am using the available docker image.
After fixing [this issue ](https://github.com/PaddlePaddle/DeepSpeech/issues/386#issuecomment-566807071) I have this error when trying `sh run_train.sh`

[code]

It seems starting from this docker image that i can't properly see the GPU, I am on a server with CUDA 10.2 but inside the docker there is CUDA 9 installed.

[code]
What's another docker image I can

[2020-01-22 17:09] karlkao commented on #412
I ran into the similar issue while training with aishell dataset.
Rerunning the same training doesn't help to resolve this issue. However, GPU # may be different. For example, the attached error message shows "GPU 1", and I could find "GPU 4" or "GPU 5" in other failed instances.

----------------------
Error Message Summary:
----------------------

Out of memory error on GPU 1. Cannot allocate 41

[2020-01-23 11:48] aayushkubb opened #418 "model init multiple times, slow inference"
Hi Team,

I was trying to run DeepSpeech on Libris dataset and noticed while doing inference. The model is initialized with every batch/loop. This makes the inference very slow, is there a way around that we don't initialize the model in every batch?

Complete trace:
`-----------  Configuration Arguments -----------
alpha: 2.5
batch_size: 16
beam_size: 128
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n:

[2020-01-23 17:23] karlkao opened #419 "Training examples/librispeech - Segmentation fault"
While it's training with examples/librispeech, right after test done with epoch 2, starting epoch 3.
The training failed with following message.

----------Begin test...
--------Time: 8828.566067 sec, epoch: 2, train loss: 55.043900, test loss: 823.349414
save parameters at ./checkpoints/libri/epoch_2
W0123 04:51:52.655895  1282 init.cc:206] *** Aborted at 1579755112 (unix time) try "date -d @1579

[2020-01-28 12:46] vhiwase opened #420 "sh run_infer.sh"
sh run_infer.sh
/usr/local/lib/python2.7/dist-packages/requests/__init__.py:83: RequestsDependencyWarning: Old version of cryptography ([1, 2, 3]) may cause slowdown.
  warnings.warn(warning, RequestsDependencyWarning)
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 1
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 4
decoding_method: ctc_beam_search
error_rate_type: wer
infer_manif

[2020-01-30 13:18] vhiwase opened #421 "Facing problem with installation on python3i"
I am facing problem in installation of DeepSpeech2 model in python3.5.2.
Speciallfically problem comes from DeepSpeech-develop/decoders/swig/swig_decoders.py
which could not find _swig_decoders.py due to scorer.h:9:33: fatal error: lm/enumerate_vocab.hh: No such file or directory

Error messages as follows while doing setup from /DeepSpeech-develop/decoders/swig/setup.py:
DeepSpeech-develop/decode

[2020-01-30 13:36] vhiwase commented on #421
Found Solution:

change setup.sh as follows:

#!/usr/bin/env bash

if [ ! -d kenlm ]; then
    git clone https://github.com/luotao1/kenlm.git
    echo -e "\n"
fi

if [ ! -d openfst-1.6.3 ]; then
    echo "Download and extract openfst ..."
    wget http://www.openfst.org/twiki/pub/FST/FstDownload/openfst-1.6.3.tar.gz
    tar -xzvf openfst-1.6.3.tar.gz
    echo -e "\n"
fi

if [ ! -d ThreadPool ]; th

[2020-02-03 08:05] bigcash commented on #412
@lfchener 多谢，在查资料时也发现了，需要预先做vad的处理。

[2020-02-03 08:06] bigcash commented on #412
@karlkao reduce your training batch size， may be help

[2020-02-03 14:25] ChenHuaYou opened #422 "请问现在增加了python3的支持没？"

[2020-02-03 20:23] inishchith commented on #421
@VaibhavHiwase Were you able to get this working on `python3.5`?

this is what I get when trying to execute `examples/deploy_demo/run_english_demo_server.sh`:

[code]

Please let me know in case you too encountered this or else if I'm missing something out.

Thanks!

[2020-02-04 02:16] MRXLT commented on #422
目前还不支持python3

[2020-02-05 00:01] karlkao opened #423 "Inference output majorly incorrect with aishell test sample, using "models/baidu_cn1.2k" and "models/lm/zhidao_giga.klm""
sh run_infer_golden.sh
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
-----------  Configuration Arguments -----------
alpha: 2.6
beam_size: 300
beta: 5.0
cutoff_prob: 0.99
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: cer
infer_manifest: data/aishell/manifest.test
lang_model_path: models/lm/zhidao_giga.klm
mean_std_path: models/baidu_cn1.2k/mean_std.

[2020-02-08 04:14] ChenHuaYou commented on #422
那非常遗憾

[2020-02-10 14:35] nayanhalder opened #424 "same response time in both 1 core(p2.xlarge) and 8 core(p2.8xlarge) AWS gpu"
[code]

[2020-02-10 15:45] nayanhalder commented on #418
have you solved the problem, i am facing same issue. model is initialized everytime.

[2020-02-12 10:13] mhilmiasyrofi commented on #396
I got that error also

[2020-02-12 10:25] Slyne commented on #422
改成Python3 好像也没有太多地方要改的

[2020-02-12 10:31] Slyne commented on #124
Is the current decoder applicable for online decoding?
Could you give some hints about how to change it?

[2020-02-12 10:33] inishchith commented on #422
Hi @Slyne,

I've tried relevant changes I could think of, but didn't get it work. If you have, do you mind sharing the changes on your fork?

Thanks!

[2020-02-12 12:06] lfchener commented on #424
When you use 1 core gpu, did you run:
export CUDA_VISIBLE_DEVICES=0 (or any gpu id)
before running python program?

[2020-02-13 13:28] ChenHuaYou opened #425 "运行 tune.py 时总是会中断"
次次都会killed
python tools/tune.py
-----------  Configuration Arguments -----------
alpha_from: 1.0
alpha_to: 3.2
batch_size: 256
beam_size: 300
beta_from: 0.1
beta_to: 0.45
cutoff_prob: 1.0
cutoff_top_n: 40
error_rate_type: wer
lang_model_path: models/lm/zhidao_giga.klm
mean_std_path: models/mean_std.npz
model_path: models
num_alphas: 45
num_batches: -1
num_betas: 8
num_conv_layers: 2
num_proc_bsear

[2020-02-13 15:04] nayanhalder commented on #424
yes i have run export CUDA_VISIBLE_DEVICES=0 in 1 core gpu.

[2020-02-16 09:48] kuke commented on #425
可能是tuning过程中的内存溢出了，可以观察一下内存占用来确认。如果确定是内存溢出的问题，可以通过不断减小batch size来解决

[2020-02-18 01:51] Slyne commented on #422
@inishchith 我很乐意帮你解决一些错误，不过我那个已经被我全部改成tensorflow了。你可以把你改好的放你git上，我帮你看看吧。

[2020-02-20 00:18] ChenHuaYou opened #426 "同一份自己录制的语音，本人普通话不是很标准，但是科大讯飞的识别率几乎100%，百度这个的偏差也太大了。"
如上描述，问题出在哪里呢？我用的是aishell

[2020-02-20 08:07] ChenHuaYou opened #427 "有一个70多G的语言模型，那个需要多大内存去加载？"
有一个70多G的语言模型，那个需要多大内存去加载？

[2020-02-21 02:26] ChenHuaYou opened #428 "BaiduCN1.2k 准确率超级低"
有没有官方demo?这么大的模型文件居然是这么偏差，不知道是不是参数没对，也没具体demo

[2020-02-22 15:16] nayanhalder opened #430 "paddlepaddle deepspeech2 on python3"
Currently paddlepaddle deepspeech2 is supported only in python2.7.  is it also supported in python 3.

[2020-02-24 00:55] zhangzhenyuyu commented on #344
现在onnx好像还不支持paddle模型的转换，不知道现在你有没有找到其他方法，我也在关注类似的问题。

[2020-02-24 02:15] DavidHuie opened #431 "Can the released models be used as checkpoints?"
I was experimenting with adding new training data to the released models, specifically the BaiduEN8k model. I tried running a script that uses the BaiduEN8k as a checkpoint (borrowing from `examples/librispeech/run_train.sh`):

[code]

The directory `/code/models/deepspeech2` contains the BaiduEN8k models:
[code]

When I run the script, I get this segfault:
[code]

If using BaiduEN8k as a checkpoi

[2020-02-24 02:17] lfchener commented on #430
Python3 is not supported at this time, because some third-party libraries used in deepspeech2 only support python2.

[2020-02-24 02:31] lfchener commented on #431
The ``--mean_std_path``   should be consistent with checkpoint, so may be you should set
``--mean_std_path='/code/models/deepspeech2/mean_std.npz'``
and please make sure the network structure is right which you can check in ``/code/models/deepspeech2/README``.

[2020-02-24 02:50] DavidHuie commented on #431
@lfchener I tried doing that and I get the same segfault.

[2020-02-24 02:55] DavidHuie commented on #431
Actually, I didn't see your network structure comment. Now it's actually processing! Hopefully this works...

[2020-02-24 04:54] #431 closed, assigned to nobody

[2020-02-24 08:46] kuke commented on #427
内存需要大于 70G，语言模型需要完整的加载到内存之中

[2020-02-24 08:56] kuke commented on #426
您好，这个模型训练所用的预料较少，仅供 demo 用；相对而言，英文模型所用的语料更大，效果也更好。

如果要追求效果的话，也可以使用百度提供的语音识别 API。

[2020-02-24 09:26] kuke commented on #428
这个模型结构无问题，但训练所用的语料较少，而且有偏，效果确实不好，仅作演示用

[2020-02-24 13:38] loretoparisi commented on #416
It would be worth to have a CPU version.

[2020-02-24 13:42] loretoparisi commented on #430
@lfchener which is the main technical reason why Python3 is not supported right no? [Currently](https://pypi.org/project/paddlepaddle/#files) PaddlePaddle supports Python 3.7.
Thank you.

[2020-02-25 03:55] #382 closed

[2020-02-25 07:57] nayanhalder commented on #430
@lfchener  thanks for your reply. It will be very nice if you please let us know when python3 version will be available.

[2020-02-25 17:21] yzcm1232 commented on #381
请问最终怎么解决的

[2020-02-25 17:23] shoegazerstella commented on #430
[Here](https://github.com/shoegazerstella/DeepSpeech_CPU_py37) a version of DeepSpeech with Python 3.7 support for CPU use only (inference).

[2020-02-25 17:44] loretoparisi commented on #430
@lfchener would be awesome to have this integrated in the next releases!!! kudos to @shoegazerstella 🥇

[2020-02-25 19:00] SamChen commented on #344
我最终没有使用onnx， 而是用pytorch 重新实现了这个结构，包括一个模仿padddle 格式的GRU （paddle的GRU与cudnn提供的GRU由于一点细节上的区别导致二者不兼容）。 至于权重的结构， 我是找的“如何将tensorflow的模型导入到paddle中”的回答，逆向出符合pytorch的权重结构。

[2020-02-26 05:41] nayanhalder commented on #430
@lfchener , @shoegazerstella thanks a lot everyone for publishing the cpu version in python3.7. Also it will be very nice if gpu version in python3 be published soon. I am using paddlepaddle deepspeech2 in gpu in python2.7.

[2020-03-06 12:16] OttoOu commented on #113
cd decoders/swig
sh setup.sh

[2020-03-07 06:20] nayanhalder commented on #430
@lfchener , @shoegazerstella
Can you please let us know when the gpu version of paddlepaddle DeepSpeech for python3 will be published. Thanks

[2020-03-07 09:49] loretoparisi commented on #430
@nayanhalder I have added a feature request here https://github.com/shoegazerstella/DeepSpeech_CPU_py37/issues/1

[2020-03-10 10:06] phecda-xu opened #432 "paddlepaddle 如何统计模型的参数量"
如题，在用DEEPSPEECH2训练模型时，从哪里看网络总共的参数量？、

谢谢！

[2020-03-18 12:32] MuruganR96 opened #433 "Error: The fed Variable text_data should have dimensions = 2, shape = [-1, 1], but received fed shape [402]"
I was tried training in CPU. i am facing shape mismatch error. how to resolve this issue.

i was following step by step. comments below
[code]

[code]

[2020-03-18 13:22] shoegazerstella opened #434 "Model load fails in Tornado server"
System information
-PaddlePaddle version >= 1.6.0
-OS Platform ubuntu 18.04
-Python version: 3.7.4
-Name of Model: DeepSpeech2

I am trying to load a DeepSpeech2 model inside a tornado server using a SingletonMixin class and I have this error:
[code]

the signleton class:
[code]
I am executing this script which is the tornado run app:
[code]

From inside the Docker container, the script that does

[2020-03-19 15:02] shoegazerstella commented on #344
Apparently there is this library [paddle2onnx](https://github.com/PaddlePaddle/paddle2onnx) that should do exactly this, convert form paddlepaddle to onnx.
I am having some problems in converting the DS2 model though, as the normal command does not work and requires some `__model__` file:

[code]

So I have read the way of creating this `__model__` file is to save the model using the [save_inferen

[2020-03-21 14:08] yzcm1232 opened #435 "添加新的数据，怎么修改最后一层继续训练？"
fluid版本，现在有新的数据，导致了vocab尺寸变大，想在已有的预训练模型上继续训练，怎么修改最后一层的尺寸大小？在其他问题里面，还没有看到解决方案。

[2020-03-21 18:07] nayanhalder commented on #430
@lfchener , @shoegazerstella
Can you please let us know when the gpu version of paddlepaddle DeepSpeech for python3 will be published. Thanks

[2020-03-23 02:09] lfchener commented on #433
I can't reproduce this problem, maybe you can try using paddle 1.7.1:
``python -m pip install paddlepaddle==1.7.1 -i https://pypi.tuna.tsinghua.edu.cn/simple``

[2020-03-24 15:39] shoegazerstella commented on #434
The issue has been solved [here](https://github.com/PaddlePaddle/Paddle/issues/23086)

[2020-03-24 15:39] #434 closed, assigned to nobody

[2020-03-26 08:48] Jackie-zk opened #436 "Unable to establish SSL connection."
在使用download_lm_ch.sh,出现了这个错误。但是在另外一台电脑上不会报错
具体如下
[code]

[2020-03-27 06:51] lfchener commented on #435
最后一层尺寸的大小是根据模型输入的词表文件计算出来的，如果你有了新的数据，你需要重新生成词表文件，可参考 README 中 **建立词表** 部分来进行。
https://github.com/PaddlePaddle/DeepSpeech/blob/develop/README_cn.md#%E5%BB%BA%E7%AB%8B%E8%AF%8D%E8%A1%A8
之后在训练模型中加载新生成的词表文件，模型最后一层的尺寸会是新的词表的大小。

[2020-03-27 09:15] NHZlX commented on #436
确认下是否是网络问题。

可以在网络好的机器上下载，然后在你的这台机器上使用。

[2020-03-27 14:45] yzcm1232 commented on #435
那之前的预训练模型，只是最后一层的大小没匹配，就不能用了吗，没办法当成训练结点，在后面的训练中指定到init_from_pretrained_model了吗，这样加入了新数据，就要重新训练，还是挺影响速度和消耗资源的。

[2020-04-01 04:59] hengai opened #437 "在docker中安装最新版1.7.1pandlepandle之后导入pandle包报错"
导入包：import paddle.fluid

报错：ImportError: No module named core_noavx

[2020-04-01 07:25] GinaZhu opened #438 "How print pinyin using baidu_ch1.2k"

[2020-04-02 15:23] loretoparisi opened #439 "About decoders shared libraries"
Hello, I have built a Docker image of DeepSpeech. I prefer to not install every time the swig wrappers since it should be enough to build once and then load at runtime.
Therefore this is what I did

I have built my library in the `lib/` folder within my `swig` folder, because I need the shared library (.so) to be there in the package without building it at install.
Without any modifications to `sw

[2020-04-03 14:57] DoraemonMiku opened #440 "运行Test.py时出现错误OSError: cannot load library 'libsndfile.so.1': libsndfile.so.1: cannot open shared object file: No such file or directory"
系统是CentOS 7.3，按照readMe里面来一步步操作的，但是测试时候出现了这个异常(运行examples/tiny/里面的也会,下面运行的是test.py):
**configure: WARNING: *** One or more of the external libraries (ie libflac, libogg and
configure: WARNING: *** libvorbis) is either missing (possibly only the development
configure: WARNING: *** headers) or is of an unsupported version.
configure: WARNING: ***
configure: WARNING: *** Unfortunately, for ease of mai

[2020-04-05 19:23] nshmyrev opened #441 "关于语音识别的实时聊天"
我为不相关的问题表示歉意，但是是否存在有关中文语音识别的实时聊天？ 微信或其他

[2020-04-06 09:32] heavengate commented on #439
have you tried rename `_swig_decoders.cpython-37m-x86_64-linux-gnu.so` to `_swig_decoders.so` or use `ctypes.CDLL` to load

[2020-04-06 11:30] loretoparisi commented on #439
@heavengate I will give a try with renaming thank you.

[2020-04-08 01:47] hsauod commented on #331
@tai960519073  哈喽你好，我跟你同样的原因，importError: No module named dataset.common
,请问你还记得当时怎么解决的吗？多谢多谢

[2020-04-09 03:25] Kangzhiwen opened #442 "感谢，在tiny目录下sh run_train.sh时报错"
按照readme一步步来的，然后遇到了swig_decoders不存在的问题，按照issue解决后，继续执行train报如下错误：
W0409 11:01:41.920228  2557 init.cc:209] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0409 11:01:41.920295  2557 init.cc:211] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
W0409 11:01:41.920307  2557 init.cc:214] The detail failure signal i

[2020-04-09 08:00] Kangzhiwen commented on #442
亲们，可能找到原因了 是因为我的服务器的CPU不支持AVX2指令集，所以导致了这个错误。

[2020-04-10 15:42] gezimonkey opened #443 "设置CPU_NUM不起作用--自己的问题，泪目，不好意思，请删除"

[2020-04-10 15:45] #443 closed, assigned to nobody

[2020-04-14 08:37] loretoparisi opened #444 "[ERROR] SIGSEGV (@0x7f20ad805b40) received by PID 38"
We report this error on a 32GB machine

[code]

The cpu is

[code]

[2020-04-16 04:03] ysh329 commented on #444
看了下主要信息是这里:

[code]

似乎是Im2ColFunctor的问题，你的Paddle版本是啥，直接拉下的代码嘛，有做什么改动嘛

[2020-04-16 08:19] loretoparisi commented on #444
Thank you for the highlight. @shoegazerstella Let us check the `Im2ColFunctor` function in the case we did any modification to it.

[2020-04-18 14:40] ysh329 commented on #444
Hope any check result~

[2020-04-19 14:49] juanlsss opened #445 "can we use .wav data to do the inference directly with a pre-trained model ?"

[2020-04-21 13:03] purijs commented on #378
@lawlietAi  was this resolved?

[2020-04-21 13:05] purijs opened #446 "Segmentation Fault error for large wav files"
I'm testing wav files larger than 5 minutes, it fails with the following error:
[code]

[2020-04-28 03:45] yangyangHu opened #447 "异步数据读取和处理效率不高，导致GPU利用率较低"
问题描述：
试用的代码是paddlepaddle开源的deepspeech2: https://github.com/PaddlePaddle/DeepSpeech

硬件环境：paddlepaddle-1.6, 4块GPU-v100, CPU 32core

代码里面使用的是异步数据读取：

reader = fluid.io.DataLoader.from_generator(
feed_list=inputs,
capacity=64,
iterable=False,
use_double_buffer=True)

遇到的问题：
batch_size=64, 4块GPU-v100训练的时候，gpu利用率不到1%
自己排查了io利用率不到20%，磁盘为SSD，cpu只有1-2个core用起来了，其它的30个cpu core都是空闲。
根据paddlepaddle文档
(https:/

[2020-04-28 07:37] sungyihsun commented on #421
@inishchith I have the same problem. Did you solve it?

[2020-04-29 14:34] AIpioneer commented on #447
[https://github.com/PaddlePaddle/models/issues/4579](url)

[2020-05-05 07:57] nerv3890 commented on #423
Just change ur inputs audio sample rate to 8k

[2020-05-05 10:27] loretoparisi opened #448 "[QUESTION] Support for ConvLM wav2letter Language models"
Is it possibile to replace KenLM with ConvLM (wav2letter) pretrained models? They provide both new KenLM ngram based models (trained on WJS) and char based ConvLM models. Pretrained are in the w2l binary serialized format and are available [here](https://github.com/facebookresearch/wav2letter/blob/971e7befdc610d8e58faa2810886d395a12c1a46/recipes/models/lexicon_free/wsj/README.md)

Thank you.

[2020-05-07 14:59] shoegazerstella commented on #444
Hi @ysh329,

I adapted the code to run on CPU and with python3.7
I only adapted the inference scripts.

I am installing paddle paddle with:
[code]
Code and Dockerfile are available [here](https://github.com/shoegazerstella/DeepSpeech_CPU_py37)

[2020-05-08 09:10] qili93 commented on #440
libsndfile.so 安装目录是在“/usr/local/lib”下面，检查一下你的“LD_LIBRARY_PATH”是否包含这个目录，如果没有就`export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH`，再尝试运行一下。

[2020-05-08 09:20] loretoparisi commented on #444
@ysh329 another thing we have found out is that it systematically crashes with `32GB` resident memory, while on machines with `64GB` it runs without any issue. Are you aware of memory consumption or minimum requirements of this magnitude? Maybe this is the underlying issue.

[2020-05-12 06:16] artinegi1607 commented on #379
@lfchener  @changweioy  Thanks for your response.
But I am getting the below error while running  ./autogen.sh

+ test -d Tools/config
+ aclocal -I Tools/config
./autogen.sh: 11: ./autogen.sh: aclocal: not found

[2020-05-12 07:29] lfchener commented on #444
![image](https://user-images.githubusercontent.com/6771821/81651398-3c26b980-9465-11ea-9232-8b5a2f3fa893.png)
DeepSpeech only supported python 2.7, please use python 2.7 try again.

[2020-05-12 08:03] loretoparisi commented on #444
@lfchener thanks, actually we are able to run DeepSpeech on Python3.7 over CPU - https://github.com/shoegazerstella/DeepSpeech_CPU_py37
What we have found is that on machine with memory constraints it crashes (Python processed is killed) after few inferences.

[2020-05-13 08:25] gezimonkey commented on #382
我也遇到这个FLUID下用自己的vocab报Shape not matching错误,请问你解决了吗?

[2020-05-13 08:27] yeyupiaoling commented on #382
@gezimonkey 没有

[2020-05-13 08:33] gezimonkey opened #450 "加载预训练模型后，报RuntimeError: Shape not matching"
paddlepaddle版本：1.7
使用baidu_cn1.2k_model_fluid作为预训练模型
数据为16k的wav
mean_std.npz和vocab.txt是为自己生成的

参数：
-----------  Configuration Arguments -----------
augment_conf_path: conf/augmentation.config
batch_size: 16
dev_manifest: data/swd/16k/manifest.dev
init_from_pretrained_model: models/baidu_cn1.2k_model_fluid/
is_local: True
learning_rate: 0.0005
max_duration: 15.0
mean_std_path: data/swd/16k/mean_std

[2020-05-13 09:33] lfchener commented on #450
这是因为你自己生成的 vocab.txt 中的 dict_size 和预训练模型中使用的 dict_size 不一致导致的。

[2020-05-13 09:36] gezimonkey commented on #450
请问那要如何修改呢?

[2020-05-15 18:28] guptakvgaurav opened #451 "How to calculate FLOP count?"
Hi,

I am curious to know that how can we count the number of flops. Like TensorFlow has `tf.profiler.ProfileOptionBuilder.float_operation`, does there exists something similar here.

[2020-05-17 13:23] duan348733684 opened #452 "请问如何直接预测自己的录音，将录音转成文本"
请问如何直接预测自己的录音，将录音转成文本？谢谢解答，有提供相应的脚本吗？

[2020-05-17 13:24] duan348733684 commented on #373
如何预测自己的wav文件呢

[2020-05-18 06:09] duan348733684 opened #453 "运行 python infer.py 时报C++的错?"
Traceback (most recent call last):
  File "infer.py", line 154, in <module>
    main()
  File "infer.py", line 150, in main
    infer()
  File "infer.py", line 122, in infer
    vocab_list)
  File "/apps/users/dbc/workspace/DeepSpeech/model_utils/model.py", line 478, in init_ext_scorer
    language_model_path, vocab_list)
  File "/apps/users/dbc/workspace/DeepSpeech/decoders/swig_wrapper.py", line

[2020-05-18 17:51] SamChen commented on #344
Hi, sorry I can offer no help on this specific issue as I do not know how onnx works. However, I uploaded my pytorch version on github. If you are interested, please take a look.
https://github.com/SamChen/DeepSpeech2PytorchTransferLearning

[2020-05-19 10:02] xixiaoyao commented on #452
辛苦 @lfchener 看一下

[2020-05-19 10:14] lfchener commented on #452
可以参考 README：
https://github.com/PaddlePaddle/DeepSpeech#trying-live-demo-with-your-own-voice

[2020-05-19 11:47] duan348733684 commented on #452
您好。我在运行 python infer.py 时出现下面错误，帮我看下好吗，谢谢
Traceback (most recent call last):
  File "infer.py", line 152, in <module>
    main()
  File "infer.py", line 148, in main
    infer()
  File "infer.py", line 124, in infer
    feeding_dict=data_generator.feeding)
  File "/home/duanchao/DeepSpeech/model_utils/model.py", line 402, in infer_batch_probs
    feeder, log_probs, _ = self.create_network(is_infer

[2020-05-19 11:48] duan348733684 commented on #452
@lfchener

[2020-05-19 11:55] duan348733684 opened #454 "TypeError: The data type of 'length' in fluid.layers.sequence_unpad must be ['int64'], but received float32."
运行 python infer.py 时，出现下面问题，请大佬们帮忙看下

Traceback (most recent call last):
  File "infer.py", line 152, in <module>
    main()
  File "infer.py", line 148, in main
    infer()
  File "infer.py", line 124, in infer
    feeding_dict=data_generator.feeding)
  File "/home/duanchao/DeepSpeech/model_utils/model.py", line 402, in infer_batch_probs
    feeder, log_probs, _ = self.create_network(is_infer=Tru

[2020-05-20 01:17] duan348733684 commented on #454
@xixiaoyao  @lfchener   两位大佬有时间能看下上面这个问题吗？谢谢。。我的python 是2.7.15，paddlepaddle 是1.8.1,   语言模型和语音模型 是在 README  里发布模型部分中下载的。

[2020-05-20 06:09] #453 closed, assigned to nobody

[2020-05-20 06:57] lfchener commented on #450
可以直接使用预训练模型中的 vocab.txt 文件或者重新生成一个单词数量和预训练模型一致的 vocab.txt 。

[2020-05-20 07:12] lfchener commented on #454
这个是 paddle 1.8.1 的 bug，我们会尽快修复。
paddle 1.8.0 是没有问题的，你可以先使用 1.8.0 运行。

[2020-05-20 09:14] inishchith commented on #379
[code]

@artinegi1607 This should solve your problem

[2020-05-20 09:27] inishchith commented on #421
@sungyihsun Sorry, No. I had to continue with python2

[2020-05-20 11:20] duan348733684 commented on #408
@wueching   how did you fix your second problem that  the results are all none....

[2020-05-23 11:54] VaibhavAbhimanyooHiwase commented on #421
@sungyihsun ,@inishchith I have created a git repo for you guys to follow the steps that I had gone through when I was working on this model. Hope this will help you.

Git repo link:
https://github.com/VaibhavAbhimanyooHiwase/DeepSpeech2

Feel free to contact me at hiwaseva@rknec.edu,  hiwase.vaibhav@gmail.com or connect me through LinkedIn by https://www.linkedin.com/in/vaibhav-hiwase

[2020-05-23 18:57] inishchith commented on #421
@VaibhavAbhimanyooHiwase Thanks for sharing this.
I'll have a look at it in some time.

Thanks!

[2020-05-25 12:41] shoegazerstella commented on #454
thanks @lfchener it works now with paddlepaddle==1.8.0.
Could you tell us when the new version will be bugs free? Thanks!

[2020-05-25 15:04] libraster opened #455 "InvalidArgumentError: Cannot parse tensor desc [Hint: Expected desc.ParseFromArray(buf.get(), size) == true, but received desc.ParseFromArray(buf.get(), size):0 != true:1.] at (/paddle/paddle/fluid/framework/tensor_util.cc:527) [operator < load_combine > error]"
When i try to run `demo_server.py` or `infer.py` i get the above error. Here is the complete traceback. I am using `paddlepaddle==1.8.0` in CPU.

`[libprotobuf ERROR /paddle/build/third_party/protobuf/src/extern_protobuf/src/google/protobuf/message_lite.cc:119] Can't parse message of type "paddle.framework.proto.VarType.TensorDesc" because it is missing required fields: data_type
/home/miniconda3/

[2020-05-26 06:40] #455 closed, assigned to nobody

[2020-05-28 09:08] ljssssss opened #456 "请问大家都是怎么设置自己的参数的？遇到梯度爆炸大家都调整了什么呢？"

[2020-05-28 10:26] ssteven502tw opened #457 "examples/baidu_en8k/run_test_golden.sh 出錯"
運行run_test_golden.sh會出現下列問題

test.py: error: unrecognized arguments: --num_proc_data=8
Failed in evaluation!

請問此問題要如何解決?感謝

[2020-05-29 03:25] ljssssss commented on #420
same question, so how did you solve this  problem finally ？

[2020-05-29 08:28] gekelly commented on #222
我尝试下面人说法安装依赖包，但最终也没能解决我滴问题。所以想问下最终是怎么解决？

[2020-06-02 03:41] hawkcoder commented on #396
我也遇到同样的问题

[2020-06-02 03:52] hawkcoder opened #458 "operator < conv2d > error"
when I try this example/tiny/run_train.py, I got this cuda error in the test stage, while it is ok in train stage, why? can somebody help me?

Python2.7
PaddlePaddle=1.8.0.post107

## The error was:

3f93d4eb8892 /DeepSpeech/examples/tiny {develop} bash run_train.sh

grep: warning: GREP_OPTIONS is deprecated; please use an alias or script

\\-----------  Configuration Arguments -----------

augmen

[2020-06-02 11:26] artinegi1607 commented on #458
I also got the same error when I tried to run the librespeech data but it is working fine for baidu's data. DO not know why..

[2020-06-03 10:04] lfchener commented on #458
I'm sorry but I cannot reproduce this problem, it looks like a GPU issue, please confirm whether your gpu card is occupied.

[2020-06-04 02:05] #270 closed

[2020-06-04 11:16] artinegi1607 commented on #453
Is this issue resolved?

[2020-06-04 12:55] artinegi1607 commented on #458
I am using CPU. My issue is gone when I set the CPU_NUM to some lower number like 2. I guess this solves my issue.

[2020-06-10 08:57] artinegi1607 opened #459 "Japanese Language model is giving segmentation fault"
Running a Japanese Language model is giving segmentation fault. I am getting the below error:-

W0610 14:25:22.137501 24808 init.cc:216] Warning: PaddlePaddle catches a failure signal, it may not work properly
W0610 14:25:22.137524 24808 init.cc:218] You could check whether you killed PaddlePaddle thread/process accidentally or report the case to PaddlePaddle
W0610 14:25:22.137532 24808 init.cc:22

[2020-06-10 09:02] artinegi1607 commented on #458
@hawkcoder  try with these configurations.
        rnn_layer_size = 1024
	share_rnn_weights = False
	use_gru = True
This may help you.

[2020-06-11 05:08] lfchener commented on #459
I'm not sure what's the problem with error message above，would you like to show me some details such as the configs you used?

[2020-06-17 05:25] ghost commented on #386
Hello,
Any other way to get the file?  I am using the docker file.
``
 WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.tuna.tsinghua.edu.cn', port=443): Read timed out. (read timeout=15)",)': /simple/paddlepaddle-gpu/

 ERROR: Could not find a version that satisfies the requirement

[2020-06-17 06:00] ghost opened #460 "Multiple issues with the docker image, cuDNN, Failed in inference!: 'module' object has no attribute 'RNNCell'"
Hi,
After running the docker file i tried:
``
/DeepSpeech/examples/aishell {develop} ./sh run_infer.sh
``
Which results in this error:
``
Traceback (most recent call last):
  File "infer.py", line 14, in <module>
    from model_utils.model import DeepSpeech2Model
  File "/DeepSpeech/model_utils/model.py", line 23, in <module>
    from model_utils.network import deep_speech_v2_network
  File "/Deep

[2020-06-17 08:32] ghost opened #461 "The pretrained params do not exist. Failed in inference!"
Hi,

``
[INFO 2020-06-17 08:27:41,059 model.py:474] begin to initialize the external scorer for decoding
[INFO 2020-06-17 08:27:51,392 model.py:484] language model: is_character_based = 0, max_order = 5, dict_size = 400000
[INFO 2020-06-17 08:27:51,616 model.py:485] end initializing scorer
[INFO 2020-06-17 08:27:51,617 infer.py:121] start inference ...
W0617 08:27:52.673171   330 device_context.cc

[2020-06-17 08:37] ghost opened #462 "tiny sh run_train.sh inside docker: TypeError: __init__() got an unexpected keyword argument 'grad_clip'"
Hello,
I updated paddle, but run_train.sh results in error:
wget https://nero-mirror.stanford.edu/pypi/web/packages/5f/b0/769cd78f5fdc9de41d760512750e70ace87caea54502882d0818e4b3ce1d/paddlepaddle_gpu-1.6.2.post107-cp27-cp27mu-manyli$

pip install paddlepaddle_gpu-1.6.2.post107-cp27-cp27mu-manylinux1_x86_64.whl

``
λ 77050b25daa6 /DeepSpeech/examples/tiny {develop} sh run_train.sh
grep: warning: GR

[2020-06-17 11:37] ghost opened #463 "Infer for a single WAV file not using data_generator.batch_reader_creator"
Is there an example for loading a single WAV file and inferring on that?

Thanks

[2020-06-17 11:46] lfchener commented on #462
Please try paddlepaddle 1.8.0 or later.
https://github.com/PaddlePaddle/DeepSpeech#installation

[2020-06-17 11:47] lfchener commented on #463
This might be useful to you.
https://github.com/PaddlePaddle/DeepSpeech#trying-live-demo-with-your-own-voice

[2020-06-17 11:51] ghost commented on #462
I am using the docker. the docker is not good? I should install 1.8 inside the docker?

[2020-06-18 02:44] Engineering-Course commented on #169
@mrfox321 @kuke
Do you figure out the problem?  I also find the memory leak in ctc_beam_search_decoder.
I profile the function and find that there will be around 0.3M memory increased after calling the function each time.
Any ideas?

`
    @profile

    def forward(self, log_probs, log_probs_length):
        beam_results = swig_decoders.ctc_beam_search_decoder(
            log_probs.tolist(), self

[2020-06-18 03:24] mrfox321 commented on #169
I never followed up. I am surprised it was never addressed.

On Wednesday, June 17, 2020, Clay Gong <notifications@github.com> wrote:

[2020-06-18 08:49] lfchener commented on #462
Yes, you can update paddle version in docker.

[2020-06-21 18:14] #286 closed

[2020-06-22 06:17] ghost commented on #462
Which exact version of 1.8 from here? https://nero-mirror.stanford.edu/pypi/web/simple/paddlepaddle-gpu/

[2020-06-23 02:16] tuanphan09 commented on #379
@lfchener I cannot run setup.sh in decoders/swig because this git repo is not exist in github. Is there any problem?
https://github.com/PaddlePaddle/DeepSpeech/blob/develop/decoders/swig/setup.sh#L4

[2020-06-24 03:27] plseal commented on #386
im in japan and i reinstall paddlepaddle-gpu  1.6.2.post107. it works!
[code]

[2020-06-24 03:36] plseal commented on #462
@paklau99988
i updated paddlepaddle-gpu with this command. it works for me .
[code]

[2020-06-24 06:02] lfchener commented on #460
Please install PaddlePaddle 1.8.0 or later.
https://github.com/PaddlePaddle/DeepSpeech#prerequisites

[2020-06-25 17:09] a01163125 commented on #458
I turned the test off and fine now. Turn the TEST off.

[2020-06-26 16:28] lgd123 opened #465 "decoders/swig的 setup.sh下载 kenlm的git地址没了吗"
https://github.com/luotao1/kenlm.git  我在家里访问这个地址 一直是404.。。。怎么办  本人新手，是作者删除了 还是我被墙了

[2020-06-26 16:41] lgd123 opened #466 "安装报错了。。"
In file included from scorer.h:14,
                 from decoders_wrap.cxx:3171:
path_trie.h:10:10: fatal error: fst/fstlib.h: No such file or directory
   10 | #include "fst/fstlib.h"
      |          ^~~~~~~~~~~~~~
compilation terminated.
x86_64-linux-gnu-gcc -pthread -fno-strict-aliasing -Wdate-time -D_FORTIFY_SOURCE=2 -g -fdebug-prefix-map=/build/python2.7-8kFkPd/python2.7-2.7.17=. -fstack-pro

[2020-06-28 01:13] #466 closed, assigned to nobody

[2020-06-28 01:14] lgd123 commented on #466
新手不懂

[2020-06-28 02:39] zhupengyang commented on #465
这是是个人的repo，可能被删了。这个问题我们尽快确认下

[2020-06-28 05:48] lgd123 commented on #465
@zhupengyang  谢谢 大哥，我是新手  安装了3天没安装好...我用的是vmware虚拟机 安装的Ubuntu，安装出现了各种问题，swig出问题，安装openFst出问题，主要是openFst安装不上。我刚接触Python     我想问问，
1.vmware环境下 可以运行无gpu本项目吗。。
2.vmware环境下 无gpu,可以用Docker那个版本运行DeepSpeech吗
没Docker，手头没有真实linux机器  运行 DeepSpeech有点难。。呜呜

[2020-06-28 05:54] zhupengyang commented on #465
理论上都是可以的~

[2020-06-28 08:16] ilove-Moretz opened #468 "Error about “RuntimeError: MD5 checksum failed”"
When I run examples/aishell/run_data.sh，some error happen,the error log is as follow

Traceback (most recent call last):
  File "data/aishell/aishell.py", line 110, in <module>
    main()
  File "data/aishell/aishell.py", line 106, in main
    manifest_path=args.manifest_prefix)
  File "data/aishell/aishell.py", line 85, in prepare_dataset
    filepath = download(url, md5sum, target_dir)
  File "/

[2020-06-28 08:56] willthefrog commented on #468
looks like an incomplete download to me, please take a look @kuke

[2020-06-29 03:10] lfchener commented on #468
This is because your file is not completely downloaded, please check your network and download again. @ilove-Moretz

[2020-06-30 14:06] Aionrichman commented on #465
@zhupengyang 请问这个git什么时候能好啊

[2020-07-01 00:36] jainal09 opened #469 "Trying to install decoder package for language model in windows"
Can anyone guide on how to install the python decoders package on windows!
I am so confused how to do it!

[2020-07-01 00:47] jainal09 commented on #469
I installed swig on windows and then
I ran `python setup.py install --num_processes 4`
in the swig directory
Everything went okay for some time but in the end I got this error
[code]
Here is the complete log:
[code]

[2020-07-01 02:50] #469 closed, assigned to nobody

[2020-07-01 03:30] Aionrichman commented on #222
我也遇到同样的问题

[2020-07-01 13:21] rinjac commented on #465
@zhupengyang  @Aionrichman I fixed this issue by referencing the original KenLM repository (https://github.com/kpu/kenlm) instead of the unavailable one. For what I am using it, it works, but the creators need to confirm if the now unavailable repo (https://github.com/luotao1/kenlm.git) contained something which is not present in the original KenLM repo.

I created a pull request #464 which contai

[2020-07-02 02:16] ilove-Moretz commented on #468
I solved this problem ，I dowload the file completely，and the MD5 checksum success.

[2020-07-02 02:16] #468 closed, assigned to kuke

[2020-07-02 10:47] #459 closed, assigned to lfchener

[2020-07-02 11:35] alamnasim opened #470 "Unable to train DeepSpeech from scratch on Indian Hinglish(Mixed Hindi_English) 8khz audio data."
Hi,

I want to train Hinglish(Mixed Hindi_English) 8khz conversation audio data  from scratch.
I am getting ValueError: Input signal length=0 is too small to resample from 8000->16000.

Training Command

Trainig Log:
-----------  Configuration Arguments -----------
batch_size: 256
dev_manifest: data/audio_data/manifest.dev-clean
init_from_pretrained_model: None
is_local: True
learning_rate: 0.0005

[2020-07-03 06:37] lfchener commented on #470
It seems like your input data shape = 0, please check it.
![image](https://user-images.githubusercontent.com/6771821/86439182-af003280-bd3a-11ea-8cde-65cd46e8ce3d.png)

[2020-07-03 06:43] alamnasim commented on #470
Thanks for the prompt reply.
Yes, I got it.
I will check.

[2020-07-03 08:47] ssteven502tw opened #471 "Baidu Internal English Dataset"
Where can I find Baidu Internal English Dataset, and all these data sets are clean?

[2020-07-03 08:48] wuitson commented on #332
请问大神，数字能识别么，我这儿也识别不了。我看了vocab.txt里面根本就没有数字就一个1，其他都没有，怎么识别得了啊！求解，谢谢。

[2020-07-03 15:17] alamnasim commented on #470
I resolved that error.
Now I am getting this error I tried a lot but unable to resolve this.

/home/ubuntu/tmp/deepspeech2-venv/local/lib/python2.7/site-packages/resampy/core.py:90: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if not np.issubdtype(x.dtype, np.floa

[2020-07-04 11:21] ExpressGit commented on #466
怎么解决的

[2020-07-05 07:46] ExpressGit commented on #347
你好 是怎么解决的

[2020-07-05 07:48] ExpressGit opened #472 "ModuleNotFoundError: No module named 'swig_decoders'"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'swig_decoders'

pip3 list
swig-decoders (1.1)

pip3 下可以看见，但是import失败

[2020-07-05 15:08] ML6634 opened #473 "unexpected EOF"
When I downloaded the Docker image:

<pre>$ sudo nvidia-docker pull hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu
</pre>

I got:

<pre>unexpected EOF
</pre>

May I ask how to take care of it? Thank you!

[2020-07-06 01:38] lfchener commented on #472
![image](https://user-images.githubusercontent.com/6771821/86547649-32549a80-bf6c-11ea-87c1-4d1be1cec14a.png)
目前 DeepSpeech 只支持 python2.7 ，请切换 python2.7 环境重新安装。

[2020-07-06 02:40] lfchener commented on #473
This may be helpful to you:
https://stackoverflow.com/questions/53677592/docker-pull-unexpected-eof

[2020-07-06 03:05] DannyIsFunny commented on #471
Hi, we have not publish the internal English Dataset to open source community yet, we have provided open source models only.

[2020-07-06 03:43] ssteven502tw commented on #471
@DannyIsFunny datasets are clean .wav?

[2020-07-06 10:41] alamnasim commented on #470
The whole error log is:
/home/ubuntu/tmp/deepspeech2-venv/local/lib/python2.7/site-packages/resampy/core.py:90: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if not np.issubdtype(x.dtype, np.float):
/home/ubuntu/tmp/deepspeech2-venv/local/lib/python2.7/site-package

[2020-07-07 13:10] ParmpalSinghGill commented on #461
You need to download model from https://deepspeech.bj.bcebos.com/eng_models/librispeech_model_fluid.tar.gz and extract it and give the path to argument as a model_path

[2020-07-08 03:57] lujx1024 opened #474 "baiduCN1.2k模型部署运行test脚本报错Variable's shape does not match"
部署方式：docker
已经升级了CUDA 10.0和对应的cudnn版本，测试aishell数据模型，运行run_test.sh和run_infer.sh正常
现在想部署测试一下baiduCN1.2k的模型，脚本仿照example/aishell/run_infer_golden.sh脚本进行修改，将模型防放置在对应的位置后运行报错，根据错误信息，参考了[issue #382 ](https://github.com/PaddlePaddle/DeepSpeech/issues/382) 和[issue #388](https://github.com/PaddlePaddle/DeepSpeech/issues/388)，按照上述的两个issue进行配置，没有解决问题，请各位指导一下解决方案，谢谢
以下是错误信息：
`
Traceback (most recent call last)

[2020-07-08 10:40] lfchener commented on #474
请根据 README 中的说明修改网络配置的参数，再运行。

[2020-07-09 12:26] suntingfeng commented on #347
你好，安装swig-decoders的时候需要注意系统swig的版本，如果swig版本较低需要安装高一点的版本，我使用的是3.0.12的版本

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: MK tank <notifications@github.com>
发送时间: Sunday, July 5, 2020 3:47:08 PM
收件人: PaddlePaddle/DeepSpeech <DeepSpeech@noreply.github.com>
抄送: suntingfeng <stf19900719@outlook.com>; State change <state_change@noreply.github.com>
主题: Re: [PaddlePaddle/De

[2020-07-13 02:53] lujx1024 commented on #474
@lfchener 谢谢您，按照baidu_cn1.2k_model.tar.gz 压缩包中的README文件，将脚本中对应的参数，按照README文件指定的数值修改后，run_infer.sh脚本运行正常，谢谢指导

[2020-07-13 02:53] #474 closed, assigned to lfchener

[2020-07-13 09:14] ssteven502tw commented on #471
@DannyIsFunny datasets are clean .wav?

[2020-07-13 10:06] ssteven502tw opened #475 "Is Baidu Internal English Dataset clean voice?"
Is Baidu Internal English Dataset clean voice?
Do you use the following methods in paper?
(Additionally, we dynamically augment the dataset by adding unique noise every epoch with an SNR between 0dB and 30dB)

[2020-07-13 11:10] alamnasim commented on #470
issue resolved thanks a lot.

[2020-07-13 11:10] #470 closed, assigned to nobody

[2020-07-15 00:45] yeyupiaoling commented on #465
@Aionrichman @lgd123 已经修复啦，看新脚本代码，
https://github.com/PaddlePaddle/DeepSpeech/blob/b3c728d46ff4eee68c45f20b0abb76e968008bcb/decoders/swig/setup.sh#L3-L9

[2020-07-15 00:46] yeyupiaoling commented on #472
@ExpressGit 用Docker吧，省事

[2020-07-17 04:48] springminhcm opened #476 "执行examples中的“sh run_train.sh”出现ImportError: No module named core_noavx....(用Docker)"
大家好，我是下载使用Docker 来跑的，执行examples中的sh run_train.sh就出现异常如下：
/DeepSpeech/examples/tiny {develop} sh run_train.sh
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
Traceback (most recent call last):
  File "train.py", line 9, in <module>
    from model_utils.model import DeepSpeech2Model
  File "/DeepSpeech/model_utils/model.py", line 18, in <module>
    import paddle.fluid as fl

[2020-07-17 05:36] ngk512 opened #477 "Docker pull error"
Hi,

Please help, while downloading the docker image on client machine it gives an error.

**Command:** nvidia-docker pull hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu

**Error**: Error response from daemon: error unmarshalling content: invalid character '<' looking for beginning of value

Please help to fix the issue.

[2020-07-23 06:54] ZhangXinNan opened #478 "支持实时的语音识别吗？"

[2020-07-24 04:35] Ficery1 opened #479 "运行demo_server.py时，提示gcc 和 kenlm版本问题，请问应该安装什么版本哪？"
2020-07-24 11:54:44,195-INFO: begin to initialize the external scorer for decoding
terminate called after throwing an instance of 'lm::FormatLoadException'
  what():  kenlm/lm/vocab.cc:43 in void lm::ngram::{anonymous}::ReadWords(int, lm::EnumerateVocab*, lm::WordIndex, uint64_t) threw FormatLoadException because `memcmp(check_unk, "<unk>", 6)'.
Vocabulary words are in the wrong place.  This could

[2020-07-24 06:46] YuHuasong123 opened #480 "aishell下执行sh run_data.sh生成的manifest文件都为空，且mean_std.npz文件未生成，怎么解决？"
aishell$ sh run_data.sh
Skip downloading and unpacking. Data already exists in ./dataset/aishell.
Creating manifest data/aishell/manifest ...
-----------  Configuration Arguments -----------
count_threshold: 0
manifest_paths: ['data/aishell/manifest.train', 'data/aishell/manifest.dev']
vocab_path: data/aishell/vocab.txt
------------------------------------------------
-----------  Configuration Ar

[2020-07-28 03:52] YanqiangWang commented on #463
You can do this by modifing infer.py file:
give an input argument 'infer_manifest' (write your wav path in json format, just like this one over [here](https://github.com/PaddlePaddle/DeepSpeech#data-preparation))
and the other argument should be also given the proper value.
and return 'result_transcripts' of 'infer()' function.
(this 'result_transcripts' is the speech recognition result list.

[2020-07-29 02:42] YanqiangWang commented on #228
采样率8K效果很差啊，16K又用不了，Orz

[2020-07-29 07:31] YanqiangWang commented on #297
很差很差

[2020-08-04 20:08] ML6634 commented on #473
Thanks @lfchener for the link. So far, I could not find a way to fix the bug. Any further comments? Thank you!

[2020-08-05 02:15] yeyupiaoling opened #481 "在docker下使用多卡训练报错"
[code]

[2020-08-05 06:14] yeyupiaoling commented on #481
使用最新代码就正常了

[2020-08-05 07:05] #481 closed, assigned to nobody

[2020-08-05 07:22] yeyupiaoling commented on #479
为啥用docker呢

[2020-08-05 07:26] yeyupiaoling opened #482 "在训练过程中不断吃显存，直到显存不足"
我使用的是docker进行训练，显存为11G，在训练过程中会出现不断吃显存，直到显存不足挂掉。设置小batch_size也没有用的。

[2020-08-05 07:31] yeyupiaoling opened #483 "在训练中如何设置输入音频的帧率，通道数等参数"
我们有几种不同帧率、通道数的音频数据集，按理来说应该是要统一帧率，如16k，通道数为1，我找了一番，没找到在哪里设置的。

[2020-08-06 08:25] yeyupiaoling commented on #440
安装
[code]

[2020-08-07 06:56] yeyupiaoling commented on #384
@zhaoyuchen2018 你好，我已经改成同步读取的单线程reader，还是报错，不断吃显存这也是什么原因
我的是两张2080ti，batch size是64，一开始训练时只是占8G左右，但是随着训练不断进行，有时候显存就超过了11G，就挂掉了。

[2020-08-07 08:02] YanqiangWang commented on #373
在manifest写好自己文件的路径，然后调用infer.py，

[2020-08-10 03:19] lfchener commented on #483
参考这里，代码里是直接根据读取的音频文件获得帧率的。
https://github.com/PaddlePaddle/DeepSpeech/blob/b3c728d46ff4eee68c45f20b0abb76e968008bcb/data_utils/audio.py#L72
可以在对应的地方进行修改。

[2020-08-10 04:17] vuvincent commented on #386
Use this command to quote the indexes for finding that distribution:

`python -m pip install paddlepaddle-gpu==1.6.2.post107 -i https://pypi.tuna.tsinghua.edu.cn/simple`

[2020-08-10 09:57] yeyupiaoling opened #484 "编译Python3环境成功，但是在运行时出现这种错误"
[code]

应该如何修改swig中的源码呢？

[2020-08-10 10:00] yeyupiaoling commented on #483
@lfchener 直接用音频原来的帧率吗？ 不是统一为16k这样吗？

[2020-08-10 14:03] yeyupiaoling commented on #482
一开始batch size设置为64，训练都一半就显存不足，设置32也是同样的情况。之前也试过16的，结果会出现loss等于nan。但是最近测试好像batch size等于16可以正常训练。

[2020-08-10 14:10] yeyupiaoling commented on #453
@duan348733684 你这个是在Python3编译得到的环境吧？我的也出现这个问题，请问你解决了吗？

[2020-08-11 08:38] jainal09 opened #485 "Speaker Diarilization"
I want to perform speech to text on a wav file and get Multi speaker transcript with Speaker diarisation (who spoke what and when)

But, I am confused is this possible with Deep speech?

[2020-08-12 14:09] yeyupiaoling opened #486 "请问在训练时，对音频的处理方式使用linear好，还是mfcc好？"
请问在训练时，对音频的处理方式使用linear好，还是mfcc好？

[2020-08-13 00:54] yeyupiaoling commented on #482
本来batch为16可以训练的，但是稍微用大一点的数据集还是会出现显存不足，这是什么道理。batch size再小，loss就是nan了

[2020-08-13 01:52] yeyupiaoling commented on #482
应该是音频长度的问题

[2020-08-13 01:52] #482 closed, assigned to nobody

[2020-08-13 03:52] YanqiangWang commented on #481
我也遇到了这个问题，，，，并没能解决，

![image](https://user-images.githubusercontent.com/9003920/90092370-58374100-dd5b-11ea-9d80-a010a0b2efcb.png)

[2020-08-13 13:31] andy311p opened #487 "Error to run inference and test scripts in chinese"
when i run scripts infer.sh or test.sh i get the following error:
Traceback (most recent call last):
  File "infer.py", line 152, in <module>
    main()
  File "infer.py", line 148, in main
    infer()
  File "infer.py", line 124, in infer
    feeding_dict=data_generator.feeding)
  File "/DeepSpeech/model_utils/model.py", line 411, in infer_batch_probs
    self.init_from_pretrained_model(exe, infe

[2020-08-14 02:22] gekelly commented on #457
这是多余参数，把他注释掉就好。

[2020-08-15 19:48] ML6634 commented on #473
Does anybody have experience with it? Or, for you the above command went through successfully? Thank you!

[2020-08-24 07:40] yeyupiaoling opened #488 "在多卡训练过程中出现cudaStreamSynchronize misaligned address错误"
- 系统：Ubuntu 16.04
 - 显卡：2张 2080ti
 - 版本：PaddlePaddle-GPU 1.8.3.post107

[code]

[2020-08-25 13:54] yangyangHu commented on #344
hi 您实现的deepspeech2 pytorch版的代码，使用paddlepaddle-deepspeech2训练好的模型 转换到你实现的pytorch上 效果是一致的吗？

[2020-08-28 09:51] #483 closed, assigned to nobody

[2020-08-28 09:52] #488 closed, assigned to nobody

[2020-09-01 08:29] gbxu commented on #348
it confuses me, too

[2020-09-01 22:37] SamChen commented on #344
相较于原版实现，每一层的output的误差都在可接受的范围内（小于1e-6）

[2020-09-02 02:21] mtz1992 opened #489 "请问Paddle有可应用于音频分类的模型或框架吗？"

[2020-09-03 07:18] #476 closed, assigned to nobody

[2020-09-05 08:31] aayushkubb opened #490 "How can we emit word confidence while decoding?"
I am trying to estimate word confidence while doing CTC decoding, one of the simplest ways I could think of is just multiplying the associated character probabilities at that particular time step to get an approximation.

However, a lot of people have been using the concept of posterior probabilities and lattice to get the word confidence.

Is there a simplified way to have word confidence estimat

[2020-09-06 05:46] Mryangkaitong opened #491 "load 官方的aishell_model_fluid时报错"
`python ./deploy/demo_server.py --model_path='/root/DeepSpeech/deploy/aishell_model_fluid'  --host_ip='localhost'  --host_port=8086 --use_gpu=False --mean_std_path='/root/DeepSpeech/deploy/aishell_model_fluid/mean_std.npz'  --vocab_path='/root/DeepSpeech/deploy/aishell_model_fluid/vocab.txt' --lang_model_path='/root/DeepSpeech/deploy/zh_giga.no_cna_cmn.prune01244.klm' --rnn_layer_size=1024 --share

[2020-09-08 12:41] yangyangHu commented on #344
hi，我看你发布的代码：https://github.com/SamChen/DeepSpeech2PytorchTransferLearning 里面只有paddle_weights_loading.py，没有提供paddlepaddle模型生成类似这些___conv_0__.w0文件的code，方便提供下code吗

[2020-09-09 08:04] ghost commented on #385
您好，请问问题被解决了吗？

[2020-09-09 08:12] ghost commented on #385
您好，请问调整测试语音的采样频率具体该怎么做呢？

[2020-09-09 08:12] yeyupiaoling commented on #385
@TankAbraham 没有，我打算自己训练，https://github.com/yeyupiaoling/PaddlePaddle-DeepSpeech

[2020-09-09 08:38] ghost commented on #385
那您试者把音频的采样率调整为 8k 了吗？

[2020-09-09 08:40] yeyupiaoling commented on #385
@TankAbraham 试过了，效果还是不好。

[2020-09-09 09:43] ghost commented on #385
大家好，我用自己的语音文件 flac 格式复现出了模型的效果。

调整音频采样率用如下bash命令：

[code]

[2020-09-10 18:23] SamChen commented on #344
你想要的是这个吗？ https://github.com/SamChen/DeepSpeech2PytorchTransferLearning/releases

[2020-09-11 03:42] yangyangHu commented on #344
hi  https://github.com/SamChen/DeepSpeech2PytorchTransferLearning/releases里的baidu_en8k_model.tar.gz提供模型文件params.pdparams 转换后的params/文件夹，我有个使用paddlepaddle-deepseepch2新训练好的模型权重文件params.pdparams，也需要参考你这样转成pytorch加载测试，但是不知道如何把params.pdparams转换成你pytorch读取的params/格式，方便提供下这个转换代码？

[2020-09-11 05:27] SamChen commented on #344
Paddlepaddle 用于存储模型权重的二进制格式非常接近numpy的读取格式。两者在格式上唯一的区别是paddlepaddle的二进制文件前16位是一些特殊信息。 跳过那一部分就可以了。 你只需要用这个函数读取模型权重（在paddle_weights_loading.py 中， 我也提供了这个函数）：
`
def load_parameter(file_name):
    with open(file_name, 'rb') as f:
        f.read(16)  # skip header.
        return np.fromfile(f, dtype=np.float32)
`
这也是我会直接用numpy对权重的matrix做reshape操作
baidu_en8k_model.tar.gz 这个文件是原生paddlepaddle的权重文件。

[2020-09-11 05:50] yangyangHu commented on #344
我现在遇到的问题是：我使用paddlepaddle-deepspeech2训练得到的模型权重文件是一个单独文件params.pdparams，我如何得到paddle_weights_loading.py里的('___conv_0__.w0', '___batch_norm_1__.w1', ....)这些小文件？

[2020-09-11 08:39] SamChen commented on #344
paddlepaddle 在1.x之后的版本提供了两种不同的存储权重的方式。
https://www.bookstack.cn/read/PaddlePaddle-1.3-fluid/87.md

我的建议是用paddlepaddle 加载你的权重文件，然后在用 ' paddle.fluid.io.save_params(executor, dirname, main_program=None, filename=None)' 重新保存一遍。

另外，下面这一点你需要格外注意。 我的代码是针对paddlepaddle0.12 写的。 当时的权重是保存为一个一维数组。 而在paddlepaddle1.x 中保存权重时同时也保留了dimension信息。 所以你在reshape权重的matrix结构时，需要多加小心。

[2020-09-17 02:51] hieuhv94 commented on #470
Hi @alamnasim
I have a same error when train with mfcc:

How do you resolve it?
Thank you

[2020-09-17 03:45] BABALA258 commented on #428
确实准确率极其低，可是号称用了1200小时的语料训练的，

[2020-09-17 07:43] yeyupiaoling commented on #489
@mtz1992 你可以参考这个：https://github.com/yeyupiaoling/AudioClassification-PaddlePaddle

[2020-09-17 07:45] mtz1992 commented on #489
好的，我已经看到了，请问这位大神也是paddle的开发人员么

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "夜雨飘零"<notifications@github.com&gt;;
发送时间: 2020年9月17日(星期四) 下午3:43
收件人: "PaddlePaddle/DeepSpeech"<DeepSpeech@noreply.github.com&gt;;
抄送: "漫步云端"<a75468916@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/DeepSpeech] 请问Paddle有可应用于音频分类的模型或框架吗？ (#489)

@mtz1992 你可以参考这个：https://github.com

[2020-09-17 07:46] yeyupiaoling commented on #489
不是呢

[2020-09-17 07:52] hieuhv94 opened #492 "Error dimension mismatch when use specgram_type mfcc"
I use specgram type but this error happended:
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: The fed Variable audio_data should have dimensions = 3, shape = [-1, 161, -1], but received fed shape [20, 39, 200]
  [Hint: Expected DimensionIsCompatibleWith(shapes[i], in_dims) == true, but received DimensionIsCompatibleWith(shapes[i], in_dims):0 != true:1.] a

[2020-09-17 08:55] AshutoshDongare opened #493 "PaddlePaddle 1.8.0 installation fails"
Downloading https://mirror.baidu.com/pypi/packages/a1/d6/8422797e35f8814b1d9842530566a949d9b5850a466321a6c1d5a99055ee/opencv-python-4.3.0.38.tar.gz (88.0 MB)
     |UUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU| 88.0 MB 22 kB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\Admin\anaconda3\envs\speec

[2020-09-18 08:09] danielkope commented on #386
Why is the docker not up2date?

[2020-09-18 08:26] danielkope commented on #460
This still doesn't work.running 1.8.4 - any advice?

/DeepSpeech/examples/tiny {develop} sh run_infer_golden.sh
Download language model ...
./common_crawl_00.prune01111.trie.klm already exists, download skipped.
Download LibriSpeech /DeepSpeech/examples/tiny {develop} sh run_infer_golden.sh
Download language model ...
./common_crawl_00.prune01111.trie.klm already exists, download skipped.
Download

[2020-09-18 08:44] happyBluebirds opened #494 "您好，能提供预发布模型的manifest文件么？"
您好，语音模型想要正常使用好像必须要manifest文件，说明文档中提供了生成的方式，但无奈下载数据集太慢了，而且不太清楚和预发布模型是否匹配，能够提供预发布中文模型的manifest文件么？

[2020-09-19 11:01] LeonKennedy commented on #493
i have the same error

[2020-09-21 02:12] LeonKennedy commented on #493
open-python 4.3 is not compatible for python 2.7, so you need run this before:
_pip install opencv-python==4.2.0.32_

[2020-09-21 03:08] #465 closed, assigned to lfchener

[2020-09-21 03:11] #472 closed, assigned to lfchener

[2020-09-21 12:28] fizzafarooq08 commented on #327
@saibharani Is there any older paddle version for cuda10.2 and cudnn7 ? that will run with paddle.v2

[2020-09-23 02:12] #494 closed, assigned to nobody

[2020-09-27 14:34] #493 closed, assigned to nobody

[2020-10-09 08:55] ML6634 opened #495 "Downloaded the Docker image successfully?"
When I downloaded the Docker image:

<pre>$ sudo nvidia-docker pull hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu</pre>

it sounds that it might go through:

<pre><font color="#4E9A06"><b>ml@ml-Alienware-Aurora-Ryzen-Edition</b></font>:<font color="#3465A4"><b>~</b></font>$ sudo nvidia-docker pull hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu
[sudo] password for ml:
lates

[2020-10-10 23:29] ML6634 commented on #495
In addition, I am supposed to go to the directory, examples/tiny, to prepare data etc. However, I do not have the folder. examples. How to fix it? Thanks.

[2020-10-13 01:21] alexivaner opened #496 "Speaker Diarization and Modify the Neural Network"
I wonder if it is possible to modify this DeepSpeech Neural network to do speaker diarization, if it is possible could you give me some clue about this? I also want to train this neural network with Traditional Chinese, could you give me some clue about this? Thank you very much for your help.

[2020-10-24 07:43] ML6634 commented on #458
Hi, @a01163125, may I ask how to turn the test off? At conf/augmentation.config, I could not see the parameter test_off. Thanks.

[2020-10-28 10:43] ashutosh486 opened #497 "PreconditionNotMetError: warp-ctc [version 2] Error in get_workspace_size: Summary of this error."
I am trying to train an ASR model on from the pre-trained baidu-en8k.

Command Passed:
[code]
Error Got:
[code]

[2020-11-02 07:34] shahurvi84 opened #498 "Probability of output transcript word"
Hi

1. How can I check probability of correctness of individual transcribed words?
2. Do we have timestamp of transcription w.r.t audio files?

[2020-11-04 06:50] #497 closed, assigned to nobody

[2020-11-12 03:53] lrsSpace commented on #491
我把 --use_gru=True 设置为True就行了

[2020-11-15 09:58] C4712 commented on #487
i meet the same peoblem, How did you solve this problem

[2020-11-24 02:49] changhengyi commented on #458
It really works! Thanks!

[2020-11-24 07:14] changhengyi commented on #458
finally, I solved this problem. it is because your cudnn version is not compatible with paddlepaddle version.
you need to update cudnn version to 7.6

[2020-12-02 12:17] zailushang2006 opened #501 "nvidia-docker run error"
nvidia-docker run -it -v $(pwd)/DeepSpeech:/DeepSpeech hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu /bin/bash

docker: Error response from daemon: Unknown runtime specified nvidia.
See 'docker run --help'.

[2020-12-08 01:48] kiwen-lee commented on #484
请问您的问题是如何解决的？

[2020-12-08 02:54] yeyupiaoling commented on #484
@Li-kewei 我没有解决，还是用Python2, 问题提很久就没有人回复，我就自己关闭了

[2020-12-08 10:16] NextGuido commented on #384
@yeyupiaoling 你好，我这边也出现了这种情况。我是单线卡RTX2080TI，显存11G，训练时batch size从8~40全都测试过，每次在要test的阶段就会出现显存不足的问题，请问您这边解决了嘛？

[2020-12-08 19:11] tingyang01 commented on #455
I am also facing same issue

Error Message Summary:
----------------------
InvalidArgumentError: Cannot parse tensor desc
  [Hint: Expected desc.ParseFromArray(buf.get(), size) == true, but received desc.ParseFromArray(buf.get(), size):0 != true:1.] at (/paddle/paddle/fluid/framework/tensor_util.cu:527)
  [operator < load_combine > error]
Failed in inference!

[2020-12-09 00:44] yeyupiaoling commented on #384
@NextGuido 使用我这个代码吧：https://github.com/yeyupiaoling/PaddlePaddle-DeepSpeech
我这个在RTX2080TI上优化过各个参数了，能正常训练和预测。也提供了很好的模型。

[2020-12-09 03:41] NextGuido commented on #384
@yeyupiaoling 好的，我这边先用你的代码试一下，感谢

[2020-12-18 06:35] Pallav56 opened #502 "impulse manifest"
Please provide me sample json to create impulse.manifest.
Also please guide how i can use it for training deepspeech model.

[2020-12-30 03:38] siyangbing opened #503 "No such file or directory: 'data/librispeech/mean_std.npz'"
我想利用预训练模型进行单条的语音转文字该怎么操作，我在文档中没有找到相关建议，可以帮帮我吗

[2020-12-30 03:43] siyangbing commented on #503
help me

[2020-12-30 14:59] slesinger commented on #495
Pull is very slow and always fails.

[2020-12-31 01:02] siyangbing opened #504 "为什么我使用百度内部语料预训练的模型识别效果差呢"
理论上来说大语料预训练模型识别效果会好(baidu-cn1.2k),识别效果差
我的命令
python -u infer.py \
--num_samples=10 \
--beam_size=300 \
--num_proc_bsearch=8 \
--num_conv_layers=2 \
--num_rnn_layers=3 \
--rnn_layer_size=2048 \
--alpha=2.6 \
--beta=5.0 \
--cutoff_prob=0.99 \
--cutoff_top_n=40 \
--use_gru=True \
--use_gpu=False \
--share_rnn_weights=False \
--infer_manifest='data/aishell/test.test' \
--mean_std_path='models/bd18k/me

[2021-01-04 07:05] weiaoliu opened #505 "pip install paddlepaddle-gpu==1.8.0.post107 -i https://mirrors.aliyun.com/pypi/simple 下载报错"
Looking in indexes: https://mirrors.aliyun.com/pypi/simple/
Collecting paddlepaddle-gpu==1.8.0.post107
  Using cached https://mirrors.aliyun.com/pypi/packages/77/54/e55c1484f0cc7af8a69a38e9e4722b4754be2130810984450761895a02c2/paddlepaddle_gpu-1.8.0.post107-cp27-cp27mu-manylinux1_x86_64.whl (405.7 MB)
Collecting graphviz
  Using cached https://mirrors.aliyun.com/pypi/packages/86/86/89ba50ba65928001

[2021-01-04 09:06] weiaoliu opened #506 "AssertionError: In PaddlePaddle 2.x, we turn on dynamic graph mode by default, and 'data()' is only supported in static graph mode. So if you want to use this api, please call 'paddle.enable_static()' before this api to enter static graph mode."
Traceback (most recent call last):
  File "infer.py", line 182, in <module>
    show(audiopath)
  File "infer.py", line 176, in show
    result = infer()
  File "infer.py", line 151, in infer
    feeding_dict=data_generator.feeding)
  File "/home/port/model_utils/model.py", line 402, in infer_batch_probs
    feeder, log_probs, _ = self.create_network(is_infer=True)
  File "/home/port/model_utils/m

[2021-01-05 01:49] weiaoliu commented on #505
请问这是什么原因

[2021-01-05 07:56] #505 closed, assigned to nobody

[2021-01-05 07:56] #506 closed, assigned to nobody

[2021-01-06 06:20] bigpo commented on #386
you should update to 1.8.5 directly, otherwise you may encounter another error #462

[2021-01-06 08:10] Arch-gx commented on #98
Hello, has the problem been solved? I met the same problem on Ubuntu.

[2021-01-06 08:24] Rootian opened #507 "关于cuda版本和cudnn版本问题"
我是用docker容器运行的，机器的cuda版本是10.0，cudnn版本是7.6.0。而docker容器里的cuda版本是9.0，cudnn没有安装。在容器里运行train.py使用gpu的时候会报错
`Cudnn error, CUDNN_STATUS_EXECUTION_FAILED`
并且运行的时候，输出信息说我用的是cudnn 7.5
请问容器里运行的时候使用的是容器外的cuda和cudnn还是容器内部的呐，我还需要升级容器内部的版本吗

[2021-01-08 04:56] Pallav56 opened #508 "Train on Indian languages"
How i can train/ use pretrained model for Indian languages (Hindi, Gujarati, Marathi etc.)

[2021-01-11 02:08] ayayaya420 commented on #504
你好，自己的普通话数据集该如何制作，刚接触不是太了解。

[2021-01-11 02:22] ayayaya420 commented on #480
科学上网

[2021-01-12 02:32] ayayaya420 opened #509 "训练好的模型部署效果很差"
用自带的infer推理效果还挺好的，到server运行几乎识别不出来，运行过tune.py得到参数，还是没有什么效果，不知道具体问题出在哪里。

[2021-01-12 09:47] xiaoyu4122 opened #510 "加载预训练模型报错"

[2021-01-12 09:47] xiaoyu4122 commented on #510
augment_conf_path: conf/augmentation.config
batch_size: 64
dev_manifest: /data/aistation/XiangyuZhu/dataset/magic_data_sample/manifest.dev
init_from_pretrained_model: /data/aistation/XiangyuZhu/DeepSpeech/checkpoints/baidu
is_local: 1
learning_rate: 0.0005
max_duration: 27.0
mean_std_path: /data/aistation/XiangyuZhu/DeepSpeech/data/baidu/mean_std.npz
min_duration: 0.0
num_conv_layers: 2
num_epoch:

[2021-01-13 05:10] SullivanJia opened #511 "关于使用tiny数据集在GPU上训练的问题"
- 版本、环境信息：
    1）PaddlePaddle版本：2.00 rc1
    3）GPU：P4000，CUDA 10.1.243和CUDNN 7.6.0 nvdia driver :440.31
    4）系统环境：linux ubuntu 16.04LTS，Python 2.7.18

- 模型信息
    使用tiny数据集在gpu下进行训练
- 复现信息：如为报错，请给出复现环境、复现步骤
- 执行 sh run_train.sh发生错误
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
-

-----------  Configuration Arguments -----------
augment_conf_path: conf/augmentation.config
batch_size: 4
dev_manifest: data/tin

[2021-01-13 10:48] Rootian opened #512 "训练占用显存越来越高"
你好，我在使用自己的数据进行训练的时候，设置的batch_size是16，最开始的几千个batch，基本可以几十秒完成100个batch的训练，而随着训练的进行，每100个batch的训练时间越来越长，现在进行到batch 20000左右的时候，100个batch需要7分钟的时间才能完成训练，而且train loss也是在缓慢增加的，请问这是正常现象吗？

另外，最开始启动的时候占用的显存是4g，随着训练进行，每100个batch的训练速度越来越慢，占用的显存也越来越高，进行到batch 20000左右，显存的占用已经达到了7g，这种情况应该如何处理呢？

[2021-01-13 11:26] ccbptm opened #513 "使用官方BaiduCN1.2k Model和Mandarin LM Small搭建语音识别报错"
修改test.py并运行提示：
[code]

然后我的TensorRT也安装好了并且导入到LD_LIBARARY_PATH内了

[2021-01-13 11:35] ccbptm commented on #513
[code]

[2021-01-19 06:15] Zolewit commented on #487
"vocab_path" should use “models/aishell/vocab.txt”, not "data/..."
because vocab.txt in "models" has 4299 lines but in "data" has 4333 lines.

[2021-01-19 07:05] ccbptm commented on #480
你可能需要去~/.cache的那个data里面把wav解压出来，再回原路径执行sh run_data.sh

[2021-01-19 11:25] ccbptm opened #514 "UnavailableError: Not allowed to load partial data via load_combine_op, please use load_op instead."
版本信息：
[code]
运行DeepSpeech/deploy/demo_server.py时错误提示：
[code]

我的运行配置为：

[code]

[2021-01-21 01:09] ccbptm commented on #358
你好，我用BaiduCN1.2k Model模型，修改参数之后在aishell的测试集上测试，cer是1.000是。这个问题也是因为语音位导致的么？

[2021-01-21 01:10] ccbptm commented on #332
你好，请问你怎么用BaiduCN1.2k Model去测试aishell测试集的呀，我测试就是cer=1.000

[2021-01-21 01:17] ccbptm commented on #412
你好，我现在要直接用这个去搭建一个在线中文识别的工程，但是我在线语音识别很差，想着是不是要对原始的语音数据进行一些降噪增强和其他什么处理？请问您可以稍微具体的分享一下你的vad的处理用的方法和库么？谢谢

[2021-01-21 01:20] ccbptm commented on #358
你这个语音要求是8位，是指8bit采样率么？

[2021-01-21 01:51] ccbptm opened #515 "BaiduCN1.2k Model和AiShell Model使用问题"
1.使用BaiduCN1.2k Model配置好test.py文件后，使用aishell的测试集测试显示cer=1.0000
配置：
[code]

2.参考./deploy和./example/deploy的做法，测试效果不好，然后有两个疑问：
           2.1    对于BaiduCN1.2k Model的配置参数大家有什么建议么？（因为没有可用语料集，没办法去用./tools/tune.py进行参数的调整）
           2.1    不知道有没有对麦克风的语音输入进行降噪和增强，大家能有什么方法提示么？

3.使用Aishell Model配置好test.py文件后，使用aishell的测试集测试显示cer在0.1左右，但将Aishell Model使用./deploy和./example/deploy的做法后效果比用BaiduCN1.2k Model的./de

[2021-01-21 01:54] ccbptm commented on #332
aishell最开始的测试集是只有这么一点，但是如果用./tools/tune.py之后调整参数可用在aishell的测试集上cer在0.1左右
我想请教一下如何把BaiduCN1.2k Model用在aishell的测试集上去测试一下。我一配置就cer=1.000

[2021-01-21 02:55] ccbptm commented on #116
你好，我想问下怎么用aishell的测试集去测试baidu cn 1.2k的模型效果啊

[2021-01-21 05:12] ccbptm commented on #504
我也不知道为什么，我直接用的data/aishell/manifest.test，然后cer是1.000.但是用depoly文件夹中的在线搭建的时候。baidu-cn1.2k效果被aishell model要好，但实际识别效果也不佳

[2021-01-21 05:20] ccbptm commented on #423
可是用baidu_cn 1.2k Model可以在deploy中识别16kHz的实时输入啊。为什么对aishell的test数据就cer=1.0000这样呢

[2021-01-21 06:43] ccbptm commented on #515
对于第1点和第3点的解决问题方法：
将aishell的采样频率从16kHz降低至8kHz，然后使用./data/aishell.py重新生成manifest.test文件
这样测试cer在0.33左右。
准备去用tools/tune.py再调整一下参数
但是第二点这个降噪和语音增强要怎么去做以及集成进去还在思考中

[2021-01-26 12:32] wangheng666 commented on #277
Have you solved the problem? I have encountered the same problem, but I don't know how to solve it

[2021-01-26 13:17] daiannan1993 commented on #277
看你的名字应该是能懂中文吧TT 太久了，我都忘记了，估计我当时也没有解决这个问题吧。抱歉。

[2021-01-29 07:26] daixiangzi opened #516 "pip install swig_decoders没有找到相关包"
python2.7，清华源

[2021-01-30 13:33] fnhweiqs commented on #504
你的测试音频采样率应该是 16k 吧， 需要把测试的音频的 采样率转为 8k 才行 。

[2021-01-30 15:51] 1003657663 commented on #405
这个怎么解决的呀？

[2021-01-30 15:51] 1003657663 commented on #405
这个怎么解决的呀？

[2021-02-01 02:57] #516 closed, assigned to nobody

[2021-02-01 05:03] 1003657663 commented on #507
请问，这个解决了吗？怎么解决的呀

[2021-02-01 09:01] Rootian commented on #507
在nvidia官网下载对应版本的cudnn，在容器里安装一下就好~

[2021-02-03 02:59] zh794390558 commented on #512
第一个epoch的训练用了SortaGrad了，所以句子长度在增加，loss增加是正常的。建议看下论文3.2

[2021-02-03 02:59] #512 closed, assigned to nobody

[2021-02-03 03:01] zh794390558 commented on #511
We only tested under paddle v1.8 , recommend using the released docker image  `hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu` to test.

[2021-02-03 03:01] #511 closed, assigned to nobody

[2021-02-03 03:04] zh794390558 commented on #507
使用的应该是容器内部的，可以重新装下paddle，like `python -m pip install paddlepaddle-gpu==1.8.0.post107`.

[2021-02-03 03:05] zh794390558 commented on #508
see examples under `examples/tiny` dir.

[2021-02-03 03:08] zh794390558 commented on #510
please check this :
[code]

[2021-02-03 03:09] zh794390558 commented on #509
检查下server获取的数据格式和infer时的是否一致 。

[2021-02-03 03:11] zh794390558 commented on #504
注意模型用的数据和测试数据的格式是否一致。

[2021-02-03 03:13] zh794390558 commented on #502
please see `https://github.com/PaddlePaddle/DeepSpeech/blob/develop/data/noise/chime3_background.py` for create manifest.
training example under `examples/tiny`.

[2021-02-03 03:35] zh794390558 commented on #503
1. 准备数据
`pushd examples/librispeech; bash run_data.sh`
2. 自己创建manifest 文件，指包含一条语音。
3. `bash run_infer.sh` ，记得修改参数。

[2021-02-03 03:37] zh794390558 commented on #501
确认nvidia-docker安装成功。

[2021-02-03 03:37] #501 closed, assigned to nobody

[2021-02-03 03:37] #510 closed, assigned to nobody

[2021-02-03 03:38] #509 closed, assigned to nobody

[2021-02-03 03:38] #507 closed, assigned to nobody

[2021-02-03 03:38] #504 closed, assigned to nobody

[2021-02-03 03:38] #503 closed, assigned to nobody

[2021-02-03 03:39] #508 closed, assigned to nobody

[2021-02-03 03:39] #502 closed, assigned to nobody

[2021-02-03 03:40] zh794390558 commented on #486
可以多尝试下，经验来说差异不会特别大。

[2021-02-03 03:40] #486 closed, assigned to nobody

[2021-02-03 03:42] zh794390558 commented on #485
This repo is only for ASR, Speaker diarisation is another  task.

[2021-02-03 03:42] #485 closed, assigned to nobody

[2021-02-03 03:43] zh794390558 commented on #489
有计划做音频分类和声纹的repo。

[2021-02-03 03:43] #489 closed, assigned to nobody

[2021-02-03 03:44] zh794390558 commented on #495
try one more time  to pull image, then check docker pull status.

[2021-02-03 03:44] #495 closed, assigned to nobody

[2021-02-03 03:46] zh794390558 commented on #478
Now using BiRNN, so does not support streaming asr now, you can change model to RNN, then it can be used in streaming ASR.

[2021-02-03 03:46] #478 closed, assigned to nobody

[2021-02-03 03:47] zh794390558 commented on #498
1. we using WER to check error.
2. No align image now.

[2021-02-03 03:47] #498 closed, assigned to nobody

[2021-02-03 03:50] zh794390558 commented on #480
清理下环境，重新执行下，确保数据都下载ok了。

[2021-02-03 03:50] #480 closed, assigned to nobody

[2021-02-03 03:53] zh794390558 commented on #496
speaker diarization is a similar task with speaker verification, Deep Speech is only using for ASR task, but you can using this framework to do any task with more coding.

[2021-02-03 03:53] #496 closed, assigned to nobody

[2021-02-03 03:56] zh794390558 commented on #477
try `nvidia-docker pull hub.baidubce.com/paddlepaddle/deep_speech_fluid:latest-gpu` again, then please check this error for nvidia-docker.

[2021-02-03 03:56] #477 closed, assigned to nobody

[2021-02-03 03:59] zh794390558 commented on #473
make sure nvidia-docker is installed successfully , more info `https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html`

[2021-02-03 03:59] #473 closed, assigned to lfchener

[2021-02-03 05:58] zh794390558 commented on #473
see [this](https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html) to make sure you have install the nvidia-docker  successfully.

[2021-02-03 06:00] zh794390558 commented on #446
maybe some limit in `resampy` package, you can split the large wav file by vad.

[2021-02-03 06:00] #446 closed, assigned to nobody

[2021-02-03 06:11] zh794390558 commented on #444
maybe kill by OOMKiller, which using much memory.
https://rakeshjain-devops.medium.com/linux-out-of-memory-killer-31e477a45759
https://www.kernel.org/doc/gorman/html/understand/understand016.html

[2021-02-03 06:11] #444 closed, assigned to kuke, lfchener

[2021-02-03 06:18] #442 closed, assigned to nobody

[2021-02-03 06:19] zh794390558 commented on #441
可以关注下百度语音API。

[2021-02-03 06:19] #441 closed, assigned to nobody

[2021-02-03 06:19] zh794390558 commented on #445
please see `examples/tiny/run_infer.sh`.

[2021-02-03 06:19] #445 closed, assigned to nobody

[2021-02-03 06:20] #440 closed, assigned to nobody

[2021-02-03 06:20] zh794390558 commented on #438
more details is needed.

[2021-02-03 06:20] #438 closed, assigned to nobody

[2021-02-03 06:21] zh794390558 commented on #437
please using paddle 1.8, then try it.

[2021-02-03 06:21] #437 closed, assigned to nobody

[2021-02-03 06:24] zh794390558 commented on #447
数据预处理时python的代码，速度会慢。pipeline没有用多进程，效率会偏低。可以考虑多进程数据读取。

[2021-02-03 06:24] #447 closed, assigned to nobody

[2021-02-03 06:26] zh794390558 commented on #435
可以考虑从pretrain模型加载参数，固定其他层的参数，finetune最后一层。

[2021-02-03 06:26] #435 closed, assigned to kuke, lfchener

[2021-02-03 06:26] #450 closed, assigned to lfchener

[2021-02-03 06:30] zh794390558 commented on #432
see this https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/api_cn/io_cn/get_program_parameter_cn.html

[2021-02-03 06:30] #432 closed, assigned to nobody

[2021-02-03 06:31] zh794390558 commented on #430
will coming soon~

[2021-02-03 06:31] #430 closed, assigned to lfchener

[2021-02-03 06:31] #433 closed, assigned to kuke

[2021-02-03 06:32] #427 closed, assigned to kuke

[2021-02-03 06:32] #426 closed, assigned to kuke

[2021-02-03 06:34] #425 closed, assigned to nobody

[2021-02-03 06:36] zh794390558 commented on #424
maybe the most cost is the data pipe.

[2021-02-03 06:36] #424 closed, assigned to lfchener

[2021-02-03 06:36] #86 closed

[2021-02-03 06:37] #82 closed

[2021-02-03 06:37] #75 closed

[2021-02-03 06:39] #79 closed

[2021-02-03 06:39] #74 closed

[2021-02-03 06:39] #81 closed

[2021-02-03 06:40] #85 closed

[2021-02-03 07:06] #84 closed

[2021-02-03 07:06] #72 closed

[2021-02-03 07:07] zh794390558 commented on #452
TypeError: The data type of 'length' in fluid.layers.sequence_unpad must be ['int64'], but received float32.

[2021-02-03 07:07] #452 closed, assigned to nobody

[2021-02-03 07:13] zh794390558 commented on #70
fixed.

[2021-02-03 07:13] #70 closed

[2021-02-03 07:13] zh794390558 commented on #422
coming soon.

[2021-02-03 07:13] #422 closed, assigned to MRXLT

[2021-02-03 07:15] zh794390558 commented on #421
` vocab_list = [chars for chars in data_generator.vocab_list]` in line 169.

[2021-02-03 07:15] #421 closed, assigned to nobody

[2021-02-03 07:17] #49 closed

[2021-02-03 07:20] #63 closed

[2021-02-03 07:22] #25 closed

[2021-02-03 07:23] #45 closed

[2021-02-03 07:23] #33 closed

[2021-02-03 07:23] #34 closed

[2021-02-03 07:24] #43 closed

[2021-02-03 07:25] #48 closed

[2021-02-03 07:26] #113 closed

[2021-02-03 07:27] #64 closed

[2021-02-03 07:28] #69 closed

[2021-02-03 07:30] #131 closed

[2021-02-03 07:30] #107 closed

[2021-02-03 07:31] #106 closed

[2021-02-07 12:22] ccbptm commented on #504
对，把16k转成8k之后就cer就不是1了，但还是没有aishell模型效果好，但实时语音的时候还是这个好

[2021-02-09 02:38] jiangliuer-beep opened #523 "建议作者好好写一个demo"
作为百度开源的框架，这是我使用体验感最糟糕的一个。
1、demo写的模糊，照着做根本运行不起来，还需要大量的调整。
2、即便有docker容器了，环境还是各种冲突。
能不能提供一个可以直接运行的demo，哪怕体积很大、效率不高，能不能先让我运行起来，识别出第一个语音文本再说。这个年代，容器占用10G、20G、30G的空间，真的很重要吗？那些各种文件，运行的时候还不是要一个个去下载！paddle提供的各种模型，又搞了各自的容器环境，我就没见的拉取一个环境就能直接运行的，各种路径冲突，文件找不到，下载不了。paddle里面的项目结构是什么？各个文件、脚本的作用是什么？要是作者能够整理下，就真的完美了！

[2021-02-09 03:29] lfxx opened #524 "aishell的tune脚本"
您好，我看librispeech文件下有run_tune.sh脚本，aishell没有对应的脚本，这两个一个是英文，一个是中文，run_tune.sh的参数配置应该是不一样的吧，希望可以补充该脚本

[2021-02-09 09:20] jiangliuer-beep commented on #238
batch_size调小一点，文档里有写的

[2021-02-18 09:30] monkeycc opened #525 "tiny和aishell，训练报错"
### 一共两个报错信息，tiny和aishell，报错信息不一样

###  no.1

###  tiny：

### bash run.sh

============  Configuration Arguments ============
alpha_from: 1.0
alpha_to: 3.2
batch_size: 128
beam_size: 500
beta_from: 0.1
beta_to: 0.45
cutoff_prob: 1.0
cutoff_top_n: 40
error_rate_type: wer
lang_model_path: /root/DeepSpeech/examples/tiny/../..//models/lm/common_crawl_00.prune01111.trie.klm
mean_std_path: data/mean_std

[2021-02-18 13:30] monkeycc opened #526 "DeepSpeech到底是python2还是python3"
教程 写这 只支持 python2.7
代码里面 却都是 python3

就算教程没更新
代码里面也有 SocketServer
python2 中这个库叫SocketServer
python3中这个库叫socketserver

所以 感觉很乱

[2021-02-18 13:34] monkeycc commented on #523
楼主说的不错，太多坑了，examples没有能跑起来的

[2021-02-19 03:44] zh794390558 commented on #526
目前develop分支上的已经升级到python3了，用的是1.8的paddle。
有错误的教程地址可以给下哈，后续订正下。

[2021-02-19 03:47] zh794390558 commented on #525
麻烦确保run.sh的脚本每一步都执行正确后再执行下一步，目前还没有做错误check，run.sh只是流程实例，可以分开执行的。

[2021-02-19 03:48] zh794390558 commented on #524
您好，可以参看librispeech的修改哈。

[2021-02-19 03:51] zh794390558 commented on #523
嗯嗯，已经收到意见，目前正在迁移2.x中，1.8原有的流程暂时没有调整。后续会将docker整理重新发布的，文档也会修改的哈。如果运行中遇到问题可以提issue哈。

[2021-02-19 03:55] zh794390558 commented on #525
第一个问题是 ./local/run_tune.sh 可能占用大量的内存 OOM 了，或者是显存不够等。

[2021-02-19 03:57] zh794390558 commented on #525
第二个是训练的时候显存不够了
[code]

[2021-02-19 05:06] monkeycc commented on #525
显存每次都是占用1-2G，就报错了
显存一共6G

我需要在哪里调整哪些参数吗

@zh794390558

[2021-02-19 06:06] monkeycc commented on #525
[code]
@zh794390558

[2021-02-19 06:43] monkeycc commented on #525
已经解决了，减小--batch_size即可

[2021-02-19 06:49] MatrixFour commented on #523
感谢您的回复，我也是paddle的使用者，真心希望咱们百度的这个项目，这份事业能继续下去，并且越做越好！
我想从以下角度提出我的建议，期待能帮助到你们！
### 1、制定一份有针对性的文档。
### 2、针对不同的场景，能够提供不同的运行环境。

       说明：首先，我相信paddle的开发者肯定都是业界翘楚，对深度学习、工程架构都非常了解。但是，作为一个普通的用户，我还是难以达到你们的水平。所以我期望您能**提供一份有针对性的文档**，对于普通用户、科研学者、开发工程师，都能快速定位到合适自身需求的文档中去。一上来就贴论文地址，准备好8块RTX2080TI，下载70G的训练数据，这些要求对普通用户，初级工程师而言，即做不到，也没必要去做到。我就只想看下paddle的使用方式，或者进行轻量级的语音识别，那我就只会希望API接口能尽可能清晰，至于论文，抱歉，我真没心思去研究。当然，对于

[2021-02-19 06:50] jiangliuer-beep commented on #523
感谢您的回复，我也是paddle的使用者，真心希望咱们百度的这个项目，这份事业能继续下去，并且越做越好！
我想从以下角度提出我的建议，期待能帮助到你们！
### 1、制定一份有针对性的文档。
### 2、针对不同的场景，能够提供不同的运行环境。

说明：首先，我相信paddle的开发者肯定都是业界翘楚，对深度学习、工程架构都非常了解。但是，作为一个普通的用户，我还是难以达到你们的水平。所以我期望您能**提供一份有针对性的文档**，对于普通用户、科研学者、开发工程师，都能快速定位到合适自身需求的文档中去。一上来就贴论文地址，准备好8块RTX2080TI，下载70G的训练数据，这些要求对普通用户，初级工程师而言，即做不到，也没必要去做到。我就只想看下paddle的使用方式，或者进行轻量级的语音识别，那我就只会希望API接口能尽可能清晰，至于论文，抱歉，我真没心思去研究。当然，对于科研工作者，那

[2021-02-19 07:15] zh794390558 commented on #523
感谢您的建议，我们这边考虑下如何使文档和demo更简单哈。

[2021-02-19 07:28] zh794390558 commented on #525
嗯嗯，一般显存爆的化，不该模型就只能减小batch了。

[2021-02-19 07:28] #525 closed, assigned to zh794390558

[2021-02-19 08:03] monkeycc opened #527 "examples里面的如何恢复训练"
examples 目录源码
bash ./local/run_train.sh

-------------------------
-# train model
-# if you wish to resume from an exists model, uncomment --init_from_pretrained_model
export FLAGS_sync_nccl_allreduce=0
CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 \
python3 -u ${MAIN_ROOT}/train.py \
--batch_size=30 \
--num_epoch=50 \
--num_conv_layers=2 \
--num_rnn_layers=3 \
--rnn_layer_size=1024 \
--num_iter_print=100

[2021-02-19 08:10] #526 closed, assigned to zh794390558

[2021-02-22 03:04] lfxx commented on #524
使用aishell下的脚本训练好了一个模型，然后现在使用run_tune.sh调教参数，搞不懂为啥这步这么耗时，半个月还没跑完。我用的显卡是rtx2080ti,run_tune脚本如下:
[code]
输出如下:
[code]
@zh794390558

[2021-02-22 03:07] lfxx commented on #524
另外，感谢您的及时回复，我以为这项目已经被百度废弃了==

[2021-02-22 03:28] lfxx opened #528 "train.py脚本中的max_duration参数"
想知道该参数是否是随意设置，还是根据数据集最大时长设置，我的数据集中有的句子时长能有20多秒，如果用默认参数27会导致oom,将max_duration修改成15可以顺利训练，但是训练结束后，test_loss很大，准确率也不行。@zh794390558

[2021-02-22 08:11] xiaoyu4122 opened #529 "利用预训练模型训练新的数据"
如果想利用已有的预训练模型去训练新的语音数据，vocab.txt等配置文件是否需要修改？应该如何修改？

[2021-02-22 08:54] #528 closed, assigned to nobody

[2021-02-22 10:49] lfxx opened #530 "如何训练中英混杂的模型呢"

[2021-02-23 01:21] #523 closed, assigned to zh794390558

[2021-02-23 02:32] zh794390558 commented on #527
参见 https://github.com/PaddlePaddle/DeepSpeech/blob/b3c728d46ff4eee68c45f20b0abb76e968008bcb/model_utils/model.py#L305
， 这类问题可以多看下代码哈。

[2021-02-23 02:33] zh794390558 commented on #529
vocab不可以变动的，这个和pretrain的model的匹配的。

[2021-02-23 02:34] zh794390558 commented on #530
一般可以加入english character 到vocab 中。但预期不要太高，中英混杂难解，如果有好的办法欢迎反馈。

[2021-02-23 02:39] lfxx commented on #530
好的，感谢您的回复，另外我自己准备了120h的普通话数据集训练，效果并不是很好，是不是因为数据集太少了呢，如何在官方的预训练模型上finetune呢

[2021-02-24 03:22] monkeycc opened #531 "训练过程中，train loss : nan"
aishell训练过程中，
bash ./local/run_train.sh
-------------------------------------------
epoch: 0 , batch : 6700 ,  train loss : 64.74555
epoch: 0 , batch : 6800 ,  train loss : nan
epoch: 0 , batch : 6900 ,  train loss : nan
.......
------------------------------------------
train loss : nan
这个是什么问题导致的
有没什么影响

nvidia-smi 查看 一直正常

[2021-02-24 03:30] yeyupiaoling commented on #531
@monkeycc 检测数据集的正确性，尝试设置更小的学习率。batch size不能太小

[2021-02-24 03:31] yeyupiaoling commented on #484
@zh794390558 能否看一下这个issue？

[2021-02-24 06:53] yeyupiaoling commented on #484
解决了，是编码问题。

[2021-02-24 06:53] #484 closed, assigned to nobody

[2021-02-24 09:37] yeyupiaoling opened #532 "预测中解码速度太慢"
在预测中，单独的推理也就300ms，但这个解码就要11000ms，这个解码也太慢了。有没有加快解码速度的办法？

https://github.com/PaddlePaddle/DeepSpeech/blob/054d795dc093e5063de1a02b23a6ac13d1cccef4/infer.py#L133-L141

在沒有损坏准确率的情况下，有没有加快解码速度的办法？如果是修改`beam_size`，准确率会下降。我从`beam_size`为500改为5，错误率从7.6%升到8.5%

[2021-02-25 02:25] lfxx commented on #531
我训练的时候，到了epoch5才开始报nan,如果是数据集有问题，从epoch0应该就会报nan吧,更感觉像是学习率和batch size问题，出现nan错误的时候，我的batch size是8，学习率5e-4;现在改成5e-5继续训练了

[2021-02-25 02:29] yeyupiaoling commented on #531
@monkeycc 我说的数据集的准确性是指语音和标签直接是否对应上，而非指文件的错误。当你设置小了batch size，学习率也应该也要设置小一些。我觉得这个学习率还是大了些。

[2021-02-25 02:33] lfxx commented on #531
我看您的项目里，batch size为16的时候学习率是5e-5,那如果是8的话，学习率(5e-5)/2应该会更合适些吧。另外想请教num_samples是不是根据实际数据集大小修改呢，我的训练数据有16W条音频，所以该值应该是16W吧

[2021-02-25 02:35] yeyupiaoling commented on #531
@monkeycc 是的，num_samples可以设置为16W，这个参数是用于学习率衰减的

[2021-02-25 02:37] lfxx commented on #531
num_epoch我看您设置的是200，百度官方训练脚本给的是50，不知道使用哪个比较好，200训练时间就会很长了

[2021-02-25 02:39] yeyupiaoling commented on #531
@monkeycc 我猜官方是为了快速演示，我平时训练也是100或者200轮起步的。

[2021-02-25 02:40] yeyupiaoling commented on #531
@monkeycc 对了，我那个项目做了比较大的更新，你可以去看一下。

[2021-02-25 02:40] lfxx commented on #531
好的，非常感谢

[2021-02-25 02:56] yeyupiaoling commented on #531
@monkeycc 你提醒了我，我加了自动获取num_samples大小的。

[2021-02-25 03:17] zhangxiudan commented on #440
File "/usr/local/lib/python2.7/site-packages/soundfile.py", line 267, in <module>
    _snd = _ffi.dlopen('sndfile')
  File "/usr/local/lib/python2.7/site-packages/cffi/api.py", line 150, in dlopen
    lib, function_cache = _make_ffi_library(self, name, flags)
  File "/usr/local/lib/python2.7/site-packages/cffi/api.py", line 832, in _make_ffi_library
    backendlib = _load_backend_lib(backend, libn

[2021-02-25 03:19] yeyupiaoling commented on #440
@zhangxiudan 你看看这：https://github.com/yeyupiaoling/PaddlePaddle-DeepSpeech ，可能会解决这个问题。

[2021-02-25 03:32] zhangxiudan commented on #440
apt-get update
apt install libsndfile1

[2021-02-25 03:33] zhangxiudan commented on #440
@yeyupiaoling 谢谢

[2021-02-25 04:37] zh794390558 commented on #532
num_proc_bsearch 可以调大试下，batch size 可以减小些。

[2021-02-25 04:39] zh794390558 commented on #524
主要是每个参数都要遍历，把搜索空间降低下，同时num batches 设置小些，先粗搜，后精搜。

[2021-02-25 04:41] zh794390558 commented on #530
finetune 就得用同样的vocab处理下数据，从一个ckpt恢复模型，小lr训练试试。120h小时对语音来说还是太小。

[2021-02-25 04:50] lfxx commented on #530
vocab如何处理数据呢，就是对原标注数据进行替换？

[2021-02-25 04:55] yeyupiaoling commented on #532
@zh794390558 这个不是评估，输入的就是一个文件，所以num_processes就没有用了，也没有batch size

[2021-02-25 06:02] 111firelicaifeng commented on #523
目前文档中给的镜像是python2还是python3的版本的？

[2021-02-25 06:14] 111firelicaifeng commented on #526
之前下载了一版是python2.7的，后来又更新为python3.6以上了，但是我拉取了几次docker镜像，里面都是python2.7的环境，希望楼主能尽快更新以下docker镜像。

[2021-02-25 07:06] ccbptm opened #533 "Error in sh setup.sh,resampy"
I have install paddlepaddle2.0.
I also have
`sudo apt-get install -y pkg-config libflac-dev libogg-dev libvorbis-dev libboost-dev swig python3-dev`
but when I run
`python -m pip install -r requirements.txt`
The error occur,but I use
`pip install resampy'
The are correct

TheError
[code]

[2021-02-25 08:49] 111firelicaifeng commented on #484
怎么解决的？谢谢！

[2021-02-25 08:50] yeyupiaoling commented on #484
@111firelicaifeng 修改比较多，看这个代码吧：https://github.com/yeyupiaoling/PaddlePaddle-DeepSpeech

[2021-02-27 15:33] monkeycc opened #534 "用了aishell训练出来的模型，怎么测试自己的音频"
用了aishell训练出来的模型，怎么测试自己的音频

[2021-02-27 15:35] monkeycc opened #535 "用自己的声音尝试现场演示报错"
我用了aishell的模型进行测试，结果报错

CUDA_VISIBLE_DEVICES=0 python3 deploy/demo_server.py --host_ip localhost --host_port 8086
‘-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
host_ip: localhost
host_port: 8086
lang_model_path: /root/DeepSpeech/models/lm/common_crawl_00.prune01111.trie.klm
mean_std_path: /ro

[2021-03-01 11:52] wuchaowei2012 commented on #531
请问可以 相互 交换下自己制作的 语音数据集么？

[2021-03-02 00:31] yeyupiaoling commented on #531
@wuchaowei2012 你的数据集是怎样的？

[2021-03-02 02:43] wuchaowei2012 commented on #531
都是 视频剪辑 + 标注的字幕

[2021-03-02 02:44] wuchaowei2012 commented on #531
你那里有多少，我们交换下， 做数据及太难了。

[2021-03-02 02:52] wuchaowei2012 commented on #531
你加我 微信吧 15000456023

[2021-03-02 07:55] #532 closed, assigned to nobody

[2021-03-02 07:57] chasemy opened #536 "baidu_cn1.2按照8000采样报错"
我使用baidu_cn1.2模型进行测试,

demo_client:
data_dir='/home/audio/asr/wav/'
#data_path=os.listdir(data_dir)
#for audio_file in data_path:
audio_file = "chunk0.wav"
print(audio_file)

(HOST, PORT) = ('localhost', 8086)
s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.connect((HOST, PORT))
w=wave.open(os.path.join(data_dir,audio_file), 'r')
n = w.getnframes()
data = w.readframes(n)
s.sendall(struct.p

[2021-03-03 06:49] zh794390558 commented on #533
pip install resampy 安装最新的版本试试。

[2021-03-03 06:51] zh794390558 commented on #534
自己录一段音频，格式和aishell一致，自己创建manifest，修改infer.sh 的配置。

[2021-03-03 06:53] zh794390558 commented on #535
share_rnn_weights: True
use_gru: False

这个配置应该和aishell的不一致。

[2021-03-03 06:59] zh794390558 commented on #536
应该用16k的数据吧。 resample  `Unable to resample signals of dtype=float32. Only floating-point types are supported.` 这个错误应该是 resample 不支持float32。

[2021-03-03 07:00] #524 closed, assigned to zh794390558

[2021-03-03 07:00] #527 closed, assigned to zh794390558

[2021-03-03 07:00] #529 closed, assigned to zh794390558

[2021-03-03 07:01] zh794390558 commented on #530
直接用提供的vocab，不自己生成了。

[2021-03-03 07:03] #491 closed, assigned to zh794390558

[2021-03-03 07:04] #457 closed, assigned to zh794390558

[2021-03-03 07:05] zh794390558 commented on #456
设置下grad clip

[2021-03-03 07:05] #456 closed, assigned to zh794390558

[2021-03-03 13:15] roboticsai opened #537 "run on corol tpu"
After converting the model to tflite format. Is it possible to use it with corol tpu ?

[2021-03-04 01:11] ccbptm commented on #533
具体情况是这样的：我之前装了一遍paddle和DeepSpeech在Ubuntu18.04+python2.7，但后面为了项目开发，我用conda新建了一个python3.7的环境，然后重装了paddle和DeepSpeech，就提示这个错误。我也有尝试
`pip install resampy`
然后再运行
`python -m pip install -r requirements.txt`
又出现这个错误，并且把我用pip安装好的resampy卸载掉了

[2021-03-04 06:42] zh794390558 commented on #533
[code]
在docker里，用这个试试吧，我这儿没啥问题的。

resampy                0.2.2

[2021-03-04 06:44] zh794390558 commented on #537
sorry, i does not try this. I think this is depend on tflite.

[2021-03-04 07:08] zh794390558 commented on #515
可以关注下 2.x 的 PR，已经修改 server部分的代码了。

[2021-03-04 07:13] ccbptm commented on #515
好的，谢谢。

[2021-03-05 02:45] monkeycc opened #539 "什么时候搞个QQ群"
什么时候搞个QQ群

大家交流起来 也方便

[2021-03-05 03:16] TyroneHe-0926 opened #540 "Run infer.py时报错"
以前example什么的跑的都是好的，然后想用自己的数据试试就下了几个flac文件，然后把那些文件的manifest做出来之后用infer.py跑就报这个错：
-----------  Configuration Arguments -----------
alpha: 2.5
beam_size: 500
beta: 0.3
cutoff_prob: 1.0
cutoff_top_n: 40
decoding_method: ctc_beam_search
error_rate_type: wer
infer_manifest: /home/ubuntu/DeepSpeech/data/aishell/testmani2
lang_model_path: models/lm/zh_giga.no_cna_cmn.prune01244.klm
mean_std_path: /home/ub

[2021-03-05 06:33] zh794390558 commented on #540
resample 升级到 0.2.2 试下。

[2021-03-05 07:13] TyroneHe-0926 commented on #540
哈哈升级好之后就好了，不过看了下那个resampy的core.py里就是把之前版本raise这个报错的error给删掉了-＿-， 之前我也是把那个raise error哪里直接comment out就好了但是忘记更新了
多谢啦！

[2021-03-05 07:13] #540 closed, assigned to zh794390558

[2021-03-06 08:04] wwj8837817 opened #541 "train out of memmory"
显卡16G，8卡训练。
训练例子都没有问题，但是训练自己的数据集总是报oom的错误。
batch-size 64  训练10000多个batch后oom
batch-size 32 训练20000多个batch后oom
batch-size16 训练50000多个batch后oom
这是显存泄漏造的bug吗？请教该如何调试？

[2021-03-06 10:25] monkeycc opened #542 "No module named 'SocketServer'"
根据官方 Trying Live Demo with Your Own Voice 教程

To start the demo's server, please run this in one console:

CUDA_VISIBLE_DEVICES=0 \
python3 deploy/demo_server.py \
--host_ip localhost \
--host_port 8086

报错 No module named 'SocketServer'
----------------------------------------

DeepSpeech/deploy/demo_server.py

import SocketServer

这个 SocketServer 是在python2中使用

应该改为 socketserver

[2021-03-06 10:43] monkeycc commented on #535
add_arg('host_port',        int,    8086,    "Server's IP port.")
add_arg('beam_size',        int,    500,    "Beam search width.")
add_arg('num_conv_layers',  int,    2,      "# of convolution layers.")
add_arg('num_rnn_layers',   int,    3,      "# of recurrent layers.")
add_arg('rnn_layer_size',   int,    2048,   "# of recurrent cells per layer.")
add_arg('alpha',            float,  2.5,   "Coe

[2021-03-08 07:37] zh794390558 commented on #541
看下是啥oom了内存，还是显存？显存降低batch size应该没有问题。内存看你的机器负载。

[2021-03-08 07:39] zh794390558 commented on #542
嗯嗯，好的。之后升级到2.x的就没有了。同学提个PR到1.8.5的分支上吧，谢谢哈。

[2021-03-08 07:42] wwj8837817 commented on #541
@zh794390558 是显存，在训练过程中，显存会逐渐增大，batch-size设为16，训练了1天半，其中一个卡显存溢出，训练中断。报错如下：

Out of memory error on GPU 1. Cannot allocate 148.022705MB memory on GPU 1, available memory is only 108.125000MB.

Please check whether there is any other process using GPU 1.
1. If yes, please stop them, or start PaddlePaddle on another GPU.
2. If no, please decrease the batch size of your model.

 at (/paddle/paddle/flu

[2021-03-08 11:02] haoranchen06 opened #543 "release-v1.8.5版本使用cn1.2k预训练模型难以预测的问题"
release-v1.8.5这个版本的cn1.2k模型，使用aishell的mean_std.npz
[code]
做预测时，错字率20%-40%。

但使用自带的baidu_cn1.2k_model_fluid/mean_std.npz
[code]
做预测时输出结果全是“我”、“得”。

对此十分迷惑，希望得到解答。

[2021-03-09 01:21] VegetableWithChicken commented on #94
现在模型识别准确率大概多少

[2021-03-10 02:25] zh794390558 commented on #543
测试用对应的mean std文件，不能任意换。如果觉得不太匹配，就的看下配置是否正确了。

[2021-03-10 09:50] #413 closed, assigned to nobody

[2021-03-10 09:52] zh794390558 commented on #539
可以先加 758287592

[2021-03-10 09:55] zhihenan opened #548 "deepspeech中遇到了 ValueError: invalid literal for int() with base 10: 'params.pdparams'"
您好，我在使用前天更新的开发版中遇到了此问题：
采用的预训练模型aishell_model_fluid.tar.gz,语言模型zh_giga.no_cna_cmn.prune01244.klm,环境部署完成, 执行bash local/infer.sh 命令时出现下列错误。

-----------  Configuration Arguments -----------
checkpoint_path: data/lm/zh_giga.no_cna_cmn.prune01244.klm
config: conf/deepspeech2.yaml
device: cpu
dump_config: None
export_path: None
nprocs: 1
opts: []
output: None
-------------------------------------------

[2021-03-11 03:32] haoranchen06 commented on #543
还有个问题，我用cn1.2k预训练模型部署demo_client和demo_sever自测的时候，无论用aishell/mean_std.npz还是baidu_cn1.2k_model_fluid/mean_std.npz，预测结果全是空白。用aishell模型自测准确率低但是能有结果，这是为什么呢？

[2021-03-11 08:10] zh794390558 commented on #548
2.x的版本没有放出预训练的模型，需要重新训练。

[2021-03-11 08:11] #539 closed, assigned to zh794390558

[2021-03-11 08:11] #534 closed, assigned to zh794390558

[2021-03-11 08:11] #533 closed, assigned to zh794390558

[2021-03-11 08:11] #515 closed, assigned to zh794390558

[2021-03-11 08:12] #530 closed, assigned to zh794390558

[2021-03-11 08:13] zh794390558 commented on #535
share_rnn_weights: False
use_gpu: True

[2021-03-11 08:13] #531 closed, assigned to zh794390558

[2021-03-11 08:21] zhihenan commented on #548
请问一下接下来会公布2.x版本的预训练模型么？

[2021-03-11 09:53] zhihenan commented on #548
请问一下可以提供一下2.0版本的预训练模型么，我想将demo跑通一下，学习一下。之前的版本好多坑，而且最后也没跑通。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Hui ***@***.***&gt;;
发送时间: 2021年3月11日(星期四) 下午4:10
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/DeepSpeech] deepspeech中遇到了 ValueError: invalid literal for int() with base 10: &#39;params.pdparams&#39; (#548)

2.x的版本没有放出预训练的模型，需要重新训练。

—
您收到此消息是因

[2021-03-12 09:13] weiaoliu opened #553 "训练报错"
----------Begin test...
[WARNING 2021-03-12 17:08:54,584 reader.py:1144] Your reader has raised an exception!
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/home/weiao/anaconda3/envs/deep/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/home/weiao/anaconda3/envs/deep/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.

[2021-03-12 14:17] #553 closed, assigned to nobody

[2021-03-12 14:18] weiaoliu opened #554 "InvalidArgumentError: Cannot parse tensor desc"
[libprotobuf ERROR /paddle/build/third_party/protobuf/src/extern_protobuf/src/google/protobuf/message_lite.cc:119] Can't parse message of type "paddle.framework.proto.VarType.TensorDesc" because it is missing required fields: data_type
/home/weiao/anaconda3/envs/deep/lib/python2.7/site-packages/paddle/fluid/executor.py:1070: UserWarning: The following exception is not an EOF exception.
  "The foll

[2021-03-13 07:10] #554 closed, assigned to nobody

[2021-03-15 06:44] zhangyifei1 opened #555 "develop分支docker使用的是3.5版本。会报错"
develop分支默认是python3.5版本，安装指南运行代码时会报no model resampy,导致后面的无法运行。希望开发人员可以装配docker默认为python3.7+版本

[2021-03-16 03:06] DemoMoon commented on #299
sudo sh run_demo_client.sh
run_demo_client.sh: line 11: 83515 Segmentation fault: 11  CUDA_VISIBLE_DEVICES=0 python3 -u deploy/demo_client.py --host_ip='xx.xx.xx.xx' --host_port=8086
Failed in starting demo client!

[2021-03-16 03:09] DemoMoon commented on #299
Failed in starting demo client!
(venv) demodeMacBook-Pro:deploy_demo demo$ python
Python 3.7.5 (default, Nov  1 2019, 02:16:32)
[Clang 11.0.0 (clang-1100.0.33.8)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'keyboard'

(venv) demodeMacBook-Pro:deploy_d

[2021-03-16 03:12] DemoMoon commented on #361
(venv) demodeMacBook-Pro:DeepSpeech-release-v1.8.5 demo$ CUDA_VISIBLE_DEVICES=0 python -u deploy/demo_client.py --host_ip '192.168.16.150' --host_port 8086
Traceback (most recent call last):
  File "deploy/demo_client.py", line 2, in <module>
    import keyboard
ModuleNotFoundError: No module named 'keyboard'
(venv) demodeMacBook-Pro:DeepSpeech-release-v1.8.5 demo$ pip show keyboard
Name: keyboard

[2021-03-16 03:13] DemoMoon commented on #299
(venv) demodeMacBook-Pro:DeepSpeech-release-v1.8.5 demo$ CUDA_VISIBLE_DEVICES=0 python -u deploy/demo_client.py --host_ip 'xx.xx.xx.xx' --host_port 8086
Traceback (most recent call last):
  File "deploy/demo_client.py", line 2, in <module>
    import keyboard
ModuleNotFoundError: No module named 'keyboard'
(venv) demodeMacBook-Pro:DeepSpeech-release-v1.8.5 demo$ pip show keyboard
Name: keyboard
Ve

[2021-03-16 03:17] DemoMoon commented on #299
@zh794390558 @xinghai-sun please help me ,thks

[2021-03-16 03:23] zh794390558 commented on #555
请参看 https://github.com/PaddlePaddle/DeepSpeech#setup

[2021-03-16 06:11] DemoMoon opened #557 "python -u deploy/demo_client.py --host_ip 'localhost' --host_port 8086 Segmentation fault: 11"
(venv) demodeMacBook-Pro:DeepSpeech-release-v1.8.5 demo$ sudo python -u deploy/demo_client.py --host_ip 'xx.xx.xx.xx' --host_port 8086
Segmentation fault: 11

python 3.7.5
mac os 10.14.6

[2021-03-16 06:30] DemoMoon commented on #557
(venv) demodeMacBook-Pro:DeepSpeech-release-v1.8.5 demo$ sudo python -X faulthandler -u deploy/demo_client.py --host_ip '192.168.16.150' --host_port 8086
Password:
Fatal Python error: Segmentation fault

Thread 0x00007000024ad000 (most recent call first):
  File "/usr/local/opt/python/Frameworks/Python.framework/Versions/3.7/lib/python3.7/threading.py", line 296 in wait
  File "/usr/local/opt/pyth

[2021-03-16 07:34] DemoMoon commented on #557
(venv39) demodeMacBook-Pro:DeepSpeech-release-v1.8.5 demo$ sudo CUDA_VISIBLE_DEVICES=0 python -u deploy/demo_client.py --host_ip '192.168.16.150' --host_port 8086
Fatal Python error: Segmentation fault

Thread 0x00007000030db000 (most recent call first):
  File "/usr/local/Cellar/python@3.9/3.9.2_1/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 312 in wait
  File "/usr/

[2021-03-17 03:12] zh794390558 commented on #557
keyboard的问题，不知道什么原因。可以直接发一个wav文件上去，参看develop分支相关代码。

[2021-03-17 03:13] #537 closed, assigned to zh794390558

[2021-03-18 01:23] DemoMoon commented on #557
thks

[2021-03-18 01:23] DemoMoon commented on #557
thks

[2021-03-18 01:23] #557 closed, assigned to zh794390558

[2021-03-18 01:52] 535495945 opened #558 "DeepSpeech识别性能问题"
请问下
1.现在识别一个单词需要2.3秒，请问如何提高识别效率，需要什么样的配置
2.并发识别会报错，可以并发快速识别么？

[2021-03-18 05:01] wuchaowei2012 opened #559 "引入噪声数据增强后 报错"
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/DeepSpeech/DeepSpeech/deepspeech/frontend/augmentor/noise_perturb.py", line 71, in transform_audio
    audio_segment.add_noise(noise_segment, snr_dB, allow_downsampling=True, rng=self._rng)
  File "/DeepSpeech/DeepSpeech/deepspeech/frontend/audio.py", line 597, in add_noise
    if noise.sample_rate != self.sample_rate:
Attri

[2021-03-18 06:26] lfxx opened #560 "运行aishell下的export.sh报错"
报错如下：
AttributeError: module 'gast' has no attribute 'Index'
用的是develop分支最新版本
我用的paddle版本如下：
paddlepaddle-gpu：2.0.1.post100
gast:0.4.0

[2021-03-18 06:32] lfxx commented on #560
gast降级到0.3.3解决了，不知道是不是正确的解决方法

[2021-03-18 06:37] lfxx commented on #560
运行export.sh时另外报了一个warning:
`
/home/lfxx/anaconda3/envs/deepspeech_paddle2.0/lib/python3.7/site-packages/paddle/fluid/layers/math_op_patch.py:298: UserWarning: ../../../deepspeech/modules/rnn.py:152
The behavior of expression A + B has been unified with elementwise_add(X, Y, axis=-1) from Paddle 2.0. If your code works well in the older versions but crashes in this version, try to use elementwise_a

[2021-03-18 06:47] zh794390558 commented on #560
我用的2.0.0版本，没有遇到gast的问题。warning那个应该没有问题。

[2021-03-18 06:49] zh794390558 commented on #559
check 下noise和self是否有sample rate 属性。

[2021-03-18 06:50] zh794390558 commented on #558
提升速度主要提升前向，和解码速度。2.3sec不知道怎么测试的。

[2021-03-18 06:53] lfxx commented on #560
用export导出jit模型后，checkpoint.load_parameters()并没有加载jit模型的选项，想知道如何加载使用

[2021-03-18 08:33] DemoMoon commented on #536
manifest.test 怎么生成的呀？

[2021-03-18 10:06] 535495945 commented on #558
现在司使用cpu， 但是cpu只用了1核 ，如何使用多核？

[2021-03-19 01:26] zhangyifei1 opened #561 "docker 下运行bash run.sh 报错"
你好，使用docker环境下，运行bash run.sh 脚本的时候，在导入数据后会报没有安装’resampy‘模块的错误。
pip3 install resampy  则会报以下错误，始终导不了包。请问是什么问题，如何解决。

![image](https://user-images.githubusercontent.com/28425091/111718595-3247c100-8895-11eb-8011-9d614f5819a0.png)

[2021-03-19 01:58] lfxx commented on #561
docker镜像还是别用了，太老旧了，一堆bug。直接用develop分支，搭建本地环境吧

[2021-03-19 02:07] zhangyifei1 commented on #561
老哥你本地跑的咋样？有什么问题没。这个环境我真是好几天了，好纠结。docker内是ubuntu16.04的版本，有点老，组件不配套。

[2021-03-19 02:17] lfxx commented on #561
最新分支没啥问题，代码也很规范，照着教程来就行，可能gast版本会有问题，降级到0.3.3就能解决。想用docker的话自己搭镜像吧，官方的太老旧了

[2021-03-19 04:46] DemoMoon opened #562 "训练的模型在语音识别的时候报错了"
Python 3.7.6
(venv) [root@bogon deploy_demo]# pip show paddlepaddle
Name: paddlepaddle
Version: 2.0.1
Summary: Parallel Distributed Deep Learning
Home-page: UNKNOWN
Author: None
Author-email: Paddle-better@baidu.com
License: Apache Software License
Location: /home/DeepSpeech/tools/venv/lib/python3.7/site-packages
Requires: decorator, numpy, requests, gast, Pillow, protobuf, six, astor
Required-by:

[2021-03-19 05:15] DemoMoon commented on #562
INFO:     192.168.16.122:52901 - "GET /favicon.ico HTTP/1.1" 404 Not Found
^F^[[B^[[B^[[B^[[B/home/DeepSpeech/deploy/mao.wav
[libprotobuf ERROR /paddle/build.noavx/third_party/protobuf/src/extern_protobuf/src/google/protobuf/message_lite.cc:119] Can't parse message of type "paddle.framework.proto.VarType.TensorDesc" because it is missing required fields: data_type
INFO:     192.168.16.122:53835 -

[2021-03-19 05:17] DemoMoon commented on #554
最后 解决了吗？

[2021-03-19 06:48] DemoMoon commented on #562
[root@bogon xm_test]# sh run_train.sh
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/usr/local/python3/lib/python3.7/site-packages/setuptools/depends.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
/usr/local/python3/lib/py

[2021-03-19 07:22] lfxx opened #563 "服务端推理的时候，收到的音频必须先保存然后再读取吗"
应用在业务中，上述方法明显是不可靠的，可不可以直接保存在内存中推理？希望官方可以优化下server demo

[2021-03-19 07:42] lfxx commented on #563
解决了

[2021-03-19 07:42] #563 closed, assigned to nobody

[2021-03-19 07:43] lfxx opened #564 "项目中用到tensorrt了吗"
如果没有，有计划加入该优化方法吗

[2021-03-19 09:21] DemoMoon commented on #562
manifest.test 内容
(venv) [root@bogon deploy_demo]# less ../../data/xm/manifest.test
{"audio_filepath": "./dataset/xmspeech/mao.flac", "duration": 0.720, "text": "猫"}

[2021-03-21 08:46] yinchunlin opened #565 "UnavailableError: Not allowed to load partial data via load_combine_op, please use load_op instead."
运行sh run_test_golden.sh 时遇到该问题，请问怎么处理

[2021-03-21 09:25] yinchunlin opened #566 "lm_dict_size = self._ext_scorer.get_dict_size()，return 0,it shoud be the reason."
lm_dict_size = self._ext_scorer.get_dict_size()，return 0,it shoud be the reason.

_Originally posted by @wueching in https://github.com/PaddlePaddle/DeepSpeech/issues/408#issuecomment-570598781_

[2021-03-21 09:27] yinchunlin commented on #566
lm_dict_size = self._ext_scorer.get_dict_size() where is this code could befixed？

[2021-03-22 02:38] zh794390558 commented on #564
还没有用，推理部分后续会加入支持。

[2021-03-22 02:39] zh794390558 commented on #565
2.x没有test_golden的脚本了。1.8的确认下环境吧，没有遇到过这个问题。
1.8的模型，2.x 不支持。2.x没有放预训练的模型。

[2021-03-22 02:43] zh794390558 commented on #562
先用 2.0.0 的吧，我没有试过2.0.1版本。像是模型保存加载部分有修改导致的问题。

[2021-03-22 02:45] zh794390558 commented on #561
安装的问题请看下：
https://github.com/PaddlePaddle/DeepSpeech/blob/develop/README.md#setup
我是这么用的，没有遇到问题。

[2021-03-22 02:49] zh794390558 commented on #566
tiny is for english model， but aishell model used? And you can try 2.x now.

[2021-03-22 03:19] zh794390558 commented on #562
模型是用的2.0.1训出来的吗？

[2021-03-22 03:31] DemoMoon commented on #562
对，那我用2.0.0训练一下，谢谢！

[2021-03-22 04:01] DemoMoon commented on #562
换成2.0.0还报错呢

[2021-03-22 04:25] DemoMoon commented on #562
(venv) [root@bogon deploy_demo]# sh ../xm_test/run_train.sh
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/home/DeepSpeech/tools/venv/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doin

[2021-03-22 04:49] DemoMoon commented on #562
[训练语音原文件.zip](https://github.com/PaddlePaddle/DeepSpeech/files/6179510/default.zip)

[2021-03-22 06:06] DemoMoon commented on #562
release/v1.8.5

[2021-03-22 08:59] DemoMoon opened #568 "File contains data in an unimplemented format."
linux同样的环境，
develop 分支 训练时候报错了。
release/v1.8.5 分支 可以正常训练。

(venvnew) [root@bogon DeepSpeech]# sh setup.sh
Requirement already satisfied: scipy==1.2.1 in ./tools/venvnew/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (1.2.1)
Requirement already satisfied: resampy==0.2.2 in ./tools/venvnew/lib/python3.7/site-packages (from -r requirements.txt (line 2)) (0.2.2)
Requirement already sa

[2021-03-22 09:08] DemoMoon commented on #568
(venvnew) [root@bogon tiny]# sh run.sh
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/home/develop/DeepSpeech/tools/venvnew/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this wil

[2021-03-22 10:10] DemoMoon commented on #568
release/v1.8.5 分支 可以正常训练。
(venv) [root@bogon DeepSpeech]#  python tools/compute_mean_std.py --num_samples 1 --specgram_type linear --manifest_path data/xm/manifest.test --output_path data/xm/mean_std.npz
WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core.
/home/DeepSpeech/tools/venv/lib/python3.7/site-packages/paddle/fluid/

[2021-03-23 02:31] zhangyifei1 opened #569 "bash run.sh"
(base) root@a8e4df74e22d:/DeepSpeech/DeepSpeech-develop/examples/tiny# bash run.sh
/root/anaconda3/lib/python3.8/site-packages/paddle/fluid/framework.py:297: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.
  warnings.warn(
Skip downloading and unpacking. Data already exists in /DeepSpeech/DeepSpeech-develop/examples/tiny/

[2021-03-23 08:01] zhangyifei1 commented on #568
你好，请问下您使用release/v1.8.5分支，运行sh run_train.sh  训练模型的时候会报  ModuleNotFoundError: No module named 'swig_decoders'
这个错误吗？

[2021-03-23 08:02] zhangyifei1 commented on #568
我最近一直被这个问题困扰，非常期待您的解答、

[2021-03-23 08:36] zhangyifei1 commented on #347
你好，大佬，请问下您是怎么解决这个问题的，目前已经被这个问题困扰几天了，非常期待您的回复、

[2021-03-23 09:06] zh794390558 commented on #568
还是安装的问题soudfile 没有开 flac的支持，应该是没有安装flac相关的库。check下soundfile的安装是否支持了flac的库。最好用ubuntu的系统。

[2021-03-23 09:07] zh794390558 commented on #569
setup.sh 应该没有安装正确，check下 decoders 相关安装是否正确。建议按照reademe的方式安装，ubuntu 系统。

[2021-03-23 09:15] zhangyifei1 commented on #569
![image](https://user-images.githubusercontent.com/28425091/112122495-4ecc5c00-8bfb-11eb-8bf7-7b4d0718f4ec.png)
你好，执行setup.sh，显示这个。不是安装成功了么？

[2021-03-23 09:19] zhangyifei1 commented on #569
而且pip3 list也有了 ’swig-decoders‘这个包了。
![Uploading image.png…]()

[2021-03-23 09:32] zh794390558 commented on #560
https://github.com/PaddlePaddle/DeepSpeech/blob/transformer/.notebook/jit_infer.ipynb

jit 是部署用的，目前还有bug还待修复。