[2022-04-28 02:20] zh794390558 commented on #1820
加上 -y 就可以直接运行了。
`paddlespeech asr -y --input ./zh.wav`

[2022-04-28 02:22] zh794390558 commented on #1819
CLI 定位是用来做模型推理的，并没有要支持产品引用。VAD这个在看，但也需要根据场景调整，这个需要自己了解怎么调。加上去了业务上也不一定能应用好。

[2022-04-28 02:24] Jackwaterveg commented on #1820
因为你的samplle rate 不符合模型标准，加上 -v，就可以看到 log信息了，加上 -y ，程序就帮你直接resample 了。

[2022-04-28 08:27] DidaDidaDidaD commented on #1257
强烈建议搞时间线输出，可惜刚更新的这个还是没有该功能。语音识别不可能只识别一个句子，实际应用的时候是大段大段的语音直接输入，结果出来的是没任何标点符号，没任何时间点信息的文字，还得想别的法子实现获取时间点信息

[2022-04-28 09:22] DidaDidaDidaD commented on #1819
不管怎么说，实用才是第一的，既然有推理了，再弄个音频切分的就是了，最好的就是输入整段音频，去噪、切分、识别、断句，最后一起输出，只用vad，对于语速比较快的或者多个人一起说话的，就无法切开，还是需要punctuation，所以把这几个统一了，就完美了

[2022-04-29 02:08] yt605155624 commented on #1816
I have no knowledge about onnx -> trt, sorry, please make sure your onnx model can use trt first, as far as I am concerned, fastspeech2 can't not use trt, because the duration is predicted during inference, so the trt doesn't known the size of some layers

[2022-04-29 02:08] #1816 closed, assigned to nobody

[2022-04-29 02:08] #1588 closed, assigned to nobody

[2022-04-29 02:11] #1524 closed, assigned to nobody

[2022-04-29 03:29] Tian14267 commented on #1816
Thank you very much. But vocoder model from onnx covert to TRT is also error. I guess something is wrong with onnx model.
what I say about TRT is like this:
[https://www.jianshu.com/p/3c2fb7b45cc7](url)
[https://blog.csdn.net/weixin_42476942/article/details/113757059](url)
can you solve this problem ?

[2022-04-29 05:56] yt605155624 commented on #1816
Maybe you can get more help from Paddle2Onnx, but covert onnx model to trt model may not in paddle's business scope

[2022-04-29 09:54] yt605155624 commented on #1763
sorry, I just find we haven't use the random emb by a developer's pr ...
https://github.com/PaddlePaddle/PaddleSpeech/pull/1828/files

[2022-04-29 17:53] ChenjieXu commented on #1820
问题解决了！多谢！

[2022-04-29 17:53] #1820 closed, assigned to nobody

[2022-04-29 18:12] ChenjieXu commented on #1819
这可能还是要看产品定位，像视觉模型库PaddleDetection等已经在工业领域占有了一席之地，当我遇到了ASR的需求我自然而然地会想到Paddle的其他产品。VAD可能是整块拼图的最后一块，VAD+ASR+PRUNC我觉得可以解决大多数的工业场景。
这边想再问一下目前如何使用Python脚本形式进行ASR和PRUNC，doc感觉还不是很完善。

[2022-04-29 18:24] ChenjieXu commented on #1819
很早之前就关注这个repo，那时候能够支持从麦克风输入，不知道什么时候可以再有这个功能？

[2022-04-30 05:57] #1756 closed, assigned to nobody

[2022-04-30 09:15] DidaDidaDidaD opened #1831 "长语音识别效果还不错，就是没分片，而且没有时间信息"
长语音识别效果还不错，就是没分片，而且没有时间信息，如果使用vad，发现分片数量越多，用paddlespeech识别的效果越差，看样子和上下文有关系，但音频开始和结尾识别的错误率明显挺大的。不知道什么时候能出长语音识别，同时断句以及时间信息

[2022-04-30 09:16] DidaDidaDidaD commented on #1819
今天看到一个软件叫万彩字影大师，这个就是长音频自己切分识别断句，这就是我想要的效果

[2022-05-01 07:37] landd1897 opened #1834 "希望能添加一下声纹识别的教程文档"

[2022-05-01 13:17] qingen commented on #1834
https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/demos/audio_searching/README_cn.md
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/voxceleb
以及近期会有一档声纹直播课，到时可以关注下

[2022-05-01 14:20] DidaDidaDidaD commented on #1831
有没有银啊，长语音的识别这个才实用啊，不晓得为啥不重视这个

[2022-05-01 15:54] LeoMax-Xiong commented on #1831
时间戳的功能正在开发

[2022-05-01 16:09] DidaDidaDidaD commented on #1831
感谢回复，期待早日上线

[2022-05-02 12:15] LeoMax-Xiong opened #1837 "[asr][server]Please add punctuation server to asr"
Please add punctuation server to asr

[2022-05-04 13:23] xingchensong opened #1839 "Add acknowledgment to WeNet"
Parts of the `speechx` projects are basically the same as the ones used inside WeNet. I would recommend adding acknowledgment to WeNet in `speechx/README.md`.

1. `websocket_server` and  `websocket_client` are basically equal to WebSocket in WeNet, see `diff` below:
<img width="960" alt="72cb781624f8454f74fa8b4be483165" src="https://user-images.githubusercontent.com/13466943/166688197-06105606-57f

[2022-05-04 15:29] wonder2025 commented on #1831
能识别demo自带的音频，自己的中文普通话音频一个都识别不出来，不知道需要改哪里

[2022-05-05 03:07] zh794390558 commented on #1819
可以参考 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/server/tests/asr/online/microphone_client.py

[2022-05-05 03:11] #1839 closed, assigned to nobody

[2022-05-05 10:06] #1775 closed, assigned to LeoMax-Xiong

[2022-05-05 11:50] #1837 closed, assigned to LeoMax-Xiong

[2022-05-06 01:16] vpegasus opened #1847 "engine pool cannot initialize"
env: ubuntu20.04, python3.8

command:
[code]

[code]

who can help me about this error?

[2022-05-06 02:27] #1257 closed, assigned to SmileGoat

[2022-05-06 02:58] lym0302 commented on #1847
Is it the latest code?

[2022-05-06 13:45] vpegasus commented on #1847
Yes, I just piped install this morning. and the source code I also downloaded this morning ( in terms of ./conf/tts_online_application.yaml ).

[2022-05-06 14:33] yt605155624 commented on #1847
please
1. pip install paddlespeech==1.0.0a
2. or git clone PaddleSpeech & pip install .

to install the latest version of paddlespeech

[2022-05-06 14:33] #1847 closed, assigned to lym0302

[2022-05-07 02:06] lym0302 commented on #1678
The problem of tag has been solved in the latest code, thank you for raising the question

[2022-05-07 02:06] #1678 closed, assigned to lym0302, WilliamZhang06

[2022-05-07 02:08] lym0302 commented on #1678
The problem of tag has been solved in the latest code. 'tag' should be written above 'if',fixed.

[2022-05-07 02:28] PoPdark opened #1867 "ubuntu安装时显示版本冲突"
![image](https://user-images.githubusercontent.com/23391279/167234273-6b7aa644-6342-4b50-84ef-f19b18bfd84b.png)
我看之前的issue好像有人也出现了类似的问题，但是不知道是怎么解决的。python版本3.6.9 ubuntu版本18.04.5

[2022-05-07 12:13] yt605155624 commented on #1867
pip install paddlespeech==1.0.0a
安装最新版试试，报错显示的版本都好老了。

[2022-05-08 10:20] zh794390558 commented on #1839
Hi @xingchensong ，thanks for the reminder of the copyright issue. We have added the authors and acknowledge in the related code.https://github.com/PaddlePaddle/PaddleSpeech/pull/1849  In those code, we refer the design of the websocket in Wenet, which is compact and useful. With that help, we save lot of time and energy, speeding up the development. We are really grateful about the contributions o

[2022-05-09 02:21] bingyulab opened #1875 "streaming service /service 如何使用pretrained 之外的模型？"
配置文件里am 选择为['fastspeech2_csmsc_onnx', 'fastspeech2_cnndecoder_csmsc_onnx']
如何使用自己训练的模型搭建服务？

[2022-05-09 02:31] lym0302 commented on #1875
把训练的模型相关文件依次对应填写到am_ckpt（这个为list类型）， am_stat，phones_dict 即可

[2022-05-09 02:34] lym0302 commented on #1875
am_ckpt is a list, if am is fastspeech2_cnndecoder_csmsc_onnx, am_ckpt = [encoder model, decoder model, postnet model], if am is fastspeech2_csmsc_onnx, am_ckpt = [ckpt model]

[2022-05-09 02:43] bingyulab commented on #1875
如果我基于aishell3 finetune的模型，是否还支持呢？ 是不是只要把csmc 换成aishell3 就行了？
am_stat，phones_dict 都是string类型对吧

[2022-05-09 08:26] Tian14267 opened #1876 "请问如何实现tts--fastspeech2多说话人的语音时长修改？"
你好，现在的paddlespeech的TTS，能够转换成静态模型和inference版本的，都是默认时长参数为1.0的。如果我想把模型的语音时长参数调整为0.8，然后在把模型转换成静态模型，实现一个快语速的静态模型，请问该如何实现？

[2022-05-09 08:52] yt605155624 commented on #1876
你好，fastspeech2 模型在推理过程中预测音素时长 duration https://github.com/PaddlePaddle/PaddleSpeech/blob/b4387ab6bf0f65982a98dd0edf36b1f5d6351aac/paddlespeech/t2s/models/fastspeech2/fastspeech2.py#L553, 感觉直接在这行之后把 d_outs 的每个数值 x0.8 再转换成 int 类型就可以实现你的需求，具体你可以打印下 d_outs

[2022-05-10 06:00] lym0302 commented on #1875
aishell3的流式tts目前不支持，目前只支持yaml配置文件注释上写的那些，如果你想用aishell3的模型的话，可以根据https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/server/engine/tts/online/python/tts_engine.py 自行修改

[2022-05-10 06:53] bingyulab commented on #1875
明白。 未来会有开发计划吗？

[2022-05-10 06:58] Tian14267 commented on #1876
好的，非常感谢。已经完成了

[2022-05-10 08:01] #1876 closed, assigned to nobody

[2022-05-10 08:04] yt605155624 commented on #1875
暂时没有开发计划
如果想用 onnxruntime 推理引擎，目前多说话人的 fastspeech2 模型 paddle2onnx 有算子暂时不支持（p_norm）
如果想用 paddle 动态图作为推理引擎，自己改的话应该不算难

[2022-05-11 03:27] yingzhao27 opened #1883 "AISHELL-1下面asr0，静态图推理报错No stack trace in paddle, may be caused by external reasons."
在基于AISHELL1复现deepspeech2_online时，导出静态图后测试时遇到以下问题，请问是什么原因呢

[code]

[2022-05-11 04:55] Jackwaterveg commented on #1883
请问使用了什么版本的 paddle，转静态图的命令是啥 ？

[2022-05-11 05:13] yingzhao27 commented on #1883
您好，我安装的paddle版本是2.2.0。cuda10.2, cudnn8.0.4, 安装命令：python3 -m pip install paddlepaddle-gpu==2.2.0 -i https://mirror.baidu.com/pypi/simple。

我是直接运行的/PaddleSpeech/examples/aishell/asr0/run.sh,运行到stage5的时候报错，
[code]

[2022-05-11 05:32] #1875 closed, assigned to lym0302

[2022-05-11 06:21] zh794390558 commented on #1883
上面的信息，看不出错错的原因。目前我们在用的是paddle2.2.2的版本，可以尝试下。也可以排查下是不是有其他OOM，GPU显存占用之类的问题。

[2022-05-12 01:40] Tian14267 opened #1886 "关于TTS的采样率为8k时的参数配置问题"
大佬你好，我想咨询一下，如果我想把 TTS 的采样率改成 8k 的话，那么我训练**声学模型**和**声码器**的话，参数应该怎么调整？麻烦大佬给个建议啊。

<img width="426" alt="1" src="https://user-images.githubusercontent.com/27938135/167974773-19568708-f4c4-4799-9669-048e5114fa57.png">
<img width="408" alt="02" src="https://user-images.githubusercontent.com/27938135/167974784-73e81a80-5e0e-41f3-9de2-1b3603e646ff.png">
<img width="539" alt="3" src="https://user-images.g

[2022-05-12 02:18] yt605155624 commented on #1886
8k 对于 TTS 实在是太差了，我没有相关调参经验

[2022-05-12 02:23] yingzhao27 commented on #1883
重新安装2.2.2版本后仍然报同样的错，显存占用看上去也是正常的。
今天通过将原本cudnn8.0.4更改为cudnn=7.6.5后没再报错了，可以正常推理了。

[2022-05-12 03:36] zh794390558 commented on #1883
Good，应该是paddle依赖和版本补齐配的问题。建议多使用docker，避免类似问题。

[2022-05-12 06:39] yt605155624 commented on #1886
我能给到的经验是，8k 的声学参数（hop_size, window_size 等）你可以参考 asr 8k 采样率模型的常用设置，然后应该有一些 16k 的 tts 模型库，你可以参考他们的进行模型参数设置再改小一点，需要注意的一点就是声码器上采样参数的乘积要等于 hop_size

[2022-05-12 11:01] #1867 closed, assigned to nobody

[2022-05-12 11:01] #1886 closed, assigned to nobody

[2022-05-12 12:10] #1812 closed, assigned to zh794390558

[2022-05-13 06:03] Tian14267 commented on #1886
好的好的，非常感谢。我已经调整好了。另外，问一个问题。我在多GPU训练 pwgan 模型的时候，会出现错误。单卡就没问题。大概的报错信息为：
`SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.`
麻烦有空的时候看一下呗。

[2022-05-13 09:16] iftaken opened #1895 "PaddleSpeech跨域访问错误"
使用PaddleSpeech Server在远程服务器部署标点服务后，本地客户端通过游览器的JS脚本访问对应接口，发生禁止跨域访问错误。

开启服务代码：
[code]

本地游览器访问对应的接口
[code]

发生跨域访问错误 CORS policy
![7e64959bda7ed39eec8e6e9a2bf27d77](https://user-images.githubusercontent.com/30135920/168252478-0bcae329-c061-44b2-b3a3-4adbd8e7bdd3.png)

[2022-05-13 12:12] #1895 closed, assigned to nobody

[2022-05-14 03:47] kmeitidenu opened #1900 "标点服务器帮助 (python3)"
标点服务器帮助 (python3)

[2022-05-14 16:53] charmby commented on #1831
长语音是不支持mp3吗？
paddlespeech asr --lang zh --input /home/charmby/data/20220511.mp3
/home/charmby/local/conda/envs/stock/lib/python3.8/site-packages/matplotlib/__init__.py:152: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(module.__version__) < minver:
/home/charmby/local/conda/envs/stock/lib/python3.8/site-packages/setuptools/_distutils

[2022-05-14 16:57] charmby commented on #1819
确定只支持50s？传入一个20分钟的语音片段是不是不能返回结果

[2022-05-16 06:13] Kevinkaiyan opened #1908 "如何提升TTS在CPU下的推断速度？"
现在的服务器的CPU环境是4核4线程，模型使用的是fastspeech2和parallelwaveGAN，推断一个7字车牌号需要4s的时间。目前cpu占用是100%，请问如何提升推断速度，需要启动多核推断吗，还是进行模型压缩？

[2022-05-16 07:58] yt605155624 commented on #1908
1. 把声学模型换成 hifigan/mb_melgan，pwgan 速度很慢，mb_melgan 速度最快，质量较差，声学模型换成 speedyspeech 可能会略快，fastspeech2_cnndecoder 也能比默认的 fastspeech2 快一点，https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/csmsc/tts3/run_cnndecoder.sh
2. paddle 动态图很多算子没有支持 cpu 多线程，开了多线程提升也不明显
3. 可以试试用 onnxruntime 推理引擎，参考 https://github.com/PaddlePaddle/PaddleSpeech/blob/7178076a591fafbbabb881327bf9611b27a863bd/examples/c

[2022-05-16 10:04] YukiRus opened #1909 "TTS功能无法输出英文语音"
使用的是简单模式的命令行输出，仅能输出中文和数字。
请问需要什么额外的配置吗？谢谢

[2022-05-16 10:15] yt605155624 commented on #1909
目前 TTS 仅支持纯中文和纯英文，不支持中英文混合，如果想合成英文文本，可以采用如下命令：
[code]

[2022-05-17 02:28] YukiRus commented on #1909
好的，十分感谢

[2022-05-17 02:28] #1909 closed, assigned to nobody

[2022-05-17 09:30] yt605155624 commented on #1867
maybe you should update your pip's version

[2022-05-19 03:09] #1908 closed, assigned to nobody

[2022-05-19 03:10] zh794390558 commented on #1900
麻烦描述下具体信息

[2022-05-19 03:13] zh794390558 commented on #1819
理论上是200s。已实际测试为准。

[2022-05-19 10:19] Kevinkaiyan commented on #1908
感谢！速度提升很显著，此外还想问一下在onnx下可以做stylefastspeech2那样的定制化操作吗？

[2022-05-19 13:02] CHSSea opened #1922 "无法转换为音频"
我通过/paddlespeech/tts/streaming这个接口获取到音频的base64编码，但是无法转码为音频文件，尝试了MP3格式和WAV格式

[2022-05-19 13:10] zh794390558 commented on #1922
base64解码后是pcm，可以保存任意格式的。

[2022-05-19 13:32] CHSSea commented on #1922
是的，但是当我转换为音频文件时，无法正常的播放

[2022-05-20 01:10] CHSSea commented on #1922
我现在换了api使用，使用/paddlespeech/tts拿到audio值后，可以顺利转为了wav。

[2022-05-20 01:10] #1922 closed, assigned to nobody

[2022-05-20 02:23] qiuyuzhao opened #1923 "ImportError"
运行的时候提示importerror，ImportError: cannot import name '_non_static_mode' from 'paddle.fluid.framework' (/home/caopu/anaconda3/envs/paddlespeech/lib/python3.7/site-packages/paddle/fluid/framework.py)

File "/home/caopu/workspace/PaddleSpeech/wav_vec.py", line 1, in <module>
    import paddle
  File "/home/caopu/anaconda3/envs/paddlespeech/lib/python3.7/site-packages/paddle/__init__.py", line 47, in <m

[2022-05-20 02:51] yt605155624 commented on #1923
paddle 的问题可以优先去 paddle issue 区提问，建议你重新安装最新的 paddle 试试

[2022-05-20 04:06] #1923 closed, assigned to nobody

[2022-05-20 04:09] qiuyuzhao opened #1925 "❣️ [nltk_data] zipfile.BadZipFile: File is not a zip file"
运行的时候报错
Traceback (most recent call last):
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames

[2022-05-20 05:16] yt605155624 commented on #1925
nltk_data 安装有问题，参考一下安装文档，把我们提供的包下载到自己的 home 目录https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install_cn.md

[2022-05-20 06:15] qiuyuzhao opened #1926 "采样率"
请问想推理44100hz采样率的音频应该用那个模型？

[2022-05-20 09:17] yt605155624 commented on #1926
目前 asr 和 tts 都不支持这个采样率，asr command line 加 -y 参数会强制转换为 16k

[2022-05-20 09:46] lym0302 commented on #1922
流式服务为了更快的响应，返回的string 是 int16 类型的数据转的。可以参考下述方式保存试试看？
① 将base64转成 byte：data_bytes = base64.b64decode(data_string)
② 保存音频（支持pcm 和 wav）可参考：https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/server/utils/audio_process.py#L146 转成

[2022-05-20 17:04] qiuyuzhao opened #1932 "AttributeError: 'ASRExecutor' object has no attribute 'max_len'"
运行程序时候提示错误：
File "/home/ssd/suimang/project/PaddleSpeech/paddlespeech/cli/asr/infer.py", line 371, in _check
    if audio_duration > self.max_len:
AttributeError: 'ASRExecutor' object has no attribute 'max_len'
下边是我的代码：
import paddle
from paddlespeech.cli import ASRExecutor

asr_executor = ASRExecutor()
text = asr_executor(
    model='conformer_wenetspeech',
    lang='zh',
    sample_rate=16000,

[2022-05-22 03:35] MrJson1 opened #1933 "可以设置不检测paddlespeech-ctcdecoders 这个组件？"
语音识别执行命令：
paddlespeech asr --lang zh --input  C:\Users\Administrator\Desktop\test.wav -v

一直检测paddlespeech-ctcdecoders 组件但是又没起到作用，执行命令识别比较慢，是否可以去除这个检测机制
![image](https://user-images.githubusercontent.com/44693150/169677231-2ebb06ad-f1fc-4e95-bb59-92930b47159c.png)

[2022-05-22 13:46] prophesier commented on #1932
遇到了同样的问题，发现根本原因是在paddlespeech/cli/asr/infer.py里面 在初始化maxlen之前就先调用了_check检查，
在480行左右
[code]
把 if not self._check()如上放到self._init_from_path()下面，然后重新pip install . ，虽然不清楚会不会引起其他问题，但至少解决了这个报错

[2022-05-23 01:32] qiuyuzhao opened #1934 "Out of memory error on GPU 0"
运行deepspeech2offline_aishell模型的时候提示：

Connected to pydev debugger (build 201.8538.36)
/home/ssd/suimang/miniconda3/envs/paddle/lib/python3.7/site-packages/librosa/core/constantq.py:1059: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted t

[2022-05-23 07:08] D-DanielYang opened #1936 "[Do not reply]QR code of joining wechat group"
![aeb3b8c321dd01d1398f1872aa9ca84a](https://user-images.githubusercontent.com/23690325/169763015-cbd8e28d-602c-4723-810d-dbc6da49441e.jpg)

[2022-05-23 07:08] #1936 closed, assigned to nobody

[2022-05-23 07:11] liqiujiong opened #1937 "ASR-python api will waiting input() don't continue"
**Describe the bug**
i try to use asr-api of  paddleSpeech.cli，but I happen a problem that it don't working，because can't input in python runtime

**To Reproduce**

1. Go to ready environment
2. input asr python api demo
3. run it

**Expected behavior**
![image](https://user-images.githubusercontent.com/5794205/169762724-b7b0968e-1313-45dc-a46b-c3973ecfc482.png)

**Try solution**

![image](https:/

[2022-05-23 08:20] qiuyuzhao opened #1939 "deepspeech2提取音频特征"
请问deepspeech2提取音频特征在代码中是encoder出来的就是音频特征了么？decoder是吧提取到的音频特征和解码成文字么？

[2022-05-23 10:13] yt605155624 commented on #1937
you should add `force_yes=True` when using asr python api, please check here https://github.com/PaddlePaddle/PaddleSpeech/blob/e6ddb0cc6efe8d4706aac23009aa1a16c506bc3d/paddlespeech/cli/asr/infer.py#L99 and https://github.com/PaddlePaddle/PaddleSpeech/blob/e6ddb0cc6efe8d4706aac23009aa1a16c506bc3d/paddlespeech/cli/asr/infer.py#L477

[2022-05-23 10:16] yt605155624 commented on #1934
你输入的音频是不是很大，竟然要求 1.035075EB  的显存，请尝试输入 50s 以内的音频

[2022-05-23 10:42] zh794390558 commented on #1939
encoder输出的是hidden state.

[2022-05-23 11:22] qiuyuzhao commented on #1934
我推理的7秒的音频，转成cpu就可以运行了，这是为什么？

[2022-05-23 11:37] qiuyuzhao commented on #1939
请问在模型Conv layer， Recurrent layer ，和FC layer中哪里输出的是音频的特征？

[2022-05-23 12:19] yt605155624 commented on #1934
你可以按照提示试试，可能 GPU 有问题？

[code]

[2022-05-24 01:30] zh794390558 commented on #1939
音频特征是conv的输入

[2022-05-24 04:10] #1939 closed, assigned to Jackwaterveg

[2022-05-24 04:19] qiuyuzhao opened #1944 "音频长度和特征长度"
请问输入一段音频在encoder outputs,中返会的维度是[1 T, D]，这个T要怎么和音频的长度对应上呢？

[2022-05-24 06:06] yt605155624 commented on #1944
请问你说的是哪个任务的哪个模型

[2022-05-24 06:09] qiuyuzhao commented on #1944
语音识别任务的deepspeech2offline_aishell，请问这个模型的encoder返回的[1.T,D]，T如何与音频的时间对应，万分感谢

[2022-05-24 08:03] liqiujiong commented on #1937
thank you solved my problem

[2022-05-24 08:03] #1937 closed, assigned to nobody

[2022-05-24 09:08] SuperKsa opened #1947 "2022-05-24编译paddlespeech_ctcdecoders的时候遇到setup.sh文件有换行符错误"
今天用树莓派编译paddlespeech_ctcdecoders的时候遇到setup.sh文件有换行符错误的问题，具体报错如下：

/PaddleSpeech/third_party/ctc_decoders# `bash ./setup.sh`

/setup.sh: line 2: $'\r': command not found
/setup.sh: line 25: syntax error: unexpected end of file

---
将里面的代码复制出来放到新建的文件里就能正常编译了，`麻烦大佬们修正一下吧`

 - OS: 树莓派 Linux PI 5.15.32-v8+ #1538 SMP PREEMPT Thu Mar 31 19:40:39 BST 2022 aarch64 GNU/Linux
 - Python Version [e.g. 3.9.2]

[2022-05-24 09:16] #1926 closed, assigned to nobody

[2022-05-24 09:51] Jackwaterveg commented on #1944
这个 T 对应的是音频可以切为多少帧。比如音频是 2s，帧长 20 ms， 帧移 10ms，那么就可以切 199 帧， 所以T就是原本应该是 199，但是 encoder 是有 conv 层的， conv 会进行 subsampling，所以 T = 199 / subsampling_rate。

[2022-05-24 13:26] asr-pub opened #1952 "PP-TTS G2P 的准确率"
PP-TTS 提供了针对中文场景的语音合成文本前端优化方案：针对时间、日期、电话、温度等常见非标准词进行了文本正则化处理；开源了针对中文场景的轻声变调、三声变调和“一”“不”变调等字音转换（ G2P ）解决方案。在自建的文本正则化测试集上， CER 低至0.73%；以 CSMSC 数据集的拼音标注为 Ground Truth ，**字音转换（ G2P ）的 WER 低至 2.6%**。

请问目前在 CSMSC 上面 WER = 2.6% 的 G2P 模型已经开源了吗？

[2022-05-25 02:21] barryhunt commented on #1505
我也有相同的问题，请问解决了嘛

[2022-05-25 02:25] yt605155624 commented on #1952
目前的 G2P 和 文本正则等都已经融入了我们的文本前端流程中
计算 G2P 和 文本正则 CER/WER 请参考
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/other/g2p
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/other/tn

[2022-05-25 02:54] Jackwaterveg commented on #1932
问题现在解决啦 https://github.com/PaddlePaddle/PaddleSpeech/pull/1930

[2022-05-25 09:04] qiuyuzhao commented on #1944
deepspeech2offline_aishell中的采样是3倍的关系么？

[2022-05-25 09:31] zh794390558 commented on #1925
nltk data 下载参看： https://blog.csdn.net/qq_43140627/article/details/103895811

[2022-05-25 09:31] zh794390558 commented on #1397
nltk_data 下载参看： https://blog.csdn.net/qq_43140627/article/details/103895811

[2022-05-26 00:35] lawo123 opened #1960 "为什么tacotron2中文效果比fastspeech2效果差？"
我在使用推理时发现tacotron2的中文效果没有fastspeech2好，但是原始英文论文是tacotron2比fastspeech2好的，是有做什么改动吗？

[2022-05-26 02:10] yt605155624 commented on #1960
fastspeech2 原论文是帧级别的 pitch energy ，我们是音素级别的
另外是哪篇论文说 tacotron2 比 fastspeech2 好的呀，fastspeech2 是比 tacotron2 更新的论文

[2022-05-26 03:17] #1952 closed, assigned to nobody

[2022-05-26 03:17] #1932 closed, assigned to nobody

[2022-05-26 03:48] lanyuer opened #1964 "asr_online client推理报错，np数组维度对不上"
按示例测试：
**server：** paddlespeech_server start --config_file conf/ws_conformer_application.yaml &> streaming_asr.log &
**client：** paddlespeech_client asr_online --server_ip 127.0.0.1 --port 8091 --input ~/Projects/babyedu/splits/shuxiaodi_010.wav

**client日志：**
miniconda/envs/pd/lib/python3.7/site-packages/librosa/core/constantq.py:1059: DeprecationWarning: `np.complex` is a deprecated alias for th

[2022-05-26 07:22] zh794390558 commented on #1964
确认下文档中提供的例子是否可以work。应该是~/Projects/babyedu/splits/shuxiaodi_010.wav音频问题，看是否是单通道，16k采样率。

[2022-05-26 07:23] lawo123 commented on #1960
因为原始tacotron2+wavenet MOS是4.52，fastspeech2+pwg(论文MOS 3.83），所以我以为tacotron2
效果更好一些

[2022-05-26 09:00] HandsLing opened #1968 "请问没有英文语音识别的流式服务吗？"
demos/streaming_asr_server 下只支持中文的语音识别服务部署嘛？

[2022-05-26 09:23] forlor opened #1969 "PP-ASR超过15秒识别就越来越慢"

[2022-05-26 09:57] yt605155624 opened #1970 "TypeError: Descriptors cannot not be created directly. If this call came from a _pb2.py file, your generated code is out of date and must be regenerated with protoc >= 3.19.0."
问题原因：
protobuf 于 2022.05.26 发布了 4.12 版本，默认安装 paddle 时会安装 protobuf 4.12（如果当前的环境中没有 protobuf 的话），安装成功但是 import paddle 会报错，目前 develop 版本的 paddle 已经修复了这个问题（ see [#43009](https://github.com/PaddlePaddle/Paddle/pull/43009) ），但是发行版依旧存在这个问题
参考:
1. [Streamlit run with protocbuf error](https://discuss.streamlit.io/t/streamlit-run-with-protocbuf-error/25632)
2. [TypeError: Descriptors cannot not be created d

[2022-05-26 10:01] lanyuer commented on #1964
确实是这个问题，我的音频是立体声通道，修改之后可以了，谢谢

[2022-05-26 10:19] ciihai opened #1971 "安装paddlespeech出现如下错误，求指导"
安装paddlespeech，出现如下错误：

error: could not create 'build\bdist.win-amd64\wheel\.\dtaidistance\lib\DTAIDistanceC\DTAIDistanceC.xcod
eproj\xcuserdata\wannes.xcuserdatad\xcdebugger\Breakpoints_v2.xcbkptlist': No such file or directory
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for dtaidistance

ERROR: Coul

[2022-05-26 10:47] yt605155624 commented on #1960
你不能这么比较，因为 mos 分是主观评测的，即使是发论文，也不可能直接把上个作者，他自己在论文里面的列出来的 mos 作为结果，肯定还是自己找同样的人去再评一遍，而且这块用的声码器也不一样。

[2022-05-26 11:05] yt605155624 commented on #1971
安装相关问题参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/1397 和 https://github.com/PaddlePaddle/PaddleSpeech/discussions/1195
类似的问题参考 https://stackoverflow.com/questions/53204916/what-is-the-meaning-of-failed-building-wheel-for-x-in-pip-install

windows 上需要安装 c++ 环境

[2022-05-26 11:26] ciihai commented on #1971
有C++，paddle OCR在用

[2022-05-26 15:11] yt605155624 commented on #1969
原因是目前流式识别的 attention 是关注从开始到当前 chunk 的内容，而 attention 的时间复杂度是 n2d ，n 表示序列长度，所以随着时间推移速度就会变慢
这个我们会排期优化，您也可以看看代码，在合适的位置截断输入，因为可能目前的时刻并不太需要关注太久之前的信息

[2022-05-26 15:42] #1971 closed, assigned to nobody

[2022-05-26 16:06] ciihai opened #1974 "paddlespeech总是安装不上"
1、已安装VS2019 ， paddleocr 好用
2、在pycharm 终端使用 pip install paddlespeech -i https://pypi.tuna.tsinghua.edu.cn/simple   安装paddlespeech
3、总是出现一下错误：
 Building wheel for dtaidistance (pyproject.toml) ... error
  error: subprocess-exited-with-error

  × Building wheel for dtaidistance (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [298 lines of output]
      WARNING: Numpy was not found,

[2022-05-26 16:25] yt605155624 commented on #1974
你先看一下为什么你装了 numpy 却会报找不到 numpy 的问题吧

[2022-05-26 16:26] ciihai commented on #1974
我想不明白啊
能给个提示不？

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年5月27日(周五) 凌晨0:25
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSpeech] paddlespeech总是安装不上 (Issue #1974)

你先看一下为什么你装了 numpy 却会报找不到 numpy 的问题吧

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***&gt;

[2022-05-26 16:31] yt605155624 commented on #1974
参照文档单独安装 dtaidistance 试试https://dtaidistance.readthedocs.io/en/latest/usage/installation.html

[2022-05-26 16:41] ciihai commented on #1974
多谢

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年5月27日(周五) 凌晨0:31
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSpeech] paddlespeech总是安装不上 (Issue #1974)

参照文档单独安装 dtaidistance 试试https://dtaidistance.readthedocs.io/en/latest/usage/installation.html

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the th

[2022-05-26 17:10] inglesuniversal opened #1975 "Installation error on MacOS Monterrey"
bash-3.2$ paddlespeech cls --input mySampleAudio.wav

and I get this error:

Traceback (most recent call last):
  File "/usr/local/bin/paddlespeech", line 5, in <module>
    from paddlespeech.cli.entry import _execute
  File "/usr/local/lib/python3.9/site-packages/paddlespeech/cli/__init__.py", line 16, in <module>
    from .base_commands import BaseCommand
  File "/usr/local/lib/python3.9/site-pa

[2022-05-26 17:10] yt605155624 commented on #1975
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/1970

it's caused by the new release of protobuf，which break paddlepaddle

you should
[code]

[2022-05-27 06:26] Fyee opened #1981 "PaddleSpeech有端侧部署吗？"

[2022-05-27 08:00] qijigaici commented on #1974
error: could not create 'build\bdist.win-amd64\wheel\.\dtaidistance\lib\DTAIDistanceC\DTAIDistanceC.xcodeproj\xcuserdata\wannes.xcuserdatad\xcdebugge
r\Breakpoints_v2.xcbkptlist': No such file or directory
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for dtaidistance
Failed to build dtaidistance
ERROR:

[2022-05-27 09:36] Kevinkaiyan opened #1983 "fastspeech2静态图推断下怎么调整语速？"
fastspeech2的onnx模型我是从链接下载的，自己尝试将stylefastspeech2转换为onnx一直报错，有没有什么办法在fastspeech2_csmsc_onnx_0.2.0.onnx上优化语速问题呢？

[2022-05-27 09:55] zh794390558 commented on #1968
嗯嗯，目前只有中文的。

[2022-05-27 09:56] zh794390558 commented on #1981
还没有，可以期待下。

[2022-05-27 10:57] yt605155624 commented on #1983
我们之前调整语速都是基于动态图模型的，fastspeech2 的各个模块可以随便调，感觉如果要在 onnx 模型调整 duration 话，可能需要导出多个子模块，比如 encoder 导出一个，decoder 导出一个，这样才能加入自己的调节吧
关于导出多个模块，可以餐参考 tts3/run_cnndecoder.sh

[2022-05-27 12:10] yt605155624 commented on #1974
dtaidistance 是 paddleaudio 的依赖，paddleaudio 是 paddlespeech 的依赖，我们现在打算移除掉 dtaidistance 这个依赖

[2022-05-27 12:25] ciihai commented on #1974
谢谢

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年5月27日(周五) 晚上8:10
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSpeech] paddlespeech总是安装不上 (Issue #1974)

dtaidistance 是 paddleaudio 的依赖，paddleaudio 是 paddlespeech 的依赖，我们现在打算移除掉 dtaidistance 这个依赖

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread

[2022-05-27 13:34] yt605155624 commented on #1974
我们已经发布了不依赖 dtaidistance 的 paddleaudio 1.0.1， 大家可以重新安装 paddlespeech 试试
@ciihai @qijigaici

[2022-05-27 13:44] ciihai commented on #1974
installed successfully

谢谢，高效率，赞

[2022-05-27 13:45] #1974 closed, assigned to nobody

[2022-05-27 13:53] Kevinkaiyan commented on #1983
调语速的话是需要DurationPredictor这个模块吗？

[2022-05-27 14:12] yt605155624 commented on #1983
这个要看你是要自己完全决定每个音素的发音时间还是在预测出来的结果的基础上，调一定的比例。

[2022-05-28 09:41] LeoMax-Xiong commented on #1831
目前还不支持mp3格式，可以在脚本中mp3转换为wav

[2022-05-30 02:23] #1964 closed, assigned to nobody

[2022-05-30 02:23] #1960 closed, assigned to nobody

[2022-05-30 02:26] #1981 closed, assigned to nobody

[2022-05-30 02:28] #1968 closed, assigned to nobody

[2022-05-30 02:30] yt605155624 commented on #1834
教程已经更新到 https://aistudio.baidu.com/aistudio/education/group/info/25130

[2022-05-30 02:30] #1834 closed, assigned to nobody

[2022-05-30 02:31] #1711 closed, assigned to Jackwaterveg

[2022-05-30 02:33] #1934 closed, assigned to nobody

[2022-05-30 02:33] #1594 closed, assigned to nobody

[2022-05-30 02:34] #1975 closed, assigned to nobody

[2022-05-30 02:36] #1819 closed, assigned to nobody

[2022-05-30 02:38] #1883 closed, assigned to nobody

[2022-05-30 02:43] yt605155624 commented on #1970
protobuf 已经撤销了 4.21 版本在 pypi 源上的发布（ https://pypi.org/project/protobuf/4.21.0/ ） ，如果你使用 pip install paddlepaddle 默认从 pypi 源下载依赖的话不会再遇到 import paddle 报错，但是你从国内源下载（清华源、百度源等），则依然会下载 protobuf 4.x，需要手动降低版本再使用 paddle

[2022-05-30 02:47] yt605155624 commented on #1831
目前已经支持时间戳功能了，请参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/streaming_asr_server

[2022-05-30 02:47] #1831 closed, assigned to nobody

[2022-05-30 02:51] #1683 closed, assigned to Jackwaterveg

[2022-05-30 02:52] #1557 closed, assigned to nobody

[2022-05-30 07:16] Jackwaterveg commented on #1933
嗯，会实现一个平台判断的功能，让win系统不下载，来解决这个问题

[2022-05-30 07:55] qijigaici commented on #1974
优秀

[2022-05-30 08:37] inglesuniversal opened #1990 "Feature request: Please include Spanish"
So far I see only two languages under your documentation.

Thanks

[2022-05-30 08:50] yt605155624 commented on #1990
Sorry, our R & D are all Chinese. Spanish is a small language for us. If you know anything about Spanish and Spanish speech dataset, please refer to our examples to organize new Spanish examples~

[2022-05-30 14:25] MrJson1 commented on #1933
现在怎么在windows安装paddlespeech-ctcdecoders 组件呢

[2022-05-30 15:37] #1933 closed, assigned to Jackwaterveg

[2022-05-31 09:22] shinoi2 opened #1999 "AttributeError: 'ASRServerExecutor' object has no attribute 'max_len'"
**Describe the bug**
asr_inference 服务异常

**To Reproduce**
Steps to reproduce the behavior:
1. 使用 paddlespeech_server 启动 asr_inference 服务
2. 调用 asr_inference 服务

**Expected behavior**
服务正常工作

**Screenshots**
[code]

[2022-05-31 10:37] yt605155624 commented on #1999
fixed in https://github.com/PaddlePaddle/PaddleSpeech/pull/1997
please follow this pr and install develop paddlespeech after merge

[2022-05-31 12:04] #1990 closed, assigned to nobody

[2022-06-01 02:12] #1983 closed, assigned to nobody

[2022-06-01 21:17] nevertoday commented on #1257
请问这个根据既有文稿逐字稿 匹配音频 并得出时间轴文件的功能现在有了吗

[2022-06-01 21:19] nevertoday commented on #1257
就是我有txt一行行的逐字稿 并且有播音文件了。如何将两者匹配 并得出srt带时间轴的文件

[2022-06-02 09:14] wuxiaolianggit opened #2008 "raise ValueError('all input arrays must have the same shape') ValueError: all input arrays must have the same shape"
大佬，您好，我按照语音分类的方法制作数据集，但是训练的时候一致报错，
raise ValueError('all input arrays must have the same shape')
ValueError: all input arrays must have the same shape
请问大佬，怎么解决呢？

[2022-06-02 09:35] zh794390558 commented on #2008
确认习样本的shape是否相同。

可以给出报错的link便于定位问题，谢谢。

[2022-06-02 09:56] wuxiaolianggit commented on #2008
输入都是3s的音频啊，应该是相同的

[2022-06-02 10:31] wl2136 opened #2009 "AssertionError: condition input's numel should be 1"
**Describe the bug**
/home/aistudio/PaddleSpeech/examples/voxceleb/sv0下执行bash ./run.sh --stage 1 --stop_stage 1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/home/aistudio/PaddleSpeech/examples/voxceleb/sv0'
2. Run 'bash ./run.sh --stage 1 --stop_stage 1'
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/49608605/171609801-0fe1235e-2e4f-4eb1-b4bd-8f0a

[2022-06-03 12:22] jannicaTan opened #2010 "ted_en_zh的st任务相关问题"
您好，我在ted_en_zh这个st任务中尝试切换数据集。
1.之前切换过相对小的数据集（6000句左右），能够运行并验证，但是验证的时候，对于读取的任何wav,hyp一直只重复同一句结果，请问什么原因呢？修改了epoch但是没有效果。
2.这次切换了一个只有400条的极小数据集（因为文本更准确），在第一步数据处理部分就出现了这个问题，请问如何修改？
`
2022-06-03 20:13:34.284 | INFO     | paddlespeech.s2t.frontend.augmentor.augmentation:__init__:123 - Augmentation: []
Traceback (most recent call last):
  File "/home/aistudio/work/PaddleSpeech/utils/compute_mean_std.py",

[2022-06-04 08:04] yrsn509 opened #2011 "MFA训练过程中意外中断"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).

If you've found a bug then please create an issue with the following information:

**Describe the bug**
MFA训练到sat_3步骤后到生成TextGrid阶段时报错中断

**To Reproduce**
Steps to reproduce the behavior:
1.打开conda虚拟环境
2.键入指令：mfa train data/wav/EILEEN/split/ MFA/pinyin_eng.dict MFA/EILEEN.zip da

[2022-06-05 08:59] yt605155624 commented on #2011
MFA 相关问题建议直接去 MFA repo 询问

[2022-06-05 08:59] #2011 closed, assigned to nobody

[2022-06-05 09:01] yt605155624 commented on #2009
删掉 paddlespeech/s2t/__init__.py 里对 size() 函数的重写

[2022-06-05 09:01] #2009 closed, assigned to nobody

[2022-06-06 01:07] wuxiaolianggit commented on #2008
Epoch=1/10, Step=1/224 loss=2.0149 acc=0.3750 lr=0.000001
Epoch=1/10, Step=2/224 loss=2.6289 acc=0.1250 lr=0.000001
Epoch=1/10, Step=3/224 loss=2.7558 acc=0.5000 lr=0.000001
Epoch=1/10, Step=4/224 loss=0.8492 acc=0.4375 lr=0.000001
Epoch=1/10, Step=5/224 loss=0.9390 acc=0.3125 lr=0.000001
Epoch=1/10, Step=6/224 loss=1.6636 acc=0.1875 lr=0.000001
Epoch=1/10, Step=7/224 loss=0.6243 acc=0.6875 lr=0.0

[2022-06-06 02:53] zh794390558 commented on #2010
1. 应该数据过下。可以看下是否能复现结果，可以的话尝试fintune试试。
2. 第二个问题看下/home/aistudio/work/PaddleSpeech/paddlespeech/s2t/frontend/normalizer.py代码，追查下出错的位置。
`'mean_stat': list(all_mean_stat.tolist()), AttributeError: 'NoneType' object has no attribute 'tolist'`

6000条还是太小

[2022-06-06 02:54] zh794390558 commented on #2008
[code]
应该是这里出错的，把 batch 都打出来看看。

[2022-06-06 06:01] wuxiaolianggit commented on #2008
Epoch=1/10, Step=34/224 loss=0.8708 acc=0.1875 lr=0.000001
batch[ 0 ] shape is  (48480,)
batch[ 1 ] shape is  (48480,)
batch[ 2 ] shape is  (48480,)
batch[ 3 ] shape is  (48480,)
batch[ 4 ] shape is  (48480,)
batch[ 5 ] shape is  (48480,)
batch[ 6 ] shape is  (48480,)
batch[ 7 ] shape is  (48480,)
batch[ 8 ] shape is  (48480,)
batch[ 9 ] shape is  (48480,)
batch[ 10 ] shape is  (48480,)
batch[ 11

[2022-06-06 06:13] MrJson1 opened #2013 "代码问题多了一个括号"
<img width="975" alt="2a92e0da444840b5ab28841c37c6fed" src="https://user-images.githubusercontent.com/44693150/172105558-294365c0-2ae2-45b6-b216-ecab29080cd9.png">

[2022-06-06 06:38] wl2136 commented on #2009
好的，感谢感谢

[2022-06-06 06:57] yt605155624 commented on #1699
training iters:
- https://github.com/espnet/espnet/issues/3737

add blank:
- https://github.com/jaywalnut310/glow-tts/issues/43
- https://github.com/jaywalnut310/vits/issues/20
- https://github.com/jaywalnut310/vits/issues/9
- https://github.com/espnet/espnet/issues/4235
- 来自 @dtx525942103 的结论: 在 phone 后面 add blank 的效果没有在 字 后面 add blank 的效果好，参考 https://github.com/lutianxiong/vits_chinese
![image](

[2022-06-06 09:18] zh794390558 commented on #2008
用dataloader过数据，然后debug吧。可以用 pdb

[2022-06-07 01:16] wuxiaolianggit commented on #2008
多谢大佬的回复和解答，我尝试利用pdb调试一下，之前没怎么用过，我看一下是数据的原因，还是paddle框架的原因啊，等找到了，我反馈给大佬啊。 @zh794390558

[2022-06-07 03:16] wuxiaolianggit commented on #2008
@zh794390558 大佬，您好，我找出原因了，是由于我的数据集里面有部分数据不是3s，有的是3.03s，有的时3.02s，大佬，有办法做语音数据对齐吗？

[2022-06-07 06:07] shinoi2 commented on #1999
This issue is solved. Thank you for a quick reply.

[2022-06-07 06:07] #1999 closed, assigned to nobody

[2022-06-07 09:21] zh794390558 commented on #2008
load语音可以指定start, end吧

[2022-06-07 09:29] wuxiaolianggit commented on #2008
好的，大佬。我自己写了一个对齐，搞了半天，终于训练起来了。

[2022-06-08 02:02] #2013 closed, assigned to nobody

[2022-06-08 03:36] zHaOshuAnGye commented on #1819
不修改源码是不是最长只能识别49s
![image](https://user-images.githubusercontent.com/38178828/172526447-1b980941-4ada-48de-964d-b6353e85a828.png)

[2022-06-08 03:50] #1969 closed, assigned to nobody

[2022-06-08 06:56] wuxiaolianggit commented on #2008
@zh794390558  大佬，您好，panns 语音分类网络可以转成onnx模型吗，我转模型一直报错呢？

[2022-06-08 09:12] litterGuy opened #2021 "openslr语言资料下载失败"
尝试使用examples/tiny下的run.sh去演示模型训练，但是在下载语言资料包时直接报错 403：Forbidden

请问如何处理？

[code]

[2022-06-08 09:43] detectivewu opened #2022 "ASRExecutor是否支持长语音"
识别长语音时发生报错，说要少于50秒，能否支持长时间的音频？

------------------------------
[2022-06-08 14:38:19,952] [    INFO] - checking the audio file format......
[2022-06-08 14:38:19,956] [   ERROR] - Please input audio file less then 50 seconds.

[2022-06-08 09:44] wangyanbn opened #2023 "Why is the normalized mel inversed in am_inference?"
Hi, I have a question:
In the forward() of FastSpeech2Inference , the normalized mel is inversed:
https://github.com/PaddlePaddle/PaddleSpeech/blob/05fd9a0e2ccdf5d3ca0e4da15c26cb4533889870/paddlespeech/t2s/models/fastspeech2/fastspeech2.py#L818

In paddlespeech\t2s\exps\synthesize.py,  use this inversed mel to infer:
https://github.com/PaddlePaddle/PaddleSpeech/blob/05fd9a0e2ccdf5d3ca0e4da15c26cb4

[2022-06-08 10:56] yt605155624 commented on #2023
We train am and voc both with normalized mel.

In voc's forward, we also have a norm step, see:

https://github.com/PaddlePaddle/PaddleSpeech/blob/05fd9a0e2ccdf5d3ca0e4da15c26cb4533889870/paddlespeech/t2s/models/hifigan/hifigan.py#L726

If you use am and voc trained with the same dataset(for example CSMSC), you can remove the denorm of am_inference and the norm of voc_inference, because the mean a

[2022-06-09 03:09] Tian14267 opened #2024 "TTS 推理完之后内存不释放"
你好，我遇到一个问题，TTS预测万之后内存不释放的情况。详细情况如下：
**TTS模型：动态声学模型 + onnx声码器**
服务：使用Websocket 进行模型加载和部署
详情：
**1：初始加载模型和服务的时候，**会消耗GPU大概1.7G内存（如图）：
<img width="164" alt="0" src="https://user-images.githubusercontent.com/27938135/172755662-3ed4fb72-92eb-40be-b536-4b3e6005add7.png">
**2：加载完之后**进行语音合成的时候内存会涨上去。整个合成任务过程中，内存能够涨到13G左右（如图），任务结束之后，这个内存无法释放。即，无法从13G回到1.7G。
<img width="162" alt="1" src="https://user-images.

[2022-06-09 03:48] litterGuy commented on #2021
修改了 dataset/librispeech/librispeech.py#L34
[code]
可以进行下载了

[2022-06-09 03:48] #2021 closed, assigned to nobody

[2022-06-09 04:51] yt605155624 commented on #2024
这个去 paddle 的 issue 问下吧

[2022-06-09 06:18] dongdong168 commented on #2021
very good

[2022-06-09 09:33] zh794390558 commented on #2008
没有试过，有问题可以在Paddle2ONNX提issue问问。

[2022-06-09 09:37] Jackwaterveg commented on #2022
长语音效果不能保证，但可以在这里修改最大长度https://github.com/PaddlePaddle/PaddleSpeech/blob/e0c0804ce349f1d9955e99d112e3b2d37070f3e4/paddlespeech/cli/asr/infer.py#L138

[2022-06-09 10:56] weekdaysun opened #2027 "ASR 测试语音时出现错误"
环境：centos ，使用paddle 2.3.0版本，python3.9
环境安装完成
![image](https://user-images.githubusercontent.com/99238498/172830997-463c512b-9364-434f-94b1-e1550a143db0.png)
![image](https://user-images.githubusercontent.com/99238498/172831112-7f8f6328-1e24-4a04-8fe4-b134838a78c0.png)
安装完成之后，asr语音识别测试语音出现错误，如下：
![image](https://user-images.githubusercontent.com/99238498/172830720-cdc24cdc-d6b9-42fe-9478-b081a084cf

[2022-06-09 12:34] ayongbox commented on #1620
**How to check the gender of the speaker？**

[2022-06-10 02:02] wangyanbn commented on #2023
I got it, Thanks!
I missed the code of forward in <voc>Inference class.
The mel is normalized before call the generator.inference

[2022-06-10 02:02] #2023 closed, assigned to nobody

[2022-06-10 08:09] litterGuy opened #2029 "IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed"
使用 examples/aishell/asr0进行普通话训练的例子，出现了如标题的错误。
执行
[code]
然后报了以下错误
[code]

这个问题是因为什么，该如何修复呢？希望大佬提供下帮助

[2022-06-10 08:55] Jackwaterveg commented on #2029
请问是否已经训好了模型，比如 exp/模型名/checkpoints 中是否有 数字.pdparams, 数字.pdoopt( 比如  1.pdparms 1.pdopt)

[2022-06-10 08:57] litterGuy commented on #2029
没有产生模型文件，exp下只有log文件夹

[2022-06-11 03:54] litterGuy commented on #2029
怪自己阅读文档不细了。。。。
/examples/aishell/asr0/run.sh文件的
[code]
参数一定要修改，根据自己机器的配置调整。
因自己机器只有gpu0，然后就报了以上错误、

[2022-06-11 03:54] #2029 closed, assigned to nobody

[2022-06-13 03:08] lynzhai commented on #1620
英文下，有男性音色吗

[2022-06-13 07:31] olive900 commented on #1534
建议paddle用2.2.2版本的。

[2022-06-13 10:20] zh794390558 commented on #2027
看着像模型文件破损

[2022-06-15 03:35] Tian14267 opened #2033 "Out of memory error on GPU"
你好。我想问一个问题。我再训练fastspeech2的时候，config文件都没有变动，batch=64，但是会报错“Out of memory error on GPU 0”。
**GPU: v100，32G**
无论我的batch改成32还是16，同样会报“Out of memory ”这个错误，用多张卡训练也是一样的情况：
[code]

我更换成其他训练数据，batch=64都没有问题。请问这是什么原因。训练数据是magicdata，

[2022-06-15 08:58] yt605155624 commented on #2033
请检查是否是第一个数据集的每条音频的长度过长，目前的配置是在 csmsc 数据集上的配置，可以参照 csmsc 每条音频的长度裁剪音频

[2022-06-16 05:50] CocaColaKing opened #2038 "关于标点恢复"
标点恢复的模块怎么训练啊？

[2022-06-16 05:57] yt605155624 commented on #1620
you should check the gender in original datasets

for example aishell3, there is a `spk-info.txt`, which contains the gender info.
[code]

[code]

[2022-06-16 06:01] yt605155624 commented on #1620
Hi all, we provide the

spk_id gender mos result in the following files
[aishell3_gender.pdf](https://github.com/PaddlePaddle/PaddleSpeech/files/8916101/aishell3_gender.pdf)
[VCTK_gender.pdf](https://github.com/PaddlePaddle/PaddleSpeech/files/8916102/VCTK_gender.pdf)

speaker info from original datasets:
[aishell3_spk-info.txt](https://github.com/PaddlePaddle/PaddleSpeech/files/9316002/aishell3_sp

[2022-06-16 06:18] yt605155624 commented on #2038
please see : https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/iwslt2012/punc0

but the model we relesed are not trained with the wslt2012 dataset, but a big dataset used within our company

[2022-06-16 06:26] CocaColaKing commented on #2038
好的，谢谢

[2022-06-16 10:30] 91he opened #2042 "paddlespeech_client 使用websocket协议连接 server失败"
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/streaming_tts_server
我按照上述链接进行测试，使用http协议时tts合成正常，使用websocket协议时server返回403
![image](https://user-images.githubusercontent.com/5378476/174051395-6d248c1c-f9a8-4ce5-934b-b557c3880297.png)

[2022-06-16 10:38] #2042 closed, assigned to nobody

[2022-06-17 03:18] #2033 closed, assigned to yt605155624, lym0302

[2022-06-17 06:47] #2024 closed, assigned to nobody

[2022-06-17 08:17] PCITBoy opened #2049 "可以变合成边播放吗？数据比较多，pwg_infweence(mel)很慢"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).

If you've found a bug then please create an issue with the following information:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2022-06-17 08:24] yt605155624 commented on #2049
see: https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/streaming_tts_server

[2022-06-17 08:38] CocaColaKing commented on #2038
使用训练的出来的模型，预测结果没有最后一位的标点？最后一个字符预测的永远是0。

[2022-06-17 09:02] makerjackie commented on #1875
@lym0302 话说为啥 decoder 和 postnet 要导出为两个onnx模型呢，合并不可以吗

[2022-06-20 05:30] wutl92 opened #2055 "centos7 环境下安装了paddlespeech，服务命令无法使用"
centos7 x86_64环境下安装了paddle和paddlespeech，能启动http服务使用，但是在终端上无法使用paddlespeech命令。
bash: paddlespeech: command not found...
windows环境下，装好有，请问这个什么原因导致的？

[2022-06-21 01:26] #2055 closed, assigned to nobody

[2022-06-21 07:45] BeyondLightYear opened #2057 "该怎样对多人对话音频，进行说话人区分？"
对于多人对话音频，想得到不同的人分别说了什么话。该使用语音分类还是声纹识别呢？该怎样实现更高效？谢谢。

[2022-06-21 07:58] #2057 closed, assigned to nobody

[2022-06-21 08:03] BeyondLightYear opened #2058 "怎样对多人对话音频，进行说话人区分？"
对多人对话的音频，想区分不同的人，在哪个时间区间说了什么话。该使用语音分类还是声纹识别呢？如何实现呢？谢谢。

[2022-06-21 08:10] xusk commented on #1505
主要是还是 wav 目录读取的问题吧

[2022-06-22 01:28] PCITBoy opened #2059 "下载不了"
Downloading paddlespeech_ctcdecoders-0.2.1-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (16.8 MB)

[2022-06-22 05:39] jannicaTan commented on #2010
谢谢解答
问题一的数据集太大了我之前用其中一部分跑的 hyp也是一直同一句 我重新下载全部的跑一下
问题二是我自己数据集的问题，有空白文本导致的，删除存在空白的文本就可以进行了。
还有个疑问，请问为什么配置文件的lr要设置为2.5？看了相关文档和其他任务的代码基本都为0.001 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/Adam_cn.html

[2022-06-22 09:46] yt605155624 opened #2064 "[tts] Multilingual Speech Synthesis 中英文混合语音合成"
Input a sentence that contains both Chinese and English, and TTS outputs the corresponding audio and keeps the voice consistent

[code]

see: [Learning to Speak Fluently in a Foreign Language: Multilingual Speech Synthesis and Cross-Language Voice Cloning](https://arxiv.org/abs/1907.04448)

[2022-06-22 09:49] yt605155624 opened #2065 "[tts] prosody control in acoustic model"
This issue needs to be solved at the same time as https://github.com/PaddlePaddle/PaddleSpeech/issues/1282
see: [DurIAN](https://arxiv.org/abs/1909.01700)

[2022-06-22 10:11] yt605155624 opened #2066 "[tts] add onnx engine for non streaming TTS server"
1. export onnx model for tts3 + gan vocoders for csmsc/aishell3/ljspeech/vctk @yt605155624
   - fixed in https://github.com/PaddlePaddle/PaddleSpeech/pull/2068
   - add tts static/onnx models in pretrained_models.py https://github.com/PaddlePaddle/PaddleSpeech/pull/2074
2. add onnx engine for non streaming TTS server to speed up @lym0302

[2022-06-22 10:48] yt605155624 opened #2067 "已经指定本地模型的前提下，cli 错误加载模型资源"
server 的 cli , 即使指定了本地的模型也会下载，挪了 self.task_resource.set_task_model() 的位置就好了，已经在 https://github.com/PaddlePaddle/PaddleSpeech/pull/2056 中修复

cli/tts/infer.py 发现 self.task_resource.set_task_model()  也是在 if else 之前, 指定模型也会下载... https://github.com/PaddlePaddle/PaddleSpeech/blob/0ea9def0b8725c6b7994e9fa9cd5dd3da76200c5/paddlespeech/cli/tts/infer.py#L180
![744462e1c652792b554f3aca109a626e](https://user-

[2022-06-23 01:57] wangcc57 opened #2069 "多音字支持吗?需要怎么设置?"
多音字支持吗?需要怎么设置?

[2022-06-23 02:04] yt605155624 commented on #2069
At present, pypinyin is used in G2P. You can add bad polysyllabic words to the dictionary by yourself. Refer to https://github.com/PaddlePaddle/PaddleSpeech/blob/ec759094ad37bfc8ce7a4ab93d4ea74ca17932e0/paddlespeech/t2s/frontend/zh_frontend.py#L96

[2022-06-23 06:22] yt605155624 opened #2070 "develop 版本 paddlespeech_server 启动后会打印 2 遍 log"
[code]
log：
[code]
有问题的 commit 号：
[code]

没问题的 commit 号：
[code]
引起问题的 commit
<img width="522" alt="image" src="https://user-images.githubusercontent.com/24568452/175233071-0cf2e8fa-78e0-4497-afa9-584b4b61c3bd.png">

[2022-06-23 06:23] yt605155624 opened #2071 "paddlespeech_server 多并发情况下偶现报错"
![3D5766A06901E0DBE6B22AC85FB4EC17](https://user-images.githubusercontent.com/24568452/175229519-7c3f3c1d-29f3-4851-b017-15888bef963c.jpg)
![E0A38A1C54F64146DBCAAD22EA9B328D](https://user-images.githubusercontent.com/24568452/175229612-5c203510-1102-4828-b1cf-3244716cf258.jpg)

问题的原因是在相加的时候，x 的长度和 self.pe[:,:T] 的长度不一致了，可能是多并发的时候，不同的输入相互影响，所以 119 行计算的 shape 和 x 的 shape 不一致了..

具体报错代码位置：
https://git

[2022-06-23 08:33] songfuture opened #2072 "examples/voxceleb/sv0/local/下缺少convert.sh文件"
For support and discussions, please use our [Discourse forums](https://github.com/PaddlePaddle/DeepSpeech/discussions).

If you've found a bug then please create an issue with the following information:

**Describe the bug**
https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/voxceleb/sv0/local/
路径下缺少convert.sh文件

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. C

[2022-06-23 16:02] wangcc57 commented on #2069
load_phrases_dict({u'还书': [[u'hua2n'], [u'shu1']]}) 这个没起作用
load_phrases_dict({u'还款': [[u'hua2n'], [u'kua3n']]}) 这个可以

还有啥机关吗?

[2022-06-23 16:45] wangcc57 commented on #2069
应该是分词的问题,jieba分词分的不对

[2022-06-24 07:15] yt605155624 commented on #2069
You can fix the error of jieba for specific words according to your own needs by adding rules, such as https://github.com/PaddlePaddle/PaddleSpeech/blob/0fa3fdb9ee89ca399b0f63ef2117c6370dc1f33d/paddlespeech/t2s/frontend/tone_sandhi.py#L236

[2022-06-26 07:33] linkec commented on #2059
建议检查一下到 paddlespeech.bj.bcebos.com 的连接，这个是百度云的OSS服务，理论上是不需要科学上网的

[2022-06-26 07:34] linkec commented on #2049
可以看下 https://www.bilibili.com/video/BV1N94y117ng 的实现方法

[2022-06-26 07:35] linkec commented on #1534
建议使用 Docker 部署哦，可以保证系统环境的独立性，而且不需要自行编译

[2022-06-27 03:36] #2069 closed, assigned to nobody

[2022-06-27 03:44] yt605155624 commented on #2049
教程很赞，可以在 discussion 开个贴把链接放上去

[2022-06-27 07:26] Doubledongli opened #2077 "ASR LibriSpeech 数据集下载失败"
![21b954acc984f2caca9f96b7a50b085](https://user-images.githubusercontent.com/20540661/175883421-20244db1-97f5-475d-9956-055b1151a9b3.png)

[2022-06-27 07:42] mader89 opened #2078 "streaming_asr_server服务无法启动"
按照说明文档一步步操作，安装完成后，输入命令paddlespeech_server start，命令无法识别，在Windows系统，应该用什么工具来启动，我试过cmd，vscode，powershell都不行，又尝试了启动streaming_asr_server.py脚本，报错demos\streaming_asr_server\streaming_asr_server.py", line 16, in <module> from paddlespeech.cli.log import logger ModuleNotFoundError: No module named 'paddlespeech'

[2022-06-27 08:22] mader89 commented on #2078
paddlespeech没有安装，安装成功后可以了，之前把paddlepaddle和paddlespeech搞混了。

[2022-06-27 08:22] #2078 closed, assigned to nobody

[2022-06-27 08:40] mader89 commented on #2042
怎么解决的？

[2022-06-27 08:49] 91he commented on #2042
配置文件中的protocol错了

[2022-06-27 09:29] #2072 closed, assigned to nobody

[2022-06-27 10:49] yt605155624 commented on #2058
SV + ASR

[2022-06-28 06:51] Jackwaterveg commented on #1947
应该是 树莓派的linux系统和 一般电脑的 ubuntu不同的问题，识别的换行符不一样，可能需要自行修改一下

[2022-06-28 09:28] yt605155624 commented on #1699
cpython version monotonic_align is better than 'EXPERIMETAL' numba version

cython version is recommend: https://github.com/espnet/espnet/issues/4475

see
- https://github.com/PaddlePaddle/PaddleSpeech/pull/2087

![image](https://user-images.githubusercontent.com/24568452/179173058-7169ba1d-40d7-4464-84f5-f0810ba3276a.png)
![image](https://user-images.githubusercontent.com/24568452/179173115-f411a

[2022-06-28 11:29] #2077 closed, assigned to nobody

[2022-06-28 11:52] #1900 closed, assigned to nobody

[2022-06-29 05:57] PCITBoy opened #2092 "调用语音合成播报报错"
ubuntu流式语音合成服务，服务是设置开机自启动，开始一两次调用语音合成正常，后面在调用服务就报OSError: [Errno -9997] Invalid sample rate，服务进程还在，只有重启之后，后续调用语音合成就没有问题

[2022-06-29 06:13] lym0302 commented on #2092
请问出现这个报错的请求是什么？服务是不会因为异常而终止的，出现这个报错后再请求也仍然会报错吗？

[2022-06-29 07:51] HandsLing opened #2093 "请问支持流式语音识别再训练吗？"
我想根据自己的使用场景，增加数据再训练一下流式语音识别，请问要训练example下面的哪个文件呢？

[2022-06-29 08:02] yt605155624 commented on #2093
example: https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/wenetspeech/asr1
finetune: https://github.com/PaddlePaddle/PaddleSpeech/discussions/1972

[2022-06-29 08:42] Doubledongli opened #2095 "代码错误"
调用训练代码 PaddleSpeech\paddlespeech\s2t\exps\u2\bin\train.py 发现
![8d8c24e14acff86c64b7dfac7bc2876](https://user-images.githubusercontent.com/20540661/176392814-3356fa34-2049-40dc-bf2f-049f604e0278.png)

这个地方，如果是截取文件后缀，是不是第一个split也应该是-1而不是0

[2022-06-29 08:46] HandsLing commented on #2093
那训练完之后，怎么把训练完的模型替换到流式语音识别部署那里去呢？替换一个model.yaml已经对应的模型就可以了么

[2022-06-29 09:03] SmileGoat commented on #2093
训练好的模型，对应的配置文件yaml上把模型路径写好，以及相关的模型结构也进行更改。

[2022-06-29 09:08] SmileGoat commented on #2095
xxx.ark:1023，文件的格式，所以是0，没有问题。

[2022-06-29 09:14] ansent788 opened #2099 "Demo Speech Web 测试问题"
**Describe the bug**
Safari 测试所有功能无反应；chrome 测试端到端合成可以，流式不行，其他功能无反应。

**To Reproduce**
Steps to reproduce the behavior:
1. 按教程部署
2. 正常运行

**Screenshots**
Web：
![WechatIMG15](https://user-images.githubusercontent.com/33193762/176398337-afaaaf26-451c-445f-8611-5f5095c54efc.jpeg)
Server：
![WechatIMG17](https://user-images.githubusercontent.com/33193762/176398429-b814e700-7651-4765-8702-f9e2b8e3a8c4.p

[2022-06-29 09:26] iftaken commented on #2099
其它的都没反应可能是录音失败导致的；检查是否是因为服务部署和游览器不在同一台机器上，以IP访问时，chrome安全策略会禁止录音，修改配置重启游览器即可

[游览器安全策略](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/demos/speech_web/README_cn.md#q%E5%90%8E%E7%AB%AF%E4%BB%A5ip%E5%9C%B0%E5%9D%80%E7%9A%84%E5%BD%A2%E5%BC%8F%E5%89%8D%E7%AB%AF%E6%97%A0%E6%B3%95%E5%BD%95%E9%9F%B3)

[2022-06-29 09:29] Jackwaterveg commented on #2093
如果模型的配置（模型结构 或者 特征提取方式）改变了，则需要修改 model.yaml。 而模型的参数文件(*.pdparams)也必须把原来的参数文件替换掉（参数文件位置和原来的一样）

[2022-06-29 09:46] yt605155624 opened #2101 "流式 TTS 服务支持更改采样率"
用户提了一个 pr https://github.com/PaddlePaddle/PaddleSpeech/pull/2096
但是要求 server 也启动有个 8k 的模型才行，否则如果模型是 24k 的，但是用户输入了 8k, 此时保存的音频就有问题
目前 24k 写死也不好，如果后续想要加 22.05k 的模型的话，目前这么写是有问题的

[2022-06-29 10:54] ansent788 commented on #2099
好的，我在试下。Server与Web端都在一台服务器部署。浏览器测试时也修改过了。

发自我的iPhone

[2022-06-29 11:34] #1947 closed, assigned to Jackwaterveg

[2022-06-30 02:07] #2059 closed, assigned to nobody

[2022-06-30 04:46] #2067 closed, assigned to nobody

[2022-06-30 11:37] iftaken commented on #2027
你试试把`/root/.paddlespeech/models/conformer_wenetspeech-zh-16k`删掉，再运行重新下载一次看看

[2022-07-01 02:54] #2095 closed, assigned to zh794390558, SmileGoat, Jackwaterveg

[2022-07-01 03:11] Sweet-BeanOnE opened #2110 "批量提取音频特征并用于音频检索"
目前有一个应用场景，是在许多较长的音频文件中，提供一个不定长的音频文件（一般来说在十几秒钟左右）来检索它来自哪个音频文件以及开始与结束位置。
PaddleSpeech/demos/audio_searching/项目主要参考自这里。
为了拟合输入数据得到正确的匹配结果，我尝试将大段音频文件切分成具有小段间隔且高度重叠的小音频文件并提取特征，主要根据PaddleSpeech/demos/audio_searching/src/encode.py进行改写，它看起来效果不错。但是面对大量的文件进行嵌入并提取特征时，效率太低，这是否与每次重新加载模型并初始化有关？我是不是错过了官方的批量提取接口？

[2022-07-01 03:25] yt605155624 commented on #2110
在一个程序里面只有在第一次调用 Executor 的时候的会初始化模型，要看你的程序是每次重新启动一个程序，还是输入很多路径 for 循环https://github.com/PaddlePaddle/PaddleSpeech/blob/10645e72b60c0ca9025f02b8c639cc5e4335a406/demos/audio_searching/src/encode.py#L26
参考下 https://github.com/PaddlePaddle/PaddleSpeech/issues/1455

[2022-07-01 06:09] Sweet-BeanOnE commented on #2110
我使用了
[PaddleSpeech/demos/audio_searching/src/operations/load.py](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/demos/audio_searching/src/operations/load.py)中def extract_features(audio_dir)函数，据我观察他在from encode import get_audio_embedding时，会实例化一次程序：即vector_executor = VectorExecutor()，我并没有进行任何改动，仅仅是对extract_features函数传入文件夹路径，便可以返回结果，采用这种方式在控制台打印的info看起来与readme.md中的Output示例相同，但据我观察，使用cpu时，每

[2022-07-01 06:15] #2070 closed, assigned to Jackwaterveg

[2022-07-01 06:24] HandsLing commented on #2093
我发现你们似乎没有给处理wenetspeech数据的脚本，没有使用wenetspeech生成manifest文件的代码，里面使用的代码只是用aishell数据

[2022-07-01 06:43] yt605155624 commented on #2110
14s 的音频
[output_16k.wav.zip](https://github.com/PaddlePaddle/PaddleSpeech/files/9026701/output_16k.wav.zip)
，已经下载好模型的情况下，使用如下代码
[code]
输出如下：
[code]
第一次使用 gpu 时可能由于涉及到 gpu 的初始化等，速度会比较慢，第二次，gpu 明显比 cpu 快

[2022-07-01 07:53] Sweet-BeanOnE commented on #2110
真的十分感谢您的帮助，这对我来说十分有益！祝您生活愉快！

[2022-07-01 10:03] yt605155624 opened #2112 "About log redundancy"
cli:
- command line: https://github.com/PaddlePaddle/PaddleSpeech/pull/2107
- python api: https://github.com/PaddlePaddle/PaddleSpeech/pull/2111

server:
- print the log twice: https://github.com/PaddlePaddle/PaddleSpeech/pull/2109
- command line: https://github.com/PaddlePaddle/PaddleSpeech/pull/2113

[2022-07-02 02:12] #2110 closed, assigned to nobody

[2022-07-05 00:42] #2112 closed, assigned to nobody

[2022-07-05 03:28] Doubledongli opened #2114 "数据类型有错误哦"
2022-07-05 11:07:06.922 | INFO     | paddlespeech.s2t.training.trainer:do_train:271 - Train Total Examples: 6245
Traceback (most recent call last):
  File "D:\develop\workspace\PaddleSpeech\paddlespeech\s2t\training\trainer.py", line 342, in run
    self.do_train()
  File "D:\develop\workspace\PaddleSpeech\paddlespeech\s2t\training\trainer.py", line 307, in do_train
    raise e
  File "D:\develop\

[2022-07-05 08:09] simin75simin commented on #1257
https://github.com/yeyupiaoling/PPASR好像可以用这个

[2022-07-05 10:42] zyb8543d commented on #113
follow it,sloved, thanks

[2022-07-05 12:28] zh794390558 commented on #2114
看log是数据类型错误，麻烦打印下输入的数据类型并查看paddle api 文档，看下是否一致。

[2022-07-06 01:12] Doubledongli commented on #2114
数据类型默认是int32，并且完全一样的代码，我在ubuntu上面运行是正常的，win10上就报错，并且我通过paddle.to_tensor转为int64以后，仍旧会报其他的错误，错误类型如下：
`  File "D:\conda\envs\asr\lib\site-packages\paddle\fluid\dygraph\layers.py", line 915, in _dygraph_call_func
    outputs = self.forward(*inputs, **kwargs)
  File "D:\conda\envs\asr\lib\site-packages\paddle\nn\layer\loss.py", line 1130, in forward
    norm_by_times=norm_by_times)
  File "D:\conda\env

[2022-07-06 02:55] yt605155624 commented on #1756
中文语音到英文翻译数据集 Baidu Speech Translation Corpus [BSTC Zh→En](https://ai.baidu.com/broad/subordinate?dataset=bstc)

[2022-07-06 05:54] tianyunzqs opened #2118 "asr对于语音文件的结尾识别不是很好，请问这个有什么解决方案吗"

[2022-07-06 06:31] #2118 closed, assigned to nobody

[2022-07-07 09:24] chengming1108 opened #2123 "安装paddlespeech 过程中过pyworld装不上"
Running setup.py install for pyworld ... error
  error: subprocess-exited-with-error

  × Running setup.py install for pyworld did not run successfully.
  │ exit code: 1
  ╰─> [22 lines of output]
      /home/data_dev/miniconda3/envs/asr/lib/python3.7/site-packages/setuptools/dist.py:774: UserWarning: Usage of dash-separated 'description-file' will not be supported in future versions. Please use t

[2022-07-07 09:50] #1534 closed, assigned to nobody

[2022-07-07 09:53] Jackwaterveg commented on #1555
@tcexeexe 可以，但是需要去除模型的最后的映射层，让映射层完全重新训练

[2022-07-07 09:58] #1734 closed, assigned to nobody

[2022-07-07 10:02] #2049 closed, assigned to nobody

[2022-07-07 10:04] Jackwaterveg commented on #2123
可以参看这里 linux 安装 c++ 的教程 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install_cn.md#linux

[2022-07-07 10:46] #2101 closed, assigned to lym0302

[2022-07-07 11:42] chengming1108 commented on #2123
(paddle) [data_dev@hadoopetl001 PaddleSpeech-develop]$ gcc -v
使用内建 specs。
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/4.8.5/lto-wrapper
目标：x86_64-redhat-linux
配置为：../configure --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-XXXXXXXXX
线程模型：posix
gcc 版本 4.8.5 20150623 (Red Hat 4.8.5-44) (GCC)
(paddle) [data_dev@hadoopetl001 ~]$ rpm -qa|grep gcc
gcc

[2022-07-07 12:08] chengming1108 commented on #2123
Building wheels for collected packages: pyworld
  Building wheel for pyworld (pyproject.toml) ... error
  error: subprocess-exited-with-error

  × Building wheel for pyworld (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [20 lines of output]
      running bdist_wheel
      running build
      running build_py
      creating build
      creating build/lib.linux-x86_64-cpython-37

[2022-07-07 12:24] chengming1108 commented on #2123
Successfully built pyworld
Installing collected packages: zhon, webrtcvad, wcwidth, timer, textgrid, sentencepiece, pytz, paddle2onnx, jieba, flatbuffers, distance, audioread, appdirs, xxhash, Werkzeug, websockets, typeguard, tqdm, threadpoolctl, tabulate, sniffio, regex, PyYAML, python-dateutil, pypinyin, pydantic, pycryptodome, pycparser, pyarrow, praatio, ppft, pox, portalocker, pattern-singlet

[2022-07-08 13:57] LifeIsStrange commented on #1699
So what is the current status of [VITS](https://github.com/jaywalnut310/vits) support?
It is the #1 state of the art model on [LJspeech](https://paperswithcode.com/sota/text-to-speech-synthesis-on-ljspeech) (well actually second but the first one has no open source implementation)
I'm not seeing it documented on https://paddlespeech.readthedocs.io/en/latest/tts/models_introduction.html

[2022-07-10 10:15] raycool opened #2126 "tts onnx流式部署，am和voc模型不能部署到指定的GPU"
paddle版本 paddlepaddle-gpu: 2.3.0.post112
1. 使用动态模型部署，指定gpu:2, 两个模型均可以部署在gpu2上。
2. 使用onnx部署，指定gpu:2，会出现一个模型部署在gpu:0, 一个模型部署在gpu:2上。
![001](https://user-images.githubusercontent.com/3365153/178140670-c4a07948-3019-4791-bb11-94c4eb950c5f.jpg)
![002](https://user-images.githubusercontent.com/3365153/178140673-9527eca5-27ab-40f2-9d9d-857bce91c286.jpeg)

[2022-07-11 02:57] lym0302 commented on #2126
感谢提问，已经提交修复pr，可以按照这个方式来：https://github.com/PaddlePaddle/PaddleSpeech/pull/2129

[2022-07-11 03:03] yt605155624 commented on #2126
可以等 pr 合入后, git clone PaddleSpeech
[code]
源码安装 develop 版本的 paddlespeech, 或者在安装 paddlespeech 的位置按照 pr 修改源码

[2022-07-11 05:51] #2126 closed, assigned to lym0302

[2022-07-11 06:24] iftaken opened #2131 "💬 PaddleSpeech 文档问题留言"
【这个Issue用于文档问题留言与跟进，开发者们遇到问题的地方以及相关的建议可以在这里进行留言】

PaddleSpeech文档资料
+ [【readthedoc】](https://paddlespeech.readthedocs.io/en/latest/)
+ [【飞桨PaddleSpeech语音技术】](https://aistudio.baidu.com/aistudio/education/group/info/25130)
+ [【wiki】](https://github.com/PaddlePaddle/PaddleSpeech/wiki)
+ [【FAQ】](https://github.com/PaddlePaddle/PaddleSpeech/discussions/1989)

[【Discussions】](https://github.com/PaddlePa

[2022-07-11 06:46] iftaken commented on #2131
新增问题：
1. TTS数据如何准备，MFA使用教程
2. C++调用声音分类模型
3. C++调用PaddleSpeech语音识别模型，加快执行效率
4. 希望能细化ASR，TTS的训练过程[【希望能细化ASR/TTS的训练流程】](https://github.com/PaddlePaddle/PaddleSpeech/issues/2132)

[2022-07-11 06:53] SuperKsa opened #2132 "【建议】希望能细化ASR/TTS的训练流程"
首先我们要肯定PaddleSpeech是一个值得推荐的项目，希望PS能走得更好、更快，所以提出一些针对新手友好性的建议，同时也希望PS能成为强力的基石。

### 关于TTS的数据集处理流程建议
根据文档（[此处](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/tts/quick_start_cn.md)）所示，我们可以按照CSMSC（biaobei）数据集进行训练，但TTS作为AI行业的门脸形象，对个性化的需求很强，所以需要自己准备数据集的需求也随之更高。

--- 社区[kslz](https://github.com/kslz)同学写了一篇文章[关于训练一个自己的TTS模型](https://github.com/PaddlePaddle/PaddleSpeech/discussions/1

[2022-07-11 06:54] SuperKsa commented on #2132
因为我在流程上比较关心核心部分，如何加载模型、如何训练、如何推理。
其他一些中间处理流程工作应该是用户自己完成的：
ASR预测前的音频降噪、过滤、分割，后期容错纠正
TTS合成前的数字、英文、符号等等预处理
汉字->拼音->音素的流程等等

如果存在没有提到的建议，欢迎各位同学回帖补充

[2022-07-11 09:49] zh794390558 commented on #2114
<img width="903" alt="image" src="https://user-images.githubusercontent.com/3038472/178237461-45169fc8-bdf1-4cea-a8fe-ac307bc78144.png">

确定是和这个api类型一致？确定的话有可能是win上的bug了。可以在paddle那边儿问问看。

[2022-07-11 15:30] lijielijie commented on #2131
win系统怎么安装使用

[2022-07-12 02:12] Doubledongli commented on #2114
已经找到原因了，windows无法安装pip的ppspeech的ctc_decoders，这个只有mac和linux版本，所以导致底层调用失败，啥时候paddle那边能出windows版本啊，自己想编译一直出问题

[2022-07-12 03:03] phecda-xu opened #2136 "【TTS】使用RTX 3080 GPU进行语音合成报错， CPU版本正常"
cuda 信息：

[code]

paddlepaddle-gpu==2.3.1 和 paddlespeech=1.0.1
gpu 测试

[code]
执行合成指令
[code]

错误信息：
[code]

注：在 RTX 2080S 上进行测试，同样的paddlepaddle-gpu==2.3.1 和 paddlespeech=1.0.1 合成是正常的。

[2022-07-12 03:23] yt605155624 commented on #2136
看起来是相同版本的 paddlepaddle-gpu 和 paddlespeech，在 RTX 2080S 上不报错，在 RTX 3080 上报错？
我们这边没有太多的不同型号的 GPU，所以没办法复现，这个问题是框架的问题，我的建议是，你先尝试安装 paddle 2.3.0 和 develop 版本的 paddle，看这个问题是否还存在（因为 paddle 2.3.0 已经发布很久，没有遇到这个报错，2.3.1 是在 paddle 2.3.0 这个分支加了小的修补之后发版的，不排除引入了有 bug 的修补，2.3.1 本身和 develop 的 paddle 有较大差距，因为是不同的分支）
如果还存在，可能需要到 paddle 的仓库问一下

[2022-07-12 08:57] phecda-xu commented on #2136
试了一下，paddlepaddle-gpu 2.3.0 以及 develop 版本的 paddlepaddle-gpu-0.0.0.post111 都有问题，暂时不用3080了改用V100，找时间再去paddle那边问问。谢谢！

[2022-07-12 08:57] #2136 closed, assigned to yt605155624

[2022-07-12 09:36] LZH-0225 opened #2140 "按照困难的安装教程报错"
命令：sudo pip install -e . -i https://pypi.tuna.tsinghua.edu.cn/simple
报错：
Running setup.py develop for paddlespeech
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/home/lizhaohui/PaddleSpeech-develop/setup.py'"'"'; __file__='"'"'/home/lizhaohui/PaddleSpeech-develop/setup.py'"'"';f=getattr(tokenize, '"'"'open

[2022-07-12 09:45] yt605155624 commented on #2140
请仔细看报错信息，没有 gcc 和 g++, 请先安装 ：)

[2022-07-12 10:05] lym0302 commented on #2064
中英混合语音合成部分代码已上传，后续会完善再合入 PaddleSpeech.
https://github.com/lym0302/PaddleSpeech/tree/train_zh_en

[2022-07-13 02:12] yt605155624 commented on #2064
PR:
- mix frontend: https://github.com/PaddlePaddle/PaddleSpeech/pull/2143
- the baseline of mix model: https://github.com/PaddlePaddle/PaddleSpeech/pull/2174
- cli support: https://github.com/PaddlePaddle/PaddleSpeech/pull/2203
- mix example: https://github.com/PaddlePaddle/PaddleSpeech/pull/2234
- update cli: https://github.com/PaddlePaddle/PaddleSpeech/pull/2249

[2022-07-13 04:12] SchweitzerGAO opened #2145 "请问Ubuntu18.04在medium模式下支持声音克隆的训练吗？如果是的话，训练流程是什么"
如题

[2022-07-13 04:50] yt605155624 commented on #2145
支持，参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3/vc1

[2022-07-13 04:50] #2145 closed, assigned to yt605155624

[2022-07-13 10:01] Doubledongli commented on #1683
我自己编译了一份，可以试试，测试阶段：pip install paddlespeech-ldd-ctcdecoders
讨论区：https://github.com/PaddlePaddle/PaddleSpeech/discussions/2148#discussion-4212874

[2022-07-13 11:26] SchweitzerGAO commented on #2145
如果是自己按照aishell3格式标注的数据也可以按照这个流程走吗，需要事先做什么预处理吗
@yt605155624

[2022-07-13 11:53] e3u3 commented on #1199
input_ids = frontend.get_input_ids(input, merge_sentences=True, print_info=True)
在前端有一个merge_sentences=True参数。改成false会返回按照标点符号分句之后的句子列表。然后对列表里的每一个句子转语音，再用numpy把语音的一维数组拼接回长语音。
另外据我实验这个merge_sentences只会根据标点分割句子，无标点的文本就不行了。所以也可以自己另写一个分句函数或者暴力截断。每句长度在100以内比较合适，保证了质量也不太占显存。经测试500字的文本会占用10+GB显存。

[2022-07-14 07:56] iftaken opened #2150 "🏗️ 安装报错留言区（Summary of Installation Errors）"
PaddleSpeech安装过程中遇到的问题都可以在这里留言，一些跟安装相关的问题也会在这里进行汇总

Problems encountered during the installation of paddlespeech can be left here, and some installation related problems will also be summarized here

[2022-07-14 07:57] iftaken commented on #2150
往期安装问题汇总，安装遇到问题建议先参考下面的 issues：

Summary of previous installation problems. It's recommended to refer to the following issues first if there are problems in installation:

[【Install for mac and windows, usage for CLI】安装PaddleSpeech相关问题讨论（Windows，mac），以及命令行使用问题 ](https://github.com/PaddlePaddle/PaddleSpeech/discussions/1195)

[【Install for windows】安装PaddleSpeech相关问题讨论（Windows）](https://github.com/P

[2022-07-14 08:13] yaleimeng commented on #2038
@yt605155624  我使用自己的语料（带四种标点，。？！）训练，结果也是：大部分语句能正常预测，有些语句最后一个字后面没有标点，如下图所示。原因不明。。希望答疑解惑。
另外，自己按照指引训练保存的是checkpoint（pdz格式），占空间比较大。怎样能转换成类似预训练模型（ernie_linear_p7_wudao）那种格式啊？
![image](https://user-images.githubusercontent.com/28124722/178934929-b4f0dfb1-e83f-41bc-b42d-d501232e852f.png)

[2022-07-14 08:49] yt605155624 commented on #2114
[自行编译paddlespeech-ctcdecoders的windows版本](https://github.com/PaddlePaddle/PaddleSpeech/discussions)

[2022-07-15 02:40] LZH-0225 opened #2152 "按照教程跑语音分类报错"
代码
import paddle
import numpy as np
import soundfile as sf
from matplotlib import pyplot as plt
from paddleaudio import load

data, sr = load(file='./dog.wav', mono=True, dtype='float32')  # 单通道，float32音频样本点

x = paddle.to_tensor(data,place=paddle.CUDAPlace(2))#需要一张完整的卡跑
n_fft = 1024#FFT样本点个数
win_length = 1024#窗函数长度
hop_length = 320#音频帧之间的间隔

spectrogram = paddle.signal.stft(x, n_fft=n_fft, win_le

[2022-07-15 02:48] LZH-0225 commented on #2140
我有两个问题：1、我想问一下，就是安装paddlespeech需要gcc-5，我把我原来的gcc卸载，换成gcc-5，但是我再去跑pytorch的代码出现这样的问题，请问你们有遇到吗？后来我把gcc升级成gcc-9，仍然会报错，想问一下你们是否遇到此类问题，有没有什么解决方法。
2、还有一个就是，我不太了解docker，可以麻烦更新一下那个困难安装模式的docker的redeme，可以写的更加流程化的吗？感觉这样对新手更加友好一些，谢谢。

Terminating: fork() called from a process already using GNU OpenMP, this is unsafe.
Terminating: fork() called from a process already using GNU OpenMP, this is unsafe.
Terminati

[2022-07-15 03:29] yt605155624 commented on #2152
[code]
后执行上述代码，输出
[code]
请问你的 paddle 版本是什么，我在 develop 版本的 paddle 上是不报错的，请更新 paddle 到 2.3.0 或者安装 develop 版本的 python https://www.paddlepaddle.org.cn/documentation/docs/zh/install/index_cn.html

[2022-07-15 03:35] LZH-0225 commented on #2152
我的paddle版本
paddlepaddle-gpu          2.3.1.post116            pypi_0    pypi

[2022-07-15 06:13] yt605155624 commented on #2152
请试一下别的版本的 paddle，比如 2.3.0 或者 develop，如果都不行，看你的 cuda 版本很新，可能需要去 paddle issue 提问了，此处代码还没有用到具体的套件代码，是框架的问题不是套件的问题

[2022-07-15 07:03] yt605155624 opened #2154 "[TTS]ErnieSAT"
Introduction:
- https://github.com/PaddlePaddle/ERNIE/tree/repro/ernie-sat

PR:
- https://github.com/PaddlePaddle/PaddleSpeech/pull/2052
- https://github.com/PaddlePaddle/PaddleSpeech/pull/2117
- https://github.com/PaddlePaddle/PaddleSpeech/pull/2263
- https://github.com/PaddlePaddle/PaddleSpeech/pull/2287
- https://github.com/PaddlePaddle/PaddleSpeech/pull/2316

[2022-07-15 07:03] yt605155624 commented on #2154
Loss of vtck (8 gpus):
<img width="938" alt="image" src="https://user-images.githubusercontent.com/24568452/186370373-7ddd1eb2-807a-40da-b983-dd6f6559dca8.png">

<img width="916" alt="image" src="https://user-images.githubusercontent.com/24568452/186370427-71823804-956c-4322-a97f-73dd60c8c26f.png">

[2022-07-15 07:03] yt605155624 commented on #2154
Loss of aishell3 (8 gpus):

<img width="939" alt="image" src="https://user-images.githubusercontent.com/24568452/186371601-5e18fac9-1896-471a-bb0a-80178d85b170.png">

<img width="912" alt="image" src="https://user-images.githubusercontent.com/24568452/186371802-6cd861bd-a16d-44cb-9f2b-312a1ad36c69.png">

[2022-07-15 07:04] yt605155624 commented on #2154
Loss of aishell3_vctk (8 gpus):
![image](https://user-images.githubusercontent.com/24568452/186372502-fdc5bd64-61ed-4f41-bd30-483ddd8a7984.png)

![image](https://user-images.githubusercontent.com/24568452/186372638-b4f1c873-3061-46f9-b369-f7e82800cd11.png)

[2022-07-15 07:17] yt605155624 commented on #1699
We are trying to train VITS for CSMSC (a Mandarin Dataset), and there is a release model now, see [csmsc/vits](https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/csmsc/vits). We mainly focus on the Mandarin Dataset, and the training of this model is time-consuming, So we have no plan to train on the English dataset for the time being, I haven't add VITS in models_introduction, thx

[2022-07-15 07:27] yt605155624 commented on #2140
看起来程序想用 4 块 GPU 跑程序，你机器上是否没有足够的 GPU? 可以根据自己的机器情况调整这些参数

[2022-07-18 02:43] dentalab opened #2160 "TTS 粵語 男聲/女聲 數據集"
請問哪裡可以下載適合PaddleSpeech的粵語 男聲/女聲 數據集，謝謝！

[2022-07-18 03:10] yt605155624 commented on #2160
你好，PaddleSpeech TTS 没有粤语上的案例，数据集没有专门研究过，https://commonvoice.mozilla.org/zh-CN 里面有粤语数据集你看下

[2022-07-18 03:12] yt605155624 commented on #2131
和其他系统一样的，遇到问题在 repo 里搜一下就能搜到 windows 安装的一些经验

[2022-07-18 03:16] #2160 closed, assigned to yt605155624

[2022-07-18 03:22] #1699 closed, assigned to yt605155624

[2022-07-18 03:27] yt605155624 commented on #2145
可以，按照我们的 README 即可，需要训练 MFA， README 里都有

[2022-07-18 03:29] SchweitzerGAO commented on #2145
好的谢谢，我了解了

[2022-07-18 07:44] haha010508 opened #2161 "voxceleb2下载不了了？"
` wget http://www.robots.ox.ac.uk/~vgg/data/voxceleb/vox1a/vox2_dev_aacaa --user ***** --password *******
--2022-07-18 15:41:36--  http://www.robots.ox.ac.uk/~vgg/data/voxceleb/vox1a/vox2_dev_aacaa
Resolving www.robots.ox.ac.uk (www.robots.ox.ac.uk)... 129.67.94.2
Connecting to www.robots.ox.ac.uk (www.robots.ox.ac.uk)|129.67.94.2|:80... connected.
HTTP request sent, awaiting response... 301 Moved

[2022-07-18 08:02] SmileGoat commented on #2161
网路问题，建议使用畅通稳定的网络下载，vox2数据集非常大。或者搜索一下第三方链接。

[2022-07-18 08:29] yaleimeng commented on #2038
@CocaColaKing  我在paddleNLP里面基于序列标注任务已实现了标点预测。。paddlespeech依赖比较多，感觉比较重，而且得到的模型也很大。
而且在改写过程中也遇到末尾没有标点的问题，这种情况通常是遗漏了末尾处理逻辑，一般改一下解码部分代码就可以了。

[2022-07-18 08:50] BeyondLightYear opened #2163 "该怎样进行语音情绪识别工作呢"

[2022-07-18 09:52] SmileGoat commented on #2152
遇到了相同的问题，换了个版本就可以work了。

[2022-07-18 09:55] haha010508 commented on #2161
不是网络问题，好像就是不提供了，你可以试试，vox1我是可以下载的

[2022-07-18 10:23] lizhaohuigit1 commented on #2152
现在在docker跑已经没问题了

[2022-07-18 10:24] LZH-0225 commented on #2152
现在在docker跑已经没问题了

[2022-07-18 10:24] LZH-0225 commented on #2152
ok，我现在在docker跑了，没啥问题了

[2022-07-18 10:24] #2152 closed, assigned to SmileGoat

[2022-07-18 15:15] SchweitzerGAO opened #2166 "是否支持流式实时语音克隆服务呢"
在 #2145 的基础上，请问是否支持流式实时语音克隆服务呢，谢谢！

[2022-07-19 01:31] CocaColaKing commented on #2038
ok

[2022-07-19 01:31] #2038 closed, assigned to nobody

[2022-07-19 02:24] yt605155624 commented on #2166
目前不支持，但是我们目前 vc1 是基于 fastspeech2 的，所以可以参照 csmsc 上的 fastspeech2_cnndecoder，用 vc1 的方式训练一个解码器是 cnndecoder 的 fastspeech2，然后导出 onnx 模型加入到服务中即可

[2022-07-19 02:38] yt605155624 commented on #2163
本质是分类问题，如果有数据，按照声音分类做即可，参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/esc50
情绪数据集参考 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/tts/tts_datasets.md

[2022-07-19 11:17] #2114 closed, assigned to zh794390558, Jackwaterveg

[2022-07-19 12:19] SchweitzerGAO commented on #2166
好的谢谢，我试一试

[2022-07-19 14:21] Betterman-qs opened #2170 "切换英文语音合成报错 get_input_ids() got an unexpected keyword argument 'get_tone_ids'"
要切换成英文语音合成时，更改了/paddlespeech/server/conf/application.yaml这个配置文件中的tts_python里面的声学模型和声码器，声学模型用的是fastspeech2_ljspeech，声码器用的pwgan_ljspeech，并且lang改为en，但是报错 get_input_ids() got an unexpected keyword argument 'get_tone_ids'

[2022-07-20 01:55] SchweitzerGAO commented on #2166
还有一个问题，流式TTS服务是否可以更换成自己的voice cloning模型呢，也就是不用原始提供的声音进行tts

[2022-07-20 02:14] yt605155624 commented on #2166
我感觉我上面的回复已经回答了这个问题，结论就是可以，但是模型结构要符合 fastspeech2_cnndecoder 并且要导出 onnx 模型，voice cloning 模型本身就是用输入的语音进行合成

[2022-07-20 02:15] SchweitzerGAO commented on #2166
好的，谢谢&nbsp;

星际宝贝
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年7月20日(星期三) 上午10:14
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; "State ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleSpeech] 是否支持流式实时语音克隆服务呢 (Issue #2166)

还有一个问题，流式TTS服务是否可以更换成自己的voice cloning模型呢，也就是不用原始提供的声音进行tts

我感觉我上面的回复已经回答了这个问题，结论就是可以，但是模型结构要符合 fastspeech2_cnndecoder 并且要

[2022-07-20 02:15] #2166 closed, assigned to yt605155624

[2022-07-20 02:22] #2170 closed, assigned to yt605155624

[2022-07-20 05:44] BrightXiaoHan commented on #2150
执行命令
[code]
时遇到错误
[code]

[2022-07-20 07:17] lianyi-q opened #2173 "标点恢复怎样进行批处理呢？"
请问，想要对大量文本做标点恢复，怎样调取接口来做呢？

[2022-07-20 07:24] yt605155624 commented on #2173
You can try PythonAPI, the model will only init for the first time : https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/punctuation_restoration

Or you can try batch-cli : https://github.com/PaddlePaddle/PaddleSpeech/wiki/PaddleSpeech-CLI---Batch-Process#punc

[2022-07-20 07:57] BrightXiaoHan commented on #2131
感谢PaddleSpeech的开发者。
我想使用其他语言调用paddlespeech_server，目前只能使用提供的`paddlespeech_client.py`脚本调用，可否提供http api接口和websockt api 接口的文档呢，方便其他编程语言进行调用？

[2022-07-20 10:39] hackerxiaobai opened #2175 "csmsc TTS pipeline 跑不出结果"
- 下载了 fastspeech2_nosil_baker_ckpt_0.4 和 pwg_baker_ckpt_0.4 两个模型
- 然后按照 TTS 流水线 给的demo，跑不出来结果

[code]

- 希望解答，谢谢

[2022-07-20 10:51] yt605155624 commented on #2175
你所参考的文档只是一个简单的流水线展示，不能直接跑出结果，可以参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/csmsc/tts3 使用 tts
或者直接使用 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/text_to_speech

[2022-07-20 11:27] hackerxiaobai commented on #2175
- 感谢，我已经明白了，不过提个小意见，训练自己的数据集，文档感觉不够清楚，特别是MFA这一块，对于刚入门的来说，还是有点懵的

[2022-07-20 11:58] #2175 closed, assigned to yt605155624

[2022-07-21 05:48] liroda opened #2176 "TTS 声学模型fastspeech2 和声码器hifigan，模型转换是否支持batchsize"
您好，实际部署模型时候，希望模型能支持batchsize 增加并发，训练完成的tts 声学模型fastspeech2 和 声码器hifigan ，在动态模型到静态模型转换加入batchsize维度报错，请问这个可以怎么解决呢？

am_inference = jit.to_static(
                am_inference,
                input_spec=[
                    InputSpec(shape=[-1,-1], dtype=paddle.int64)
                   ])

[2022-07-21 07:19] hackerxiaobai opened #2177 "csmsc synthesize 和 synthesize_e2e 两者跑出来的音频结果差距挺大"
- 第一次跑TTS相关的，在自己数据集上训练的模型
- csmsc synthesize 和 synthesize_e2e 两者跑出来的音频结果差距挺大
- 请问这个是合理的吗？

[2022-07-21 07:23] hackerxiaobai commented on #2177
- 我看了下代码，synthesize 是拿到音频以及对应的.lab 文件，通过MFA拿到音素对齐文件，然后跑的测试。
- synthesize_e2e 是直接一个单文本句子，通过模型跑出来的测试结果
- 所以两者差距挺大是合理的？或者是我哪里弄错了吗？想确定一下

[2022-07-21 08:03] ychyyz opened #2178 "fastspeech2 采用 conformer 时，合成语音不圆润，是什么问题？"
如题，不过vocoder部分没有重新训练，和这个有关系吗？

[2022-07-21 08:55] yaleimeng opened #2179 "流式语音识别的输入也是wav文件，怎样实现流式识别呢？"
是遇到空白截断，然后发送一个wav文件给server吗？ 还是按固定时间间隔保存声波文件发过去？
能直接对接麦克风进行流式语音识别吗？

[2022-07-21 15:51] zh794390558 commented on #2179
可以多看看代码，issue，discussion。 具体参看：https://github.com/PaddlePaddle/PaddleSpeech/discussions/1965

[2022-07-22 09:37] yt605155624 commented on #2176
你自己看下 fastspeech_inference ，本身就不支持， batch 需要改代码

[2022-07-22 09:38] yt605155624 commented on #2177
差距挺大是什么意思，相同的文本差距大？

[2022-07-22 09:38] yt605155624 commented on #2178
不清楚，但是应该和 vocoder 没关系

[2022-07-22 10:47] liroda commented on #2176
好的，那请教一下子龙姐，这块的话在推理阶段，如果修改成支持batchsize 版本的，输入input 的话text[batch,phoneids] 同事需要变量mask 吗？

[2022-07-23 05:46] hackerxiaobai commented on #2177
不好意思，已经解决。感谢回答，忽略这个问题吧

[2022-07-23 05:46] #2177 closed, assigned to yt605155624

[2022-07-23 09:10] bzy456 opened #2181 "搭建demos下speech_web，能进入页面但是功能不可用"
简单描述下遇到的问题，搭建成功的大佬帮忙解决下回个帖
1.搭建demos下speech_web，能进入页面但是功能不可用，启用
cd web_client
yarn dev --port 8011
一点击音频文件识别，上传.wav后，一直识别，没结果，然后报错
16:40:32 [vite] http proxy error:
Error: read ECONNRESET
    at TCP.onStreamRead (node:internal/stream_base_commons:217:20)
16:42:25 [vite] http proxy error:
Error: read ECONNRESET
    at TCP.onStreamRead (node:internal/stream_base_commons:217:20) (x2)
16:53:35 [vite]

[2022-07-25 07:02] lucky0604 commented on #2181
通过`pip install paddlespeech`貌似是无法直接引用`paddlespeech.server.engine.asr.online.python`这个模块的
我的解决方式是将`PaddleSpeech`仓库下的`paddlespeech`文件夹直接复制一份到`demos/speech_web/speech_server/`下，让文件依赖通过项目文件目录的路径而不是通过`pip`下载的模块

[2022-07-25 07:03] lroyzz opened #2182 "长文本怎么进行语音合成"
看到有websocket的api 应该是可以分段的上传文字 然后合并成一个wav

还是说需要自己分段上传 然后合并多个wav

[2022-07-25 18:14] OfOdin commented on #2150
Hello, also receiving the same issue as above with the same command.
`pip install . -i https://pypi.tuna.tsinghua.edu.cn/simple`
Gives error of:

[code]
Using Windows 11 and Visual Studio build tools are installed.

[2022-07-26 00:59] Tian14267 opened #2183 "fastspeech2声学模型转onnx有问题，推理报错。"
你好，我使用最新的paddlespeech代码，训练出的 fastspeech2-pwgan模型，转成onnx之后，会报错，请问是什么情况啊。

[code]

**paddle2onxx** 版本使用了 **0.9.5** 、**0.9.8** 和 **1.0.0rc0**版本都不行。

[2022-07-26 00:59] Tian14267 opened #2184 "fastspeech2声学模型转onnx有问题，推理报错。"
你好，我使用最新的paddlespeech代码，训练出的 fastspeech2-pwgan模型，转成onnx之后，会报错，请问是什么情况啊。

[code]

**paddle2onxx** 版本使用了 **0.9.5** 、**0.9.8** 和 **1.0.0rc0**版本都不行。

[2022-07-26 01:19] Tian14267 commented on #2184
我的模型：
链接：https://pan.baidu.com/s/1D0KYL2GaBa_MbuP5eD67XQ
提取码：04xo

[2022-07-26 01:46] yt605155624 commented on #2184
相关问题请到 paddle2onnx 和 onnxruntime 提问

[2022-07-26 01:46] #2184 closed, assigned to nobody

[2022-07-26 01:46] #2183 closed, assigned to nobody

[2022-07-26 01:47] yt605155624 commented on #2182
都行，后者并发的话会快点

[2022-07-26 01:49] yt605155624 commented on #2181
可以 clone 最新的代码后 cd 到 PaddleSpeech pip install . 安装最新代码，release 版目前不包含相关模块

[2022-07-26 01:49] #2181 closed, assigned to iftaken

[2022-07-26 01:54] #2163 closed, assigned to yt605155624

[2022-07-26 01:54] #2173 closed, assigned to yt605155624

[2022-07-26 01:54] #2176 closed, assigned to yt605155624

[2022-07-26 02:05] #2179 closed, assigned to nobody

[2022-07-26 02:05] #2178 closed, assigned to yt605155624

[2022-07-26 02:38] yaleimeng commented on #1309
最奇葩的是到处出现的XXXExecutor类，文本内容居然要 作为input参数放在构造函数里面。
简直从未见过如此奇怪的设计。每操作一次需要构造一个新的对象吗？我想问百度有软件专业的人吗？
弄一个Tool类，tool.dosomething( ) 调用 很麻烦吗？

[2022-07-26 07:03] yaleimeng opened #2185 "websocket流式服务的客户端问题"
ASR和TTS都支持了websocket协议的流式服务，但是客户端总不能只在本机运行吧？
其他电脑怎样通过websocket协议跟服务器进行交互？麻烦提供一个非本机的客户端访问脚本。

别告诉我安装全套paddlespeech然后执行那一段示例代码。。一个客户端安装paddlepaddle太离谱。

[2022-07-26 07:32] #2185 closed, assigned to yt605155624

[2022-07-26 07:36] yaleimeng commented on #2185
刚从wiki中找到了一些资料。试一试也许能行。
但是作为扩展学习资料，应该在readme.md中 链接到这些扩展资料。便于构建完整的知识体系。
甚至，直接提供一个client.py 作为样例，能更大地降低上手难度。

[2022-07-26 07:38] yt605155624 commented on #2185
We are design our README.md now, maybe this is the `client.py` you want
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/paddlespeech/server/tests
Maybe you can also find some funcs in : https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/speech_web

[2022-07-26 08:03] gfhjjk opened #2186 "联合流式语音识别和标点预测速度很慢"
运行联合流式语音识别和标点预测很慢
![图片](https://user-images.githubusercontent.com/94445730/180955793-d41bba23-a97f-47f1-8fb1-56819a428dbc.png)一个40秒的音频要500多秒

[2022-07-26 08:47] kwokyto opened #2187 "ImportError: paddle/fluid/core_noavx.so: undefined symbol: shm_unlink"
When running PaddleSpeech on RaspberryPi, I am given an ImportError regarding noavx in Paddle. I have followed instructions from [QEngineering](https://github.com/Qengineering/Paddle-Raspberry-Pi) to download the paddlepaddle wheel for aarch64 machines.

## Reproduction Steps
[code]

## OS
[code]

## GPU
None

## Environment
- Conda 4.5.12
- Python 3.9.13
- GCC 10.2.1
- PaddlePaddle 2.3.1
- Paddle

[2022-07-26 09:05] lroyzz opened #2188 "启动server时 程序killed"
![image](https://user-images.githubusercontent.com/29371605/180968051-b91e2dc0-c887-4ba5-831e-5a65513df2e7.png)

正常安装
centos
paddle.utils.run_check 正常

机器2C2G内存 是内存不足的 原因吗

[2022-07-26 11:27] yt605155624 commented on #2188
大概率是的，因为 tts 的模型都不小，而且有声学模型声码器 2 个模型，可以换个配置较高的机器试下

[2022-07-26 11:31] yt605155624 commented on #2187
please check https://www.paddlepaddle.org.cn/documentation/docs/en/2.2/install/pip/linux-pip_en.html#span-id-gpu-gpu-version-of-paddlepaddle-span to install paddle with `noavx` if your machine does not support `avx`

[2022-07-26 11:53] zh794390558 commented on #2186
标点是ERINE模型，而且增量调用，所以会慢。

[2022-07-27 01:58] wangdabee opened #2190 "s2t项目中asr1 如何在训练时预加载提供的conformer预训练模型？"
asr1项目中  想在自己的数据集上进行训练  想加载提供的conformer预训练模型进行参数初始化并冻结一些层，请问如何修改源码？

[2022-07-27 02:16] yt605155624 commented on #2187
Related issue by author: https://github.com/PaddlePaddle/Paddle/issues/44621

[2022-07-27 05:47] yaleimeng commented on #2185
that's what I want , thanks a lot~

[2022-07-27 06:36] SmileGoat commented on #2190
https://aistudio.baidu.com/aistudio/projectdetail/438026 冻结一些layer

[2022-07-27 06:45] yt605155624 commented on #2150
@OfOdin  maybe you should search for this line `FileNotFoundError: [WinError 2] The system cannot find the file specified`

[2022-07-27 06:47] yt605155624 commented on #2150
@BrightXiaoHan maybe you should check this error

[2022-07-27 06:47] #2140 closed, assigned to nobody

[2022-07-27 06:48] #2123 closed, assigned to Jackwaterveg

[2022-07-27 06:48] #2008 closed, assigned to zh794390558

[2022-07-27 06:51] #2027 closed, assigned to zh794390558

[2022-07-27 06:53] yt605155624 commented on #2131
@BrightXiaoHan
接口文档请参考
- [PaddleSpeech Server RESTful API](https://github.com/PaddlePaddle/PaddleSpeech/wiki/PaddleSpeech-Server-RESTful-API)
- [PaddleSpeech Server WebSocket API](https://github.com/PaddlePaddle/PaddleSpeech/wiki/PaddleSpeech-Server-WebSocket-API)

[2022-07-27 06:56] #2092 closed, assigned to lym0302

[2022-07-27 07:02] #1555 closed, assigned to Jackwaterveg

[2022-07-27 07:55] sosojust1984 opened #2191 "PaddleSpeech的AIstudio课程中声音分类项目报错"
运行AI Studio课程中的声音分类项目，安装了paddleaudio pip list | grep audio 显示paddleaudio 1.0.1   导入import paddleaudio时 程序还是报 No module named 'paddleaudio'错误。此前曾在paddleocr安装是遇到过类似错误，是No module named shapely.不清楚是环境问题，还是权限问题。记得当时是有过一次ai studio的升级。

[2022-07-27 09:09] Jackwaterveg commented on #2190
参考的解决方案：
1. 确定哪些层不需要冻结：一般认为只有最后的 projection 层不用冻结
2. 在 projection 之前的层（encoder最后一层，decoder最后一层）设置 stop_gradient 来冻结参数

[2022-07-27 09:27] njustczr opened #2192 "asr模型可以导出静态图推理吗"

[2022-07-27 09:35] jeremy110 opened #2194 "请问标点符号的训练资料格式"
我想使用自己的data fine-tune标点符号。
example提供的iwslt2012_zh，是来自于TED talks，文本当中的每一句字数不多。
想请问每句字数有限制?
或是一句当中最多几个标点符号?

先行感谢回覆

[2022-07-27 10:59] yt605155624 commented on #2194
字数可少不可多，我们使用的基础模型是 ERNIE 3.0, ERNIE/BERT 类模型，有长度限制，一般是 256/512 个 token 等，可以具体去 PaddleNLP 看一下，超出的文本会被裁剪
一句中的标点符号没有限制，因为标点预测问题本质是一个序列标注问题，对于每一个字符，都会判断其后是无标点还是逗号句号等
如果自己有大量的数据，可以自己从头训练，因为 iwslt2012_zh 数据量很小，训练出来的模型不能用，我们 cli 里面的标点模型是用商业数据训练的

[2022-07-27 11:07] jeremy110 commented on #2194
谢谢你这么快的回覆，我会再试看看

[2022-07-27 11:09] #2194 closed, assigned to yt605155624

[2022-07-27 16:40] OfOdin commented on #2150
@yt605155624 I was missing the package Git. Did not install it after creating the environment. Install was successful.

[2022-07-28 00:25] sosojust1984 commented on #2191
!python3.7 -m pip install --user --upgrade pip && pip install paddlespeech paddleaudio -U 应用这条指令可以解决这个问题。

[2022-07-28 00:25] #2191 closed, assigned to zh794390558

[2022-07-28 00:55] yaleimeng commented on #2186
可以在全部识别完成后调用一次标点预测。这样应该会很快。中间过程的预测没什么意义

[2022-07-28 02:34] BeyondLightYear commented on #2058
多谢多谢！尝试了一下，方案是：
1 切分语音片段 --> 2 声纹识别(比较切片的声纹 区分不同的说话人 但比较耗时) --> 3 结合语音片段 和 整个音频的asr结果

又有了新问题：
1 不能很好的分割音频片段（即：一个片段只包含一个人的语音）
2 对电话录音，声纹识别的效果似乎不太好（2人以上的对话 处理起来也很耗时）
3 asr的识别结果(无时间戳) 和 音频片段无法很好对应起来
麻烦多多指点一下，我的方案不合理的部分，或者能更具体的说一下咱们paddle的方案吗？
万分感谢！

[2022-07-28 02:36] yt605155624 opened #2196 "🔍 TTS 文本前端问题汇总（Text Frontend Bugs）"
## Please report TTS text frontend bugs here, for examples: text normalization, polyphone and tone sandhi, etc.

**We encourage developers to solve these problems.**

1. polyphone: 能说多长(zhang3 ❎)的语音呢？是否可以长(zhang3 ❎)语音合成呢？长(chang2 ✅)语音，长(zhang3 ❎)文本 -> fixed

[2022-07-28 03:06] lawo123 opened #2197 "为什么你们的fastspeech2的长文本中文合成效果好？"
同样用baker数据集训练
我训练的结果 长文本后半段就异常了
[our_fastspeech2.zip](https://github.com/PaddlePaddle/PaddleSpeech/files/9205043/our_fastspeech2.zip)

你们的fastspeech2预训练模型的结果就是正常的，为什么你们支持的长度比我的长，而数据集是一致的
[paddle_fastspeech2.zip](https://github.com/PaddlePaddle/PaddleSpeech/files/9205044/paddle_fastspeech2.zip)

[2022-07-28 03:15] xinyujituan commented on #1292
paddlespeech asr --model transformer_librispeech --lang en --input ./en.wav -v

[2022-07-28 03:29] yt605155624 commented on #2197
请问你使用的 fastspeech2 的模型是哪个复现版本，可以使用我们的脚本进行训练，我们的代码在进行合成的时候，会自动按照标点进行切分，分段合成，通过 `merge_sentences` 这个变量控制，如果不切分，文本过长（比如超过 60 个字符）也会在后半段异常，你可以试试，这个是 Transformer 类模型本身的问题
此外，paddlespeech 的文本前端做了专门的设计（文本正则，变调等），也会提升合成效果

[2022-07-28 03:29] yt605155624 commented on #2197
请问你使用的 fastspeech2 的模型是哪个复现版本，可以使用我们的脚本进行训练，我们的代码在进行合成的时候，会自动按照标点进行切分，分段合成，通过 `merge_sentences` 这个变量控制，如果不切分，文本过长（比如超过 60 个字符）也会在后半段异常，你可以试试，这个是 Transformer 类模型本身的问题
此外，paddlespeech 的文本前端做了专门的设计（文本正则，变调等），也会提升合成效果

[2022-07-28 03:39] BeyondLightYear commented on #2058
多谢多谢！尝试了一下，方案是：
1 切分语音片段 --> 2 声纹识别(比较切片的声纹 区分不同的说话人 但比较耗时) --> 3 结合语音片段 和 整个音频的asr结果

又有了新问题：
1 不能很好的分割音频片段（即：一个片段只包含一个人的语音）
2 对电话录音，声纹识别的效果似乎不太好（2人以上的对话 处理起来也很耗时）
3 asr的识别结果(无时间戳) 和 音频片段无法很好对应起来
麻烦多多指点一下，我的方案不合理的部分，或者能更具体的说一下咱们paddle的方案吗？
万分感谢！

[2022-07-28 03:57] SmileGoat commented on #2058
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/ami/sd0 speaker diarization，区分不同的说话人，
https://github.com/PaddlePaddle/PaddleSpeech/pull/1850 可以看下这个pr，time stamp已经添加。所以结合起来做。ps 电话录音，看具体是什么问题，杂音是否很多，还耗时在哪里，都可以说一下。

[2022-07-28 04:55] lawo123 commented on #2197
用的这个预训练模型fastspeech2_nosil_baker_ckpt_0.4.zip，我看你们的代码默认merge_sentences=True，就是没有切分，效果挺好的，我们训练的在大概30个字符的时候就开始出现异常了，baker数据集的最大字符长度是30，为什么你们的最大能支持到60个字符

[2022-07-28 05:40] yt605155624 commented on #2197
那我不清楚了，baker 最大字符 30 个字不代表输入超过 30 个字就不好，你用的不知道是哪个开源的 fastspeech2 的版本，但是据我所知和用户反馈，paddlespeech 的中文 fastspeech2 效果应该是开源最好的
https://github.com/PaddlePaddle/PaddleSpeech/blob/1f128a0817c991fe6155f74a621539a363c2bb57/paddlespeech/t2s/exps/synthesize_e2e.py#L90 默认 merge_sentences=False 哈，你再 check 下，这个不是重点
可能和 positional encoding 类型有关，我们用了 scaled_abs_pos 或许对长文本友好

https://github.com/PaddlePaddle/PaddleSp

[2022-07-28 08:39] laity-slf opened #2198 "sndfile library not found"
版本都对
![WechatIMG0 1](https://user-images.githubusercontent.com/59203496/181461310-989fbf0e-8ca3-4c5a-9cae-b64aa83fa2a0.png)
的
也有libsndfile1
![1](https://user-images.githubusercontent.com/59203496/181461423-27b63f81-d290-42ae-85bb-08945a118502.png)

[2022-07-28 08:57] iftaken opened #2199 "💬【夸夸】留言区"
PaddleSpeech语音机器人 🤖  已上线，你可以在这里给陌生人留言，留一句【鼓励】他人的话 👻  ，可以是励志金句，也可以是🌈  屁，可以是你的人生座右铭，也可以是你喜欢的诗词歌句，我们筛选后会放入机器人的【夸夸 🤠  】后台，本活动长期有效，希望我们的机器人能够为你带来一些快乐 🥰  ~

参与方式：【留言类型】+ 留言内容，留言类型分为【鼓励】与【建议】，【鼓励】中的句子我们筛选后会放入后台，【建议】中的句子为建议留言，我们根据建议，对机器人内容与形式进行调整。🤓

示例一：【鼓励】留言 😝

示例二：【建议】留言 🧐

**添加机器人的方式**：

微信扫码，添加PaddleSpeech机器人微信：

<img width="273" alt="98a77df5450cc931b0da6a7880c38097" src="https://user-images.githubu

[2022-07-28 09:08] LiuChiachi commented on #2196
- 教教(jiao1)(jiao)我好不好！读成了(jiao4) -> fixed
- 哈哈哈(❌)-> fixed

[2022-07-28 09:13] yt605155624 commented on #2198
建议你遇到问题先自己搜索一下吧，试试
[code]

[2022-07-28 09:31] zh794390558 commented on #2186
可以单独起asr服务和标点服务，用户可以自行控制标点服务调用次数。

[2022-07-28 09:34] SuperMaskv commented on #2131
请问，paddlecloud/paddlespeech是官方的镜像吗？如果是的话可以提供一些文档说明吗，比如如何启动asr stream server，应该预留哪些容器端口。

[2022-07-28 09:40] zh794390558 commented on #2192
[deepspeech2](https://github.com/PaddlePaddle/PaddleSpeech/blob/1f128a0817c991fe6155f74a621539a363c2bb57/examples/aishell/asr0/run.sh#L48) 可以导出的，Conformer 的还在进行中，预计9月中下旬会完成。

[2022-07-28 11:29] yt605155624 commented on #2131
paddlecloud/paddlespeech 是 paddlecloud 为我们提供的镜像，使用 paddlecloud 的说明可以参考安装文档链接中的 paddlecloud 中的链接，启动 asr stream server 参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/streaming_asr_server , 端口可以自己在 config 中设置

[2022-07-28 11:30] yt605155624 opened #2201 "[TTS]add cli for zh_en mix tts"

[2022-07-28 13:39] yt605155624 commented on #2196
1. 干嘛(❎) -> fixed
2. 你像夏至的分界线，是我终身里最长(❎)的那个白昼！夸夸你！-> fixed
3. 我今天写了两行(❎)代码 -> fixed
4. 媳妇儿（儿化音）-> fixed
5. 小数(❎)点 -> fixed
6. 哈哈哈哈哈哈哈-> fixed
7. 学子(❎无需轻声变调) -> fixed
8. 向阳中学是一所有比较长(❎)的历史的中学校 -> "长"发音 fixed, 所有分词还有问题
9. 咕呱(gu1 ❎)（gua? ✅）-> fixed

[2022-07-28 13:41] yt605155624 commented on #2196
你像夏至的分界线，是我终身里最长的那个白昼！夸夸你！

[2022-07-28 16:06] laity-slf commented on #2198
首先感谢你的回复，我肯定是有查过的。问题在于是ubuntu我这么部署是没问题的，可以import，但是换成debain 后其他版本都一致（paddleaudio、librosa），唯独是系统不同的 apt 中的 libsndfile1 版本不一样

[2022-07-29 02:20] yt605155624 commented on #2198
好的，因为我们这边也没有这么多系统，一般 linux 就是 ubuntu 16.04, 所以你这个问题我们没有环境去复现，这个还是要你多查查看，有什么结论也希望可以同步给社区🤓
不过如果环境部署有问题，建议你可以直接使用 paddle 官方提供的 ubuntu 镜像~

[2022-07-29 08:20] #2201 closed, assigned to yt605155624

[2022-07-29 08:30] hackerxiaobai opened #2204 "tts voc1 中的defualt.yaml 参数设定bug"
- 问题是我自己的数据集出现了一个batch的数据中的 b['feats'].shape[0] 都小于 self.mel_threshold 这个只，导致后面的 np.stack 异常
- 其实是需要更改 default.yaml 里的 batch_max_steps 或者 n_shift 参数，但是我没有什么建议，这两个参数我直接调小 batch_max_steps，bug就不会有了，能给一些建议吗？关于调整这个参数
- bug代码问题就是 vocoder_batch_fn.py
[code]

[2022-07-29 08:56] GloryRoadWangzh commented on #1283
基于bert实现语音合成文本前端的多音字预测有代码实现吗？

[2022-07-29 09:53] yt605155624 commented on #2204
`batch_max_steps` can be reduced, but do keep it be `n x n_shift`, but do not adjust `n_shift`, because it needs to be matched with the acoustic model's `n_shift`, otherwise you have to retrain the acoustic model

[2022-07-29 09:55] SuperMaskv commented on #2150
[code]
paddlecloud/paddlespeech镜像按照文档启动标点引擎报错，请问可能是什么原因？

[2022-07-29 10:13] wutl92 commented on #2071
老哥，能问一下，服务配置文件（tts_online_application.yaml）如何设置可以多并发处理吗？ 现在我并发请求一次10个，速度差不多是单个处理的时间总和。

[2022-07-29 15:07] Randall-zhang opened #2206 "睡得着觉"
@PaddleSpeech 合成：睡得着觉
目前：shui de zhe jue❌
标签：shui de zhao jiao✔

[2022-07-30 00:14] yt605155624 commented on #2196
https://github.com/PaddlePaddle/PaddleSpeech/issues/2206

[2022-07-30 07:21] hackerxiaobai commented on #2204
ok ,thx

[2022-07-30 07:21] #2204 closed, assigned to yt605155624

[2022-08-01 03:01] iftaken commented on #1620
you can try it in [aistuido](https://aistudio.baidu.com/aistudio/projectdetail/4396529?shared=1)

[2022-08-01 06:11] hackerxiaobai opened #2209 "音频降噪的本repo有计划支持吗？"
- 如标题

[2022-08-01 07:42] zh794390558 commented on #2209
目前了解的不多，有相关的好方法可以安利给我们。

[2022-08-01 08:49] SuperMaskv commented on #2150
下载[nltk_data](https://paddlespeech.bj.bcebos.com/Parakeet/tools/nltk_data.tar.gz) 并解压缩到的 `${HOME}` 目录下问题解决

[2022-08-01 09:20] yt605155624 commented on #2066
add TTSHttpHandler for offline tts

[2022-08-02 07:05] yt605155624 commented on #2071
这个问题可能是非流式 tts 没有加 handler, 这里需要加一下

[2022-08-02 07:30] BarryKCL commented on #2196
you can try g2pw.
睡得着觉？ G2pM: ['shui4', 'de2', 'zhe5', 'jue2', '？']
睡得着觉？ lazy_pinyin: ['shui4', 'de2', 'zhe', 'jue2', '？']
睡得着觉？ G2pW: [['shui4', 'de5', 'zhao2', 'jiao4', None]]

小数点 G2pM: ['xiao3', 'shu4', 'dian3']
小数点 lazy_pinyin: ['xiao3', 'shu3', 'dian3']
小数点 G2pW: [['xiao3', 'shu4', 'dian3']]

干嘛？ G2pM: ['gan1', 'ma5', '？']
干嘛？ lazy_pinyin: ['gan4', 'ma', '？']
干嘛？ G2pW: [['gan4', 'ma2', None

[2022-08-02 08:50] piekey1994 commented on #2176
请问直接改encoder_infer让它读一个pad后的batch和对应的ilens直接传给_forward做推理会有问题吗

[2022-08-02 09:49] hackerxiaobai commented on #2209
noisereduce 这个库效果还可以，可以缓解合成音频电音问题

[2022-08-02 09:49] #2209 closed, assigned to zh794390558

[2022-08-02 12:53] JaheimLee opened #2218 "wenetspeech streaming ASR failed"
When upgrade paddlespeech to the latest develop version, there are shape mismatch errors in logs. But the older version works well.
[code]

[2022-08-03 12:23] yt605155624 commented on #1908
可能需要你自己重新导出多个子模型来实现定制化调节 duration 和 pitch

[2022-08-03 12:24] zh794390558 commented on #2218
I think maybe the model input data is not good, please check whether it is. Some hints  as above.

[2022-08-04 02:56] JaheimLee commented on #2218
I don't think so. Because it did work before. Here is my audio. Because github can't upload .wav file, here I change .wav to .mp4

https://user-images.githubusercontent.com/18062264/182752760-9fffe885-3a66-4d02-b192-68e22c740017.mp4

[2022-08-04 03:32] jiweizhangxu opened #2223 "报错zipfile.BadZipFile: File is not a zip file"
看了之前的回答，重新安装了很多次环境都没有解决这个问题，请问为什么？
报错如下：
Traceback (most recent call last):
  File "/usr/local/zx/PaddleSpeech-develop/try_1.py", line 1, in <module>
    from paddlespeech.cli.tts.infer import TTSExecutor
  File "/usr/local/zx/PaddleSpeech-develop/paddlespeech/cli/tts/__init__.py", line 14, in <module>
    from .infer import TTSExecutor
  File "/usr/local/zx/PaddleSpeech-develop/paddlespeech/cli/t

[2022-08-04 03:34] jiweizhangxu opened #2224 "请问一下输入的wav文件必须是16000hz的吗？.mp4之类的文件不能输入吗？"
paddle有什么规范输入音频文件格式的程序吗？

[2022-08-04 04:44] dzcmingdi commented on #2223
我也有这个问题，我在AI Studio上安装了paddlespeech。
然后导入库的时候：
[code]

出现错误：
[code]
我的所有pip包：
[code]

[2022-08-04 04:47] yt605155624 commented on #2223
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/1925

[2022-08-04 04:48] #2223 closed, assigned to nobody

[2022-08-04 06:54] yt605155624 opened #2225 "💡 Load specified model files for TTS cli"
## use specified model files:
[code]
[code]
## use specified model files for ljspeech:
[code]
[code]

[2022-08-04 08:46] lsfoo opened #2226 "__init__() got an unexpected keyword argument 'negative_slope'"
设备是 jetson nx 8G 版本是jetson 4.6.1
运行 `paddlespeech asr --lang zh --input zh.wav ` 可以返回正确的结果
但运行  ` paddlespeech_server start --config_file conf/ws_conformer_wenetspeech_application.yaml` 出现如下错误 启动服务失败

`[2022-08-04 16:39:21,856] [    INFO] - start to init the engine
[2022-08-04 16:39:21,857] [    INFO] - asr : online engine.
[2022-08-04 16:39:38,210] [   ERROR] - Failed to start server.
2022-08-04

[2022-08-04 08:48] yt605155624 commented on #2226
please use paddlepaddle version >= 2.3.1 or develop version of paddlepaddle, https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2022-08-04 08:49] yt605155624 commented on #2196
we'are very looking forward you to add g2pW into PaddleSpeech TTS through this pr https://github.com/PaddlePaddle/PaddleSpeech/pull/2221

[2022-08-04 09:13] lsfoo commented on #2226
谢谢@yt605155624 换了2.3.1 问题解决了

[2022-08-04 09:13] #2226 closed, assigned to nobody

[2022-08-04 09:38] lsfoo opened #2227 "Set device failed, please check if device '0' is already used and the parameter 'device' in the yaml file"
jetson nx 8G
用gpu运行 ` paddlespeech_server start --config_file conf/ws_conformer_wenetspeech_application.yaml` 报错,

[code]

而用 `paddlespeech asr --lang zh --input zh.wav ` 正常加载gpu

`W0804 17:35:40.169039 22715 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.2, Driver API Version: 10.2, Runtime API Version: 10.2
W0804 17:35:40.176759 22715 gpu_resources.cc:91] device: 0, cuDNN

[2022-08-05 01:20] lsfoo commented on #2227
不好意思，我配置错了。抱歉

[2022-08-05 01:20] #2227 closed, assigned to zh794390558

[2022-08-05 07:35] yt605155624 commented on #2218
@JaheimLee hi, I pull the latest develop PaddleSpeech (commit id: 2f9bdf2306d15f32677dcbf87009c45750312373), wget your audio and rename it  to `test.wav`,
run the following cmd:
[code]
this is my client log

[code]
Maybe you can try again

python & paddle (I use an old develop version of paddle)
[code]

[2022-08-06 00:29] zoushanjun opened #2228 "paddlespeech stream server can't start up"
ubunt16.04 使用docker 安装 :
docker pull paddlecloud/paddlespeech:develop-cpu-bb7f2a

创建docker:
docker run --name pdspeech \
  -v /etc/localtime:/etc/localtime \
  -p 8205:8090 -it  \
  paddlecloud/paddlespeech:develop-cpu-bb7f2a  /bin/bash

进入docker后：
paddlespeech_server start --config_file ./demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application_faster.yaml

报错：
λ 09bd999a5b50 /home/Pa

[2022-08-06 09:39] yt605155624 commented on #2228
same as https://github.com/PaddlePaddle/PaddleSpeech/issues/2226

[2022-08-08 01:53] #2228 closed, assigned to yt605155624

[2022-08-08 03:13] dzcmingdi commented on #979
你好，如果我想训练一个输出德语的模型，只要准备一个德语音素集就可以了吗，可以用英语的数据集前处理代码来预处理德语数据集吗？

[2022-08-08 07:49] gubaoya123456 opened #2231 "ValueError: `paddle.load` can not parse the file:/Users/petergu/.paddlespeech/models/conformer_wenetspeech-zh-16k/asr1_conformer_wenetspeech_ckpt_0.1.1.model.tar/exp/conformer/checkpoints/wenetspeech.pdparams."
我执行程序 main.py 报错

**执行环境：**

**执行代码：**

[code]
**报错：**

/Users/petergu/workspace/python/paddle/venv/bin/python /Users/petergu/workspace/python/paddle/main.py
[2022-08-08 15:04:14,091] [    INFO] - checking the audio file format......
[2022-08-08 15:04:14,104] [    INFO] - The sample rate is 16000
[2022-08-08 15:04:14,104] [    INFO] - The audio file format is right
[2022-08-08 15:04:14,104] [    I

[2022-08-08 08:17] david-95 opened #2232 "when process english text with !" , get error"
English text: The girls stared at their father. Mrs. Bennet said only, "Nonsense, nonsense!"

remove !  then the error disappeared.

Error Log:

Traceback (most recent call last):
  File "readText_Paddle.py", line 1175, in <module>
    englishTxt2WavbyPaddle(mp3filepath,textforSpeak)
  File "readText_Paddle.py", line 147, in englishTxt2WavbyPaddle
    wav_file = tts_executor(	\
  File "/home/grow/

[2022-08-08 08:36] yt605155624 commented on #2232
大概知道问题所在，因为 !" 是 2 个连续的标点，中间其实被拆出来一个为空的句子，所以报错了, 应该在某个位置加个判空就行了, 欢迎开发者提交 pr 修改

[2022-08-08 08:54] yt605155624 commented on #2232
<img width="310" alt="image" src="https://user-images.githubusercontent.com/24568452/183379668-fd479fcc-0323-4138-b1e3-6b201bf75319.png">

[2022-08-08 09:53] Tian14267 opened #2233 "服务多并发出现多个并发的结果相互串了的情况"
算法：fastspeech2,  pwgan
服务部署：websocket
并发：2个并发
具体情况：并发1的文本，出来的语音确是并发2的结果；并发2的文本，出来的语音确是并发1的结果；即，两个结果搞串了。
情况追踪：
        通过追踪发现，模型的输入是正常，但是输出不正常。

![image](https://user-images.githubusercontent.com/27938135/183391346-7f89ca07-c9a4-42c3-8829-01ec7f21a4e2.png)
`phones_handle`的输入正常，`am_output_data`的结果却不对。请问这情况是什么原因啊，这么解决这个问题。

[2022-08-08 10:13] Lennon-cheng commented on #2064
@lym0302  中英文语音合成，代码大概什么时候发出呀。或者中英文语音合成代码，除了 mix_frontend 不同外，还有哪些部分不同呀，谢谢

[2022-08-08 10:48] yt605155624 commented on #2233
predictor 不是线程安全的，同一个只能在一个线程或进程使用。不同线程使用不同的 predictor 即可

[2022-08-08 12:17] yt605155624 commented on #1283
@GloryRoadWangzh 目前没有，可以参考标点预测来做，基于 paddlenlp，目前有开发者正在把 g2pw 加到我们的前端，是基于 bert 的，所以我们可能就不自己搞多音字预测了 https://github.com/PaddlePaddle/PaddleSpeech/pull/2230

[2022-08-10 03:55] jkluo opened #2236 "asr 长录音识别"
目前 paddlespeech asr 一次识别的音频长度是 50s，虽然可以通过  paddlespeech asr -d 批量识别提高识别效率。但整体效率还是较低，请问有没通用的解决方案，提高离线大文件音频的识别效率呢？
比如识别一段 10分钟 或者 30 分钟的音频。

[2022-08-10 03:57] jkluo opened #2237 "asr 长录音识别"
目前 paddlespeech asr 一次识别的音频长度是 50s，虽然可以通过  paddlespeech asr -d 批量识别提高识别效率。但整体效率还是较低，请问有没通用的解决方案，提高离线大文件音频的识别效率呢？
比如识别一段 10分钟 或者 30 分钟的音频。

[2022-08-10 04:21] #2232 closed, assigned to yt605155624

[2022-08-10 06:18] lym0302 commented on #2236
您好，请问这个issue 和 新的 2237 是一个问题吗？如果是的话我把这个关掉了哦？2237 的问题我已经assign 给相关同事了~

[2022-08-10 07:24] jkluo commented on #2236
是的，重复提交了，我关闭一下哈。感谢

[2022-08-10 07:24] #2236 closed, assigned to nobody

[2022-08-10 07:28] wangdabee opened #2239 "asr 对于ctc alignment.py 的一些疑问和问题"
自己做数据集，重新训练conformer，并实现音频和识别出的文本对齐功能。
    问题描述：asr中，实现音频和文本对齐功能的alignment.py  源码是对整个测试集（batch_size强制为1）进行识别对齐（集成到了Tester中），这一过程需要加载测试集的数据（即align dataloader）和vocab.txt ，vocab.txt （数据集中字符的集合）和dataload （测试集是manifest.test）需要测试数据的wav音频文件和label（标注的txt文本） ，有两个疑问：
1.是不是实现音频和识别出的文本对齐功能，需要标注好测试音频 然后按照data.sh 处理数据，生成manifest文件和vocab文件，之后利用alignment.py实现功能？
2.想要实现像测试单个音频的test_wave.py一样，实现单个音频的识别与对齐功能，除了1说的方法

[2022-08-10 08:21] wangdabee commented on #2224
可以使用ffmpeg 将原始音频 转换为 规范的音频格式，例如 wav 16khz 单声道等

[2022-08-10 10:26] Zz-ww opened #2240 "关于tts前端部分韵律预测的疑问"
想请教一下，这里文本的韵律预测是在哪个文件，哪个函数实现的？

[2022-08-10 10:35] yt605155624 commented on #2240
We don't have prosody predictor now

[2022-08-10 10:35] #2240 closed, assigned to yt605155624

[2022-08-10 12:04] lym0302 commented on #2233
这个问题还在定位解决中

[2022-08-10 12:10] zh794390558 commented on #2239
按照训练的流程使用即可， 流程是一样的。

一是参看代码流程抽出即可。而是参照训练流程，制作一条wav的manifest，按照1.问题的流程使用即可。

[2022-08-10 12:11] zh794390558 commented on #2231
确认下ckpt是否下载正确。可以删除后重新测试使用。

[2022-08-10 12:12] zh794390558 commented on #2237
需要加入vad，后接asr使用。

[2022-08-10 12:13] zh794390558 commented on #2224
必须是16k 1channel

[2022-08-11 01:15] jkluo commented on #2237
大佬，有没相关的资料 可以参考一下呢？

[2022-08-11 03:39] 70557dzqc opened #2241 "关于zh_en_tts/tts3任务的问题"
在zh_en_tts/tts3任务中，输入文字如果是15.58万元，它会念成一千五百五十八万元，自动去掉了.点号，有什么好的解决方法吗？谢谢。

[2022-08-11 05:53] yt605155624 commented on #2241
应该是中英文文本前端里面的 bug，如果是纯中文的输入可以用中文模型和前端，或者手动对 `15.58` 手动文本正则为 `十五点五八`，这个问题会排期修复，也欢迎开发者提交 pr 修复

[2022-08-11 07:56] lawo123 opened #2242 "Multi Band MelGAN为什么没有英文的预训练模型？"
Multi Band MelGAN为什么没有英文的预训练模型？

[2022-08-11 08:16] yt605155624 commented on #2242
Paddle TTS 主打中文场景，csmsc 上的预训练模型最全，可以参考 csmsc 上的 Multi Band MelGAN 的配置和 ljpspeech 上的 PWGAN 的配置，自己训练 ljspeech 上的 MB MelGAN

[2022-08-11 08:16] #2242 closed, assigned to yt605155624

[2022-08-11 08:33] jkluo commented on #412
@bigcash 你好，请问最后你有解决长语音的问题吗？请教一下大佬具体的解决方式。

[2022-08-11 10:16] zh794390558 commented on #2237
可以参考这个教程，么有长度限制： https://aistudio.baidu.com/aistudio/projectdetail/4400651?channelType=0&channel=0

[2022-08-12 02:29] bigcash commented on #412
就像上边说的，先把长语音用vad切分为多个语音段，然后分别asr后，结果合并起来

[2022-08-12 02:30] bigcash commented on #412
就像上边说的，先用vad将长语音切分为多个短语音段，然后把结果合并起来

[2022-08-12 06:50] Lennon-cheng opened #2245 "请教语音克隆，音质优化的方向"
使用 AIshell3 训练合成器，效果如下：
![snapshot_iter_193800](https://user-images.githubusercontent.com/33142144/184300909-9426c46f-2d49-4fb6-b610-3d7eb60f0a2c.jpg)

与第三方TTS效果对比：
![test](https://user-images.githubusercontent.com/33142144/184301028-9ceea9be-b98a-48f4-bb37-41cffec27a21.jpg)

自己训练的语音质量不高，有沙沙的声音、字之间的清晰度较差。

小白请教下各位大佬，想要提高语音质量，我该如何优化？

注：复制链接 wget 下，并将jpg 后缀需要改为 wav

谢谢！！！

[2022-08-12 08:49] THUzyt21 commented on #2186
已经修改为在全部识别完成后调用一次标点预测，减少了中间过程的冗余调用。

[2022-08-12 08:49] #2186 closed, assigned to zh794390558, SmileGoat

[2022-08-12 09:09] sixyang commented on #2245
这里给的语音克隆是调整的 acoustic model，但是我 loss 降的很低仍然效果不明显。一方面可以试着依照 voc1 里面训练一下 vocoder，另一方面照着 ge2e 里面训练一下 speaker_encoder 模型。
同时，Aishell3 里面数据女声居多，我发现男声低音模型根本学不到，所以做声音克隆男声效果比较差，这个需要自己弄数据训练一下。同时也期待官方的解法，希望推出 vits 版本的声音克隆~

[2022-08-12 09:18] sixyang commented on #1763
确实感觉 vc1 要比 vc0 效果好多了，不过感觉还是有一点电流音，而且语句中间没有停顿感，请问这个可以怎么优化？

[2022-08-12 09:22] sixyang commented on #1505
我也遇到这个问题，我这边是 csmsc 数据集的问题，使用 rar 解压下来直接变成一个文件夹，乱套了，可以尝试自己在电脑上解压，然后压缩到 zip 里面再传输到服务器上

[2022-08-12 11:10] yt605155624 commented on #2245
声纹提取可以尝试换成我们的 ecapa tdnn, 模型 这也是我们接下来会尝试的操作
沙沙声可能是声码器不好，可以换成 hifigan_aishell3 试试
vits 版本的声音克隆近期应该不会尝试，因为 vits 训练成本太高~

[2022-08-12 17:55] sixyang commented on #2245
感谢提供 vc1 的训练方式！我这边自己再训练的时候，发现 vc1 只是训练 acoustic model，在你们的基础上继续训练也没有取得更好的效果(听感上)，然后我尝试着线训练 voc1 的 parallel wavegan，然后再接到 vc1 上。但是发现 loss 不降反升，不知道是不是过拟合了……(我这边都是修改了部分源代码，把模型换成你们提供的 checkpoint，再继续训练)，实际听感测试也没有什么提升。
然后我就想可能跟 speaker encoder 有关，vc1 的训练是基于 aishell3，里面的音频都是高保真数据，我的推理数据是从网上随便下载的说书视频进行测试的，发现效果并不好，所以感觉应该是数据的问题。准备之后针对 speaker encoder 进行训练，并且加入一些外部数据。对此你们有什么看法吗？谢谢！

[2022-08-13 14:05] SchweitzerGAO opened #2246 "KeyError: 'generator_params'"
我使用csmsc中的cnndecoder.yaml 作为配置文件训练了一个模型（也就是 #2166 中的方法），在synthesize的过程中报如题错误，请问如何解决，以及如何替换训练好按这个方法训练的模型的基准音呢，谢谢！

[2022-08-14 08:41] sixyang opened #2247 "请问语音克隆生成的声音太平淡了，没有抑扬顿挫的感觉需要怎么调整？"
如题，这里采用的是 vc1 里面的方案，已经把电流音等噪音去的很好了，并且也用的高音质的 ref_audio(女声)，但是最终实现的声音效果有点平淡，就是感觉是一个调调，不像日常交流那样子。并且停顿也不自然，需要手动控制标点符号(加一些逗号等)。请问有什么优化方式吗？谢谢！

[2022-08-15 02:49] yt605155624 commented on #2246
`generator_params` 是声码器是 ckpt 文件的 key，声学模型的 key 应该是 `main_params`, 你再检查一下你的代码吧，可以用 `paddle.load()` 加载 ckpt 文件， 查看里面有哪些 key

[2022-08-15 02:56] lym0302 commented on #2247
vc1 的方案主要是更换音色信息。合成音频的抑扬顿挫依赖于训练集的音频。由于 aishell3数据集本身就比较平平淡淡，所以合成的音频也就比较平淡

[2022-08-15 06:13] lmk123568 opened #2248 "有个小疑问"
请问百度智能云语音识别服务用的是这个repo吗
如果是的话，背后算法用的是最新的pp系列吗

[2022-08-15 08:18] yt605155624 commented on #2248
不是

[2022-08-15 08:18] #2248 closed, assigned to yt605155624

[2022-08-15 13:46] SchweitzerGAO commented on #2246
好的谢谢

[2022-08-16 02:11] #2246 closed, assigned to yt605155624

[2022-08-16 02:36] yt605155624 commented on #2206
fixed by https://github.com/PaddlePaddle/PaddleSpeech/pull/2230

[2022-08-16 02:36] #2206 closed, assigned to yt605155624

[2022-08-16 02:51] dzcmingdi opened #2252 "speedyspeech训练LJSpeech"
请问我怎样才能让speedyspeech训练LJSpeech数据集呢？

[2022-08-16 03:20] yt605155624 commented on #2252
参照 csmsc 上的 speedyspeech、fastspeech2 和 ljspeech 上的 fastspeech2 自己构造一个 example

[2022-08-16 03:25] dzcmingdi commented on #2252
好的，感谢回复。

[2022-08-16 06:32] #2252 closed, assigned to yt605155624

[2022-08-16 08:30] iftaken opened #2256 "【bug】英文中句号未断句"
样例：欢迎使用飞桨 Paddle Speech 语音合成功能，你可以使用 Python 完成 T T S功能的体验，欢迎在 Git hub 中 Star 收藏，持续关注。Welcome to Paddle Speech . You can use Python to experience T T S . Welcome to Star in Git hub and continue to pay attention .

合成的音频中没有断句

[2022-08-16 11:28] zhijianli opened #2258 "想转换PaddleSpeech到ONNX格式，但是报错"
**问题描述**
目前想转换PaddleSpeech到ONNX格式，代码如下：
[code]

但是报错

**报错截图**
[code]

想请教一下是什么原因？

[2022-08-16 14:39] lucasjinreal opened #2259 "paddlespeech的 Conformer里面的MultiHeadAttention跟pytorch的行为是一致的吗？"
RT。

[2022-08-17 04:08] zhijianli opened #2260 "试图加载deepspeech2online_wenetspeech的onnx文件，但是报错"
试图加载deepspeech2online_wenetspeech的onnx文件，代码如下

[code]

但报错：
`onnxruntime.capi.onnxruntime_pybind11_state.Fail: [ONNXRuntimeError] : 1 : FAIL : Non-zero status code returned while running Split node. Name:'p2o.Split.0' Status Message: Input cannot be split evenly on selected axis. Input shape={1,1,1} Axis=0 NumOutputs=5`

看起来似乎是　text = np.random.randn(1, 1, 1).astype('float32')　这一行的形状没有设置对，想问一下，这个t

[2022-08-17 05:42] yt605155624 commented on #2196
踩一踩一踩 -> fixed

[2022-08-17 05:45] pengzhendong commented on #2196
TN：一共有1兆320万5000人 => 一共有一兆三百二十万五零零零人

[2022-08-17 07:56] sixyang commented on #2247
那如果想要抑扬顿挫的效果，需要对哪部分进行训练？或者是说大佬们有什么想法或者方案吗？谢谢！

[2022-08-17 10:40] Lennon-cheng commented on #2245
用真实语音文件，转成梅尔谱图，灌到vocoder模型中。发现声码器模型基本没问题，预估问题还是在合成器中吧。
[归档.zip](https://github.com/PaddlePaddle/PaddleSpeech/files/9358826/default.zip)

压缩包中包含了：
原声音文件；
真实音转成mels，直接灌到 vocoder 模型。分别测试了官方的pwg_aishell3；pwg_baker；自己训练的pwg_aishell3；
克隆后的语音；

还想了解下，
1. 语音合成后有后处理的方案，缓解字的清晰度、沙沙等问题吗？
2. 合成器训练，从数据上、调参上有什么经验吗？

我目前是用AIshell3 + 自己的声音，用官方example/aishell3/vc1 中的方式训练。
数据上，之后想尝试用三方的TTS接口生成语音训练。

另外想训练时吧 voice_cl

[2022-08-17 15:56] yt605155624 commented on #2247
换别的情感丰富的多说话人数据集试试（但我也不知道开源的中文多说话人还有什么），有个情感数据集 ESD 可以尝试（我没试过，只是知道有）

[2022-08-17 15:59] yt605155624 commented on #2245
训练时关掉 vc 就是 aishell3/tts3

[2022-08-18 03:43] hackerxiaobai opened #2264 "TTS 在 inference 的时候我想把save出来的音频音量调高，需要怎么处理啊？"
如题

[2022-08-18 05:28] yt605155624 commented on #2264
直接保存之前乘个系数就行，或者对已有音频 load 后乘系数再保存

[2022-08-18 06:40] sixyang commented on #2247
好的，谢谢解答

[2022-08-18 06:40] #2247 closed, assigned to lym0302

[2022-08-18 10:34] iftaken opened #2266 "aishell asr0示例无法运行"
反馈：https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell/asr0#stage-6-single-audio-file-inference

![image](https://user-images.githubusercontent.com/30135920/185374879-6a53c518-7502-4cb1-9e0a-4718832f3154.png)

问题：
test_wav.sh 是要接收四个参数 脚本运行的时候会检测传了几个参 这个里面只写了三个参数，直接运行这个截图里面的代码 好像没法运行成功

[2022-08-19 03:16] #2241 closed, assigned to lym0302

[2022-08-19 03:16] #2256 closed, assigned to lym0302

[2022-08-19 06:38] yt605155624 opened #2271 "🔥 r1.1.0 release note"
# S2T

# TTS
  - Fix random speaker embedding bug in voice clone. https://github.com/PaddlePaddle/PaddleSpeech/pull/1828 by @jerryuhoo
  - Add VITS model. https://github.com/PaddlePaddle/PaddleSpeech/pull/1855 https://github.com/PaddlePaddle/PaddleSpeech/pull/1957 https://github.com/PaddlePaddle/PaddleSpeech/pull/2040
  - Add kunlun support for speedyspeech. https://github.com/PaddlePaddle/PaddleS

[2022-08-19 10:22] hackerxiaobai opened #2276 "中英文混合 TTS 现在还是在内侧阶段？"
我看到你们已经更新了中英文混合TTS，但是好像还是不能用啊？
paddlespeech tts --am fastspeech2_mix --voc pwgan_ljspeech --lang mix  --input "我们的声学模型使用了 Fast Speech Two, 声码器使用了 Parallel Wave GAN and Hifi GAN." --spk_id 1  --output mix_spk1.wav

[2022-08-19 10:57] yt605155624 commented on #2276
今日会发布 paddlespeech 1.1.0, 发布后可用，现在可以安装 develop 版本的 paddlespeech
并且此命令已经更新，请参考 https://github.com/PaddlePaddle/PaddleSpeech/pull/2249 选择指定的 voc 和 spk_id

[2022-08-19 12:29] yt605155624 commented on #2276
欢迎到 https://pypi.org/ 安装最新的 paddlespeech 1.1.x 体验中英文混合 TTS 功能

[2022-08-19 12:29] #2276 closed, assigned to nobody

[2022-08-19 14:23] J-ZZ commented on #2131
请问 paddlespeech中asr部分如何训练自己的数据呢?有关训练部分的代码是s2t 部分吗?

[2022-08-21 03:30] J-ZZ opened #2278 "paddlespeech如何训练自己的数据,选择使用不同框架的预训练模型测试效果"
paddlespeech/exampeles/下有不同数据集所对应的不同处理方式以及不同的任务
1.请问如果想实现语音识别应该选择哪个数据集下的预训练模型,如果想更换预训练模型应该如何操作
2.是否有考虑在examples下设立一个专门为了训练自己数据的一个执行流程

[2022-08-21 03:30] #2278 closed, assigned to nobody

[2022-08-21 13:18] clstech opened #2279 "Text-to-Speech 提示 cannot load library libsndfile.dylib"
** Environment (please complete the following information):**
 - OS: Mac M1
 - Python Version 3.8
 - PaddlePaddle Version 2.3.1

克隆之后，安装失败，修改onnxruntime==1.12.1 和 conda install libsndfile 后安装成功，在使用Text-to-Speech报如下错误

`paddlespeech tts --input "你好，欢迎使用百度飞桨深度学习框架！" --output output.wav
`

[code]

[2022-08-21 15:41] yt605155624 commented on #2279
相关问题可以自行百度或谷歌搜索解决，paddlespeech 不保证在 mac m1 上安转成功

[2022-08-21 15:41] #2279 closed, assigned to nobody

[2022-08-22 03:15] #2264 closed, assigned to yt605155624

[2022-08-22 04:18] hackerxiaobai opened #2280 "我自己训练的TTS模型，但是语料里是没有英文的，现在在inference阶段想中英文混合的生成，是不是不行啊？"
如题

[2022-08-22 04:23] yt605155624 commented on #2280
是的，参考 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/zh_en_tts/tts3 重新训练

[2022-08-22 05:48] zh794390558 commented on #2258
这个转onnx吗？可以先参考https://github.com/PaddlePaddle/PaddleSpeech/pull/2212/files 这个，我们做动转静用的。转onnx应该转静态图，然后paddle2onnx吧？

[2022-08-22 05:49] zh794390558 commented on #2259
和espnet/wenet的是一致的。

[2022-08-22 05:51] zh794390558 commented on #2260
可以run通下这个example， https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/speechx/examples/ds2_ol/onnx/README.md。
这个是对应的shape    https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/speechx/examples/ds2_ol/onnx/run.sh#L76

[2022-08-22 05:54] zh794390558 commented on #2266
CUDA_VISIBLE_DEVICES= ./local/test_wav.sh conf/deepspeech2.yaml conf/tuning/decode.yaml exp/deepspeech2/checkpoints/avg_1 data/demo_01_03.wav

merged

[2022-08-22 06:15] hackerxiaobai commented on #2280
不只是简单的按照zh_en_tts/tts3 介绍重新跑一遍代码就好了吧？是不是我的数据里也需要加入一些英文的语料啊？

[2022-08-22 06:20] yt605155624 commented on #2280
zh_en_tts/tts3 有英文语料了，是 4 个数据集，如果你需要用到自己的数据集，把自己的数据作为一个新的数据集加上去就行，你自己的数据是单语的也没关系

[2022-08-22 06:22] hackerxiaobai commented on #2280
明白，非常感谢你的回复，回复贼快。👍

[2022-08-22 06:44] J-ZZ opened #2281 "想在paddlespeech 中的asr的预训练模型的基础上训练自己的数据请问改如何做呢"
想在aishell 的asr1中训练在预训练模型的基础上在训练自己的数据请问该怎么做呢

[2022-08-22 07:41] sixyang opened #2282 "请问后面会支持多 speaker 的 vits 模型吗？"
如题

[2022-08-22 07:45] yt605155624 commented on #2282
开发者贡献了代码你可以先看下，暂时还没有时间 review，你可以先用起来，有问题直接反馈 https://github.com/PaddlePaddle/PaddleSpeech/pull/2268

[2022-08-22 07:50] sixyang commented on #2282
刚好看到，非常感谢各位，辛苦

[2022-08-22 07:50] #2282 closed, assigned to yt605155624

[2022-08-22 08:02] lesliexufdu opened #2285 "这部分代码有问题，导致不能支持自定义模型文件"
https://github.com/PaddlePaddle/PaddleSpeech/blob/99977b2f7e13c2c5002e0be365ebbfd72cb688ab/paddlespeech/server/engine/asr/python/asr_engine.py#L70

原因是asr_engine类的自定义参数有一个num_decoding_left_chunks，这里却没有，因此如果是自定义的模型文件就会导致参数错位的错误。

[2022-08-22 10:23] sixyang opened #2286 "ernie-sat 运行报错"
运行 run_gen_en_new.sh 出现如下问题：
[code]

运行 run_gen_en.sh 显示缺失这个文件：
[code]

请问如何解决，谢谢！

[2022-08-22 10:28] sixyang commented on #2286
同时追问一下~ 那个 aishell3 的 ernie-sat 的 README 什么都没有，请问会更新吗？

[2022-08-22 10:29] yt605155624 commented on #2286
1. 不要跑 *_new.sh , 跑不带 new 的，带 new 的要 link aishell3(vctk)(aishell3_vctk)/ernie_sat/conf/default.yaml 过来
2. 请按照 readme, 编译 htk 到指定位置
3. ernie-sat 目前还在开发中，相关 README 后续会补齐

[2022-08-22 12:35] sixyang commented on #2286
好的，感谢！

[2022-08-22 12:35] #2286 closed, assigned to yt605155624

[2022-08-22 12:36] zh794390558 commented on #2281
参考 https://github.com/PaddlePaddle/PaddleSpeech/discussions/1972

[2022-08-22 12:38] zh794390558 commented on #2285
请问预期是什么样的？

还有一个简单的方法，继承这个class后重写下 init 的方法。
https://github.com/PaddlePaddle/PaddleSpeech/blob/99977b2f7e13c2c5002e0be365ebbfd72cb688ab/paddlespeech/server/engine/asr/python/asr_engine.py#L43

方便的话可以提个PR。

[2022-08-23 06:59] gyb4git opened #2290 "run PaddleSpeech VectorExecutor on xpu device fail"
-Description：
Environment：
ARM, Kunlun R200
OS: Linux localhost.localdomain 4.19.152-801.s2500.el8_1.aarch64 #1 SMP Fri Jun 24 11:57:19 CST 2022 aarch64 aarch64 aarch64 GNU/Linux

python:3.7.4
paddle:  compile and build on source  with xpu

-Test code
import paddle
from paddlespeech.cli.vector import VectorExecutor
from scipy.spatial.distance import cosine

vector_executor = VectorExecutor()
audio

[2022-08-23 07:32] lesliexufdu commented on #2285
预期就是server部署的时候自己定义模型文件和配置文件的位置
我是自己改了文件，你们可以在下一版的时候在配置文件里加上num_decoding_left_chunks这个选项，然后类定义更改一下

[2022-08-23 08:05] lesliexufdu commented on #2258
我也有这个问题。请问你这个用的什么Paddle版本啊，我照你的文件改了后，提示装饰器错误
![image](https://user-images.githubusercontent.com/96860383/186105670-75b4a9d5-ef2a-4dba-aa7e-35a72872e730.png)

[2022-08-23 09:44] #2280 closed, assigned to yt605155624

[2022-08-23 12:35] yt605155624 opened #2292 "[TTS]g2pW 模块提升可读性"
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/paddlespeech/t2s/frontend/g2pw

1. 增加代码注释
2. 增加 typehint

欢迎开发者提交 pr ~

[2022-08-23 14:39] sixyang opened #2294 "zh_en_tts 推理出错"
报错如下所示：
[code]
定位到问题如下所示：
[code]
这里应该是没有更新 lang 的 mix 选项~

[2022-08-23 14:48] sixyang commented on #2294
把 zh 的处理方式写成 else，然后又遇到这个问题，
[code]

[2022-08-24 01:52] yt605155624 commented on #2294
请把你的输入文本列出来一下吧, 是不是分句有**纯数字**的情况，比如 `你好，12234，hello world`
此处的 lang 无需有 mix 选项，是把输入分类成中文或者英文分别过对应的前端，我们自己的文本是没有问题的 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/t2s/exps/sentences_mix.txt, 可能是你的输入撞了什么特殊的 case，可以自己打印一下中间结果看看 `input_ids` 为什么没有值，欢迎提交 pr 修复

[2022-08-24 06:07] sixyang commented on #2294
今天看了一下文本，发现 sentence.txt 里面是乱码，emmm，应该是系统编码的问题。抱歉

[2022-08-24 06:42] yt605155624 commented on #2294
不过也算是帮我们发现了一个问题，目前对于分句是纯数字的确实表现不好，我们会修复一下

[2022-08-24 06:46] #2294 closed, assigned to lym0302

[2022-08-24 06:49] sixyang commented on #2294
为什么在 sentence_mix.txt 第一列在代码里要取名为 utt_id，我以为是 speaker_id，但是发现修改了这个值并没有什么用。还是在一开始 config 里面修改 speaker_id 才有用~只是好奇

[2022-08-24 09:16] yt605155624 opened #2296 "[TTS]Use ECAPA TDNN to generate spk emb for Voice Cloning"

[2022-08-24 09:19] yt605155624 commented on #2064
@Lennon-cheng 你好，paddlespeech 1.1 已经支持中英文混合了，欢迎试用！参考：

训练代码：
- https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/zh_en_tts/tts3

CLI：
- https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/text_to_speech
   <img width="1034" alt="a692855833060d6a379a4cc52add5816" src="https://user-images.githubusercontent.com/24568452/186381118-447880c0-10ec-4567-937e-673f2ac39857.png">

[2022-08-25 02:35] zh794390558 commented on #2285
能提个PR不，看下你修改的内容。

[2022-08-25 02:36] zh794390558 commented on #2290
xpu支持问题在paddle里反馈吧。这边看不了这种问题。

[2022-08-25 02:37] zh794390558 commented on #2258
用的是develop的版本。

[2022-08-25 05:56] ianZzzzzz commented on #1934
我在运行demo时遇到了同样的问题，export FLAGS_use_cuda_managed_memory=false无用。paddlespeech asr --lang zh --input zh.wav ，Out of memory error on GPU 0. Cannot allocate 655.142555PB memory on GPU 0, 1.729004GB memory has been allocated and available memory is only 21.970520GB

[2022-08-25 11:42] yt605155624 commented on #2294
第一列设置为 utt_id 方便保存音频

[2022-08-26 02:23] zhaoyiyong opened #2307 "声纹识别安全性问题，能别录音欺骗"
1、我生成了三个录音：tellong.wav作为原始录制的模版声音；teloriginal.wav是测试由真人说话生成的录音；recording.wav是播放真人录音形成的录音（模拟使用录音冒充他人声音）；
2、我使用命令“paddlespeech vector --task score --input 'recording.wav tellong.wav'”，计算冒充人和模版声音的相似度，得到：0.5637418627738953；
3、我使用命令“paddlespeech vector --task score --input 'teloriginal.wav tellong.wav'“，计算真人说话和模版声音的相似度，得到：
0.5126219987869263
4、使用录音的相似度反而更高。这样对于系统就无法识别伪装者了。
请教这个过程有什么问题吗？

[2022-08-26 02:46] yt605155624 commented on #2196
现在对于数字，判断其后是否有指定的单位来确定其是数字还是编号，所以把 “人” 加到这里应该可以解决问题，欢迎开发者提交
 pr 修复~
https://github.com/PaddlePaddle/PaddleSpeech/blob/7cc1d66863a48b50c2430059c8b84060d84b11a3/paddlespeech/t2s/frontend/zh_normalization/num.py#L31

[2022-08-26 03:41] yt605155624 commented on #2196
fixed by https://github.com/PaddlePaddle/PaddleSpeech/pull/2308

[2022-08-26 04:59] yt605155624 commented on #2286
ERNIE-SAT 示例已完成，欢迎试用:

纯中文：https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3/ernie_sat
纯英文：https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/vctk/ernie_sat
中英文混合：https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3_vctk/ernie_sat

[2022-08-26 05:41] wangdabee opened #2310 "docker 安装 paddlespeech时，测试单卡没问题，多卡测试时报 Bus error (core dumped)"
按照提供的dockerfile安装后， paddle.utils.run_check() 测试显卡时，出现以下报错：

`Python 3.7.13 (default, Aug 25 2022, 17:42:24)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

Running verify PaddlePaddle program ...
W0826 13:33:08.306574  4132 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 1

[2022-08-26 06:10] yt605155624 commented on #2310
请问具体用的是哪个 docker ，是 paddlecloud 的还是 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/docker 里面的

[2022-08-26 06:11] wangdabee commented on #2310
后者 ubuntu16-gpu

[2022-08-26 06:16] yt605155624 commented on #2310
ubuntu16-gpu 是我们开发者 @buchongyu2 提供的，建议你使用 paddleclould 官方提供的 docker https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install.md 里面可以找到

[2022-08-26 06:18] yt605155624 commented on #2310
麻烦 @buchongyu2 有空可以关注一下这个 issue

[2022-08-26 07:06] ChuxiJ commented on #2123
遇到类似的问题：

(base)  gongjunmin ~ $ pip install paddlespeech
b.h:332:37: warning: pointer is missing a nullability type specifier (_Nonnull, _Nullable, or _Null_unspecified) [-Wnullability-completeness]
                  int (* _Nonnull __compar)(void *, const void *, const void *))
                                                 ^
      /Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/usr/i

[2022-08-26 07:31] SmileGoat commented on #2307
这个过程没有问题，单条语音测试0.05的差异是属于正常范围。具体整体性能，可以建一个更大的测试集来测试。转录伪装这是一个问题，语音防攻击就是解决这类问题的，目前这套声纹系统没有特意处理这类转录问题。

[2022-08-26 07:53] wangdabee commented on #2310
我换了paddleclould提供的docker镜像，在 linux x86_64架构上依旧报如上错误。
paddleclould上的都是amd64架构，是跟这个有关系吗

[2022-08-26 08:02] yt605155624 commented on #2310
可以到 https://github.com/PaddlePaddle/PaddleCloud 反馈你的问题，或许需要安装和你的处理器架构一致的 paddle 版本，可以按照 paddle 官方文档查看计算机环境 https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/linux-pip.html#ruhechakannindehuanjing

也可以 baidu / google 搜索相关报错, 尝试解决
[code]

[2022-08-26 12:11] JaheimLee commented on #2237
@zh794390558 我在使用streaming_asr_server时，从长音频识别的文本到达一定长度后，client receive msg会被清空，重新以当前时间点开始返回后续文本，之前的就不见了，这个在哪可以设置啊

[2022-08-27 14:12] sixyang opened #2319 "向 aishell3 里添加自己的音频数据进行训练"
如题，tts 中，我想给 aishell3 数据里额外添加一些数据来进行训练(采样率相同)，对于 am 和 voc，请问我除了需要 '文本内容' 和 '音频数据' 外，还需要其他东西吗？我看到其他 issue 里面说，直接给 aishell3 的数据里面加一个 speaker_id 即可，那除此之外的步骤能大概描述一下吗？非常感谢！

[2022-08-27 14:31] sixyang commented on #2319
发现已经有了文档，
[AM finetune文档](https://github.com/PaddlePaddle/PaddleSpeech/blob/7cc1d66863a48b50c2430059c8b84060d84b11a3/examples/other/tts_finetune/tts3/README.md)
[VOC finetune 文档](https://github.com/PaddlePaddle/PaddleSpeech/blob/8f507ba4ba57c4237c34e8a80060a5907e8a96cb/examples/csmsc/voc5/finetune.sh)，
[文档](https://github.com/PaddlePaddle/PaddleSpeech/discussions/1842)
非常感谢！

[2022-08-28 03:56] zhaoyiyong commented on #2307
这种差异对于安全性是非常重要的，会造成转录伪装成功骗过系统。
“这套声纹系统没有特意处理这类转录问题”是指这种情况是正常的吗？
那如何能够加强对这种语音攻击的防范呢？在本系统中需要做哪些修改能够满足要求呢？

[2022-08-28 07:50] RyougiShiki-214 opened #2320 "请问原版vits的数据集&filelist如何转到paddlespeech训练？"
原版vits的train_filelist.txt.cleaned似乎在这里无法使用，paddle文档提到要用MFA提取音素，但非中英文语种数据集很难做MFA处理，是否可以直接用适用于原版vits的train_filelist.txt.cleaned搭配数据集训练？

即：
音频文件|speakerID|国际音标

`
DUMMY2/p364/p364_240.wav|88|ɪt hɐd hˈæpənd tə hˌɪm.

DUMMY2/p280/p280_148.wav|52|ɪt ɪz ˈoʊpən sˈiːzən ɑːnðɪ ˈoʊld fˈɜːm.

DUMMY2/p231/p231_320.wav|50|haʊˈɛvɚ, hiː ɪz ɐ kˈoʊtʃ, ænd hiː ɹɪmˈeɪnz ɐ kˈoʊtʃ æt hˈɑːɹt.

DUMMY2/p282/p282_129.wav|

[2022-08-28 08:24] sixyang commented on #2319
遇到一个问题，是 mfa_align 的，报错如下所示：
[code]
定位到问题是计算 MFCC 时出问题，从网上搜索得到解法（参考 [149](https://github.com/MontrealCorpusTools/Montreal-Forced-Aligner/issues/149) 和 [91](https://github.com/MontrealCorpusTools/Montreal-Forced-Aligner/issues/91)）。
- `rm tts3/tools/montreal-forced-aligner/lib/thirdparty/bin/libopenblas.so.0`
- `sudo apt install libopenblas-dev`

即不要使用原来自带的 libopenblas.so.0，安装最新的包。

[2022-08-28 11:00] yt605155624 commented on #2320
没有研究过 VITS 原版，VITS 本身不需要 duration 信息，用 MFA 只是为了和其他模型的处理保持一致，训练时只用到音素，所以可以直接输入音素，国际音标是音素的一种，可以把上述数据集处理成我们的格式后（metadata.jsonl）训练

[2022-08-28 11:03] yt605155624 commented on #2319
此处 voc finetune 并不是指用自己的数据集 finetune，而是 hifigan 论文中提到的用 am 生成的 mel finetune

[2022-08-28 11:48] sixyang commented on #2319
那加入自己的数据进行 finetune 就直接用 AM 的那个文档就够了是吗？

[2022-08-28 11:50] sixyang commented on #2319
我加入自己数据进行的时候报了这个错误，请问是什么问题啊？
[code]

我的数据是自己用麦克风录制的，然后用 ffmpeg 从 m4a 转换成了 wav，frame_rate 和 aishell3 一样是 44.1khz。
受限于只能传输 25MB 文件，这里提供百度网盘的链接(https://pan.baidu.com/s/1fW_zLvWFu4u61QK_j5dxfA 提取码: 64gu)

跑这个的时候先用你们的 cscms_mini 数据跑了一下流程，是通的，但再跑自己的数据就不行了。我删除了 cscms 的几条数据再跑，还是正常运行，就推测不是缓存的问题。
感谢！

[2022-08-28 17:02] RyougiShiki-214 commented on #2320
感谢回复，请问哪里可以找到paddlespeech-vits能读取的metadata.json格式的规范，或者样例metadata.json文件，以便进行数据集处理？谢谢

[2022-08-29 01:56] lym0302 commented on #2319
尝试一下把batch_size 改小点，改成4，因为你的数据只有10几条。默认的是batch_size 是64。

[2022-08-29 02:07] yt605155624 commented on #2320
你按照 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/csmsc/vits 跑一遍数据预处理就清楚了，具体 vits 需要的 key 在 https://github.com/PaddlePaddle/PaddleSpeech/blob/2c4c254f718c2b7a4d68fae98a0e5fc3861313b4/paddlespeech/t2s/datasets/am_batch_fn.py#L446

[2022-08-29 08:05] sixyang commented on #2319
可行的！非常感谢！

[2022-08-29 09:18] wangdabee commented on #2310
找到问题了 是因为/dev/shm 默认的是64M，内存太小
解决方法为 在nvidia-docker run 的时候指定 --shm-size 4G 即可。
谢谢各位。

[2022-08-29 09:53] JaheimLee opened #2322 "streaming asr GPU利用率不到4%"
本地用流式识别方式跑个长时间的音频文件，GPU利用率一直很低，怎么可以提升利用率啊？

[2022-08-29 12:11] JaheimLee commented on #2322
https://github.com/PaddlePaddle/PaddleSpeech/blob/ed16f96a9cb027d250bdcf1d3d33ff7151e2d301/paddlespeech/server/utils/audio_handler.py#L113
是不是这里的影响啊。我本地的文件x_len有200多万，chunk会有2000个，应该效率低下的原因吧。这个85是怎么定的？改它的话conf文件里需不需要也改动些东西？

[2022-08-30 01:31] SmileGoat commented on #2307
在高安全新能的系统中，最好在声纹识别系统后，级联一个语音防攻击系统。

[2022-08-30 02:21] zhaoyiyong commented on #2307
语音防攻击系统，这个不太明白了。

[2022-08-30 02:21] yt605155624 opened #2325 "💡 paddlespeech 提交代码须知"
### Discussed in https://github.com/PaddlePaddle/PaddleSpeech/discussions/1326

<div type='discussions-op-text'>

<sup>Originally posted by **yt605155624** January 12, 2022</sup>
1. 写完代码之后可以用我们的 pre-commit 检查一下代码格式，注意只改自己修改的代码的格式即可，其他的代码有可能也被改了格式，不要 add 就好
[code]
2. 提交 commit 中增加必要信息跳过不必要的 CI
- 提交 asr 相关代码
[code]
- 提交 tts 相关代码
[code]
- 仅修改文档
[code]
注意：
1. 虽然跳过了 CI，但是还要先排队排到才能跳过，所以非自己方向看到 pending 不

[2022-08-30 02:36] zh794390558 commented on #2322
asr是GPU和CPU同时跑做推理，会有切换。暂时没有太好的办法，如果有想法可以多交流。

[2022-08-30 03:19] idreamerhx opened #2326 "下载的模型放到哪个路径 Where should I put models in path?"
## General Question

服务器不能下载，手工下载了
https://paddlespeech.bj.bcebos.com/s2t/wenetspeech/asr1_conformer_wenetspeech_ckpt_0.1.1.model.tar.gz

运行命令仍然会自动下载

已经查了文档，尝试了下面类似的命令：
paddlespeech asr --model conformer_wenetspeech --ckpt_path /opt/paddlespeech-models/asr1_conformer_wenetspeech_ckpt_0.1.1.model --lang zh --input zh.wav

自己下载的模型应该放到哪个路径？或者命令行可以指定路径吗？

谢谢，简单问题麻烦加到文档里。

[2022-08-30 03:34] idreamerhx commented on #2326
同时尝试了模型解压到~/.paddlespeech/models/conformer_wenetspeech-zh-16k/1.0
也没解决

[2022-08-30 03:40] yt605155624 commented on #2326
可能需要把压缩包和解压缩之后的文件同时放到 `${HOME}/.paddlespeech/models/conformer_wenetspeech-zh-16k/1.0/`

[code]
现在的程序是检查指定路径是否存在指定 md5 值的压缩包，再决定是否要下载

[2022-08-30 04:15] idreamerhx commented on #2326
确实是这样，开始要把压缩包放在哪个路径。

ls ~/.paddlespeech/models/conformer_wenetspeech-zh-16k/1.0/asr1_conformer_wenetspeech_ckpt_0.1.1.model.tar/
conf/       data/       exp/        model.yaml

谢谢

[2022-08-30 04:15] #2326 closed, assigned to zh794390558

[2022-08-30 04:16] idreamerhx commented on #2326
谢谢

[2022-08-30 05:53] idreamerhx commented on #2326
路径是在这里面定义的
https://github.com/PaddlePaddle/PaddleSpeech/blob/d1c70a780985e226c00a1d4c6e22626c4f668444/paddlespeech/resource/pretrained_models.py

[2022-08-30 06:53] idreamerhx commented on #2326
-> if os.path.isfile(filepath) and download._md5check(filepath,
(Pdb) p filepath
'/root/.paddlespeech/models/G2PWModel_1.1.zip'

[2022-08-30 08:54] sixyang commented on #2319
请问，我明明设置的 stop_stage 比较高，但是根本就不跑训练流程，这是为什么啊？
stop_stage 调为多少都没用，加载的模型是自己训练过一点的 snapshot_iter_96800.pdz，原来你们提供的是 snapshot_iter_96400.pdz
[code]

[2022-08-30 08:59] sixyang commented on #2319
找到问题了，参数 epoch 默认设置的 100，这里调高一下就可以了。但还是很好奇，按道理这应该是接着前面的预训练模型接着训练，即 stage 和 stop_stage 应该可以影响训练进程，但这里还需要额外加上 epoch。

[2022-08-30 10:32] zhaoyiyong opened #2328 "声纹识别和所说的话内容应该不相关吧，但是测试却发现不是这样的"
首先我录制了三段语音做为模版文件：
zhao1.wav:说的是一句简短的中文；
zhao2.wav:说的是0-9的数字；
zhao3.wav：说的是另一句不同的中文；
然后我按照模版文件内容再生成三个录音：
file1.wav和zhao1.wav,file2.wav和zhao2.wav,file3.wav和zhao3.wav的内容分别相同。
然后两两做score，得出的结果是：
zhao1.wav(file1.wav):0.7422892451286316;zhao1.wav(filé.wav):0.6398638486862183;zhao1(file3.wav):0.6861986517906189
zhao2.wav(file1.wav):0.43911170959472656;zhao2.wav(filé.wav):0.7633090019226074;zhao2(file3.wa

[2022-08-30 11:14] SmileGoat commented on #2328
建议使用大一点的测试集来测试相关的性能；embedding的方式来做声纹识别，embedding中会含有部分的文本信息。

[2022-08-30 11:18] yt605155624 opened #2329 "[TTS][Server] application.yaml 指定 spk_id 无效"
https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/demos/speech_server/conf/application.yaml
修改里面的 spk_id 是无效的，需要在 client 端访问时指定 spk_id

感兴趣的开发者可以提交 pr 删除 application.yaml 里的 spk_id，注意需要验证

[2022-08-30 11:24] yt605155624 opened #2330 "[TTS][Server] 支持中英文混合语音合成"
1. engine_warmup.py 添加了 tts_engine.lang == 'mix'的分支，避免paddlespeech_server 启动失败。
2. application.yaml中tts_python中am和lang改为 #2249 需要的模型参数
3. client 端调用时传入 spk_id （推荐 174）

感兴趣的开发者可以加一下 1 提个 pr

[2022-08-30 12:36] #2224 closed, assigned to zh794390558

[2022-08-30 12:45] yt605155624 commented on #2319
原因是你 snapshot_iter_96800.pdz 里面的 epoch 数已经达到要求了（大于 default.yaml 里面的 epoch + args.epoch）
，程序认为训练完成了
https://github.com/PaddlePaddle/PaddleSpeech/blob/e147b96cf08df04f079105377d2348933dec5f0b/examples/other/tts_finetune/tts3/finetune.py#L150

可以 paddle.load() snapshot_iter_96800.pdz 和 snapshot_iter_96400.pdz 看看 'ckpt' 的值

[2022-08-30 12:47] #2310 closed, assigned to yt605155624

[2022-08-30 12:47] #2266 closed, assigned to zh794390558

[2022-08-30 12:48] #2259 closed, assigned to zh794390558

[2022-08-30 12:48] #2281 closed, assigned to zh794390558

[2022-08-30 12:49] #2290 closed, assigned to zh794390558

[2022-08-30 12:50] #2231 closed, assigned to zh794390558

[2022-08-30 12:50] #2218 closed, assigned to zh794390558

[2022-08-30 12:50] #2198 closed, assigned to yt605155624

[2022-08-30 12:51] #2188 closed, assigned to yt605155624

[2022-08-31 02:13] zhaoyiyong commented on #2328
以上是我做了大量测试得出的规律。上面的信息就是抽取的特例。
“embedding的方式来做声纹识别，embedding中会含有部分的文本信息。”，是否可以这样理解，我们现在提供的声纹识别模型是和所说的内容相关的，不能是纯粹的声纹识别。
这些对我们做应用设计非常重要的。

[2022-08-31 03:22] zhaoyiyong opened #2333 "声纹识别的准确率问题，我们应用过程中只有71%，这是正常水平吗？"
说明：
1、我们分别采样了7个人的声音，每个人采样三段声音。将这些声音做为基础声音模版库；
2、第一句:说的是一句简短的中文；第二句:说的是0-9的数字；第三句：说的是另一句不同的中文；
3、然后将这21个声音分别从中找到最相似的声纹；
4、实际验证结果是非常不理想，请帮忙指出我们流程哪里出错了，以及如何进行改进。我们是真的希望能够将其应用到实际业务场景中。
5、总共21次比对，准确找到的：15；找错人的：6；准确率只有71%。

明细结果：每个语音声纹最相似的语音，以及score。（score 的计算方法：paddlespeech vector --task score --input ' ')
zhao1.wav
----------------
   1 zhao3.wav  0.7540673613548279
zhao2.wav
----------------
   1 zha

[2022-08-31 03:24] zhaoyiyong commented on #2333
问了大家方便分析。我上传一个文件。
[result.txt](https://github.com/PaddlePaddle/PaddleSpeech/files/9458122/result.txt)

[2022-08-31 03:57] zh794390558 commented on #2333
模型实际应用需要适配，不是直接拿来用就可以的。效果需要调优的。

[2022-08-31 08:32] zhaoyiyong commented on #2333
能指导如何进行调优吗？我们实际应用也没有特别的要求，只是希望提高声纹的准确率。能够做到“听声识人”

[2022-08-31 08:33] sixyang commented on #1282
请问这个功能现在有上线吗？aishell 数据集有使用案例吗？

[2022-08-31 08:43] sixyang commented on #2154
请问从听感上来说，ErnieSAT 相对于 fastspeech2+pwgan 有什么区别吗？效果会更好一些？

[2022-08-31 08:58] sixyang commented on #2330
请问多数据集训练出来的模型效果会更好一些吗？(fastspeech2+pwgan)，我尝试了一下，发现英文部分切换很生硬。

[2022-08-31 09:06] yaleimeng commented on #2237
@JaheimLee  修改paddlespeech安装路径的源码。具体是 site-packages/paddlespeech/server/ws/asr_api.py
我在try块外面添加了一个变量half 保存中间结果。
当 "text" in message ，  signal == end时，resp 字典里面 'result': half + asr_results,    # 将中间结果添加进来。
当 "bytes" in message，在 if connection_handler.continuous_decoding: 条件下，添加一行  half += asr_results   # 对中间结果进行保存
最后就能返回完整结果了。

[2022-08-31 09:14] yt605155624 commented on #2330
我们目前测试 4 个数据集训练出来的比 ljspeech + csmsc + 1000 条单人中英文的效果好(这个旧版本 https://github.com/PaddlePaddle/PaddleSpeech/pull/2203 现在已不可用)

当然如果有单人中英文双语的效果是最好的, 这个是开发者自己用单人中英文双语训练的效果（下载后后缀改成 .wav）

https://user-images.githubusercontent.com/24568452/187644138-aa3b5369-b292-4e4b-bcd2-8de3be2b7a3f.mp4

[code]

[2022-08-31 09:15] yt605155624 commented on #2296
![image](https://user-images.githubusercontent.com/24568452/187643613-a6ec2705-4453-4caf-8eba-c9a90e8291ed.png)
![image](https://user-images.githubusercontent.com/24568452/187643688-312a1b30-d709-4949-ace8-30b4f1fb9514.png)

[2022-08-31 10:08] sixyang commented on #2319
好的，谢谢！

[2022-08-31 14:01] #2182 closed, assigned to yt605155624

[2022-08-31 14:02] yt605155624 commented on #2154
效果应该差不多， ERNIE-SAT 提供了一个模型解决多个问题的跨模态模型， FS2 是纯声学模型

[2022-08-31 15:23] ghost opened #2338 "Punctuation Restoration Pretrained Model"
I have executed your "Punctuation Restoration" part It was executed successfully. But I can't able to find out the exact path where the pre-trained model "ernie-1.0" was saved in the local machine.  I have searched the model in this location "${HOME}/.paddlenlp/models/ernie-1.0" but didn't find any.  However, I have checked in another location also "/home/kiit/.paddlespeech/models/ernie_linear_p7_

[2022-08-31 15:25] yt605155624 commented on #2338
As stated in the email

yes this is Punctuation Restoration model，which use ernie-1.0 as backbone and add some classification layers

@THUzyt21 Please follow this issue

[2022-08-31 15:54] ghost commented on #2338
If i want to execute the pretrained punctuation restoration model solely then how to proceed?

[2022-08-31 16:01] ghost opened #2339 "Pretrained Punctuation Restoration model"
import paddle
from paddlespeech.cli.text import TextExecutor
text_executor = TextExecutor()
result = text_executor(
    text='今天的天气真不错啊你下午有空吗我想约你一起去吃饭',
    task='punc',
    lang='zh',
    config=None,
    ckpt_path=None,
    punc_vocab=None,
    device=paddle.get_device())
print('Text Result: \n{}'.format(result))

I have executed the above code without mentioning the path of pretrained model. Bu

[2022-08-31 16:25] new786786 opened #2340 "关于ppASR 语音识别开源项目"
中文训练的可以正常运行，但是英文其他语言不能正常运行

原因 中文连续写的语言种类

比如 数据集  {"audio_filepath": "C:\\xunlei\\data_thchs30\\data\\A11_1.wav", "duration": 8.84, "text": "我爱中国"}

但是 英文和其他语言 {"audio_filepath": "C:\\xunlei\\data_thchs30\\data\\A11_1.wav", "duration": 8.84, "text": "i love china"}

text 字段有空格 训练的时候出错

出错，错误信息: ''

[2022-08-31 23:52:40.751534 ERROR  ] reader:__getitem__:49 - 数据: ['E:\\ai_ai\\PPASR-master\\dataset

[2022-09-01 01:33] zh794390558 commented on #2333
用业务数据训练即可。流程参看example/voxceleb的脚本。

[2022-09-01 01:36] zh794390558 commented on #2338
We put pretrained model  in here https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/released_model.md#punctuation-restoration-models. The recipe is example/iwslt2022

[2022-09-01 01:38] zh794390558 commented on #2339
It has a default model, and will download pre-trained model.

[2022-09-01 01:39] zh794390558 commented on #2340
英文的处理参看 example/librispeech的脚本。其它语音有特殊处理，需要针对代码自行修改。

[2022-09-01 02:03] yt605155624 commented on #2340
https://github.com/yeyupiaoling/PPASR 是飞桨 PPDE 夜雨飘零开发，不是 PaddleSpeech 官方维护的，可以到项目 repo 的 issue 区提问

[2022-09-01 02:03] #2340 closed, assigned to nobody

[2022-09-01 06:34] Logan-SUN opened #2341 "train models with gpu memory error"
## General Question
I try to train a s2t model by paddlespeech on our owns machine with 7 gpus, but always report error about having no aviliable GPU memory, I have set batch_size ==8 and wav-id is sorted by name,  our dataset contains 300+  million audios totally.
Can anyone help me solve this gpu memory issue please? THX

[2022-09-01 06:42] #2319 closed, assigned to lym0302

[2022-09-01 07:30] byteszard opened #2342 "[TTS]PaddleSpeech Server RESTful API接口报错"
/demos/speech_server按照文档启动服务，配置文件参照conf下的application.yaml.

**Describe the bug**
`GET  /paddlespeech/tts/streaming/samplerate` 报错。`paddlespeech/server/restful/tts_api ` 171行

![image](https://user-images.githubusercontent.com/16896367/187853730-c6fef83a-b4b5-47fa-a576-d231537ed041.png)

PaddleSpeech使用1.1.3版本
![image](https://user-images.githubusercontent.com/16896367/187854734-40778942-6515-4495-9

[2022-09-01 08:07] SmileGoat commented on #2328
所谓的纯粹的声纹特征是没有的，应用设计可以采用几种方式来削弱，声纹系统前面级联一个asr系统，要求文本录用一致。eg 都要求是数字“234245”，或者录制多条不同语句，提取特征后做平均，再作为特征。

声纹特征信息可以参考如下论文：Raj D, Snyder D, Povey D, et al. Probing the information encoded in x-vectors[C]//2019 IEEE Automatic Speech Recognition and Understanding Workshop (ASRU). IEEE, 2019: 726-733.

[2022-09-01 09:39] lym0302 commented on #2342
我这边启动没有问题。shell 脚本和命令行都没问题。请问你是什么操作的时候会有这个问题呢？
另外，save_path 确实可以去掉

[2022-09-01 09:44] Banerjee1234 opened #2343 "Punctuation Restoration Part"
At the time of training model is generated but at the time of testing when we are given the path of trained model into the config file.
However, it is only executing without giving the path of pretrained model how is it possible?

[2022-09-01 10:05] yt605155624 commented on #2343
Are you telling about Punctuation Restoration testing in
[code]
or in

https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/iwslt2012/punc0/local/test.sh

??

By the way, please sort out your sentence order. I can't understand it

I guess you are telling about Punctuation Restoration testing in CLI, we call the punc model in cli
https://github.com/PaddlePaddle/PaddleSpeech/blob/795eb

[2022-09-01 11:45] THUzyt21 commented on #2343
The pre training model is downloaded to the hidden {$HOME} /.paddlenlp/ directory. You can check its path.Use the "la" command to find it.

[2022-09-01 11:51] THUzyt21 commented on #2339
It will download the model to {$HOME}/.paddlenlp/models/ernie-1.0 by default, and then automatically call the model parameters at this location for punctuation recovery.

[2022-09-01 11:51] #2339 closed, assigned to THUzyt21

[2022-09-01 15:37] Anupro123 opened #2344 "Punctuation Restoration"
After training i got "snapshot_iter_1926.pdz" model. But kindly tell me the steps how to use this model "snapshot_iter_1926.pdz" for testing.

[2022-09-02 02:09] yt605155624 commented on #2344
the testing in example are not the same with the testing in cli, in cli we use
![image](https://user-images.githubusercontent.com/24568452/188043428-95d4b9e9-c60f-41aa-a954-b098fe32cdf0.png)
but in example, we use *.pdz, you can use `stage 2` and `stage 3` of  https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/iwslt2012/punc0/run.sh to testing *.pdz

In the future, we will align te

[2022-09-02 02:29] THUzyt21 commented on #2344
You can modify the "run.sh" to use the model trained by you.
<img width="389" alt="66f7754ddf371fbe1ddbccaaebcd6add" src="https://user-images.githubusercontent.com/91456992/188045822-222ad698-b4b4-4d6b-b95d-04e96b202ec6.png">
Just modify the "ckpt_name".

[2022-09-02 02:39] Zth9730 commented on #2341
What is the approximate duration of each audio in your dataset?  If the input audios are very long, more GPU memory  is required.

[2022-09-02 05:44] Lennon-cheng commented on #2245
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/other/tts_finetune/tts3
TTS、voice_clone 都可以尝试下开源模型的finetune策略，比自己从零训练效果好很多。

[2022-09-02 08:25] Logan-SUN commented on #2341
I have checked that the maximum  duration of our audio is less then 10 seconds, thanks by the way. The error I have captured as followed:
![image](https://user-images.githubusercontent.com/29516612/188097615-c1c8c941-9fce-4b82-8757-ee9722c8a628.png)

[2022-09-02 11:44] DrMukherjee opened #2345 "Text Punctuation"
When i have remove the "ernie_v1_chn_base.pdparams" file from this particuar catin "paddlenlp/models/ernie-1.0/ernie_v1_chn_base.pdparams" then it doesnot generate the output. From this it is concluded that the trained model is not working it is dependent on  ernie_v1_chn_base.pdparams file only
conf_path=. /PaddleSpeech/examples/iwslt2012/punc0/conf
train_output_path=./PaddleSpeech/examples/iwslt

[2022-09-02 15:41] Zth9730 commented on #2341
Are you using the same model structure and configuration as our repository provides? Whether to add or delete modules or change model size?

[2022-09-05 02:38] yt605155624 commented on #2345
please refer to https://github.com/PaddlePaddle/PaddleSpeech/issues/2344#issuecomment-1234987030 , you cannot move *.pdz to ${HOME}/.paddlespeech/models/ernie_linear_p7_wudao-punc-zh/1.0/

[2022-09-05 03:52] sixyang commented on #2245
aishell3 微调的话，感觉效果还不是很好，本身基于 aishell3 的 tts 模型的效果感觉没有 csmsc 等单 speaker 好

[2022-09-05 06:34] byteszard commented on #2342
我是参考`/demos/speech_server/start_multi_progress_server.py`启动的，配置文件使用`conf`下的`application.yaml`，不是通过命令行

[2022-09-05 07:16] Logan-SUN commented on #2341
I used the same model structure and configuration as your pretrained model named  asr1_conformer_wenetspeech_ckpt_0.1.1.model which is published on websit.
![image](https://user-images.githubusercontent.com/29516612/188389319-f53212d7-4a52-4fb0-87f7-03f7f2122157.png)

[2022-09-05 09:00] Tian14267 opened #2346 "关于ASR中加载KenLM 的问题"
你好，请问下ASR里面说“ CTC beam search decoder”需要加载KenLM 模型，这个在哪加载啊，我好像没有找到加载的接口？
https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/asr/quick_start.md
![image](https://user-images.githubusercontent.com/27938135/188410805-44f4ad58-a10d-4a47-95bc-78b1171b57d1.png)

[2022-09-05 09:57] Zth9730 commented on #2346
可查看[paddlespeech/s2t/decoders](https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/paddlespeech/s2t/decoders)中相关代码

[2022-09-05 11:15] Tian14267 commented on #2346
好的谢谢。我看这个 kenlm模型貌似在`Conformer`和`Transformer`模型中无法使用的吧？
另外，我再看 **PaddleSpeech/examples/aishell/asr0/** 这个目录的时候，里面的test运行时，报这个错误：
[code]
查看代码发现，代码里有这几行：
[code]
这些配置在模型配置中并没有。请问这是啥情况

[2022-09-05 11:20] Tian14267 opened #2350 "ASR模型测试遇到这个问题：assert 'augmentation_config' in config"
测试模型：PaddleSpeech/examples/aishell/asr0/里面的模型，测试报错：
[code]
查看代码发现，代码里有这几行：
[code]
这些配置在模型配置中并没有。请问这是啥情况

[2022-09-05 11:22] SmileGoat commented on #2346
可以在 PaddleSpeech/examples/aishell/asr0/ conf/tuning/decoder.ymal
中查看配置，然后源码可以在上述decoder中查看

[2022-09-05 11:47] zh794390558 commented on #2350
麻烦check下config对象内容是否符合预期。

[2022-09-05 11:58] Tian14267 commented on #2350
已经检查过了，release的模型中config确实缺失这些参数。代码里面同样也缺失。这个地方麻烦检查一下。另外，`paddlespeech/s2t/io/collator.py`中
[code]
也有报错。这里的参数无法转换成json。

[2022-09-05 11:58] Tian14267 commented on #2350
@zh794390558

[2022-09-05 12:03] zh794390558 commented on #2350
是哪个 release的model？你用的是哪个版本的 paddlespeech？

develop里的配置是正常的， https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell/asr0/conf

[2022-09-05 12:06] Tian14267 commented on #2350
模型：asr0_deepspeech2_offline_aishell_ckpt_1.0.1.model
![image](https://user-images.githubusercontent.com/27938135/188445458-7b0ffabe-936c-4792-8f5e-bfb38d256fe9.png)
代码：https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/aishell/asr0/conf/deepspeech2.yaml
（模型中的config也一样的bug）

[2022-09-05 12:07] zh794390558 commented on #2350
好的，我们看下。

[2022-09-05 12:10] zh794390558 commented on #2345
ernie_v1_chn_base.pdparams 这是模型需要的，不能删除。

[2022-09-05 12:11] zh794390558 commented on #2341
Your GPU mem is not enough, please reduce batchsize to fit you GPU device.

[2022-09-05 13:27] lym0302 commented on #2342
目前这个脚本的多线程方式实现不了多线程效果，所以推荐使用readme的方式启动

[2022-09-06 02:00] Tian14267 commented on #2350
大神你好，请问下这个问题现在有解决吗？我也尝试修改，发现“augmentation_config”这个数据读取之后，在进行json.loads()的时候无法成功，我是把“preprocess_config”这个数据给的“augmentation_config”，请问这样是对的吗

[2022-09-06 05:18] wutl92 commented on #2330
你好我想请教下streaming服务的 可以使用了吗？升级了1.1.3paddlespeech版本了。用命令模式可以生成中英的语音。现在使用服务模式，API接口调用配置了 说不支持
![image](https://user-images.githubusercontent.com/19256826/188552583-507e3adb-dc6c-4034-ad2a-4ceaf5e22584.png)
![image](https://user-images.githubusercontent.com/19256826/188552641-853ab492-6754-49d6-9d0f-ffdea4b49d72.png)

[2022-09-06 06:07] Zth9730 commented on #2350
我们以提[pr](https://github.com/PaddlePaddle/PaddleSpeech/pull/2351/files/ab92e2c98ceab54f9aca9c94d083d10de2c44caa)解决了这个问题，暂时还未合入主分支，你可以先看一下。

[2022-09-06 07:27] #2320 closed, assigned to yt605155624

[2022-09-06 07:30] yt605155624 commented on #2285
fixed in https://github.com/PaddlePaddle/PaddleSpeech/pull/2302

[2022-09-06 07:30] #2285 closed, assigned to zh794390558

[2022-09-06 07:32] #2350 closed, assigned to zh794390558, SmileGoat

[2022-09-06 07:33] #2187 closed, assigned to yt605155624, iftaken

[2022-09-06 07:33] #2099 closed, assigned to iftaken

[2022-09-06 07:36] yt605155624 commented on #2330
@wutl92 非流式 TTS 可以自己参照上面修改后支持中英文混合合成，流式 TTS 需要自己训练中英文混合流式模型

[2022-09-06 07:37] #2154 closed, assigned to yt605155624

[2022-09-06 07:42] yt605155624 commented on #1282
@sixyang 没有

[2022-09-06 07:48] #2271 closed, assigned to yt605155624

[2022-09-06 08:14] #1970 closed, assigned to yt605155624

[2022-09-06 08:19] #2197 closed, assigned to yt605155624

[2022-09-07 02:56] #2346 closed, assigned to zh794390558

[2022-09-07 02:57] #2064 closed, assigned to yt605155624, lym0302

[2022-09-07 02:57] #2022 closed, assigned to Jackwaterveg

[2022-09-07 02:57] #1718 closed, assigned to zh794390558

[2022-09-07 02:59] #2161 closed, assigned to SmileGoat

[2022-09-07 02:59] #2190 closed, assigned to zh794390558

[2022-09-07 03:00] #2192 closed, assigned to zh794390558

[2022-09-07 03:35] #2058 closed, assigned to zh794390558, SmileGoat

[2022-09-07 03:35] #1625 closed, assigned to zh794390558

[2022-09-07 03:40] yt605155624 commented on #2245
@Lennon-cheng 目前正在尝试用 ecapa tdnn 作为声纹模型，可以缓解 “沙沙” 的问题，关注这个 issue https://github.com/PaddlePaddle/PaddleSpeech/issues/2296
@sixyang 可以尝试换成使用 csmsc 的声码器，目前我们正在尝试一系列冻结层的操作，或许可以用更少的音频获取更好的效果

[2022-09-07 05:21] sixyang commented on #2245
声码器跟数据集不相关嘛？csmsc 的声码器能够直接应用到 aishell3 上面吗？

[2022-09-07 06:21] WongLaw opened #2358 "Add Chinese doc and language switcher for demos of metaverse, style_fs2 and story_talker"
Add Chinese doc and language switcher for demos of metaverse, style_fs2 and story_talker

[2022-09-07 07:18] #2358 closed, assigned to D-DanielYang, iftaken

[2022-09-07 08:50] yt605155624 commented on #2245
声码器和数据集相关，如果你是 finetune 了其他音色，肯定是推荐你使用 aishell3 这个多说话人的声码器，如果你只是 finetune 了 csmsc(或者类似的成年女性音色)，用 csmsc 的声码器效果可能会更好，如果你 finetune 了男性音色，用 csmsc 肯定不行（因为男性和女性特征相差较大），aishell3、vctk、csmsc 都是 24k 的，声码器可以任意换，只是效果好不好的问题

[2022-09-07 11:47] #2132 closed, assigned to nobody

[2022-09-08 02:43] yt605155624 commented on #1969
这个问题已经在 https://github.com/PaddlePaddle/PaddleSpeech/pull/2016 解决，可以通过把 yaml 里面 `num_decoding_left_chunks` 这个参数修改为一个较小的正数（如，8）解决问题，数值和准确率之前需要权衡

[2022-09-08 07:06] im73 opened #2360 "[S2T]aishell 训练时报错"
装好环境之后，通过aishell/asr1里面的脚本run.sh进行训练, 在创建模型参数的时候提示config里面没有num_conv_layers这个选项，见图1
<img width="990" alt="image" src="https://user-images.githubusercontent.com/36858700/189056068-c6c16c42-b50f-4206-b244-59c731ca952c.png">
**图1 报错信息**
然后看了一下对应的run.sh里的config，见图2
<img width="630" alt="image" src="https://user-images.githubusercontent.com/36858700/189056461-74946394-830b-4c36-9cb1-c0371b903298.png">

[2022-09-08 07:57] Zth9730 commented on #2360
aishell/asr1默认是训练conformer，但从你错误信息中看是训练了deepspeech2，如果想训练deepseech2模型，可以参考aishell/asr0

[2022-09-08 09:16] swx-10 opened #2361 "如何使用speedyspeech_csmsc声学模型替换默认的模型"
你好，当我改变am参数时，报出错误KeyError: 'tone_ids'
tts(text="因海而生，向海而荣。世界目光聚焦魅力鹭岛，金砖合作定格厦门时间。作为海上丝绸之路的战略支点城市，厦门成功举办金砖国家领导人第九次会晤，中国智慧、中国魅力再一次为世界带来温暖与力量。", output='df_trans.wav', voc='pwgan_csmsc',am='speedyspeech_csmsc')
[code]

[2022-09-08 10:36] yt605155624 commented on #2361
用如下命令即可
[code]
无需添加 tones_dict
所有 cli 单测请参考：https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/tests/unit/cli/test_cli.sh

[2022-09-08 10:45] swx-10 commented on #2361
感谢回复！试了下顺利运行了，感谢

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年09月08日 18:36 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleSpeech] 如何使用speedyspeech_csmsc声学模型替换默认的模型 (Issue #2361) |

用如下命令即可

paddlespeech tts --am speedyspeech_csmsc --input "你好，欢迎使用百度飞桨深度学习框架！"

无需添加 tones_dict
所有 cli 单侧请参考：https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/t

[2022-09-08 10:52] #2361 closed, assigned to nobody

[2022-09-08 12:15] WongLaw opened #2363 "Added pre-install doc for G2P and TN modules and updated the dependency version of pypinyin"
Added pre-install doc for G2P and TN modules and updated the dependency version of pypinyin

[2022-09-08 12:34] #2363 closed, assigned to D-DanielYang, iftaken

[2022-09-08 14:42] #2342 closed, assigned to yt605155624, lym0302

[2022-09-08 16:41] QuantumLiu commented on #1831
你好，链接的readme里没有时间戳相关信息

[2022-09-08 17:39] QuantumLiu opened #2365 "[S2T]如何不输入Y/N"
**Describe the bug**
1. 如图在命令行调用时，即使加了 -y 选项，还是要求我输入y/n
2. 在使用python接口ASRExecutor时如何避免输入y/n

**To Reproduce**
`paddlespeech asr -y --input chunks\03_human_1.wav
`
**Expected behavior**
不用输入Y/N

**Screenshots**
![image](https://user-images.githubusercontent.com/21980268/189188783-217c10e2-4ee5-4d28-9eb7-86092f08c3aa.png)

**Environment (please complete the following information):**
 - OS:win10
 - P

[2022-09-08 17:46] #2365 closed, assigned to zh794390558

[2022-09-09 02:05] Wemmons831 opened #2366 "KeyError: 'phone_ids'"
Hello I got a Key Error (KeyError: 'phone_ids') while running `paddlespeech tts --input "hello world" --output output.wav`

Windows 11
fresh conda environment with python 3.7
followed the instuctions as listed here for easy https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/docs/source/install.md
0 install errors

[2022-09-09 02:11] yt605155624 commented on #2366
the default model of `paddlespeech tts` is Chinese model, so please input Chinese, for more details please check https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/text_to_speech

[2022-09-09 02:11] #2366 closed, assigned to yt605155624

[2022-09-09 02:28] unparalleled-ysj commented on #2330
@yt605155624 请问下有流式语音合成原理的相关文档吗 [PP-TTS：流式语音合成原理及服务部署](https://aistudio.baidu.com/aistudio/projectdetail/3885352) 这个打不开了

[2022-09-09 03:02] #2296 closed, assigned to yt605155624

[2022-09-09 03:29] oyb1125 opened #2368 "CSMSC/vits报错"
使用预训练模型在运行examples/csmsc/vits的例子时出现下面这个报错，提示我找不到这个模块，但是我看代码里面有这个文件，请问是什么原因？
![image](https://user-images.githubusercontent.com/62881198/189265764-12148087-7905-4466-a76c-3f978e6bd12d.png)

[2022-09-09 03:35] yt605155624 commented on #2368
是否没有执行
[code]
声明环境变量

[2022-09-09 04:22] oyb1125 commented on #2368
![image](https://user-images.githubusercontent.com/62881198/189271495-f06cb212-75a4-4c85-a720-e4b438a0471c.png)
执行了 我照着这个来的

[2022-09-09 04:41] yt605155624 commented on #2368
看看是不是环境里有其他 paddlespeech (比如 python 环境里面 lib/python3.7/site-packages/ 是不是有安装的旧版本的 paddlespeech), 执行的并不是 PaddleSpeech-develop 里面的 paddlespeech, 另外建议通过 git clone 的方式下载代码，而不是压缩包

我看你的环境是 windows, source path.sh 是 linux 上的命令，有可能直接执行是无效的，要不换 git bash 里面运行试试

example 里面的东西建议在 linux 上使用，可以尝试使用 aistudio 的机器资源

[2022-09-09 06:30] oyb1125 commented on #2368
好的，解决了。就是环境里的paddlespeech太旧了，更新了一下就好了，谢谢！

[2022-09-09 06:31] #2368 closed, assigned to nobody

[2022-09-09 07:43] zhangfeifan6428 commented on #2071
同问

[2022-09-09 08:41] lichuanqi opened #2371 "使用conformer_wenetspeech模型测试时发生Skip loading for encoder.embed.out.0.weight."
Hello，我在使用conformer_wenetspeech模型测试时发生Skip loading for encoder.embed.out.0.weight.的报错，
猜测是某一层的权重维度与模型不匹配，研究了很长时间都没找到错误原因，请帮忙指点下啊，感谢。

报错和日志如下，

报错:
[code]

日志:
[py_eval.LAPTOP-CD0ILM5K.lichuan.2022-09-09_16-16-08_948182.log](https://github.com/PaddlePaddle/PaddleSpeech/files/9533844/py_eval.LAPTOP-CD0ILM5K.lichuan.2022-09-09_16-16-08_948182.log)

[2022-09-09 08:46] lichuanqi commented on #2371
各位中秋快乐啊！ :blush:

[2022-09-11 09:46] imohuan opened #2375 "paddlespeech_server Failed to start server"
## Version:
* `Python                    3.9.6`
* `paddlepaddle         2.3.2`
* `paddlespeech         1.1.3`
* `paddlespeech-feat  0.1.0`
* `platform                  Window11`

## Steps:
1. `mkvirtualenv test_env`
2. `pip install paddlepaddle paddlespeech`
3. `!wget -P data https://paddlespeech.bj.bcebos.com/Parakeet/tools/nltk_data.tar.gz`
4. `!tar zxvf data/nltk_data.tar.gz`
5. `dir`
[code]
6.

[2022-09-12 11:46] UserName-wang commented on #2150
On Xavier NX, Jetpack 4.6.2, CUDA 10.2.300, TensorRT 8.2.1.8, have error message below:
...
Building wheels for collected packages: paddlespeech, onnx
  Building wheel for paddlespeech (setup.py) ... done
  Created wheel for paddlespeech: filename=paddlespeech-0.0.0-py3-none-any.whl size=1362563 sha256=acafea850a5c92d13c1c2539e2265519c09b9736ba2b0b8a948c273b4ae4c52d
  Stored in directory: /tmp/pip

[2022-09-13 06:30] Zth9730 commented on #2371
模型定义中的encoder.embed.out.0.weight与pre-trained model中的不同。
请检查模型的配置文件是否和pre-trained model一致以及 paddlespeech/s2t/modules/subsampling.py 中相关参数

[2022-09-13 07:19] Zth9730 commented on #2375
Please add engine parameter in the yaml file, such as:
[code]

[2022-09-13 09:08] lichuanqi commented on #2371
感谢回复。模型文件model.yaml和权重文件wenetspeech.pdparams是从同一个的链接的压缩包下载下来的，应该是匹配的，model.yaml中有一个参数 `input_layer` 是可选参数，最终会传入paddlespeech/s2t/modules/subsampling.py，试了 conv2d, conv2d6 and conv2d8 都是一样的报错。
有可能是系统的问题吗，我目前是在Win上测试的，单个语音文件的预测是可以跑通的。我也试一下Ubuntu下是否有报错。

[2022-09-13 09:42] imohuan commented on #2375
Thank you very much. It was because of my configuration file completion

[2022-09-13 09:43] #2375 closed, assigned to zh794390558

[2022-09-13 10:51] lawo123 opened #2377 "[TTS]英文开头的A发音错误怎么解决？"
A: Among many others, I have taken Western Economics, International Trade, Marketing and Principles of Accounting. Here is my score book, from which you can learn much more about me.
这句话开始的A发音错误，怎么解决呢？
[20.zip](https://github.com/PaddlePaddle/PaddleSpeech/files/9556348/20.zip)

[2022-09-13 12:15] yt605155624 commented on #2377
我听起来感觉没什么太大的问题，如果你觉得问题比较大，可以把中间音素打印出来看对不对，如果不对，就修改成正确的(英文前端用的 g2p_en，可以看看有没有修改字典的接口)，如果对，但是发音还是觉得有问题，可能是模型没学好，或者语料本身这个发音就不好，可以再学学或者自己收集表现不好的单词的语料加到训练集中

[2022-09-14 01:09] lawo123 commented on #2377
看了一下g2p_en出来的结果是错误的，我试了一下百度翻译读的是对的。如果我们自己修改音素，中间的规则不太好加，什么时候修改，什么时候不改。

[2022-09-14 02:12] yt605155624 commented on #2377
我看了下 among 的音素是没问题的
[code]
[code]
与 cmudict 保持一致
<img width="237" alt="image" src="https://user-images.githubusercontent.com/24568452/190044695-e62db0e5-d762-484f-a384-555afa97e79c.png">

不过 g2p 不能完全依赖开源库，需要根据业务 badcase 修改某些发音，合成效果也不能完全依赖开源数据集

[2022-09-14 02:36] lawo123 commented on #2377
A: Among many others,最开始的A：发音错误，应该读EY1,读的是AH0

[2022-09-14 03:23] michelleqyhqyh opened #2379 "The one-time configuration of analysis predictor failed, which may be due to native predictor called first and its configurations taken effect."
(cuda1100) [qyh@localhost tts3]$ CUDA_VISIBLE_DEVICES='4' ./local/inference.sh ./train
[nltk_data] Error loading averaged_perceptron_tagger: <urlopen error
[nltk_data]     [Errno 111] Connection refused>
[nltk_data] Error loading cmudict: <urlopen error [Errno 111]
[nltk_data]     Connection refused>
/home/qyh/anaconda3/envs/cuda1100/lib/python3.7/site-packages/librosa/core/constantq.py:1059: Depr

[2022-09-14 05:01] yt605155624 commented on #2379
you should run `./local/synthesize_e2e.sh` first to generate static models which are the input of `./local/inference.sh`， or download static models we released and move them into the right dir

[2022-09-14 05:50] michelleqyhqyh commented on #2379
thanks!

---- Replied Message ----
| From | ***@***.***> |
| Date | 09/14/2022 13:01 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [PaddlePaddle/PaddleSpeech] The one-time configuration of analysis predictor failed, which may be due to native predictor called first and its configurations taken effect. (Issue #2379) |

you should run ./local/synthesize_e2e.sh first to gen

[2022-09-14 06:07] #2379 closed, assigned to yt605155624

[2022-09-14 06:21] yt605155624 commented on #2377
那这里我跟你理解不一致， among 不管是我从小学的还是字典上的描述，都感觉 A 的发音应该是 AH0(额) 而不是 EY1(唉)
<img width="306" alt="image" src="https://user-images.githubusercontent.com/24568452/190075289-a0e2bda6-8b80-4720-a066-2aef419e26ae.png">

cmudict 音素具体发音可参考 http://www.speech.cs.cmu.edu/cgi-bin/cmudict

[2022-09-14 06:40] yt605155624 commented on #2330
我这边能打开，你可能需要先加入 “飞桨PaddleSpeech语音技术课程” 才能打开

[2022-09-14 06:46] unparalleled-ysj commented on #2330
可以了，感谢

[2022-09-14 06:56] michelleqyhqyh commented on #2379
--- Running analysis [ir_graph_to_program_pass]
I0914 14:50:58.081429 3833755 analysis_predictor.cc:1035] ======= optimize end =======
I0914 14:50:58.104908 3833755 naive_executor.cc:102] ---  skip [feed], feed -> logmel
I0914 14:50:58.121094 3833755 naive_executor.cc:102] ---  skip [transpose_104.tmp_0], fetch -> fetch
Building prefix dict from the default dictionary ...
[2022-09-14 14:50:58] [DE

[2022-09-14 07:10] lawo123 commented on #2377
那可能是我没描述清楚，我指的是A：的发音不是among中a的发音
![image](https://user-images.githubusercontent.com/44777088/190085510-7831b011-9104-4c32-8965-3c1847e3f00c.png)

[2022-09-14 07:18] yt605155624 commented on #2377
A 是多音字，确实不好解决，在 USA 的时候和你这种情况念 ei， 但是在句子中，"I have a banana" 的时候念 额，所以需要你自己加英文多音字预测模块来解决这个问题，或者加一些规则来判断，常见英文多音字参考 https://github.com/google-research-datasets/WikipediaHomographData （但是没有 A）

[2022-09-14 07:46] zh794390558 commented on #2371
在linux上测试吧，我们已ubuntu16的为准。

[2022-09-14 08:11] #2329 closed, assigned to yt605155624

[2022-09-14 08:11] #2330 closed, assigned to yt605155624

[2022-09-14 08:32] yt605155624 commented on #2245
基于 ECAPA-TDNN 声纹模型的 voice cloning 已经上线，欢迎试用  https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3/vc2

[2022-09-14 09:28] lichuanqi commented on #2371
好的，我测试下再来反馈，感谢回复。

[2022-09-14 09:33] yt605155624 commented on #2379
I haven't met this problem, maybe try `sudo` or check the Permission of local/inference.sh

[2022-09-14 10:36] sixyang opened #2383 "请问自己 finetune 的 tts 模型能够改变语速吗？"
代码参考的 [finetune](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/other/tts_finetune/tts3/README.md) 这里，请问一下，这里的 fastspeech2 能调节语速吗？
stylefs 里面需要 tts 的流程，但是我想直接给定一个音频，然后调节其语速，找了一圈，感觉其他的效果都不怎么好，请问有什么推荐吗？谢谢！

[2022-09-14 10:44] yt605155624 commented on #2383
在仓库里面搜 change_speed 有后处理函数

[2022-09-15 01:20] michelleqyhqyh opened #2384 "No stack trace in paddle, may be caused by external reasons."
W0915 09:12:33.177958 2665464 gpu_resources.cc:91] device: 0, cuDNN Version: 8.2.
W0915 09:12:33.180549 2665465 gpu_resources.cc:91] device: 1, cuDNN Version: 8.2.
rank: 1, pid: 2665465, parent_pid: 2665115
multiple speaker fastspeech2!
spk_num: 283
rank: 0, pid: 2665464, parent_pid: 2665115
multiple speaker fastspeech2!
spk_num: 283
samplers done!
dataloaders done!
vocab_size: 388
samplers done!

[2022-09-15 02:45] yt605155624 commented on #2384
I have searched your problem `No stack trace in paddle, may be caused by external reasons.` in the issue of https://github.com/PaddlePaddle/Paddle, I think it may caused by the version of paddlepaddle, cudnn and cuda, could you please share these versions? or try to find answers in https://github.com/PaddlePaddle/Paddle ?

for example this issue: https://github.com/PaddlePaddle/Paddle/issues/44261

[2022-09-15 03:02] michelleqyhqyh commented on #2384
Thank you very much! It can run when I : conda install paddlepaddle-gpu==2.3.2 cudatoolkit=10.2 --channel http://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/Paddle/

[2022-09-15 05:57] #2384 closed, assigned to yt605155624

[2022-09-15 05:57] #2377 closed, assigned to yt605155624

[2022-09-15 05:57] #2383 closed, assigned to yt605155624

[2022-09-15 06:50] dsyrock opened #2387 "[S2T]Win10上运行程序无法获取结果"
想在Win平台上离线运行

用如下代码：

或者命令行：
`paddlespeech asr --lang zh --input test3.wav`

最后没有print出任何结果。屏幕上唯一有的信息是
`
2022-09-15 01:05:46.604 | INFO     | paddlespeech.s2t.modules.ctc:<module>:45 - paddlespeech_ctcdecoders not installed!
2022-09-15 01:05:46.749 | INFO     | paddlespeech.s2t.modules.embedding:__init__:153 - max len: 5000
`
test3.wav是一个单声道，16000采样率，不足5秒的纯人声音频，应该符合条件的

[2022-09-15 07:05] oyb1125 commented on #2247
@sixyang 想请问电流音怎么去除

[2022-09-15 07:56] yt605155624 commented on #2387
可用我们提供的音频试一下
[code]
确定到底是音频的问题还是环境的问题

[2022-09-15 09:40] JiaXiao243 commented on #2387
@dsyrock 使用zh.wav，paddle=2.3.2，paddlespeech=1.1.3，我这边是可以正常使用的
<img width="406" alt="b3bde86c8bee113e03cac9ca1db38d4e" src="https://user-images.githubusercontent.com/37854899/190371096-9e7e8c3f-9f47-4361-8ce8-cc82ed277ef3.png">
可以提供一下你的音频文件吗？
wget -c https://paddlespeech.bj.bcebos.com/PaddleAudio/zh.wav
paddlespeech asr --lang zh --input zh.wav

[2022-09-15 10:10] dsyrock commented on #2387
我用自己的跟示例里的zh.wav结果都是一样，print不出任何结果。在线版里的倒是能正常识别自己的跟示例的。不知道我本地运行的时候缺了些什么

[2022-09-15 10:16] yt605155624 commented on #2387
可能是你个人环境的问题，目前 cli 信息较少，可以修改安装的源码 （位置在 你的python 环境/lib/(你的python版本)/site-packages/paddlespeech）https://github.com/PaddlePaddle/PaddleSpeech/blob/cdf095595f0398ac0fb20d9cd6f80672c5c00d0c/paddlespeech/cli/log.py#L52 为 `logging.DEBUG` 查看更多信息，或者自己打印更多信息，程序入口是 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/cli/asr/infer.py

[2022-09-15 10:19] dsyrock commented on #2387
感谢，我马上试试看

[2022-09-15 10:28] dsyrock commented on #2387
请问这个log.py的52行，应该怎么修改，才能显示更多信息呢？我现在的内容就已经是
self.logger.setLevel(logging.INFO)

[2022-09-15 10:38] yt605155624 commented on #2387
修改为 self.logger.setLevel(logging.DEBUG)

[2022-09-15 10:52] dsyrock commented on #2387
谢谢，我已经按你说的修改了。但奇怪，命令行运行的结果仍然是只有我上面说的那两个信息，没报错也没打印结果

用代码方式的话就多了一些信息

[2022-09-15 18:53:17,322] [   DEBUG] - start to init the model
[2022-09-15 18:53:17,323] [   DEBUG] - File C:\Users\Noiz\.paddlespeech\models\conformer_wenetspeech-zh-16k\1.0\asr1_conformer_wenetspeech_ckpt_0.1.1.model.tar.gz md5 checking...
[2022-09-15 18:53:23,196] [   DEBUG] - C:\Users\Noiz\.paddlespeech\models\conformer_wenet

[2022-09-15 11:33] yt605155624 commented on #2387
cli 外面包了一层，需要改一下这里 https://github.com/PaddlePaddle/PaddleSpeech/blob/cdf095595f0398ac0fb20d9cd6f80672c5c00d0c/paddlespeech/cli/executor.py#L222
你可以直接在代码里用 print 的方式进行 debug

[2022-09-15 16:59] dsyrock commented on #2387
主要还是因为我没认真看安装文档。上面说推荐安装paddlespeech的时候，用清华的源，我没看清，直接用了百度的源。我用清华的源强制重装一次就可以了，感激！

[2022-09-16 01:12] #2387 closed, assigned to zh794390558

[2022-09-16 08:00] #2292 closed, assigned to yt605155624

[2022-09-16 09:25] JJun-Guo opened #2393 "voxceleb2下载不了了？"
--2022-09-16 17:21:19--  https://www.robots.ox.ac.uk/~vgg/data/voxceleb/data//vox2_dev_aac_partaa
Resolving www.robots.ox.ac.uk (www.robots.ox.ac.uk)... 129.67.94.2
Connecting to www.robots.ox.ac.uk (www.robots.ox.ac.uk)|129.67.94.2|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2022-09-16 17:21:19 ERROR 404: Not Found.

[2022-09-16 10:17] yt605155624 commented on #2393
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2161

[2022-09-16 12:34] ezekny opened #2394 "Error when running one part of the paddle code"
AttributeError: module 'paddle' has no attribute 'tensor'
![image](https://user-images.githubusercontent.com/18138003/190639761-28267b08-be22-4a2f-81a0-a3da58c6c7f7.png)

[2022-09-16 15:31] zh794390558 commented on #2394
It maybe paddle is not installed correct?

[2022-09-17 03:29] YuBYan opened #2401 "TypeError: __init__() got an unexpected keyword argument 'negative_slope'"
你好，
我使用docker镜像想要运行这个Paddle Speech Demo [speech_web，依照这个readme文档](https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/speech_web)
 在执行 `python main.py --port 8010` 时报错
`grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
[2022-09-17 02:56:35,240] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'source/model'.
---

[2022-09-17 05:47] chai21b commented on #497
Hi, I came across the same issue with warpctc error while training the model with my dataset for recognition on en-pp-ocr-v3. As a beginner in coding and ML, I didn't know how to fix this, nor did I find any solution in internet. I deleted the cloned git repo, uninstalled paddlepaddle, paddleocr packages and started again new. This time I didn't get this error. I'm trying to figure out what was th

[2022-09-17 15:55] dsyrock opened #2402 "关于用pyinstaller打包后找不到模型的问题"
我在尝试用pyinstaller打包后运行遇到一个问题

  File "DSY_PaddleSpeech.py", line 12, in <module>
  File "paddlespeech\cli\utils.py", line 328, in _warpper
  File "paddlespeech\cli\asr\infer.py", line 473, in __call__
  File "paddlespeech\cli\asr\infer.py", line 146, in _init_from_path
  File "paddlespeech\resource\resource.py", line 72, in set_task_model
AssertionError: Can't find "conformer_wenetspeech-zh-16k" in

[2022-09-18 16:45] #2394 closed, assigned to nobody

[2022-09-18 16:50] ezekny opened #2404 "input audio file from gdrive"
Hello, thanks for the answer to the previous question paddlespeech. i have successfully installed the paddlespeech and now working according to the guide shown in the tutorial.
Meanwhile, i will like to input my audio file from google drive and get the corresponding chinese and english text. Up till now i could not achieve that. Can somebody help out on this as well. Thanks.
The code is as follows

[2022-09-19 02:06] yt605155624 commented on #2401
使用 paddle 版本 >= 2.3.1

[2022-09-19 02:06] #2401 closed, assigned to nobody

[2022-09-19 02:10] yt605155624 commented on #2404
maybe you should check this line https://github.com/PaddlePaddle/PaddleSpeech/blob/7e4f3b029ca9a74262036fe124eac4068d793654/paddlespeech/cli/asr/infer.py#L352

Do `paddlespeech` and `expr_file` in the same computer? Sorry, I'm not familiar with gdrive, but `paddlespeech` can only load the `*.wav` in the same machine

[2022-09-19 02:21] yt605155624 commented on #2402
问题应该不是模型文件路径的问题，请从这行为入口进行 debug, 从报错信息看, 你的 `self.pretrained_models.keys()` 都没有正常打印出来，请先确定下这里
https://github.com/PaddlePaddle/PaddleSpeech/blob/e6cbcca3e220b3b2ae869055f0771b48958b512b/paddlespeech/resource/resource.py#L73

[2022-09-19 02:22] #2393 closed, assigned to nobody

[2022-09-19 05:23] yaleimeng commented on #2404
you can  download that .wav file from gdrive first,  and then run the command  with a local file path.

[2022-09-19 09:13] JJun-Guo opened #2409 "Paddle2ONNX 转存失败"
## General Question
使用Paddle2ONNX对声纹模型转存，报错失败
[Paddle2ONNX] Start to parsing Paddle model...
[Paddle2ONNX] Failed to parse paddlepaddle model from read content.
[Paddle2ONNX] Failed to load program of PaddlePaddle model.
[Paddle2ONNX] Paddle model parsing failed.
[Paddle2ONNX] Paddle model convert failed.

[2022-09-19 09:14] michelleqyhqyh opened #2410 "How to adjust the speed of speech？"
I used PaddleSpeech-develop/examples/zh_en_tts/tts3 to train the model. But when I test, I think the speed of speech is a little bit fast. Is there any method which can adjust the speed of speech？

[2022-09-19 09:22] yt605155624 commented on #2410
you can use post-process method to change the speed of speech, try to search `change_speed` function in PaddleSpeech

[2022-09-19 09:30] yt605155624 commented on #2409
Paddle2ONNX 的输入是静态模型，需要先走通动转静
<img width="673" alt="image" src="https://user-images.githubusercontent.com/24568452/190989115-fe6e1208-28b5-4fbc-bb6a-9788a41341a5.png">

https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/csmsc/tts3/run.sh 是 TTS 转 ONNX 模型全流程，其中动转静在 synthesize_e2e.sh 这个调用中实现的

[2022-09-19 10:18] JJun-Guo commented on #2409
声纹模型的输入输出维度是多大呢

[2022-09-19 13:02] dsyrock commented on #2402
确实，打印出来是空的
odict_keys([])
这会是哪个地方出问题呢？原来的话可以打印出来
odict_keys(['conformer_wenetspeech-zh-16k', 'conformer_online_wenetspeech-zh-16k', 'conformer_online_multicn-zh-16k', 'conformer_aishell-zh-16k', 'conformer_online_aishell-zh-16k', 'transformer_librispeech-en-16k', 'deepspeech2online_wenetspeech-zh-16k', 'deepspeech2offline_aishell-zh-16k', 'deepspeech2online_aishell-zh-16k', 'deepspeech2offline_lib

[2022-09-19 16:39] dsyrock commented on #2402
我又测试了一下，问题应该出在你说的resource.py这个文件的 def _get_pretrained_models(self) 这段
我在

models = OrderedDict(locals()[import_models])

下面加了一行

没有获得结果，那应该是exec那行没有执行了。我试试用明文的方式能不能执行

[2022-09-19 17:27] dsyrock commented on #2402
为了能顺利运行，我暂时把
exec('from .pretrained_models import {}'.format(import_models))
改为
from .pretrained_models import asr_dynamic_pretrained_models
然后出现了新的问题

  File "DSY_PaddleSpeech.py", line 12, in <module>
  File "paddlespeech\cli\utils.py", line 328, in _warpper
  File "paddlespeech\cli\asr\infer.py", line 472, in __call__
  File "paddlespeech\cli\asr\infer.py", line 196, in _init_from_path
  File "

[2022-09-20 01:33] SoloPro-Git opened #2413 "[TTS]Voc流式推理拼接时出现了高频噪音"
更新结论:
voc流式合成中,对每一个sub_wav进行change_speed()可能存在问题.
当速度 <1的时候,最终concat出来的声音会有噪音断层,解决方案是把所有生成的新sub_wav最后出席的所有0值删除.
当速度 >1的时候,最终concat出来的声音会有噪音包络,尚未解决

---------------
更新1:
audio_process.py文件
change_speed() 这个函数 转换了pcm就会有噪音
---------------------------------------------

我们在做流式推理的时候, 在voc流式合成 block1 block2后 .
对b1 b2进行连接之后播放出来的声音会有一点高频的噪音.
我们觉得是 b1 b2 的交接点不一致造成的 .
观察了下pad和depad的代码好像也没找到问题.
但是通过频谱图的观察有两个

[2022-09-20 02:08] yt605155624 commented on #2413
可按照 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/streaming_tts_server README 提高 pad size 到与非流式数值上一致，pad 值计算可参考 https://aistudio.baidu.com/aistudio/projectdetail/4151335 目前的配置是效果和速度上的权衡，不是数学上最佳的配置

[2022-09-20 02:34] zh794390558 commented on #2409
这些参数可以看下配置文件或者打印下输入输出看下。

[2022-09-20 07:12] #2410 closed, assigned to yt605155624

[2022-09-20 07:16] yt605155624 commented on #2402
我们的打包方式参考：https://github.com/PaddlePaddle/PaddleSpeech/wiki/Build-Pip-Package-and-Upload 没用过 pyinstaller，没有相关经验

[2022-09-20 07:30] SmileGoat commented on #2402
importlib._bootstrap 这类在打包文件的时候，会生成。模型文件，好像是打包不进去的，具体你可以check一下setup.py。你要是打包自己修改的python文件，使用 上述链接的setup.py 的命令就可以，要是定制化打包内容，可以修改 setup.py，目前的经验只有这些，

[2022-09-20 07:45] dsyrock commented on #2402
感谢！我试试看。模型文件倒是没所谓，初次运行会自动下载

[2022-09-20 07:48] dsyrock commented on #2402
感谢！我试试看

[2022-09-20 08:07] monkeydp opened #2419 "[TTS] 合成语音中的 "1" 念法为 yao, 再用语音识别出来为 "幺""
**Describe the bug**
初始文本: `你好, 你的验证码是 991347`
合成语音后再识别文本: `你好你的验证码是九九幺三四七`

初始文本中的 `1` 被识别成了 `幺`

**To Reproduce**
Steps to reproduce the behavior:
1. `paddlespeech tts --input "你好，你的验证码是 991347" --output demo.wav`
2. `paddlespeech asr --lang zh --input demo.wav`

**Expected behavior**
期望初始文本中的 `1` 被识别成了 `一`

**Environment (please complete the following information):**
 - OS: Docker Ubuntu18 (构建于

[2022-09-20 08:10] yt605155624 commented on #2419
https://github.com/PaddlePaddle/PaddleSpeech/blob/a17baad534e3e6397d262de63c11881582ee7f15/paddlespeech/t2s/frontend/zh_normalization/num.py#L106 修改源码 `alt_one=False`

[2022-09-20 09:52] zyw11270106 opened #2424 "如何使用Python部署自己的模型"
## General Question
Hello，我微调asr模型后，部署自己微调后模型报错，一直未能解决，请帮忙指点下啊，感谢。
使用Python的进行调用，

调用如下
text = asr_executor(
        output_name,
        model='conformer_wenetspeech-zh-16k',
        config='/home/formal_ai/www/PaddleSpeech-develop/examples/aishell/asr1/conf/conformer1.yaml',
        ckpt_path='/home/formal_ai/www/PaddleSpeech-develop/examples/aishell/asr1/exp/conformer/checkpoints/5',
        de

[2022-09-20 10:14] zh794390558 commented on #2424
最新代码对应的配置文件见： https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/aishell/asr1/conf/tuning/decode.yaml

用老的配置文件需要用老的代码，用新的代码的话，得用新的配置文件。

[2022-09-20 10:17] zh794390558 commented on #2424
CLI里的调用的话，可以看下下载的模型里对应的配置。
打包好的模型类的model.yaml是通过[./utils/generate_infer_yaml.py ](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/utils/generate_infer_yaml.py)这个生成的，和训练的是不一样的。需要注意下。

[2022-09-20 10:21] zyw11270106 commented on #2424
好的，我仔细检查一下配置文件，可能是在更换服务器时没有同步好

[2022-09-20 10:23] zyw11270106 commented on #2424
我再检查一下配置文件，的确存在您说的这种问题，感谢。稍后有问题的话我再问您

[2022-09-20 12:00] #2419 closed, assigned to yt605155624

[2022-09-20 12:00] #2404 closed, assigned to zh794390558

[2022-09-20 12:19] yt605155624 commented on #2410
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2383

[2022-09-20 12:29] yt605155624 commented on #1315
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/1925

[2022-09-21 03:35] michelleqyhqyh commented on #2410
How can I code "PaddleSpeech-develop/paddlespeech/t2s/exps/synthesize_e2e.py" with  `change_speed` function in PaddleSpeech to generate wav-form file?

[2022-09-21 06:02] #2413 closed, assigned to yt605155624, lym0302

[2022-09-21 07:45] michelleqyhqyh commented on #2410
I finished it! Thank you ~~

[2022-09-21 07:50] michelleqyhqyh opened #2428 "Problems with the pronunciation of abbreviated characters"
I used PaddleSpeech-develop/examples/zh_en_tts/tts3 to train the model. But when I test, I found when I input a sentence "AI 智能" or ”SCI文献“，it will pronunce a continuous sound but not one by one word （like A. I., or S. C. I.）. How can I solve this problem?

[2022-09-21 09:25] yt605155624 commented on #2428
input “A I 智能" or ”S C I文献“，but "A" maybe pronunce "额"，because we still don't have polyphone model in English, try "诶 I 智能"

[2022-09-21 10:56] starflag opened #2431 "windows10 Pycharm运行报错"
[code]
这里audio_file=path高亮，查看代码发现没有此变量，要改成什么？

报错信息：
`C:\Users\usr\.conda\envs\py38\lib\site-packages\librosa\core\constantq.py:1059: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.complex128` here.
Depre

[2022-09-21 11:13] yuanzicheng commented on #2150
OS: ubuntu 22.04
Python Version: 3.10

[code]

[2022-09-21 11:24] yt605155624 commented on #2431
目前不支持 8k 的 sample_rate

[2022-09-22 00:44] yaleimeng commented on #2431
先把测试音频的采样率转换到16000，然后再调用函数进行识别。

[2022-09-22 05:42] QuantumLiu opened #2435 "希望ASRExecutor有Timestamp功能"
`👏🏻 2022.05.06: PaddleSpeech Streaming Server is available for Streaming ASR with Punctuation Restoration and Token Timestamp and Text-to-Speech.`
请问为什么本地的ASRExecutor识别没有Timestamp功能？未来是否会添加，谢谢！

[2022-09-22 06:02] dengzhenhai commented on #2435
是呀是呀！我也需要这个功能......   谢谢

[2022-09-22 06:04] #2431 closed, assigned to nobody

[2022-09-22 06:04] #2428 closed, assigned to yt605155624

[2022-09-22 06:08] #2258 closed, assigned to zh794390558

[2022-09-22 06:10] JJun-Guo opened #2436 "rir_noise MD5 报错！！！"
MD5 Chesksum ./PaddleSpeech-develop/dataset/rir_noise/rirs_noises.zip ...
Traceback (most recent call last):
  File "./PaddleSpeech-develop/dataset/rir_noise/rir_noise.py", line 117, in <module>
    main()
  File "./PaddleSpeech-develop/dataset/rir_noise/rir_noise.py", line 113, in main
    manifest_path=args.manifest_prefix)
  File "./PaddleSpeech-develop/dataset/rir_noise/rir_noise.py", line 97,

[2022-09-22 06:15] #2436 closed, assigned to nobody

[2022-09-22 06:17] yt605155624 commented on #2436
原始下载链接是这个，我怀疑是原本的 md5 值变了所以过不了我们的检查，可以自己先手动下载的指定位置 https://github.com/PaddlePaddle/PaddleSpeech/blob/1a1ce92cb4576e0e810857f06f01b26a686ee6f7/dataset/rir_noise/rir_noise.py#L37 我们看下是不是 md5 值有变化

[2022-09-22 06:19] SmileGoat commented on #2435
暂时可以先参照streaming server 中的自己实现添加一下。

[2022-09-22 06:27] yt605155624 commented on #2435
https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/server/engine/asr/online/python/asr_engine.py

[2022-09-22 06:29] #2338 closed, assigned to THUzyt21

[2022-09-22 06:29] #2345 closed, assigned to zh794390558

[2022-09-22 06:29] #2344 closed, assigned to THUzyt21

[2022-09-22 06:30] #2343 closed, assigned to THUzyt21

[2022-09-22 07:38] yt605155624 opened #2437 "❣️ [TTS] MFA 报错 No such file or directory: "xx/xx/xx/train/mfcc/raw_mfcc.0.scp""
一般是因为系统环境问题，可能是某个系统库没有安装，可以查看 `--temp_directory` 路径下的 logging 文件, 如果使用 MFA 时未指定 `--temp_directory`, 默认路径在 `${HOME}/Documents/MFA`
![1621663831963_ pic](https://user-images.githubusercontent.com/24568452/191685777-82750ffa-30de-459a-bc6e-d9d349fd484d.jpg)

![8861663830996_ pic](https://user-images.githubusercontent.com/24568452/191686894-51e4b373-d22e-4598-a7ff-921e2a615f91.jpg)

![8841663830901_ p

[2022-09-22 08:20] kq-cheng opened #2438 "微调TTS时，报错FileNotFoundError: [Errno 2] No such file or directory: '/home/ti/Documents/MFA/newdir/train/mfcc/raw_mfcc.0.scp'"
Creating dictionary information...
Setting up training data...
Calculating MFCCs...
Traceback (most recent call last):
  File "aligner/command_line/align.py", line 186, in <module>
  File "aligner/command_line/align.py", line 142, in validate_args
  File "aligner/command_line/align.py", line 94, in align_corpus
  File "aligner/aligner/pretrained.py", line 74, in __init__
  File "aligner/aligner/pr

[2022-09-22 08:27] yt605155624 commented on #2438
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2437

[2022-09-22 12:00] AlphaMind123 opened #2439 "language questions"
可以有全中文的文档吗，英语真的看不懂

[2022-09-23 02:14] yaleimeng commented on #2439
大部分readme页面已经有中文版本了。另外一些没有中文的，chrome浏览器地址栏有个按钮，可以将整个网页直接翻译为中文。
在这个年代，语言不应该成为获取知识的障碍。

[2022-09-23 02:34] JJun-Guo opened #2440 "with s-norm or without s-norm ???"
请问声纹识别复现的是without s-norm的model吗？with s-norm的代码没有吗？

[2022-09-23 02:36] dsyrock commented on #2402
搞了好几天终于成功用pyinstaller打包了paddspeech，分享一下经验

- 首先保证代码在python环境下能正常运行

- 修改部分代码
[code]

[code]

- 用pyinstaller打包，打包方式必须用文件夹方式，后续还要往里面拷文件

- 从自己python安装路径下的 site-packages，找到以下文件夹复制去你打包好的路径下

paddle
paddlespeech
textgrid
typeguard

至此应该能成功地独立运行

补充一下，打包后文件夹里有几个大家伙是可以删除的，节省点空间

torch
PyQt5

[2022-09-23 02:48] tianruoyou2022 commented on #2437
后台日志：copy-feats: error while loading shared libraries: libgfortran.so.3: cannot open shared object file: No such file or directory
compute-mfcc-feats: error while loading shared libraries: libgfortran.so.3: cannot open shared object file: No such file or directory
需要安装libgfortran3
1、apt-get update
2、sudo apt-get install libgfortran3

[2022-09-23 02:55] AlphaMind123 opened #2441 "依赖"
![bcfae547bf3622ba43a544ec4ae3d1f](https://user-images.githubusercontent.com/108966996/191884046-72dbf042-029d-4f75-846e-4757b7ee3fa1.jpg)
![微信图片_20220923105440](https://user-images.githubusercontent.com/108966996/191884103-6d6cde41-b410-49ae-8c99-d52657e6fe6f.jpg)
为什么运行了setup.py之后还是没有相关的库呀

[2022-09-23 03:14] yt605155624 commented on #2441
在 PaddleSpeech 执行 `pip install .` 同时安装依赖和 paddlespeech, 执行 `python3 setup.py install` 仅仅安装 paddlespeech 不安装依赖

有什么依赖没成功安装再安装一遍就是了

[2022-09-23 03:22] kq-cheng commented on #2438
解决方案详见 #2437

[2022-09-23 03:22] #2438 closed, assigned to yt605155624

[2022-09-23 03:44] YuBYan commented on #2401
谢谢，使用
`python -m pip install paddlepaddle==2.3.1 -i https://mirror.baidu.com/pypi/simple`  安装解决

[2022-09-23 08:17] hufuqiang123 commented on #2441
那请问怎么安装相应相应得依赖库呢

[2022-09-23 08:23] AlphaMind123 commented on #2441
可是差的有点多啊，装了好几个库了

[2022-09-23 08:43] yt605155624 commented on #2441
理论上 `pip install .` 执行成功是不会有问题的，你可以检查下是不是这步就执行失败了

[2022-09-23 12:15] dc3ea9f opened #2442 "TTS Finetune / TTS3对multi-speaker数据进行微调"
您好，我在使用`examples/other/tts_finetune/tts3`(commit_id 863609) finetune自己的数据集时遇到了问题：

example只提供了在csmsc_mini single-speaker上finetune的tutorial，但是对于tune on multi speaker dataset仍然是不可用的

为了finetune on multi speaker dataset，我尝试通过MFA align来获取音素的duration，但使用`./tools/montreal-forced-aligner/bin/mfa_align`时会有一部分文件无法生成TextGrid结果，查看log显示：
[code]

而后，我尝试使用latest MFA (from conda)与repo中提供的字典和AM提取音素duration，可正常生成结

[2022-09-23 12:52] yt605155624 commented on #2442
latest MFA (from conda) 也没用过，不知道生成的音素是否有不对齐的地方
可以 check 一遍预处理过的 MEL 的长度和 duration 之和是否匹配
也可以在代码里面加一些 log 看下 (281) 和 (289) 究竟是哪个变量的长度
另外既然有自己使用 MFA 的能力，其实可以直接自己用 [aishell3/tts3](https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/aishell3/tts3) 继续 finetune, 参考 https://github.com/PaddlePaddle/PaddleSpeech/discussions/1842

[2022-09-23 14:56] yt605155624 opened #2443 "[TTS]英文数据 MFA 之前过滤标点，防止标点和单词黏连导致 OOV 变成 spn"

[2022-09-24 01:00] dc3ea9f commented on #2442
非常感谢您的回复！我已经check过了预处理的MEL的长度`dump/{data_split}/data_speech/*.npy`与`dump/{data_split}/metadata.jsonl`中的duration，发现train/dev/test都是可以匹配的。

看traceback是在attention mask broadcast的时候挂掉的，问题出现在PaddleSpeech框架内部([paddlespeech/t2s/modules/masked_fill.py#44](https://github.com/PaddlePaddle/PaddleSpeech/blob/b058a2d3fe81ce5eff2619a4dc762848799385e7/paddlespeech/t2s/modules/masked_fill.py#L44))，暂时还没有定位到是哪里的问题。

[2022-09-24 01:04] dc3ea9f commented on #2442
我发现在报错出现前已经经过了数次的Evaluate，注意到代码中evaluator的trigger是per-epoch的，应该是run了几个epoch都正常，但是突然报错，有些confuse

[2022-09-24 01:56] AlphaMind123 opened #2446 "为什么第二天要重新安装库"
为什么前一天缺少的包都安装了，第二天进去怎么又要重新安装呢
![Snipaste_2022-09-24_09-53-32](https://user-images.githubusercontent.com/108966996/192075170-29c1f523-0b43-415e-b657-03c56f873e1c.png)

[2022-09-24 04:09] yt605155624 commented on #2446
AISTUDIO 每次进入环境相当于新建了一个全新的系统

[2022-09-24 04:14] imohuan opened #2447 "PaddleSpeech Create Srt file"
# Qustion
Is it possible to quickly convert an hour-long audio to a srt subtitle file?

# Individual
I had a preliminary understanding of PaddleSpeech converting audio to text, but my text didn't even have punctuation.
Maybe it's my code.

[2022-09-24 04:20] yt605155624 commented on #2447
try to use this demo to generate punc https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/punctuation_restoration

[2022-09-24 05:46] dc3ea9f commented on #2442
您好，我尝试使用aisheel3/tts3 进行finetune，但是仍然会遇到此bug，不知道应该如何定位、解决问题，您有什么建议吗？
[code]

[2022-09-24 07:53] AlphaMind123 opened #2448 "脚本执行结果"
![image](https://user-images.githubusercontent.com/108966996/192087100-d7a4e4ff-fce7-457a-9ca2-51117c8d2685.png)
请问这个脚本执行之后为什么不训练呢

[2022-09-24 08:24] yt605155624 commented on #2448
应该是代码里设置了用4卡训练但是你实际只有2块卡，看下代码吧

[2022-09-24 09:11] AlphaMind123 commented on #2448
那个path.sh是不是要运行，如果运行，指令是否为'!source path.sh'
我看了教程，但是我用了这个命令，但是运行不了

[2022-09-24 10:06] AlphaMind123 commented on #2448
但是我改成了用1卡训练的

[2022-09-24 11:40] imohuan commented on #2447
Thank you very much for your answer. The punctuation can be recovered. Can you use the use of SRT files?

[2022-09-24 11:43] imohuan commented on #2447
I hope to realize the local voice transfer srt subtitles, so I found padderPeech

[2022-09-25 10:31] lichuanqi opened #2450 "请问有使用ASR模型导出的 pdmodel 和 padiparams文件推理的示例嘛"
请问有使用模型导出的 pdmodel 和 padiparams文件推理的示例嘛，
不知道为啥在GPU上用config和pdparams预测asr的时候很慢，大概10s左右（和我在笔记本上用CPU预测的时间差不多），
看了一下显存占用1000M多点，不知道正常不啊。
我根据百度搜到的 paddle.inference 相关资料，尝试使用 deepspeech2_online_aishell_fbank161 导出的 pdmodel 和 padiparams文件进行预测，但是没搞懂输入输出都是啥啊，卡在一个很奇怪的报错上进行不下去了。

[code]

代码如下：
[code]

目前的终端输出和报错情况如下：
[code]

[2022-09-26 02:19] yt605155624 commented on #2448
可以换成 %source path.sh ， jupyter 里面用 ! 不会影响到之后的命令

[2022-09-26 02:22] yt605155624 commented on #2442
建议先跑通我们的代码，熟悉数据预处理、训练流程，再自己改输入，使用 paddle 稳定版（如 2.3.1）
大概率是数据的问题

[2022-09-26 02:25] SmileGoat commented on #2440
https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/paddlespeech/vector/exps/ecapa_tdnn/test.py#L96 norm的方式可选

[2022-09-26 02:27] yt605155624 commented on #2450
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2192

[2022-09-26 02:45] #2446 closed, assigned to nobody

[2022-09-26 02:45] lichuanqi commented on #2450
好的，感谢，在 `paddlespeech\s2t\exps\deepspeech2\bin\test_export.py` 找到了

[2022-09-26 02:45] #2450 closed, assigned to zh794390558

[2022-09-26 03:02] #2441 closed, assigned to nobody

[2022-09-26 04:26] lym0302 opened #2452 "🔥 r1.2.0 release note"
# S2T
 - Fix conformer/transformer multi GPU training. #2327 #2334 #2336 #2372 by @Zth9730
 - Fix deepspeech2 decode_wav. #2351 by @Zth9730
 - Support BiTransformer decoder. #2415 by @Zth9730

# T2S
 - Update VITS to support VITS and its voice cloning training on AISHELL-3. #2268 by @HighCWu
 - Add ERNIE-SAT synthesize_e2e. #2287 #2316 #2355 #2378 #2432 by @yt605155624
 - Specify the input data ty

[2022-09-26 05:29] #2439 closed, assigned to nobody

[2022-09-26 05:45] dc3ea9f commented on #2442
好的，我尝试一下

[2022-09-26 08:24] UprightNeether opened #2453 "请问是否有同时支持中英文的ASR模型"
如果预训练的模型只支持中文的话，实际适用场景很受限制

[2022-09-26 08:34] yt605155624 commented on #2453
目前不支持，已经在开发计划中了

[2022-09-26 08:41] lichuanqi commented on #2371
在Ubuntu上测试了一下还是一样的报错，

环境如下：
[code]

但是相同的环境，deepspeech2 的预测、模型导出测试都可以跑通。

[2022-09-26 09:51] david-95 commented on #2437
find libgfortran.so.3 in your os, copy it to MFA lib. and add MFA lib to LD_LIBRARY_PATH of your conda env variables

[2022-09-26 10:21] yt605155624 opened #2454 "[TTS]小样本 finetune 时，batch_size 要 <= 样本数，否则会报错"
![746C9A289B829C5B591F587ECF4511EF](https://user-images.githubusercontent.com/24568452/192253300-7febc465-6e9d-438d-9623-d08a4ad650c4.jpg)

[2022-09-26 10:22] panxin801 opened #2455 "example/csmsc/tts3里边synthesize_streaming.sh 和inference_streaming.sh的区别？"
您好，很感谢你们公开这么好的工作。再看了代码以后我对比这两个文件的区别发现他们的区别在于：
- synthesize_streaming这个脚本中包含了静态图的转换，但是在inference_streaming中没有静态图的转换；
- synthesize_streaming合成mel是分的chunk，Mel拼接一起产生的wav。inference_streaming也是这个过程。其实在这个过程中他们是一样的。

期待您的回复，谢谢您。

[2022-09-26 10:23] yt605155624 opened #2456 "💡 TTS 小样本 finetune / 声音克隆问题汇总"
**如果 12 句 finetune 效果不佳，一般是因为数据集太小了，建议增加数据集，一般是 300 ~ 600 条，数据量和质量越好，合成的效果越好**
数据的质量要求没有混响，没有杂音，离麦克风距离适中，具体可以参考标贝的数据质量。
finetune 出来的音色与 目标说话人和原始说话人的相似度有关，即目标说话人和原始说话人相似度越高，finetune 出来的音色更接近目标说话人。
finetune 出来的音频质量与原始说话人的音频质量有关，原始说话人的音频质量不好，finetune 出来的效果也可能不好。
综上，finetune 方案在数据采集，选择原始说话人上需要好好选择。

小样本 finetune 原理参考 [关于训练一个自己的TTS模型](https://github.com/PaddlePaddle/PaddleSpeech/discussions/1842)

1. h

[2022-09-26 10:26] yt605155624 commented on #2455
在 PaddleSpeech(或者 Paddle) 的语境中，一般 inference 代表用静态图进行推理，所以 synthesize_* 是用动态图推理（实际上是加载动态图之后进行了动转静再用 load 进来后推理，但是这不是真正的静态图推理，动转静的代码也可以注释），inference_* 是用静态图推理，二者所加载的模型不同

[2022-09-26 11:01] panxin801 commented on #2455
谢谢您的回复，我明白其中的区别了。谢谢您的回复

[2022-09-26 11:01] #2455 closed, assigned to yt605155624

[2022-09-26 11:09] #2454 closed, assigned to yt605155624

[2022-09-26 11:26] JJun-Guo commented on #2440
请问s-norm是否需要训练还是单独后处理就可以呢？

[2022-09-27 00:26] MingyuLau opened #2458 "将文本数据集转化为语音数据集"
我想把一个文本数据集转化为语音数据集，请问paddlespeech里面有提供转换的代码吗

[2022-09-27 00:30] yaleimeng commented on #2453
借楼问一下， @yt605155624  离线TTS已经支持中英文混合，能不能迁移到流式TTS上去？

[2022-09-27 00:32] yaleimeng commented on #2458
使用TTS就可以了。[参考文档](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/demos/text_to_speech/README_cn.md)

[2022-09-27 00:42] MingyuLau commented on #2458
多谢

[2022-09-27 01:16] Tian14267 opened #2459 "[S2T] aishell/asr1 训练过程卡住不动"
你好，我发现一个问题，对于ASR训练（文件夹：examples/aishell/asr1）,训练到中间部分的时候，就直接卡住不动了，主要有以下情况：
1：单卡训练的时候，训练到中间部分，训练就卡住了，GPU也完全不动了，GPU内存却正常占用；
![image](https://user-images.githubusercontent.com/27938135/192408393-6ce0f5e4-7cbc-43cf-80e5-72db30478aaa.png)
打印的日志只更新到26号，训练epoch到25就不动了（设置的epoch是30）;

2: 双卡训练的时候，也一样的情况。重启之后，1个epoch都没训练就卡住了。状态和上面一样。
![image](https://user-images.githubusercontent.com/27938135/192408745-3ebd6

[2022-09-27 01:21] MingyuLau commented on #2458
对了，这个转换可以使用多线程吗，数据量有点多

[2022-09-27 01:23] Tian14267 commented on #2459
训练卡住不动，GPU也静止不动，这个情况我换了三台服务器都做了验证，训练数据用过aishell数据，也用过自己的数据，都一样的情况，有时候刚训练就卡住，有时候训练到中间卡住。机器和GPU是没问题的。

[2022-09-27 01:29] MingyuLau commented on #1908
请问使用gpu的话推理速度会变快吗

[2022-09-27 01:30] MingyuLau commented on #1908
@yt605155624

[2022-09-27 01:57] oyb1125 opened #2461 "[TTS]使用speech_web的小数据集微调报错"
Traceback (most recent call last):
  File "aligner/command_line/align.py", line 186, in <module>
  File "aligner/command_line/align.py", line 142, in validate_args
  File "aligner/command_line/align.py", line 69, in align_corpus
TypeError: 'NoneType' object is not subscriptable
[4100] Failed to execute script align
10 1
100%|████████████████████████████████████████| 10/10 [00:00<00:00, 16905.70it/

[2022-09-27 02:23] yt605155624 commented on #2461
应该是用 MFA 对齐有问题，可以直接用 https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/other/tts_finetune/tts3 看看具体报错信息，TTS finetune 问题汇总可以参考 https://github.com/PaddlePaddle/PaddleSpeech/issues/2456

[2022-09-27 02:25] lichuanqi opened #2462 "DeepSpeech2 使用导出模型pdmodel和pdiparams测试时预测时间比使用cfg和ckpt预测的还要慢很多"
Hello，我挑了5条测试音频使用deepspeech2测试时发现导出模型的预测时间在30s左右，比使用 cfg 和 ckpt 预测的11s还要慢很多。终端输出也确实显示了使用 gpu:0，不知道为啥很慢。而且导出的比不导出的还慢。

环境：
* Ubuntu 20.04
* python 3.7
* paddlepaddle 2.3.2
* CUDA 10.2
* cuDNN 7.6

模型：deepspeech2_online_wenetspeech_1.0.4
导出模型文件：`from paddlespeech.s2t.exps.deepspeech2.model import DeepSpeech2ExportTester as ExportTester`
导出模型结果：
[code]
cfg 和 ckpt 预测文件：`from paddlespeech.s2t.exps.deep

[2022-09-27 02:32] yt605155624 commented on #2458
可以自己参考 https://github.com/PaddlePaddle/PaddleSpeech/blob/63f70c9fd002594ada80c8e39875d5c24a1cdf25/paddlespeech/t2s/exps/fastspeech2/preprocess.py#L164 写多线程，需要自己研究现状是否线程安全

[2022-09-27 02:34] yt605155624 commented on #2453
可以自己训练一个中英文混合的 fastspeech2_cnndecoder, 导出 onnx 模型迁移到流式 TTS 服务中，目前中英文混合的模型的 default fastspeech2，不能支持流式

[2022-09-27 02:37] zh794390558 commented on #2459
好的，我们试试看能复现问题不。

能调小batchsize试试吗？

[2022-09-27 02:43] zh794390558 commented on #2462
不明太你说的导出和不导出是指什么？是说模型转成静态图和动态图的做对比吗？
有一个提示，可以在paddle的issue里问下怎么处理。

[2022-09-27 06:31] Zth9730 commented on #2459
能否提供一下模型配置？

[2022-09-27 06:45] yaleimeng commented on #2453
谢谢回复

[2022-09-27 07:28] Tian14267 commented on #2459
回头我试试小batch的情况。
@Zth9730 模型配置使用的transformer模型，具体配置为默认的。只改动过batch。

[2022-09-27 07:50] oyb1125 commented on #2461
好的 解决了 参考https://github.com/PaddlePaddle/PaddleSpeech/issues/2319#issuecomment-1229405871

[2022-09-27 07:53] #2461 closed, assigned to yt605155624

[2022-09-27 08:09] yt605155624 commented on #2458
PaddleSpeech 恰巧有串联 OCR 和 TTS 的 demo：https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/story_talker

[2022-09-27 08:15] #2341 closed, assigned to zh794390558

[2022-09-27 08:15] #2333 closed, assigned to zh794390558

[2022-09-27 08:15] #2402 closed, assigned to yt605155624

[2022-09-27 08:16] #2322 closed, assigned to zh794390558

[2022-09-27 08:16] #2260 closed, assigned to zh794390558

[2022-09-27 08:16] #2239 closed, assigned to zh794390558

[2022-09-27 08:18] #2328 closed, assigned to SmileGoat

[2022-09-27 08:19] Zth9730 commented on #2371
请尝试一下develop版本是否会存在这个问题？

[2022-09-27 08:19] yt605155624 commented on #2093
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/examples/wenetspeech

[2022-09-27 08:19] #2093 closed, assigned to zh794390558, SmileGoat, Jackwaterveg

[2022-09-27 08:21] #2307 closed, assigned to SmileGoat

[2022-09-27 08:22] #2360 closed, assigned to zh794390558

[2022-09-27 08:31] #2409 closed, assigned to SmileGoat

[2022-09-27 12:20] dc3ea9f commented on #2442
我用的paddle都是pip源安装的，Example代码是可以跑通的，还是没有定位到问题在哪里，不过我尝试修改[`t2s/training/trainer.py#149`](https://github.com/PaddlePaddle/PaddleSpeech/blob/63f70c9fd002594ada80c8e39875d5c24a1cdf25/paddlespeech/t2s/training/trainer.py#L149)为：
[code]
倒是也能训练了，听着训练结果感觉还ok，提示bug的频率不高，没有连着出现3+ bugs的情况。

[2022-09-27 12:37] lichuanqi commented on #2462
是静态图和动态图的对比。
好的，感谢回复。我再根据这个错误查查资料，测试的时候GPU占用的显存很少，估计有点问题。

[2022-09-27 15:43] MingyuLau opened #2467 "请问语音合成可以使用GPU进行推理吗，如果可以应该怎么操作呢？"
## General Question

[2022-09-28 00:57] yaleimeng commented on #2467
在demo目录下，speech server和streaming_tts_server 项目 都有conf配置文件，找到模块对应的区域，
里面有参数 device:  # set 'gpu:id' or 'cpu'    ，默认是cpu；如果使用gpu，则指定类似 gpu:0

[2022-09-28 01:25] AlphaMind123 opened #2469 "!bash run.sh --stage 1 --stop_stage 1 --gpus 0请问使用这个命令运行报错是什么原因"
home/aistudio/PaddleSpeech/examples/aishell/asr1
The standard file /home/aistudio/PaddleSpeech/tools/kaldi/tools/config/common_path.sh is not present, can not using Kaldi!
checkpoint name conformer
using 1 gpus...

-----------  Configuration Arguments -----------
backend: auto
elastic_server: None
force: False
gpus: 0
heter_devices:
heter_worker_num: None
heter_workers:
host: None
http_port: None

[2022-09-28 02:07] laity-slf opened #2470 "标点恢复example中的预训练模型如何使用"
## General Question

官网给出的调用方式是这个
<img width="774" alt="image" src="https://user-images.githubusercontent.com/59203496/192670983-6e20cf5c-d26c-474d-84db-6379fbfe31c3.png">

但我model=None 实际上会报错，因为后续有一个从model_type 取子字符串的操作。
<img width="772" alt="image" src="https://user-images.githubusercontent.com/59203496/192672100-b3018e6d-79fa-44cc-8d00-2cae4a90ff4d.png">

然后按照如下的调用方式也会报错，原因应该是无法识别defaut.yaml 文件

[2022-09-28 02:24] yt605155624 commented on #2470
标点恢复 example 中训练的模型格式，和 cli 里面的模型格式由于历史原因不一致，目前 cli 中正在尝试使用 example 中训练的模型格式，参考这个未合入的 pr：https://github.com/PaddlePaddle/PaddleSpeech/pull/2421
暂时可尝试使用 https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/examples/iwslt2012/punc0/local/punc_restore.sh 对 example 训练的标点模型格式进行调用

[2022-09-28 02:30] laity-slf commented on #2470
感谢回复

[2022-09-28 02:30] yt605155624 commented on #2469
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/issues/2401

主要报错是 `TypeError: init() got an unexpected keyword argument 'negative_slope'`
使用 paddle 版本 >= 2.3.1

[2022-09-28 02:30] oyb1125 opened #2471 "使用ecapa-tdnn进行语音克隆报错"
![2022-09-28 10-27-22 的屏幕截图](https://user-images.githubusercontent.com/62881198/192674046-4c64e0a4-fb26-4a9d-9382-be28115919f5.png)
如图 使用这个功能报下面的错是什么原因
Traceback (most recent call last):
  File "/home/fyy/ResourceCode/PaddleSpeech/paddlespeech/t2s/exps/voice_cloning.py", line 233, in <module>
    main()
  File "/home/fyy/ResourceCode/PaddleSpeech/paddlespeech/t2s/exps/voice_cloning.py", line 229,

[2022-09-28 02:34] yt605155624 commented on #2471
请 git clone PaddleSpeech 之后，在 PaddleSpeech 目录执行
`pip install .` (安装依赖和 paddlespeech) 或者 `python3 setup.py install` (仅安装 paddlespeech 不安装依赖)
安装 develop 版本的 paddlespeech, 目前发行版的 paddlespeech 中还没有这个功能

[2022-09-28 02:41] oyb1125 commented on #2471
感谢 可以了

[2022-09-28 03:09] will-wiki commented on #2393
@JJ-Guo1996 同样的报错，voxceleb1能下载，但是voxceleb2下载不了显示404

[2022-09-28 03:24] yt605155624 opened #2472 "💫 安装 develop 版本的 paddlespeech"
当使用 PaddleSpeech 的某些功能时（主要是 demos 中的功能，examples 里面的代码会强制 source 当前目录所在的 paddlespeech 到 ${PYTHONPATH}，参考 [path.sh](https://github.com/PaddlePaddle/PaddleSpeech/blob/a657cc3e1b5452cc564c9d3ae4bff25717910a49/examples/csmsc/tts3/path.sh#L10)），可能会发现你安装的 release 版本的 paddlespeech 并没有此功能/文件/函数，这是因为我们还没有对此功能进行发版（没有把最新的代码打包成 pip 包发布到 pypi 上），此时你需要安装 develop 版本的 paddlespeech。
请 git clone PaddleSpeech 之后，在 Pa

[2022-09-28 03:27] MingyuLau commented on #2467
@yaleimeng 你好，我记得我昨天问的那个问题好像也是你给我解答的，我在把文本数据集转化为语音数据集，昨天你推荐我用TTS的[参考文档](https://github.com/PaddlePaddle/PaddleSpeech/blob/develop/demos/text_to_speech/README_cn.md) 我想在这个基础上改用GPU推理可以做到吗。另外这里提到的speech server和streaming_tts_server是做什么用的？有没有文档介绍如何用这两个做语音合成呢？

[2022-09-28 03:33] yaleimeng commented on #2467
你现在是有一组文本吗？
使用speech server把离线TTS在服务器跑起来，然后运行一个客户端不停地发送文本，保存语音就可以了。
其中TTS服务可以运行在GPU上。

[2022-09-28 06:08] #2469 closed, assigned to nobody

[2022-09-28 06:12] yt605155624 commented on #2467
speech_server 是这个: https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/speech_server
流式 tts 服务是这个: https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/streaming_tts_server
https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/text_to_speech 默认使用 paddle.device() (和你安装的 paddle 版本有关)，可以用 `--device 设置` cpu 或者 gpu, 参考：https://github.com/PaddlePaddle/PaddleSpeech/blob/7

[2022-09-28 06:18] lucasjinreal commented on #2150
[code]

mac use apt??????? pyuthon lib need jkava???

[2022-09-28 06:30] lucasjinreal opened #2473 "[TTS]XXXXpkg_resources.DistributionNotFound: The 'editdistance' distribution was not found and is required by paddlespeech"
pkg_resources.DistributionNotFound: The 'editdistance' distribution was not found and is required by paddlespeech

[2022-09-28 06:39] lucasjinreal opened #2474 "where is synthesize.py??"
where is synthesize.py??

[2022-09-28 07:14] yt605155624 opened #2475 "标点预测 _clean_text() 函数第二个 sub 多余了"
标点预测 `_clean_text()` 函数第二个 sub 多余了，因为第一个 sub 已经把所有标点过滤掉了，该函数完全不需要输入 `punc_list`

测试代码：
[code]
output:
[code]
用到的位置：
1. https://github.com/PaddlePaddle/PaddleSpeech/blob/764fa0a8599a6b20c6f719b70bb45a3b4d52b245/paddlespeech/cli/text/infer.py#L205
2. https://github.com/PaddlePaddle/PaddleSpeech/blob/764fa0a8599a6b20c6f719b70bb45a3b4d52b245/paddlespeech/text/exps/ernie_linear/punc_restore.py#L31

鼓励开

[2022-09-28 07:19] Tian14267 commented on #2459
@zh794390558 @Zth9730
哈喽，我尝试了小batch（16），也是一样的情况。换成 `conformer` 进行训练，只训练到epoch=8就不动了。日志更新只到凌晨2点，GPU内存正常占用
![image](https://user-images.githubusercontent.com/27938135/192713746-f55b66d2-d9ad-4642-a8e3-b1af050cfaa6.png)
手动`kill`之后在接着训练的话，是可以接着训练的。

[2022-09-28 07:20] yt605155624 commented on #2474
We `source path.sh` in `run.sh`, please check `path.sh` for `${BIN_DIR}`

[2022-09-28 07:23] lucasjinreal commented on #2474
okk.  Seems the mix voice quality not very good, do u know why? (compare with pure synthesis result)

[2022-09-28 07:25] yt605155624 commented on #2473
maybe try to update your `pip version`

[2022-09-28 07:34] yt605155624 commented on #2474
https://github.com/PaddlePaddle/PaddleSpeech/issues/2330

[2022-09-28 08:12] lucasjinreal commented on #2330
着音频打不开了，目前github伤的mix是最新的吗？

[2022-09-28 10:02] monkeydp opened #2476 "请问语音转文字是否支持选择声道?"

[2022-09-28 10:08] yt605155624 commented on #2476
Please input the 16k 16 bit 1 channel wav file.

[2022-09-28 10:38] AlphaMind123 opened #2477 "s2t数据处理相关"
![image](https://user-images.githubusercontent.com/108966996/192758441-e42987fd-16b9-4ba4-a0ea-51a0f8ba5320.png)
请问为什么这里会有2个prepare_dataset,manifest_path有参数无参数是怎么回事呀，

[2022-09-28 11:14] #2471 closed, assigned to yt605155624

[2022-09-28 12:15] Ardang666 opened #2479 "[S2T] 在example/aishell/asr1中如何fine-tuning？"
在 example/aishell/asr1 中，train相关的代码里面，并没有找到如何fine-tuning，请问一下，如何在仓库提供的 asr1_transformer_aishell_ckpt_0.1.1.model.tar.gz 基础上，进行fine-tuning？

[2022-09-28 12:40] Ardang666 commented on #2479
自问自答：--checkpoint_path exp/${ckpt_name}/checkpoints/avg_20

[2022-09-28 13:15] MingyuLau commented on #2467
请问这个是只支持单gpu推理吗

[2022-09-28 13:19] MingyuLau commented on #2467
我的数据集有点大，感觉转换起来好慢，请问有什么提高速度的方法吗，现在已经用了多线程和gpu

[2022-09-28 13:31] MingyuLau opened #2480 "local variable 'wav_all' referenced before assignment"
在运行语音合成[demo](https://github.com/PaddlePaddle/PaddleSpeech/tree/develop/demos/text_to_speech) 的时候报了如下错误：

`File"/home/user/.conda/envs/mmlab/lib/python3.7/multiprocessing/pool.py", line 121, in worker
    result = (True, func(*args, **kwds))
  File "o2s.py", line 58, in convertor
    device=paddle.get_device())
  File "/home/user/yl/PaddleSpeech/paddlespeech/cli/utils.py", line 328, in _warpper

[2022-09-28 14:37] MingyuLau commented on #2467
@yt605155624 我的paddle.get_device()输出是gpu：0，但是我用watch nvidia-smi的时候却发现gpu好像没在跑，这是为什么呢？
`    tts_executor = TTSExecutor()
    wav_file = tts_executor(
        text=text_ocr,
        output=outputpath,
        am='fastspeech2_vctk',
        voc='hifigan_ljspeech',
        lang='en',
        use_onnx=True,
        cpu_threads=52,
        device=paddle.get_device())`

[2022-09-28 14:38] #2458 closed, assigned to yt605155624

[2022-09-28 17:23] dsyrock opened #2481 "语音识别时能否保留数字"
我看文档里有写到这一项功能

但如果我不希望全部转成中文，想保留数字形式的话，这个能实现吗？

[2022-09-29 00:32] yaleimeng commented on #2481
这一块确实很不方便。。市面上的语音识别产品大部分都是数字优先，而不是全汉字优先。
遇到统计数字比较多的段落，识别完再一个个手工处理特别费事。

[2022-09-29 00:40] yaleimeng commented on #2476
@yt605155624  其实我想改造一下，让离线识别也能直接接受numpy数据，省去单通道wav文件存取环节。。
因为目前拿到语音数据的话，只有流式ASR识别能接受（也需要改写），但流式识别需要等待很长时间。

[2022-09-29 02:15] yt605155624 commented on #2481
不好意思，`Supported NSW (Non-Standard-Word) Normalization` 是 TTS 文本前端的能力，表示 TN (文本正则)，用户输入数字等非标准词也可以正确读出来，对应到 ASR 里面应该是 ITN（反文本正则），把标准词转为数字等非标准词，目前还没有

[2022-09-29 02:17] yt605155624 commented on #2480
应该是之前的执行步骤就有问题，可以在源码 `"/home/user/yl/PaddleSpeech/paddlespeech/cli/tts/infer.py", line 537,` 多 print 些信息看看

[2022-09-29 02:21] liukaiyueyuo opened #2483 "[TTS]examples/aishell3/vits-vc训练的模型为啥效果不好？啥时候出训练模型结果文件?"
目录examples/aishell3/vits-vc训练的模型为啥效果不好？V100单卡GPU训练了3天，mel_loss下不来一直在26左右徘徊。可以给出你们paddlespeech训练好的模型文件瞅瞅么？
日志示例：
INFO 2022-09-20 10:58:28,841 trainer.py:167]  iter: 74635/350000, Rank: 0, real_loss: 1.203158, fake_loss: 1.163633, discriminator_loss: 2.366791, g
enerator_loss: 35.696995, generator_mel_loss: 25.517664, generator_kl_loss: 1.996764, generator_dur_loss: 2.306179, generator_adv_loss: 2.2

[2022-09-29 02:26] yt605155624 commented on #2483
抱歉，vits-vc 是开发者提供的代码，我们暂时没有计划训练该模型，也不清楚该模型的效果
但是据我所知，VITS 很难训练，我训练 csmsc 上单说话人的 VITS 时需要 V100 4 卡 2 星期，`V100单卡GPU训练了3天` 肯定是出不来的

[2022-09-29 02:31] #2459 closed, assigned to zh794390558

[2022-09-29 02:33] liukaiyueyuo commented on #2483
好的，谢谢！

[2022-09-29 02:43] SmileGoat commented on #2481
ITN排期ing，会做这个模块，maybe 3 month later

[2022-09-29 02:47] yt605155624 commented on #2479
Duplicate of https://github.com/PaddlePaddle/PaddleSpeech/discussions/1972

[2022-09-29 02:51] yt605155624 commented on #2476
@yaleimeng 欢迎提交 pr

[2022-09-29 03:30] MingyuLau commented on #2467
@yt605155624

[2022-09-29 03:33] yaleimeng commented on #2476
看了一下代码发现挺麻烦的。因为平常使用的都是通过soundfile打开，直接拿到numpy张量就是语音帧。
但是离线ASR http服务接收的东西是通过f.read( )读取二进制数据，进行base64编码，然后又utf-8解码的字符串，在前面输入这一段基本没法转换。
待会再看看接受之后，推理里面的情况。

[2022-09-29 05:56] zh794390558 commented on #2477
因为URL的值不一样啊

[2022-09-29 06:57] kq-cheng opened #2485 "ImportError: cannot import name 'norm' from 'paddlespeech.t2s.exps.syn_utils' (/opt/conda/envs/paddlespeech/lib/python3.7/site-packages/paddlespeech/t2s/exps/syn_utils.py)"
在做ERNIE-SAT 个性化合成体验的时候，按照流程走的时候，出现这个问题，我看了下syn_utils的源码，里面没有norm这个实例。

[2022-09-29 07:03] yt605155624 commented on #2485
安装 develop 版本的 paddlspeech https://github.com/PaddlePaddle/PaddleSpeech/issues/2472

[2022-09-29 07:11] #2485 closed, assigned to yt605155624

[2022-09-29 07:11] kq-cheng commented on #2485
解决了，谢谢

[2022-09-29 07:18] AlphaMind123 opened #2486 "参数问题"
请问run.sh里面的ips变量的意义是什么
-->

[2022-09-29 07:27] yt605155624 commented on #2486
## 指标计算方法，细节介绍
- reader_cost。1个Step数据加载用时，单位：秒(sec)。

  - N个Step打印1条日志时，reader_cost为N个Step数据加载用时的平均值
  - 建议(但不强制)使用DataLoader，而非DataFeeder
- batch_cost。1个Step训练用时，单位：秒(sec)。batch_cost = reader_cost + exe.run（训练）时间。
  - batch_cost中必须包含reader_cost时间
  - N个Step打印1条日志时，batch_cost为N个Step训练用时的平均值
  - 不建议将模型其它计算逻辑计入batch_cost用时中，尤其是比较耗时的逻辑
- ips。单卡每秒处理的样本数，单位如：images/sec、sequences/sec、tokens/sec、words/se

[2022-09-29 08:12] yazone opened #2487 "[TTS]PaddleLite&MNN离线推理转换问题"
想把TTS做离线，尝试了以下两种方式：
## 1、MNN转换：fastspeech2_mix onnx模型错误

`
Error for compute convolution shape, inputCount:1536, outputCount:384, KH:1, KW:3, group:1
inputChannel: 0, batch:1536, width:0, height:0. Input data channel may be mismatch with filter channel count
`

## 2、PaddleLite转换：显示不支持算子和量化错误
### fastspeech2错误
`
Error: This model is not supported, because 3 ops are not supported on 'arm'. These uns

[2022-09-29 08:14] AlphaMind123 commented on #2486
请问epoch参数设置在哪个文件里面

[2022-09-29 08:40] yt605155624 commented on #2487
MNN 不了解是什么，方便发点资料看下嘛，计划下季度做一些 TTS 模型导出 PaddleLite 模型的工作，目前暂时没有相关经验

[2022-09-29 08:47] yt605155624 commented on #2486
conf/*.yaml

[2022-09-29 08:51] AlphaMind123 commented on #2486
请问在哪里设置使用fbank特征还是specAugment

| |
***@***.***
|
|
***@***.***
|

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年09月29日 16:47 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleSpeech] 参数问题 (Issue #2486) |

conf/*.yaml

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: **

[2022-09-29 08:52] yt605155624 commented on #2487
搜了下 MNN, MNN 相关的东西可能你要去他们的 [repo](https://github.com/alibaba/MNN) 问了，PaddleSpeech 已经负责把模型转换为通用的 ONNX 格式了，后续的模型转化需要开发者自己完成，PaddleLite 相关转换我们会在下个季度和 PaddleLite 的同学一起尝试解决

[2022-09-29 09:01] yazone commented on #2487
上面提到的MNN是那个阿里的推理引擎，因为我看PaddleSpeech fastspeech2已经转成了onnx格式，所以直接拿你们脚本转好的来导出，我在MNN里打印，发现转换出的模型做squeeze时因为没有记录axis mask把(1,1536,1,1)转成了(1536)，然后做卷积，所以出错了。模型转化是Q4的目标吗？

[2022-09-29 09:09] yt605155624 commented on #2487
模型端上部署是语音合成 Q4 的目标
请问 `发现转换出的模型做squeeze时因为没有记录axis mask把(1,1536,1,1)转成了(1536)` 是转出的 onnx 模型没有记录还是 MNN 模型没有记录？